force-app/main/default/flows/Add_Cycle_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_day</name>
        <label>add day</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>DaysCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AllDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DayVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Days_Created_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_Date</name>
        <label>Assign Day Date</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>DayVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DayVar.Day_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DaysCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_to_Create</name>
        <label>Assign Number to Create</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>DaystoCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Day_Date</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Already_Exist</name>
        <label>Already Exist?</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Assign_Number_to_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YEs_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle_Day_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_There</targetReference>
            </connector>
            <label>YEs Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Do_Days_Created_Match</name>
        <label>Do Days Created Match?</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Day_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaystoCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DaysCreated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Cycle_Days</targetReference>
            </connector>
            <label>Yes Match</label>
        </rules>
    </decisions>
    <description>Creates 35 Cycle days and allocates them to the Cycle.</description>
    <environments>Default</environments>
    <interviewLabel>Add Cycle Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Cycle Days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Days</name>
        <label>Create Cycle Days</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Update_Medications</targetReference>
        </connector>
        <inputReference>AllDays</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Day_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Day_Events</name>
        <label>Get Cycle Day Events</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Already_There</name>
        <label>Already There</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Sorry</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;We are sorry by day events already exist for this cycle and as such more cannot be created. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Update_Medications</name>
        <label>Update Medications</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <flowName>Update_Medications_On_Cycle_Days</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllDays</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>DaysCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DaystoCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DayVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
