force-app/main/default/flows/Add_New_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>3438</locationX>
        <locationY>134</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Result_Add_From_Location</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Scan_Result</name>
        <label>Go to Scan Result</label>
        <locationX>4758</locationX>
        <locationY>3668</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ResultVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_All_Follicles</name>
        <label>Add to All Follicles</label>
        <locationX>4846</locationX>
        <locationY>3068</locationY>
        <assignmentItems>
            <assignToReference>UpdatedFollicles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Folical_Scans</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Folical_Scans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AFC_Reord_Type</name>
        <label>Assign AFC Reord Type</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_AFC_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_AFC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Blood_Values</name>
        <label>Assign Blood Values</label>
        <locationX>2514</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>E2var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>E2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LHvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>P4var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>P4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FSHvar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FSH</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BHCGVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BHCGFromula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blood_Test_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Information</name>
        <label>Assign Cycle Information</label>
        <locationX>3306</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CycleVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Cycle_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Pregnancy_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under 20 Week Miscarriage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Pregnancy_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PregScanDateONly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pregnancy_Scan_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Test_Icons</name>
        <label>Assign Cycle Test Icons</label>
        <locationX>4054</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Cycle_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:data_streams</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cycle_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:data_model</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cycle_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:data_integration_hub</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Cycle_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:bot</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_Result_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ET_and_Scanner</name>
        <label>Assign ET and Scanner</label>
        <locationX>4758</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ETVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ET</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SelectedScanner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scanner.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_A_Measurement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Follical_Var</name>
        <label>Assign Follical Var</label>
        <locationX>4362</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>FollicleVar.D1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Enter_Follicle_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollicleVar.Side__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Left</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountLeft</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_to_All_Follicles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Follicale_Scan_Results</name>
        <label>Assign Follicale Scan Results</label>
        <locationX>4758</locationX>
        <locationY>2636</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.Result_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follicle_Scan_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeIdFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Scan_ET__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ET</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Scanner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scanner.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Count_Left_Follicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Left_Overy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Count_Right_Follicle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Right_Overy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fol_Scan_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>standard:high_velocity_sales</description>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PatientIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:high_velocity_sales</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:crypto_category_wallet_group</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:carousel</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:chart</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:constant</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:choice</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom7</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Implant_Failure_bloods</name>
        <label>Assign Implant Failure bloods</label>
        <locationX>1370</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recurrent_Implantation_Failure_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Implant_Failure</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Infectious_Screens</name>
        <label>Assign Infectious Screens</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ART_Screen_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Infectious</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Left_and_Right</name>
        <label>Assign Left and Right</label>
        <locationX>4626</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>CountLeft</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Left_Follicles_to_Add</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountRight</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Right_Follicles_to_Add</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Left_or_Right</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pre_Conception</name>
        <label>Assign Pre Conception</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pre_Conception_Pathology_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Pre_Conception</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Prepair_Blood</name>
        <label>Assign Prepair Blood</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Prepair_Bloods_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.SMA_Genetic_Screening_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMA_Genetic_Screening_Pick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Cystic_Fibrosis_Gene_Testing_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cystic_Fibrosis_Gene_Testing_Pick</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Fragile_X_Gene_Sequencing_Text__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fragile_X_Gene_Sequencing_Pick</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Prepair</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Result</name>
        <label>Assign Result</label>
        <locationX>4846</locationX>
        <locationY>2960</locationY>
        <assignmentItems>
            <assignToReference>Loop_Folical_Scans.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResultVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All_Follicles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Scanner</name>
        <label>Assign Selected Scanner</label>
        <locationX>4758</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>SelectedScanner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Scan_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Follicular_Scan_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semen_Analysis</name>
        <label>Assign Semen Analysis</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semen_Analysis_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Semen_Analysis_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Throm_Blood</name>
        <label>Assign Throm Blood</label>
        <locationX>1106</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000000af7bAAA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Thrombophillia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Follicles</name>
        <label>Assign to All Follicles</label>
        <locationX>4098</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>AllFollicles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FollicleVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Measurements</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Measurements</name>
        <label>Clear Measurements</label>
        <locationX>4098</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>FollicleVar.D1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollicleVar.D2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollicleVar.D3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollicleVar.Volume_mL__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Follicle_Scan</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Cycle_Information</name>
        <label>Copy 1 of Assign Cycle Information</label>
        <locationX>3570</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CycleVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Pregnancy_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under 20 Week Miscarriage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Pregnancy_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PregScanDateONly</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pregnancy_Scan_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Follical_Var</name>
        <label>Copy 1 of Assign Follical Var</label>
        <locationX>4626</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>FollicleVar.D1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Enter_Follicle_Size</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollicleVar.Side__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Right</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountRight</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Assign_to_All_Follicles</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_All_Follicles</name>
        <label>Copy 1 of Assign to All Follicles</label>
        <locationX>4362</locationX>
        <locationY>2294</locationY>
        <assignmentItems>
            <assignToReference>AllFollicles</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FollicleVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Left_or_Right</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Cycle_Information</name>
        <label>Copy 1 of Copy 1 of Assign Cycle Information</label>
        <locationX>3042</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CycleVariable.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Pregnancy_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting Live Birth</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVariable.Cycle_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Pregnancy_Scan_Record_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cycle_Result_Name</name>
        <label>Cycle Result Name</label>
        <locationX>4054</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cycle_Result_Types.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Type_From_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Name</name>
        <label>Name</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ResultVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pateint_Result_Types.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ResultVar.Result_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Result_Type_From_Patient</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Carrier</name>
        <choiceText>Carrier</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Carrier</stringValue>
        </value>
    </choices>
    <choices>
        <name>None</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>None</stringValue>
        </value>
    </choices>
    <choices>
        <name>Normal</name>
        <choiceText>Normal</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Normal</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Add_A_Measurement</name>
        <label>Add A Measurement</label>
        <locationX>4758</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Assign_Follicale_Scan_Results</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Add</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddFollMeasurement.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add a Measurement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_a_Follicle</targetReference>
            </connector>
            <label>Yes Add</label>
        </rules>
        <rules>
            <name>Bulk_Add_Follicles</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddFollMeasurement.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulk Add Follicles</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Follicale_Numbers</targetReference>
            </connector>
            <label>Bulk Add Follicles</label>
        </rules>
        <rules>
            <name>Add_Follical_By_Text</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddFollMeasurement.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Follicles By Text</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Manual_Entry</targetReference>
            </connector>
            <label>Add Follicle By Text</label>
        </rules>
    </decisions>
    <decisions>
        <name>Blood_Test_Type</name>
        <label>Blood Test Type</label>
        <locationX>2514</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pregnancy_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BHCGFromula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Preg_Flow</targetReference>
            </connector>
            <label>Pregnancy Test</label>
        </rules>
        <rules>
            <name>Standard_In_Cycle_Blood_Test</name>
            <conditionLogic>1 OR 2 OR 3 OR 4 OR (5 AND (6 OR 7))</conditionLogic>
            <conditions>
                <leftValueReference>E2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LH</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>P4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FSH</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BHCGFromula</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Date_of_Result</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Cycle.Day_1__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Blood_Test_Record_Type</targetReference>
            </connector>
            <label>Standard In Cycle Blood Test</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clinical_Pregnancy_Outcome</name>
        <label>Clinical Pregnancy Outcome</label>
        <locationX>3438</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Preg_Scan_Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pregnant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Heart_Beats</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Sacs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Cycle_Information</targetReference>
            </connector>
            <label>Pregnant</label>
        </rules>
        <rules>
            <name>Sac_No_Heart_Beat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Sacs</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Number_of_Heart_Beats</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Cycle_Information</targetReference>
            </connector>
            <label>Sac No Heart Beat</label>
        </rules>
        <rules>
            <name>No_Sac</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Sacs</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Cycle_Information</targetReference>
            </connector>
            <label>No Sac</label>
        </rules>
    </decisions>
    <decisions>
        <name>Left_or_Right</name>
        <label>Left or Right</label>
        <locationX>4626</locationX>
        <locationY>1970</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Follicle_Scan</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Left</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountLeft</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Left_Data_Entry</targetReference>
            </connector>
            <label>Left</label>
        </rules>
        <rules>
            <name>Right</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountRight</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Left_Data_Entry</targetReference>
            </connector>
            <label>Right</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual_Entry_for_Skip</name>
        <label>Manual Entry for Skip</label>
        <locationX>4758</locationX>
        <locationY>3368</locationY>
        <defaultConnector>
            <targetReference>Update_Foll_NUmbers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Skip_Subflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Follical_By_Text</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Go_to_Scan_Result</targetReference>
            </connector>
            <label>Skip Subflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Add_From_Location</name>
        <label>Result Add From Location</label>
        <locationX>3438</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>From_Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Icons</targetReference>
            </connector>
            <label>From Patient</label>
        </rules>
        <rules>
            <name>From_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cycle__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>From Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Type_From_Cycle</name>
        <label>Result Type From Cycle</label>
        <locationX>4054</locationX>
        <locationY>782</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blood_Test</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cycle_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Blood Test</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Information</targetReference>
            </connector>
            <label>Blood Test</label>
        </rules>
        <rules>
            <name>Pregnancy_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Cycle_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pregnancy Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_Users</targetReference>
            </connector>
            <label>Pregnancy Scan</label>
        </rules>
        <rules>
            <name>Follicular_Scan</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Cycle_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Follicle Scan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Cycle_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PRP Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Scan_User</targetReference>
            </connector>
            <label>Follicular Scan</label>
        </rules>
    </decisions>
    <decisions>
        <name>Result_Type_From_Patient</name>
        <label>Result Type From Patient</label>
        <locationX>1018</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AFC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pateint_Result_Types.selectedLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Antral Follicle Count</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_AFC_Result</targetReference>
            </connector>
            <label>AFC</label>
        </rules>
        <rules>
            <name>Infectious_Screens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pateint_Result_Types.selectedLabel</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ART Screens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Results</targetReference>
            </connector>
            <label>Infectious Screens</label>
        </rules>
        <rules>
            <name>Pre_Conception</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pateint_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pre-Conception Pathology</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_PreconceptionResults</targetReference>
            </connector>
            <label>Pre Conception</label>
        </rules>
        <rules>
            <name>Prepair_Blood</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pateint_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prepair Bloods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Prepair_Blood</targetReference>
            </connector>
            <label>Prepair Blood</label>
        </rules>
        <rules>
            <name>Thrombophilia_Screening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pateint_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Thrombophilia Screening</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Throm_Blood</targetReference>
            </connector>
            <label>Thrombophilia Screening</label>
        </rules>
        <rules>
            <name>Recurrent_Implantation_Failure</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pateint_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurrent Implantation Failure</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Recurrent</targetReference>
            </connector>
            <label>Recurrent Implantation Failure</label>
        </rules>
        <rules>
            <name>Semen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Pateint_Result_Types.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Semen_Analysis</targetReference>
            </connector>
            <label>Semen</label>
        </rules>
    </decisions>
    <description>Allows results to be added from both Patient and Cycle Objects.</description>
    <dynamicChoiceSets>
        <name>AvailableUsersChoiceSet</name>
        <collectionReference>AvailableUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BHCGFromula</name>
        <dataType>Number</dataType>
        <expression>IF(
    CONTAINS({!BHCG_Text}, &quot;&lt;&quot;),
    0,
   VALUE( {!BHCG_Text})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CycleDay</name>
        <dataType>Number</dataType>
        <expression>{!$Flow.CurrentDate}-{!Get_Cycle.Day_1__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EstimatedDeliveryDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Cycle.Day_1__c}+280</expression>
    </formulas>
    <formulas>
        <name>GestationalEstimate</name>
        <dataType>Number</dataType>
        <expression>(DATEVALUE({!Pregnancy_Scan_Date_and_Time})-{!Get_Cycle.Day_1__c})/7</expression>
        <scale>1</scale>
    </formulas>
    <formulas>
        <name>PregScanDateONly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Pregnancy_Scan_Date_and_Time})</expression>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},5)</expression>
    </formulas>
    <formulas>
        <name>RecordTypeIdFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!Cycle_Result_Types.value} = &quot;Follicle Scan&quot;, 
    &quot;0125g000000afIyAAI&quot;, 
    IF(
        {!Cycle_Result_Types.value} = &quot;PRP Scan&quot;, 
        &quot;0125g000002OPw0AAG&quot;, 
        &quot;&quot;
    )
)</expression>
    </formulas>
    <interviewLabel>Add New Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add New Result</label>
    <loops>
        <name>Loop_Doc_Ids</name>
        <label>Loop Doc Ids</label>
        <locationX>1722</locationX>
        <locationY>1214</locationY>
        <collectionReference>SemenResult</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Linkage</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Folical_Scans</name>
        <label>Loop Folical Scans</label>
        <locationX>4758</locationX>
        <locationY>2852</locationY>
        <collectionReference>AllFollicles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Result</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Follicle_Scans</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Assign_Prepair</name>
        <label>Assign Prepair</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_AFC</name>
        <label>Create AFC</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Cycle_Event</name>
        <label>Create Cycle Event</label>
        <locationX>3438</locationX>
        <locationY>1946</locationY>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Pregnancy_Scan_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Foetal_Hearts__c</field>
            <value>
                <elementReference>Number_of_Heart_Beats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Foetal_Sacs__c</field>
            <value>
                <elementReference>Number_of_Sacs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nurse__c</field>
            <value>
                <elementReference>Nurse_Logging_Scan</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Pregnancy_Scan_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Fol_Scan_Result</name>
        <label>Create Fol Scan Result</label>
        <locationX>4758</locationX>
        <locationY>2744</locationY>
        <connector>
            <targetReference>Loop_Folical_Scans</targetReference>
        </connector>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Follicle_Scans</name>
        <label>Create Follicle Scans</label>
        <locationX>4758</locationX>
        <locationY>3260</locationY>
        <connector>
            <targetReference>Manual_Entry_for_Skip</targetReference>
        </connector>
        <inputReference>UpdatedFollicles</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Implant_Failure</name>
        <label>Create Implant Failure</label>
        <locationX>1370</locationX>
        <locationY>1106</locationY>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Infectious</name>
        <label>Create Infectious</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Linkage</name>
        <label>Create Linkage</label>
        <locationX>1810</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Loop_Doc_Ids</targetReference>
        </connector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Loop_Doc_Ids</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>ResultVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Pre_Conception</name>
        <label>Create Pre-Conception</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Semen_Analysis_Result</name>
        <label>Create Semen Analysis Result</label>
        <locationX>1722</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Loop_Doc_Ids</targetReference>
        </connector>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Standard_Blood_Test_Result</name>
        <label>Create Standard Blood Test Result</label>
        <locationX>2514</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Get_Pathology_Request</targetReference>
        </connector>
        <inputAssignments>
            <field>BHCG__c</field>
            <value>
                <elementReference>BHCGFromula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>E2__c</field>
            <value>
                <elementReference>E2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FSH__c</field>
            <value>
                <elementReference>FSH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LH__c</field>
            <value>
                <elementReference>LH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Blood Test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>P4__c</field>
            <value>
                <elementReference>P4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Blood_Test_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Date_and_Time__c</field>
            <value>
                <elementReference>Date_of_Result</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Thrombophillia</name>
        <label>Create Thrombophillia</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <inputReference>ResultVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>New_Result</name>
        <label>New Result</label>
        <locationX>3438</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>CLR_in_mm__c</field>
            <value>
                <elementReference>CLR_mm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Heart_Rate__c</field>
            <value>
                <elementReference>Heart_Rate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Pregnancy Scan</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Heart_Beats__c</field>
            <value>
                <elementReference>Number_of_Heart_Beats</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Sacs__c</field>
            <value>
                <elementReference>Number_of_Sacs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Pregnancy_Scan_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result_Date_and_Time__c</field>
            <value>
                <elementReference>Pregnancy_Scan_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>4054</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cycle_Test_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Future_Scans</name>
        <label>Get Future Scans</label>
        <locationX>4758</locationX>
        <locationY>1322</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Follicle_Scan</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDateTime</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Scan_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Follicular Scan</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Scans</name>
        <label>Get Other Scans</label>
        <locationX>4758</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Future_Scans</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Follicular_Scan_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pathology_Request</name>
        <label>Get Pathology Request</label>
        <locationX>2514</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pathology_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Scan_User</name>
        <label>Get Scan User</label>
        <locationX>4758</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Selected_Scanner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>3438</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pregnancy_Scan_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>3438</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>Create_Cycle_Event</targetReference>
        </connector>
        <inputReference>CycleVariable</inputReference>
    </recordUpdates>
    <screens>
        <name>Add_a_Follicle</name>
        <label>Add a Follicle</label>
        <locationX>4098</locationX>
        <locationY>1754</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_to_All_Follicles</targetReference>
        </connector>
        <fields>
            <name>folliclaText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Enter the follicle scan details below. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FollicleVar.Side__c</objectFieldReference>
        </fields>
        <fields>
            <name>Add_a_Follicle_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_a_Follicle_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FollicleVar.D1__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FollicleVar.D2__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_a_Follicle_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FollicleVar.D3__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FollicleVar.Volume_mL__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_AFC_Result</name>
        <label>Add AFC Result</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_AFC_Record_Type</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Result_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Antral_Follicle_Count__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Follicale_Numbers</name>
        <label>Add Follicle Numbers</label>
        <locationX>4626</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Left_and_Right</targetReference>
        </connector>
        <fields>
            <name>Instrutions</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Enter the total number of follicles that you want to add on the left and right below. Please note that this process only allows for the adding over single measurements (averages).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Add_Follicale_Numbers_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Follicale_Numbers_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Right_Follicles_to_Add</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Right Follicles to Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Follicale_Numbers_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Left_Follicles_to_Add</name>
                    <dataType>Number</dataType>
                    <fieldText>Number of Left Follicles to Add</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_PreconceptionResults</name>
        <label>Add Preconception Results</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Pre_Conception_Pathology_Record_Type</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Result_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <name>Add_PreconceptionResults_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_PreconceptionResults_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.E2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.P4__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.FSH__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.TSH__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Vitamin_D_level__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_PreconceptionResults_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.LH__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.BHCG__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Prolactin__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Rubella_German_Measles__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Ferritin__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Prepair_Blood</name>
        <label>Add Prepair Blood</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Prepair_Bloods_Record_Type</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Result_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <name>Add_Prepair_Blood_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Prepair_Blood_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SMA_Genetic_Screening_Pick</name>
                    <choiceReferences>Normal</choiceReferences>
                    <choiceReferences>Carrier</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>SMA Genetic Screening</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Fragile_X_Gene_Sequencing_Pick</name>
                    <choiceReferences>Normal</choiceReferences>
                    <choiceReferences>Carrier</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Fragile X Gene Sequencing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Prepair_Blood_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cystic_Fibrosis_Gene_Testing_Pick</name>
                    <choiceReferences>Normal</choiceReferences>
                    <choiceReferences>Carrier</choiceReferences>
                    <choiceReferences>None</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>None</defaultSelectedChoiceReference>
                    <fieldText>Cystic Fibrosis Gene Testing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Recurrent</name>
        <label>Add Recurrent</label>
        <locationX>1370</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Recurrent_Implantation_Failure_Record_Type</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Result_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <name>Add_Recurrent_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Recurrent_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.E2__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.FSH__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.TSH__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.ANA_Anti_Nuclear_Antibody__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Prothrombin20210a_gene_defect__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Anti_Thrombin_3_Level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Protein_C_Level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Thyroid_Peroxidase_Antibodies__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Recurrent_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.LH__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Prolactin__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Vitamin_D_level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Factor_V_leiden_APC__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Anti_B_2_Glycoprotein_1_Abs__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Lupus_Anticoagulant__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Protein_S_Level__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Results</name>
        <label>Add Results</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ART_Screen_Record_Type</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Result_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <name>Add_Results_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Results_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Chlamydia_Urine__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.HIV__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Hepatitis_B__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.AMH__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Antibodies__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Results_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.RPR_Syphilis__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Hepatitis_C__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Rubella_German_Measles__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Blood_Group__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Varicella__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Add_Results_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Results_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.FBE__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Karyotype_Picklist__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.CMV__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Results_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.FBE_Comments__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Karyotype__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Other__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Comments__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Add_Throm_Blood</name>
        <label>Add Throm Blood</label>
        <locationX>1106</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Thrombophilia_Screening_Record_Type</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ResultVar.Result_Date_and_Time__c</objectFieldReference>
        </fields>
        <fields>
            <name>Add_Throm_Blood_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Add_Throm_Blood_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.ANA_Anti_Nuclear_Antibody__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Prothrombin20210a_gene_defect__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Anti_B_2_Glycoprotein_1_Abs__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Protein_C_Level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Anti_Thrombin_3_Level__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Add_Throm_Blood_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Factor_V_leiden_APC__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Anticardiolipin_Abs__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Protein_S_Level__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Fasting_Plasma_Homocysteine__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>ResultVar.Karyotype__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Left_Data_Entry</name>
        <label>Copy 1 of Left Data Entry</label>
        <locationX>4626</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Follical_Var</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Lefttext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Right Follicle Data Entry&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!CountRight} Remaining&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_Enter_Follicle_Size</name>
            <dataType>Number</dataType>
            <fieldText>Enter Follicle Size</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cycle_Result_Type</name>
        <label>Cycle Result Type</label>
        <locationX>4054</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Cycle_Result_Name</targetReference>
        </connector>
        <fields>
            <name>Cycle_Result_Types</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Blood Test&quot;,&quot;value&quot;:&quot;Blood Test&quot;},{&quot;label&quot;:&quot;Follicle Scan&quot;,&quot;value&quot;:&quot;Follicle Scan&quot;},{&quot;label&quot;:&quot;Pregnancy Scan&quot;,&quot;value&quot;:&quot;Pregnancy Scan&quot;},{&quot;label&quot;:&quot;PRP Scan&quot;,&quot;value&quot;:&quot;PRP Scan&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Cycle_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>5858</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;You cannot add a result from this record type. Please contact system administration for more information. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Follicle_Scan</name>
        <label>Follicle Scan</label>
        <locationX>4758</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_ET_and_Scanner</targetReference>
        </connector>
        <fields>
            <name>Follicle_Scan_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Follicle_Scan_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ScanInfo</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Cycle Day 1: {!Get_Cycle.Day_1__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Current Cycle Day: {!CycleDay}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Next In Cycle Scan Booked: {!Get_Future_Scans.ActivityDate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PreviousScanResults</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Result__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Previous Scan Results</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Other_Scans</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Result_Date_and_Time__c&quot;,&quot;guid&quot;:&quot;column-79ff&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Result Date and Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Count_Left_Follicle__c&quot;,&quot;guid&quot;:&quot;column-a4c1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Count Left Follicle&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Count_Right_Follicle__c&quot;,&quot;guid&quot;:&quot;column-8f7d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Count Right Follicle&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Scan_ET__c&quot;,&quot;guid&quot;:&quot;column-a3a1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Scan ET&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Follicle_Scan_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Follicle Scan Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ET</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>ET</elementReference>
            </defaultValue>
            <fieldText>ET</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>Scanner</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedScanner</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Scanner</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Follicle_Scan_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Follicle_Scan_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>AddFollMeasurement</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add a Measurement&quot;,&quot;value&quot;:&quot;Add a Measurement&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Bulk Add Follicles&quot;,&quot;value&quot;:&quot;Bulk Add Follicles&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Add Follicles By Text&quot;,&quot;value&quot;:&quot;Add Follicles By Text&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Follicle_Scan_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Follicle_Scan_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>FollicleTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Follicle_Measurement__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllFollicles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Side__c&quot;,&quot;guid&quot;:&quot;column-0248&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Side&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;D1__c&quot;,&quot;guid&quot;:&quot;column-78d1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;D1&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;D2__c&quot;,&quot;guid&quot;:&quot;column-8c3d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;D2&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;D3__c&quot;,&quot;guid&quot;:&quot;column-4ef3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;D3&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Volume_mL__c&quot;,&quot;guid&quot;:&quot;column-b46a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Volume (mL)&quot;,&quot;type&quot;:&quot;number&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Comments</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;This field can only be 254 characters long. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Comments}) &lt; 254</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Left_Data_Entry</name>
        <label>Left Data Entry</label>
        <locationX>4362</locationX>
        <locationY>2078</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Follical_Var</targetReference>
        </connector>
        <fields>
            <name>Lefttext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Left Follicle Data Entry&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;{!CountLeft} Remaining&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Enter_Follicle_Size</name>
            <dataType>Number</dataType>
            <fieldText>Enter Follicle Size</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Manual_Entry</name>
        <label>Manual Entry</label>
        <locationX>5154</locationX>
        <locationY>1754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Follicale_Scan_Results</targetReference>
        </connector>
        <fields>
            <name>Right_Overy</name>
            <fieldText>Right Ovary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Left_Overy</name>
            <fieldText>Left Ovary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Preg_Scan_Error_Screen</name>
        <label>Preg Scan Error Screen</label>
        <locationX>3834</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorPregText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;This data doesn&apos;t look correct. Please check your entries or speak to a system administrator. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pregnancy_Scan_Screen</name>
        <label>Pregnancy Scan Screen</label>
        <locationX>3438</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clinical_Pregnancy_Outcome</targetReference>
        </connector>
        <fields>
            <name>Pregnancy_Scan_Date_and_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Pregnancy Scan Date and Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Nurse_Logging_Scan</name>
            <choiceReferences>AvailableUsersChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_User.Id</elementReference>
            </defaultValue>
            <fieldText>Nurse Logging Scan</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>LMP</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Get_Cycle.Day_1__c</elementReference>
            </defaultValue>
            <fieldText>LMP</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Gestational_Age</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>GestationalEstimate</elementReference>
            </defaultValue>
            <fieldText>Gestational Age (in Weeks)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Default value is calculated from Day 1 of Cycle a more Valid Ultrasound date may apply. &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <fields>
            <name>Estimated_Delivery_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>EstimatedDeliveryDate</elementReference>
            </defaultValue>
            <fieldText>Estimated Delivery Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Heart_Beats</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Number of Heart Beats</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Number_of_Sacs</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Number of Sacs</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Heart_Rate</name>
            <dataType>Number</dataType>
            <fieldText>Heart Rate</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CLR_mm</name>
            <dataType>Number</dataType>
            <fieldText>CRL (mm)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>1</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Information</name>
        <label>Result Information</label>
        <locationX>2514</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Blood_Values</targetReference>
        </connector>
        <fields>
            <name>Date_of_Result</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Date of Result</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Result_Information_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Result_Information_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>E2</name>
                    <dataType>Number</dataType>
                    <fieldText>E2</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>P4</name>
                    <dataType>Number</dataType>
                    <fieldText>P4</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>FSH</name>
                    <dataType>Number</dataType>
                    <fieldText>FSH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Result_Information_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LH</name>
                    <dataType>Number</dataType>
                    <fieldText>LH</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <fields>
                    <name>BHCG_Text</name>
                    <dataType>String</dataType>
                    <fieldText>BHCG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Result_Type</name>
        <label>Result Type</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Name</targetReference>
        </connector>
        <fields>
            <name>Pateint_Result_Types</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Antral Follicle Count&quot;,&quot;value&quot;:&quot;Antral Follicle Count&quot;},{&quot;label&quot;:&quot;ART Screens&quot;,&quot;value&quot;:&quot;ART Screens&quot;},{&quot;label&quot;:&quot;Recurrent Implantation Failure&quot;,&quot;value&quot;:&quot;Recurrent Implantation Failure&quot;},{&quot;label&quot;:&quot;Pre-Conception Pathology&quot;,&quot;value&quot;:&quot;Pre-Conception Pathology&quot;},{&quot;label&quot;:&quot;Prepair Bloods&quot;,&quot;value&quot;:&quot;Prepair Bloods&quot;},{&quot;label&quot;:&quot;Thrombophilia Screening&quot;,&quot;value&quot;:&quot;Thrombophilia Screening&quot;},{&quot;label&quot;:&quot;Semen Analysis&quot;,&quot;value&quot;:&quot;Semen Analysis&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>PatientIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Semen_Analysis</name>
        <label>Semen Analysis</label>
        <locationX>1722</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Semen_Analysis_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Smeen</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Semen Result </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>SemenResult</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SemenResult</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>3312</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_AFC_Record_Type</name>
        <label>Get AFC Record Type</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_AFC_Reord_Type</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Antral Follicle Count</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_ART_Screen_Record_Type</name>
        <label>Get ART Screen Record Type</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Infectious_Screens</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>ART Screen</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Blood_Test_Record_Type</name>
        <label>Get Blood Test Record Type</label>
        <locationX>2514</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Create_Standard_Blood_Test_Result</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Blood Test</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Follicular_Scan_Record_Type</name>
        <label>Get Follicular Scan Record Type</label>
        <locationX>4758</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Other_Scans</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Follicular Scan</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Pre_Conception_Pathology_Record_Type</name>
        <label>Get Pre Conception Pathology Record Type</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Pre_Conception</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Pre-Conception Pathology</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Pregnancy_Scan_Record_Type</name>
        <label>Get Pregnancy Scan Record Type</label>
        <locationX>3438</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>New_Result</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Pregnancy_Scan</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Prepair_Bloods_Record_Type</name>
        <label>Get Prepair Bloods Record Type</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Prepair_Blood</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Prepair Bloods</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Recurrent_Implantation_Failure_Record_Type</name>
        <label>Get Recurrent Implantation Failure Record Type</label>
        <locationX>1370</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Implant_Failure_bloods</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Recurrent Implantation Failure</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Semen_Analysis_Record_Type</name>
        <label>Get Semen Analysis Record Type</label>
        <locationX>1722</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Semen_Analysis</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Semen Analysis</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Thrombophilia_Screening_Record_Type</name>
        <label>Get Thrombophilia Screening Record Type</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Assign_Throm_Blood</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Thrombophilia Screening</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Preg_Flow</name>
        <label>Run Preg Flow</label>
        <locationX>2250</locationX>
        <locationY>1214</locationY>
        <flowName>New_Pregnancy_Result_Flow</flowName>
        <inputAssignments>
            <name>BHCGvar</name>
            <value>
                <elementReference>BHCGFromula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>E2var</name>
            <value>
                <elementReference>E2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>FSHvar</name>
            <value>
                <elementReference>FSH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>LHvar</name>
            <value>
                <elementReference>LH</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>P4var</name>
            <value>
                <elementReference>P4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ResultDateandTimeVar</name>
            <value>
                <elementReference>Date_of_Result</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Select_Users</name>
        <label>Select Users</label>
        <locationX>3438</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Update_Foll_NUmbers</name>
        <label>Update Foll NUmbers</label>
        <locationX>4846</locationX>
        <locationY>3476</locationY>
        <connector>
            <targetReference>Go_to_Scan_Result</targetReference>
        </connector>
        <flowName>Update_Follicle_Numbers</flowName>
        <inputAssignments>
            <name>resultId</name>
            <value>
                <elementReference>ResultVar.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllFollicles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Follicle_Measurement__c</objectType>
    </variables>
    <variables>
        <name>AvailableUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>BHCGVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountLeft</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountRight</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Cycle_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CycleVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle__c</objectType>
    </variables>
    <variables>
        <name>E2var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ETVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FollicleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Follicle_Measurement__c</objectType>
    </variables>
    <variables>
        <name>FSHvar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LHvar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>P4var</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PatientIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Result__c</objectType>
    </variables>
    <variables>
        <name>SelectedScanner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SemenResult</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedFollicles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Follicle_Measurement__c</objectType>
    </variables>
</Flow>
