force-app/main/default/flows/Add_Refund_Credit_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Totals</name>
        <label>Add Totals</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>TotalPaymentValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Selected_Payments.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Payments</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom40</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom41</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Note_or_Refund</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Credit_Amount</name>
        <label>Credit Amount</label>
        <locationX>1106</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>CreditAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Credit.Payment_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit.Invoice__r.Patient_Donor__r.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatinetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit.Invoice__r.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InvoiceId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Credit.Invoice__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Credit</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Crediting_Too_Much</name>
        <label>Crediting Too Much</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Create_Credit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Too_Much_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalPaymentValue</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>How_much_do_you_want_to_credit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Too_Much_Screen</targetReference>
            </connector>
            <label>Too Much Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refund_or_Credit</name>
        <label>Refund or Credit</label>
        <locationX>754</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refund_credit.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Refund Payment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Refund_Amount</targetReference>
            </connector>
            <label>Refund</label>
        </rules>
        <rules>
            <name>Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Refund_credit.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Much_to_Credit</targetReference>
            </connector>
            <label>Credit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Refunding_too_Much</name>
        <label>Refunding too Much?</label>
        <locationX>226</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Get_Credit_Note_Record_Type_on_Refund</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Too_Much</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>How_much_do_you_want_to_refund</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>TotalPaymentValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Too_Much_Screen</targetReference>
            </connector>
            <label>Too Much</label>
        </rules>
    </decisions>
    <description>Allows for the refunding of payments and the creation of credit notes to be applied to other invoices.</description>
    <environments>Default</environments>
    <formulas>
        <name>CreditNoteName</name>
        <dataType>String</dataType>
        <expression>&quot;Credit Note - &quot;&amp;TEXT({!Date_of_Refund_Credit_Note})</expression>
    </formulas>
    <formulas>
        <name>RefundAmount</name>
        <dataType>Currency</dataType>
        <expression>{!How_much_do_you_want_to_refund}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundName</name>
        <dataType>String</dataType>
        <expression>&quot;Refund - &quot;&amp;TEXT({!Date_of_Refund_Credit_Note})&amp;&quot; - &quot;&amp;TEXT({!Refund_Creation.Payment_Amount__c})</expression>
    </formulas>
    <interviewLabel>Add Refund Credit Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Refund Credit Note</label>
    <loops>
        <name>Create_Credit</name>
        <label>Create Credit</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <collectionReference>SelectedPaymnets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Credit_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Credit_Note_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Refund_Creation</name>
        <label>Refund Creation</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <collectionReference>SelectedPaymnets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Payment</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Selected_Payments</name>
        <label>Selected Payments</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <collectionReference>SelectedPaymnets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Totals</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Refund_or_Credit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Note_Payment</name>
        <label>Create Credit Note</label>
        <locationX>1018</locationX>
        <locationY>1706</locationY>
        <inputAssignments>
            <field>Credit_Amount__c</field>
            <value>
                <elementReference>How_much_do_you_want_to_credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>HouseholdId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>InvoiceId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreditNoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Donor__c</field>
            <value>
                <elementReference>PatinetId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Date_of_Refund_Credit_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Credit_Note_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>490</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Refund_Creation</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Amount__c</field>
            <value>
                <elementReference>RefundAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Applied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Refund_Creation.Household__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Refund_Creation.Invoice__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RefundName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>Date_of_Refund_Credit_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Credit_Note_Record_Type_on_Refund.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Payments</name>
        <label>Get Payments</label>
        <locationX>754</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Payment_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Too_Much_Screen</name>
        <label>Copy 1 of Too Much Screen</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>How_Much_to_Credit</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_TooMuchTExt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;You cannot credit more that the payment amount. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Credit_Note</name>
        <label>Create Credit Note</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Payments</targetReference>
        </connector>
        <fields>
            <name>Date_of_Refund_Credit_Note</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date of Refund/Credit Note</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>pay</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please select the below payment you would like to create a &lt;/strong&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!Refund_credit.value} &lt;/strong&gt;&lt;strong&gt;against. (note you can only credit/refund 1 payment at a time)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payments</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Payments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Patient_Donor__c,Name,Payment_Date__c,Payment_Type__c,Payment_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Patient_Donor__c:217, Name:328, Payment_Date__c:217, Payment_Type__c:217, Payment_Amount__c:217</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedPaymnets</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Credit_Note_or_Refund</name>
        <label>Credit Note or Refund</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Credit_Note</targetReference>
        </connector>
        <fields>
            <name>Refund_credit</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>x-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Refund Payment&quot;,&quot;value&quot;:&quot;Create a refund where the patient is paid back monies paid&quot;},{&quot;label&quot;:&quot;Credit Note&quot;,&quot;value&quot;:&quot;Create a credit note that can be used against future services in the clinic. &quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Much_to_Credit</name>
        <label>How Much to Credit</label>
        <locationX>842</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Crediting_Too_Much</targetReference>
        </connector>
        <fields>
            <name>How_much_do_you_want_to_credit</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>TotalPaymentValue</elementReference>
            </defaultValue>
            <fieldText>How much do you want to credit?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refund_Amount</name>
        <label>Refund Amount</label>
        <locationX>226</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Refunding_too_Much</targetReference>
        </connector>
        <fields>
            <name>How_much_do_you_want_to_refund</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>TotalPaymentValue</elementReference>
            </defaultValue>
            <fieldText>How much do you want to refund?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Too_Much_Screen</name>
        <label>Too Much Screen</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Refund_Amount</targetReference>
        </connector>
        <fields>
            <name>TooMuchTExt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;You cannot refund more that the payment amount. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>628</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Payment_Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Credit_Note_Record_Type</name>
        <label>Get Credit Note Record Type</label>
        <locationX>1018</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Create_Credit_Note_Payment</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Credit_Note_Record_Type_on_Refund</name>
        <label>Get Credit Note Record Type on Refund</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Refund_Creation</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Payment_Record_Type</name>
        <label>Get Payment Record Type</label>
        <locationX>754</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_Payments</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Payment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CreditAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>HouseholdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>InvoiceId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatinetId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedPaymnets</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>TotalPaymentValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
