force-app/main/default/flows/Add_Checklist_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Reload_Page</name>
        <label>Reload Page</label>
        <locationX>358</locationX>
        <locationY>1382</locationY>
        <actionName>c:ReloadPage</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:ReloadPage</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_to_All</name>
        <label>Assign to All</label>
        <locationX>490</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>AllCheclistItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ChecklistVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Checklist_Items</name>
        <label>Checklist Items</label>
        <locationX>490</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ChecklistVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ChecklistVar.Related_Record_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Single</name>
        <label>Add Single or Multiple</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Reload_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Single</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Items.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Single Checklist Item</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Item_Name</targetReference>
            </connector>
            <label>Single</label>
        </rules>
        <rules>
            <name>Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Items.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add From Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle_Creation_Checklist_Template_Record_Type</targetReference>
            </connector>
            <label>Template</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Add Checklist Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Checklist Items</label>
    <loops>
        <name>Loop_Records</name>
        <label>Loop Records</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <collectionReference>Get_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Checklist_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Checklist_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Checklist_Item</name>
        <label>Create Checklist Item</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Reload_Page</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Check_List_Item_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Checklist__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Checklist_Items</name>
        <label>Create Checklist Items</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Reload_Page</targetReference>
        </connector>
        <inputReference>AllCheclistItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Items</name>
        <label>Get Items</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Templates.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Templates</name>
        <label>Get System Templates</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Creation_Checklist_Template_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Add_Item_Name</name>
        <label>Add Item Name</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Checklist_Item</targetReference>
        </connector>
        <fields>
            <name>Check_List_Item_Name</name>
            <dataType>String</dataType>
            <fieldText>Check List Item Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;Checklist name too long. &lt;/span&gt;&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Check_List_Item_Name})&lt;80</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Buttons</name>
        <label>Buttons</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Single</targetReference>
        </connector>
        <fields>
            <name>Add_Items</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Single Checklist Item&quot;,&quot;value&quot;:&quot;Add Single Checklist Item&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add From Template&quot;,&quot;value&quot;:&quot;Add From Template&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:aggregation_policy&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Template</name>
        <label>Select Template</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Items</targetReference>
        </connector>
        <fields>
            <name>Templates</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task_Template__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Templates</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_System_Templates</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-6af8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Task Template Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Clinic__c&quot;,&quot;guid&quot;:&quot;column-b59a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Clinic&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Buttons</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Cycle_Creation_Checklist_Template_Record_Type</name>
        <label>Get Cycle Creation Checklist Template Record Type</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_System_Templates</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Cycle Creation Checklist Template</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllCheclistItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist__c</objectType>
    </variables>
    <variables>
        <name>ChecklistVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Checklist__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
