force-app/main/default/flows/Add_Scripts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Script</name>
        <label>Generate Script</label>
        <locationX>352</locationX>
        <locationY>2174</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Go_to_Script</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ScriptVar.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a0j5g000003C48vAAC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Script</name>
        <label>Go to Script</label>
        <locationX>352</locationX>
        <locationY>2294</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ScriptVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Patient_Medication</name>
        <label>Add Patient Medication</label>
        <locationX>440</locationX>
        <locationY>1358</locationY>
        <assignmentItems>
            <assignToReference>PatinetmedVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_Meds.Medication_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatinetmedVar.Donage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_Meds.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatinetmedVar.Regime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_Meds.Regime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatinetmedVar.Script__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScriptVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatinetmedVar.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Patient_Meds.Units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_Meds</name>
        <label>All Meds</label>
        <locationX>440</locationX>
        <locationY>1478</locationY>
        <assignmentItems>
            <assignToReference>AllPatinetmedsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatinetmedVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Patient_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:record_create</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custon:custom27</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medication_Selection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_t0_All_Medications</name>
        <label>Assign t0 All Medications</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllMasterMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignScript</name>
        <label>AssignScript</label>
        <locationX>352</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ScriptVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScriptName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScriptVar.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScriptVar.Patient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patinet.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ScriptVar.Repeats__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Script</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_More_Meds</name>
        <label>Add More Meds?</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>AssignScript</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Add_Meds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>addmeds.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Additional Medication to Script</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Medication_Selection</targetReference>
            </connector>
            <label>Yes Add Meds</label>
        </rules>
    </decisions>
    <description>adds scripts to patients, separate from cycle medications</description>
    <environments>Default</environments>
    <formulas>
        <name>ScriptName</name>
        <dataType>String</dataType>
        <expression>{!Get_Patinet.LastName}&amp;&quot; - &quot;&amp;TEXT(DAY({!$Flow.CurrentDate}))&amp;&quot;/&quot;&amp;TEXT(MONTH({!$Flow.CurrentDate}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <interviewLabel>Add Scripts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Scripts</label>
    <loops>
        <name>Create_Patient_Meds</name>
        <label>Create Patient Meds</label>
        <locationX>352</locationX>
        <locationY>1238</locationY>
        <collectionReference>AllMasterMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Patient_Medication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Meds</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Meds</name>
        <label>Create Meds</label>
        <locationX>352</locationX>
        <locationY>1694</locationY>
        <connector>
            <targetReference>Review_and_Edit</targetReference>
        </connector>
        <inputReference>AllPatinetmedsVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Script</name>
        <label>Create Script</label>
        <locationX>352</locationX>
        <locationY>1118</locationY>
        <connector>
            <targetReference>Create_Patient_Meds</targetReference>
        </connector>
        <inputReference>ScriptVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_medication</name>
        <label>Get medication</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_t0_All_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Medications.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Master_Medication_List__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patinet</name>
        <label>Get Patinet</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Meds</name>
        <label>Update Meds</label>
        <locationX>352</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Generate_Script</targetReference>
        </connector>
        <inputReference>UpdatedMeds</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Script</name>
        <label>Update Script</label>
        <locationX>352</locationX>
        <locationY>1934</locationY>
        <connector>
            <targetReference>Update_Meds</targetReference>
        </connector>
        <inputReference>ScriptVar</inputReference>
    </recordUpdates>
    <screens>
        <name>Additional_Meds</name>
        <label>Additional Meds</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_More_Meds</targetReference>
        </connector>
        <fields>
            <name>addmeds</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Additional Medication to Script&quot;,&quot;value&quot;:&quot;Add Additional Medication to Script&quot;},{&quot;label&quot;:&quot;Finalise Script&quot;,&quot;value&quot;:&quot;Finalise Script&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication_Selection</name>
        <label>Medication Selection</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_medication</targetReference>
        </connector>
        <fields>
            <name>Medications</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Master_Medication_List__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Add Medication to Script</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>custom:custom31</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fuzzySearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_and_Edit</name>
        <label>Review and Edit</label>
        <locationX>352</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Script</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ScriptVar.Repeats__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ScriptVar.Comments__c</objectFieldReference>
        </fields>
        <fields>
            <name>AllMedsReview</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Patient_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Patient_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllPatinetmedsVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Donage__c:true, Units__c:true, Regime__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Donage__c,Units__c,Regime__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Name:Medication Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:220, Donage__c:149, Units__c:143, Regime__c:179</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedMeds</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patinet</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllMasterMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Master_Medication_List__c</objectType>
    </variables>
    <variables>
        <name>AllPatinetmedsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatinetmedVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ScriptVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Scripts__c</objectType>
    </variables>
    <variables>
        <name>UpdatedMeds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Patient_Medication__c</objectType>
    </variables>
</Flow>
