force-app/main/default/flows/Add_Service_Items.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Go_To_Consent</name>
        <label>Go To Consent</label>
        <locationX>182</locationX>
        <locationY>2486</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Financial_Consent.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Line_Item_Count</name>
        <label>Add Line Item Count</label>
        <locationX>270</locationX>
        <locationY>2150</locationY>
        <assignmentItems>
            <assignToReference>LineItemCountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Service_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_Collection</name>
        <label>Add To Collection</label>
        <locationX>270</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>AllLineItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ConsentLineItem</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Line_Item_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Line_Number</name>
        <label>Assign New Line Number</label>
        <locationX>270</locationX>
        <locationY>1454</locationY>
        <assignmentItems>
            <assignToReference>LineItemCountVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CountPlus1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Service_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pricing_and_Service_Line_Item</name>
        <label>Assign Pricing and Service Line Item</label>
        <locationX>270</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>ConsentLineItem.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItemName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentLineItem.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentLineItem.Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentLineItem.Financial_Consent_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Financial_Consent.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentLineItem.GST_Applied__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Service_Items.GST_Applicable_Item__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentLineItem.Line_Item_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LineItemCountVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentLineItem.Estimated_Medicare_Rebate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price.Estimated_Medicare_Rebate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ConsentLineItem.Medicare_Item_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Price.Linked_Medicare_Item__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Exisiting_Line_Items</name>
        <label>Count Exisiting Line Items</label>
        <locationX>270</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>ExsitingLineCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Exisiting_Line_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_New_Line_Number</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>No_Line_Items_exist</name>
        <label>No Line Items exist?</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Count_Exisiting_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Exisiting_Line_Items</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selected_Service_Items</targetReference>
            </connector>
            <label>None Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Price_Type_Set</name>
        <label>Price Type Set?</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_Service_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Price_Type_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Pricing_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Price_Type</targetReference>
            </connector>
            <label>No Price Type Set</label>
        </rules>
    </decisions>
    <description>Adds service items to the financial consent.</description>
    <environments>Default</environments>
    <formulas>
        <name>CountPlus1</name>
        <dataType>Number</dataType>
        <expression>{!ExsitingLineCount}+1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>LineItemName</name>
        <dataType>String</dataType>
        <expression>{!Selected_Service_Items.Name}</expression>
    </formulas>
    <interviewLabel>Add Service Items {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Service Items</label>
    <loops>
        <name>Selected_Service_Items</name>
        <label>Selected Service Items</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <collectionReference>SelectedServiceItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Price</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Items</name>
        <label>Create Items</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Go_To_Consent</targetReference>
        </connector>
        <inputReference>AllLineItems</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Price_Type_Set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Financial_Consent.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Exisiting_Line_Items</name>
        <label>Get Exisiting Line Items</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Line_Items_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Financial_Consent_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Financial_Consent.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Financial_Consent_Service_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Financial_Consent</name>
        <label>Get Financial Consent</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Price</name>
        <label>Get Price</label>
        <locationX>270</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Pricing_and_Service_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Pricing_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Linked_Service_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Service_Items.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Items</name>
        <label>Get Service Items</label>
        <locationX>182</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Choose_Sercive_Items</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>Text_of_Cycle_Type__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Cycle.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Text_of_Cycle_Type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Related_Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Service_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Price_Type</name>
        <label>Update Price Type</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <connector>
            <targetReference>Get_Service_Items</targetReference>
        </connector>
        <inputReference>Get_Cycle</inputReference>
    </recordUpdates>
    <screens>
        <name>Choose_Sercive_Items</name>
        <label>Choose Sercive Items</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Exisiting_Line_Items</targetReference>
        </connector>
        <fields>
            <name>SelectText</name>
            <fieldText>&lt;p&gt;Select the service items you would like to include on this financial consent.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pricing_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Service_Item__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Service_Item__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Service_Item_Discription__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:248, Service_Item_Discription__c:394</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Service_Items</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedServiceItems</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Price_Type</name>
        <label>No Price Type</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Price_Type</targetReference>
        </connector>
        <fields>
            <name>SetTypeText</name>
            <fieldText>&lt;p&gt;This cycle has not yet been assigned a price type. Please set one before proceeding. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Cycle.Pricing_Type__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Financial_Consent</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllLineItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Consent_Service_Item__c</objectType>
    </variables>
    <variables>
        <name>ConsentLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Financial_Consent_Service_Item__c</objectType>
    </variables>
    <variables>
        <name>ExsitingLineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>LineItemCountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedServiceItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Item__c</objectType>
    </variables>
    <variables>
        <name>ServiceItemCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Service_Item__c</objectType>
    </variables>
</Flow>
