force-app/main/default/flows/Add_Payment_to_Invoice.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>336</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>CountSelected</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>SelectedCreditNotes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Notes_Selected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Credit_Value</name>
        <label>Assign Credit Value</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>CreditAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Credit_Note_Addition.Credit_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Note_Addition</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Paymnet_Amount</name>
        <label>Assign Payment Amount</label>
        <locationX>501</locationX>
        <locationY>2174</locationY>
        <assignmentItems>
            <assignToReference>PaymentAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Credit_Card_Surcharge</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Surcharge_Variables</name>
        <label>Assign Surcharge Variables</label>
        <locationX>369</locationX>
        <locationY>2498</locationY>
        <assignmentItems>
            <assignToReference>SurchargePercentageVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_Surcharge_Percentage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Surcharge_Variables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variables</name>
        <label>Assign Variables</label>
        <locationX>501</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>PaymentVar.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice.Patient_Donor__r.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVar.Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVar.Payment_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Payment_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVar.Payment_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVar.Payment_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Payment_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PaymentVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PaymentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Payment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Surcharge_Variables</name>
        <label>Copy 1 of Assign Surcharge Variables</label>
        <locationX>369</locationX>
        <locationY>2606</locationY>
        <assignmentItems>
            <assignToReference>PaymentAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SurchargeAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Line_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Avalible_Credit_Notes</name>
        <label>Available Credit Notes</label>
        <locationX>501</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Payment_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Credit_Notes_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Credit_Notes</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Notes</targetReference>
            </connector>
            <label>Credit Notes Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Card_Surcharge</name>
        <label>Credit Card Surcharge?</label>
        <locationX>501</locationX>
        <locationY>2282</locationY>
        <defaultConnector>
            <targetReference>Assign_Variables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Apply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Surcharge.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Apply Credit Card Surcharge</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Surcharge_Amount</targetReference>
            </connector>
            <label>Yes Apply</label>
        </rules>
    </decisions>
    <decisions>
        <name>Credit_Notes_Selected</name>
        <label>Credit Notes Selected</label>
        <locationX>336</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Payment_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Credit_Notes_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountSelected</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Credit_Note_Addition</targetReference>
            </connector>
            <label>Yes Credit Notes Applied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Credit_Value_Higher_than_amount_Owing</name>
        <label>Is Credit Value Higher than amount Owing?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Assign_Credit_Notes_to_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_in_Credit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Amount_Outstanding__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CreditAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Credit_Note</targetReference>
            </connector>
            <label>More in Credit</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PaymnetTypePick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Type__c</picklistField>
        <picklistObject>Payment__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CreditNoteName</name>
        <dataType>String</dataType>
        <expression>&quot;Credit Note - &quot;&amp;TEXT({!$Flow.CurrentDate})</expression>
    </formulas>
    <formulas>
        <name>NEwCreditValue</name>
        <dataType>Currency</dataType>
        <expression>{!CreditAmount}-{!Get_Invoice.Amount_Outstanding__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Oustandingamountwithsurcharge</name>
        <dataType>Currency</dataType>
        <expression>{!Payment_Amount}+{!SurchargeAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentName</name>
        <dataType>String</dataType>
        <expression>&quot;Payment - &quot;&amp;TEXT({!Copy_1_of_Payment_Date})&amp;&quot; - &quot;&amp;{!Get_Invoice.Name}</expression>
    </formulas>
    <formulas>
        <name>RevisedCreditValue</name>
        <dataType>Currency</dataType>
        <expression>{!Assign_Credit_Notes_to_Invoice.Credit_Amount__c}-{!NEwCreditValue}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SurchargeAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Payment_Amount}*({!SurchargePercentageVar}/100)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Add Paymnet to Invoice {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Payment to Invoice</label>
    <loops>
        <name>Assign_Credit_Notes_to_Invoice</name>
        <label>Assign Credit Notes to Invoice</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <collectionReference>SelectedCreditNotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Credit_Note</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Credit_Note_Addition</name>
        <label>Credit Note Addition</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <collectionReference>SelectedCreditNotes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Credit_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_Credit_Value_Higher_than_amount_Owing</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Credit_Note</name>
        <label>Create Credit Note</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Assign_Credit_Notes_to_Invoice</targetReference>
        </connector>
        <inputAssignments>
            <field>Credit_Amount__c</field>
            <value>
                <elementReference>NEwCreditValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household__c</field>
            <value>
                <elementReference>Get_Invoice.Patient_Donor__r.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CreditNoteName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Donor__c</field>
            <value>
                <elementReference>Get_Invoice.Patient_Donor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125g000000afOhAAI</stringValue>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Line_Item</name>
        <label>Create Line Item</label>
        <locationX>369</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Assign_Variables</targetReference>
        </connector>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Credit_Card_Surcharge_Percentage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Credit Card Surcharge</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>SurchargeAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Rate__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Payment</name>
        <label>Create Payment</label>
        <locationX>501</locationX>
        <locationY>3014</locationY>
        <inputReference>PaymentVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Credit_Notes</name>
        <label>Get Credit Notes</label>
        <locationX>501</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Avalible_Credit_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Patient_Donor__r.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125g000000afOhAAI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Credit_Applied__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>501</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Credit_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Credit_Note</name>
        <label>Update Credit Note</label>
        <locationX>270</locationX>
        <locationY>1490</locationY>
        <connector>
            <targetReference>Assign_Credit_Notes_to_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Assign_Credit_Notes_to_Invoice.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Credit_Applied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Get_Invoice.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Payment__c</object>
    </recordUpdates>
    <screens>
        <name>Credit_Notes</name>
        <label>Credit Notes</label>
        <locationX>336</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
        <fields>
            <name>CreditNotes</name>
            <fieldText>&lt;p&gt;This household has the following credit note available. If you would like to apply any of these against this invoice please select them from the below table. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CreditNotesTab</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Payment__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Payment__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Credit_Notes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Payment_Date__c,Credit_Amount__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:301, Payment_Date__c:218, Credit_Amount__c:207</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCreditNotes</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Details</name>
        <label>Payment Details</label>
        <locationX>501</locationX>
        <locationY>2066</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Paymnet_Amount</targetReference>
        </connector>
        <fields>
            <name>AmountsOut</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This invoice currently has &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;${!Get_Invoice.Amount_Outstanding__c} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Outstanding.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Payment_Amount</name>
            <dataType>Currency</dataType>
            <defaultValue>
                <elementReference>Get_Invoice.Amount_Outstanding__c</elementReference>
            </defaultValue>
            <fieldText>Payment Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Payment_Info</name>
        <label>Payment Info</label>
        <locationX>501</locationX>
        <locationY>1958</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Payment_Details</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Payment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Payment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Payment_Type</name>
            <choiceReferences>PaymnetTypePick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Surcharge</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Apply Credit Card Surcharge&quot;,&quot;value&quot;:&quot;It is highly recommended that you apply a credit card surcharge&quot;},{&quot;label&quot;:&quot;Skip Credit Card Surcharge&quot;,&quot;value&quot;:&quot;Please ensure that your actions align to business policy&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Copy_1_of_Payment_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Credit Card</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Surcharge_Amount</name>
        <label>Surcharge Amount</label>
        <locationX>369</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Surcharge_Variables</targetReference>
        </connector>
        <fields>
            <name>CreditCardSur</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;At the below rate the credit card surcharge on the payment will be&amp;nbsp;&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(6, 169, 77);&quot;&gt;{!SurchargeAmount}&lt;/strong&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;. This will bring the Total Payment amount to &lt;/b&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(6, 169, 77);&quot;&gt;{!Oustandingamountwithsurcharge}&lt;/strong&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;. Changing the percentage below will update the credit surcharge amount on completion. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Credit_Card_Surcharge_Percentage</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>SurchargePercentageVar</elementReference>
            </defaultValue>
            <fieldText>Credit Card Surcharge Percentage</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>375</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Invoice</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CountSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CreditAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PaymentVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCreditNotes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Payment__c</objectType>
    </variables>
    <variables>
        <name>SurchargePercentageVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>1.5</numberValue>
        </value>
    </variables>
</Flow>
