force-app/main/default/flows/Add_New_Medications_Cycle_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Cycle_Medication_Collections</name>
        <label>Add to Cycle Medication Collections</label>
        <locationX>402</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>CycleMedicationCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleMedicationVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Selected_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_Variable</name>
        <label>Assign Medication Variable</label>
        <locationX>402</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleMedicationName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Medication_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Regime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Regime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Units__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Linked_Master_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_Start_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Normal_Start_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleMedicationVariable.Medication_End_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Medications.Normal_End_Day__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Cycle_Medication_Collections</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Selected_Meds</name>
        <label>Assign to Selected Meds</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>CycleMedicationCollection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Medications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Edit_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cycle_Medications_Var</name>
        <label>Cycle Medications Var</label>
        <locationX>314</locationX>
        <locationY>854</locationY>
        <assignmentItems>
            <assignToReference>CycleMedsVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleMedicationCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Edit_Medications</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Medications_Options</name>
        <label>Medications Options</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Meds</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medication_Options.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Medications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Meds_Subflow</targetReference>
            </connector>
            <label>Add Meds</label>
        </rules>
        <rules>
            <name>Delete_Medications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Medication_Options.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Medications</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Medications_Subflow</targetReference>
            </connector>
            <label>Delete Medications</label>
        </rules>
    </decisions>
    <description>A specific subflow that takes in a medication variable from the New Cycle Flow and creates and displays medications.</description>
    <environments>Default</environments>
    <formulas>
        <name>CycleMedicationName</name>
        <dataType>String</dataType>
        <expression>{!Selected_Medications.Medication_Name__c}&amp;&quot; - &quot;&amp;{!Get_Cycle.Patient__r.LastName}</expression>
    </formulas>
    <interviewLabel>Add New Medications Cycle Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add New Medications Cycle Subflow</label>
    <loops>
        <name>Selected_Medications</name>
        <label>Selected Medications</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <collectionReference>SelectedMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Medication_Variable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Cycle_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Medications</name>
        <label>Create Cycle Medications</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <connector>
            <targetReference>Cycle_Medications_Var</targetReference>
        </connector>
        <inputReference>CycleMedicationCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Selected_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_Medications</name>
        <label>Get New Medications</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Selected_Meds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Medications</name>
        <label>Update Medications</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Medications_Options</targetReference>
        </connector>
        <inputReference>UpdatedMedications</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Medications</name>
        <label>Edit Medications</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Medications</targetReference>
        </connector>
        <fields>
            <name>EditText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please edit medications for this cycle (dosage and regime) below. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EditMedications</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Medication_Start_Day__c,Medication_End_Day__c,Dosage__c,Units__c,Regime__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:210, Medication_Start_Day__c:167, Medication_End_Day__c:154, Dosage__c:155, Units__c:247, Regime__c:143</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>CycleMedicationCollection</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedMedications</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Medication_Options</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Medications&quot;,&quot;value&quot;:&quot;Add Medications&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete Medications&quot;,&quot;value&quot;:&quot;Delete Medications&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Meds_Subflow</name>
        <label>Add Meds Subflow</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>Get_New_Medications</targetReference>
        </connector>
        <flowName>Add_New_Medications</flowName>
        <inputAssignments>
            <name>cycleId</name>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Delete_Medications_Subflow</name>
        <label>Delete Medications Subflow</label>
        <locationX>314</locationX>
        <locationY>1334</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_New_Medications</targetReference>
        </connector>
        <flowName>Deleted_Medications_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>cycleId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllTaskItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template_Items__c</objectType>
    </variables>
    <variables>
        <name>CreatedCycleMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>cycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CycleMedicationCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>CycleMedsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>MediactionSelectionIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedicationIDLookup</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Master_Medication_List__c</objectType>
    </variables>
    <variables>
        <name>SingleMedicationVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>TemplateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template__c</objectType>
    </variables>
    <variables>
        <name>UpdatedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
</Flow>
