force-app/main/default/flows/Alert_Doctors_of_Procedures_Manual.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Doctor_SMS</name>
        <label>Send Doctor SMS</label>
        <locationX>528</locationX>
        <locationY>866</locationY>
        <actionName>ClickSendSMS__ClickSendSMSGeneric</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Blank_Text</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>TextMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Loop_Doctors.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Loop_Doctors.Internal_Doctor_Linkage__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClickSendSMS__ClickSendSMSGeneric</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_to_Text_Message</name>
        <label>Assign to Text Message</label>
        <locationX>616</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EventDetails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blank_Text</name>
        <label>Blank Text</label>
        <locationX>528</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>TextMessage</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Doctors</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Events_Null</name>
        <label>Events Null?</label>
        <locationX>396</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Events</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Events</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Doctors</targetReference>
            </connector>
            <label>No Events</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Tomorrow</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+1</expression>
    </formulas>
    <interviewLabel>Alert Doctors of Procedures (Manual) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alert Doctors of Procedures (Manual)</label>
    <loops>
        <name>Loop_Doctors</name>
        <label>Loop Doctors</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Doctors</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Events</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Events</name>
        <label>Loop Events</label>
        <locationX>528</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_All_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Text_Message</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Send_Doctor_SMS</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Events</name>
        <label>Get All Events</label>
        <locationX>396</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Events_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Doctor_Undertaking_Procedure__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Doctors.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Tomorrow</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <sortField>StartDateTime</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Doctors</name>
        <label>Get Doctors</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Doctors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Internal_Doctor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Doctor__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Doctors</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>EventDetails</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Events.Procedure_Type__c}, {!Loop_Events.StartDateTime}, {!Loop_Events.Location_Lookup__r.Name}</text>
    </textTemplates>
    <variables>
        <name>TextMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>You have the following Procedures tomorrow </stringValue>
        </value>
    </variables>
</Flow>
