force-app/main/default/flows/Auto_New_Cycle_Day_Flow_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>add_day</name>
        <label>add day</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>DaysCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AlldaysVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DayVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Days_Created_Match</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Number_to_Create</name>
        <label>Assign Number to Create</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignmentItems>
            <assignToReference>DaystoCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Day_Var</name>
        <label>Day Var</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <assignmentItems>
            <assignToReference>DayVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DayVar.Day_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DaysCreated</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>add_day</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Do_Days_Created_Match</name>
        <label>Do Days Created Match?</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Day_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaystoCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DaysCreated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Day</targetReference>
            </connector>
            <label>Yes Match</label>
        </rules>
    </decisions>
    <description>Looks to see if cycle days have been created as part of the cycle creation process. There is an intermittent bug where cycle days are not created in every instance.</description>
    <environments>Default</environments>
    <interviewLabel>Auto New Cycle Day Flow Chec {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto New Cycle Day Flow Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Day</name>
        <label>Create Day</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <inputReference>AlldaysVar</inputReference>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Number_to_Create</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Number_of_Cycle_Days__c</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <object>Cycle__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-06-20</startDate>
            <startTime>14:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AlldaysVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>DaysCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DaystoCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DayVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
