force-app/main/default/flows/Auto_Fill_Medications_On_Cycle_Days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Update</name>
        <label>Add to Update</label>
        <locationX>3608</locationX>
        <locationY>3737</locationY>
        <assignmentItems>
            <assignToReference>UpdateCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DayCount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clear</name>
        <label>Assign Clear</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_4__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_5__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_6__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_7__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_8__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Cycle_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>888</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>DayCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Every_Two_Days_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Days_to_Null</name>
        <label>Assign Cycle Days to Null</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cycle_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_to_All</name>
        <label>Assign Day to All</label>
        <locationX>888</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Every_Two_Days_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DayCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Every_Two_Days_Loop.Day_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_1</name>
        <label>Assign Medication 1</label>
        <locationX>2552</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalMedicationDiscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_2</name>
        <label>Assign Medication 2</label>
        <locationX>2816</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalMedicationDiscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_3</name>
        <label>Assign Medication 3</label>
        <locationX>3080</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalMedicationDiscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_4</name>
        <label>Assign Medication 4</label>
        <locationX>3344</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalMedicationDiscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_5</name>
        <label>Assign Medication 5</label>
        <locationX>3608</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalMedicationDiscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_6</name>
        <label>Assign Medication 6</label>
        <locationX>3872</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_6__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalMedicationDiscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_7</name>
        <label>Assign Medication 7</label>
        <locationX>4136</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_7__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinalMedicationDiscription</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_7Plus</name>
        <label>Assign Medication 7+</label>
        <locationX>4400</locationX>
        <locationY>3545</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_8__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MultipleMedsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_Var</name>
        <label>Assign Medication Var</label>
        <locationX>2420</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>DiscriptionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MultipleMedsTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Cycle_Days</name>
        <label>Assign to All Cycle Days</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Clear_CD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Clear_CD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Cycle_Days_For_Loop</name>
        <label>Assign to Cycle Days For Loop</label>
        <locationX>2112</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_All_Days</name>
        <label>Clear All Days</label>
        <locationX>2464</locationX>
        <locationY>4037</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>UpdateCycleDays</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Count</name>
        <label>Copy 1 of Assign Count</label>
        <locationX>1632</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>DayCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Every_3_Days_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Day_to_All</name>
        <label>Copy 1 of Assign Day to All</label>
        <locationX>1328</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Every_Two_Days_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Count</name>
        <label>Copy 1 of Copy 1 of Assign Count</label>
        <locationX>3648</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Every3DatesFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Every_3_Days_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Day_to_All</name>
        <label>Copy 1 of Copy 1 of Assign Day to All</label>
        <locationX>2072</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Every_3_Days_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DayCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Every_3_Days_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Day_to_All</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Assign Day to All</label>
        <locationX>4088</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Every_3_Days_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Assign_Day_to_All</name>
        <label>Copy 1 of Copy 2 of Assign Day to All</label>
        <locationX>3648</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Every_3_Days_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Count</name>
        <label>Copy 2 of Assign Count</label>
        <locationX>2904</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>NextDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EveryTwoDatesFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Every_Two_Days_Date_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Day_to_All</name>
        <label>Copy 2 of Assign Day to All</label>
        <locationX>1632</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Every_3_Days_Loop</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DayCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Every_3_Days_Loop.Day_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_to_Cycle_Days_For_Loop</name>
        <label>Assign to Cycle Days For Loop</label>
        <locationX>4128</locationX>
        <locationY>2411</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Dates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Assign_Day_to_All</name>
        <label>Copy 2 of Copy 1 of Assign Day to All</label>
        <locationX>3344</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Every_Two_Days_Date_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Copy_2_of_Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Day_to_All</name>
        <label>Copy 3 of Assign Day to All</label>
        <locationX>2904</locationX>
        <locationY>2627</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Every_Two_Days_Date_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Assign_Count</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filtered_Cycle_Medication_Collection</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filtered Cycle Medication Collection</label>
        <locationX>2332</locationX>
        <locationY>1487</locationY>
        <assignNextValueToReference>currentItem_Filtered_Cycle_Medication_Collection</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Cycle_Medications</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filtered_Cycle_Medication_Collection.Cycle_Day_Column_Number__c</leftValueReference>
            <operator>GreaterThan</operator>
            <rightValue>
                <numberValue>7.0</numberValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Loop_Medications</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Cycle_Dates</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Cycle Dates</label>
        <locationX>3472</locationX>
        <locationY>2195</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Cycle_Dates</collectionReference>
        <connector>
            <targetReference>Medication_Type_on_Date</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Day_Date__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_Cycle_Days</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort Cycle Days</label>
        <locationX>1456</locationX>
        <locationY>2195</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Cycle_Days</collectionReference>
        <connector>
            <targetReference>Medication_Type</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Day_Number__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Equals_Day_Count</name>
        <label>Copy 1 of Copy 1 of Equals Day Count?</label>
        <locationX>4000</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Day_to_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_No_Not_Equaly_to_Day_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Copy_1_of_Every_3_Days_Loop.Day_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Every_3_Days_Loop</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of No Not Equaly to Day Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Equals_Day_Count</name>
        <label>Copy 1 of Equals Day Count?</label>
        <locationX>1984</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Day_to_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No_Not_Equaly_to_Day_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Every_3_Days_Loop.Day_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Every_3_Days_Loop</targetReference>
            </connector>
            <label>Copy 1 of No Not Equaly to Day Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Every_3_Days_First_Day</name>
        <label>Copy 1 of Every 3 Days First Day?</label>
        <locationX>3824</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Equals_Day_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_3_of_Yes_First_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Every_3_Days_Loop.Day_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Cycle_Medications.Medication_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_Assign_Day_to_All</targetReference>
            </connector>
            <label>Copy 3 of Yes First Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_First_Day</name>
        <label>Copy 1 of First Day?</label>
        <locationX>3080</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Equals_Day_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Yes_First_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Every_Two_Days_Date_Loop.Day_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Cycle_Medications.Medication_Start_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Day_to_All</targetReference>
            </connector>
            <label>Copy 2 of Yes First Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_Equals_Day_Count</name>
        <label>Copy 2 of Equals Day Count?</label>
        <locationX>3256</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Assign_Day_to_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_No_Not_Equaly_to_Day_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NextDate</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Every_Two_Days_Date_Loop.Day_Date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Every_Two_Days_Date_Loop</targetReference>
            </connector>
            <label>Copy 2 of No Not Equaly to Day Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Greater_than_7</name>
        <label>Count Greater than 7</label>
        <locationX>2464</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Pre_Day_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filtered_Cycle_Medication_Collection</targetReference>
            </connector>
            <label>Greater Than 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Equals_Day_Count</name>
        <label>Equals Day Count?</label>
        <locationX>1240</locationX>
        <locationY>2627</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Day_to_All</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Not_Equaly_to_Day_Count</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DayCount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Every_Two_Days_Loop.Day_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Every_Two_Days_Loop</targetReference>
            </connector>
            <label>No Not Equaly to Day Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Every_3_Days_First_Day</name>
        <label>Every 3 Days First Day?</label>
        <locationX>1808</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Equals_Day_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_First_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Every_3_Days_Loop.Day_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Cycle_Medications.Medication_Start_Day__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Day_to_All</targetReference>
            </connector>
            <label>Yes First Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>First_Day</name>
        <label>First Day?</label>
        <locationX>1064</locationX>
        <locationY>2519</locationY>
        <defaultConnector>
            <targetReference>Equals_Day_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_First_Day</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Every_Two_Days_Loop.Day_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Cycle_Medications.Medication_Start_Day__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Day_to_All</targetReference>
            </connector>
            <label>Yes First Day</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medication_Count</name>
        <label>Medication Count</label>
        <locationX>3608</locationX>
        <locationY>3437</locationY>
        <defaultConnector>
            <targetReference>Add_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_5</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_6</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_7</targetReference>
            </connector>
            <label>7</label>
        </rules>
        <rules>
            <name>X7Pluss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Cycle_Day_Column_Number__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>7.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_7Plus</targetReference>
            </connector>
            <label>7Pluss</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medication_Type</name>
        <label>Medication Type</label>
        <locationX>1456</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Assign_to_Cycle_Days_For_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Once_Every_Two_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Every_Two_Days_Loop</targetReference>
            </connector>
            <label>Once Every Two Days</label>
        </rules>
        <rules>
            <name>Once_Every_3_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Every_3_Days_Loop</targetReference>
            </connector>
            <label>Once Every 3 Days</label>
        </rules>
        <rules>
            <name>Once_a_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Assign_to_Cycle_Days_For_Loop</targetReference>
            </connector>
            <label>Once a Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medication_Type_on_Date</name>
        <label>Medication Type on Date</label>
        <locationX>3472</locationX>
        <locationY>2303</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Assign_to_Cycle_Days_For_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Once_Every_Two_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2nd Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Every_Two_Days_Date_Loop</targetReference>
            </connector>
            <label>Once Every Two Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_Once_Every_3_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3rd Daily</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Every_3_Days_Loop</targetReference>
            </connector>
            <label>Once Every 3 Days</label>
        </rules>
        <rules>
            <name>Copy_1_of_Once_a_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Medications.Regime__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Once</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Copy_2_of_Assign_to_Cycle_Days_For_Loop</targetReference>
            </connector>
            <label>Once a Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Day_1</name>
        <label>Pre Day 1</label>
        <locationX>2464</locationX>
        <locationY>1979</locationY>
        <defaultConnector>
            <targetReference>Get_Cycle_Dates</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreDay1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle_Days</targetReference>
            </connector>
            <label>PreDay1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Every3DatesFormula</name>
        <dataType>Date</dataType>
        <expression>{!Copy_1_of_Every_3_Days_Loop.Day_Date__c}+3</expression>
    </formulas>
    <formulas>
        <name>EveryTwoDatesFormula</name>
        <dataType>Date</dataType>
        <expression>{!Every_Two_Days_Date_Loop.Day_Date__c}+2</expression>
    </formulas>
    <formulas>
        <name>FinalMedicationDiscription</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_Cycle_Medications.Cycle_Day_Column_Number__c}&gt;7,{!RemovedRightMostCharacterFromDiscription},{!Loop_Cycle_Medications.Medication_Cycle_Day_Discription__c})</expression>
    </formulas>
    <formulas>
        <name>MedicationNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Medication.Linked_Master_Medication__r.Medication_Name__c}&amp;&quot; &quot;&amp; TEXT({!Medication.Dosage__c})&amp;&quot; &quot;&amp;TEXT({!Medication.Units__c})&amp;&quot; &quot;&amp;TEXT({!Medication.Regime__c})</expression>
    </formulas>
    <formulas>
        <name>MultipleMedsFormula</name>
        <dataType>String</dataType>
        <expression>&quot; &quot;&amp;{!MultipleMedsTextTemplate}</expression>
    </formulas>
    <formulas>
        <name>RemovedRightMostCharacterFromDiscription</name>
        <dataType>String</dataType>
        <expression>MID({!DiscriptionVariable},1,LEN({!DiscriptionVariable})-1)</expression>
    </formulas>
    <interviewLabel>Auto Fill Medications On Cycle Days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Auto Fill Medications On Cycle Days</label>
    <loops>
        <name>Copy_1_of_Every_3_Days_Loop</name>
        <label>Copy 1 of Every 3 Days Loop</label>
        <locationX>3560</locationX>
        <locationY>2411</locationY>
        <collectionReference>Get_Cycle_Dates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Every_3_Days_First_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Every_3_Days_Loop</name>
        <label>Every 3 Days Loop</label>
        <locationX>1544</locationX>
        <locationY>2411</locationY>
        <collectionReference>Get_Cycle_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Every_3_Days_First_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Every_Two_Days_Date_Loop</name>
        <label>Every Two Days Date Loop</label>
        <locationX>2816</locationX>
        <locationY>2411</locationY>
        <collectionReference>Get_Cycle_Dates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_First_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Every_Two_Days_Loop</name>
        <label>Every Two Days Loop</label>
        <locationX>800</locationX>
        <locationY>2411</locationY>
        <collectionReference>Get_Cycle_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>First_Day</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Cycle_Medications</name>
        <label>Loop Cycle Medications</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <collectionReference>Get_Cycle_Medications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Greater_than_7</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_Days</name>
        <label>Loop Days</label>
        <locationX>2464</locationX>
        <locationY>3329</locationY>
        <collectionReference>AllCycleDays</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Medication_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Clear_CD</name>
        <label>Loop for Clear CD</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_All_Cycle_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Clear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cycle_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Medications</name>
        <label>Loop Medications</label>
        <locationX>2332</locationX>
        <locationY>1595</locationY>
        <collectionReference>Filtered_Cycle_Medication_Collection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Medication_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Pre_Day_1</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Cycle_Days</name>
        <label>Get All Cycle Days</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Clear_CD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Cycle_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Dates</name>
        <label>Get Cycle Dates</label>
        <locationX>3472</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Cycle_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_Cycle_Medications.Medication_Start_Date__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_Cycle_Medications.Medication_End_Date__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Days</name>
        <label>Get Cycle Days</label>
        <locationX>1456</locationX>
        <locationY>2087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_Cycle_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Number__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_Cycle_Medications.Medication_Start_Day__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Number__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Loop_Cycle_Medications.Medication_End_Day__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Medications</name>
        <label>Get Cycle Medications</label>
        <locationX>176</locationX>
        <locationY>1163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cycle_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle_Days</name>
        <label>Update Cycle Days</label>
        <locationX>176</locationX>
        <locationY>947</locationY>
        <connector>
            <targetReference>Assign_Cycle_Days_to_Null</targetReference>
        </connector>
        <inputReference>AllCycleDays</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Days</name>
        <label>Update Days</label>
        <locationX>2464</locationX>
        <locationY>3929</locationY>
        <connector>
            <targetReference>Clear_All_Days</targetReference>
        </connector>
        <inputReference>UpdateCycleDays</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <object>Cycle_Medication__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>MultipleMedsTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Cycle_Medications.Medication_Cycle_Day_Discription__c} &amp;</text>
    </textTemplates>
    <variables>
        <name>AllCycleDays</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>AllCycleMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>currentItem_Filtered_Cycle_Medication_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>DayCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DiscriptionVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>MedicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MedicationIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NextDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>UpdateCycleDays</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
</Flow>
