force-app/main/default/flows/Collect_Insurance_Health_Fund_Information.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_DVA_Record_Type_ID</name>
        <label>Assign DVA Record Type ID</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Healthfund_var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_DVA_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>DVA_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_HF_Name</name>
        <label>Assign HF Name</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Healthfund_var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Helath_Fund.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Healthfund_var.Health_Fund__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Helath_Fund.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Healthfund_var.Membership_Issue_number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Patient_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Insurance_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:employee_organization</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Insurance_Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:partners</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insurance_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient</name>
        <label>Assign Patient</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Healthfund_var.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_0</name>
        <label>Assign Patient</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>PatientVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Insurance_Expiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Insurance_Expiry__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Insuring_Health_Fund_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Helath_Fund.Health_fund_name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Insured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Insured__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Membership_Issue_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Healthfund_var.Membership_Issue_number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Membership_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Healthfund_var.Membership_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Insurance_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Data</name>
        <label>Assign Patient Data</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PatientVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.DVA_Card_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Healthfund_var.DVA_Card_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.DVA_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Healthfund_var.DVA_Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.DVA_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Healthfund_var.DVA_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Insurance_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_ID</name>
        <label>Assign Record Type ID</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Healthfund_var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Private_Health_Fund_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Healthfund_var.Insured__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Healthfund_screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>DVA_or_Pv_Insurance</name>
        <label>DVA or Pv Insurance</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DVA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Health_Fund_Quickchoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add DVA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_DVA_Record_Type</targetReference>
            </connector>
            <label>DVA</label>
        </rules>
        <rules>
            <name>Health_Fund</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Health_Fund_Quickchoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Health Fund</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Private_Health_Fund_Record_Type</targetReference>
            </connector>
            <label>Health Fund</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Collect Insuring Health Fund Information {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collect Insurance &amp; Health Fund Information</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Insurance_Information</name>
        <label>Create Insurance Information</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Patient</targetReference>
        </connector>
        <inputReference>Healthfund_var</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Helath_Fund</name>
        <label>Get Helath Fund</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_HF_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>HealthFund.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Health_Fund__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient</name>
        <label>Update Patient</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <inputReference>PatientVar</inputReference>
    </recordUpdates>
    <screens>
        <name>DVA_Info_Screen</name>
        <label>DVA Info Screen</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Patient_Data</targetReference>
        </connector>
        <fields>
            <name>DVA_Info_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>DVA_Info_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Healthfund_var.DVA_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Healthfund_var.DVA_Expiry_Date__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>DVA_Info_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Healthfund_var.DVA_Card_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Healthfund_screen</name>
        <label>Healthfund_screen</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Helath_Fund</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Can&apos;t find your the health fund? It&apos;s likely abbreviated, for example; &lt;/span&gt;&lt;em style=&quot;font-size: 18px;&quot;&gt;Australian Health Management &lt;/em&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;might be &lt;/span&gt;&lt;em style=&quot;font-size: 18px;&quot;&gt;AHM&lt;/em&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; or vice versa, for example &lt;/span&gt;&lt;em style=&quot;font-size: 18px;&quot;&gt;RT Health&lt;/em&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt; is &lt;/span&gt;&lt;em style=&quot;font-size: 18px;&quot;&gt;Railway and Transport Health Fund.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Healthfund_screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Healthfund_screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HealthFund</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Health_Fund__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Health Fund</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>custom:custom19</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fuzzySearch</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isRequired</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Healthfund_var.Membership_Number__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Healthfund_screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Healthfund_var.Insurance_Expiry_Date__c</objectFieldReference>
                </fields>
                <fields>
                    <name>Issue_Number</name>
                    <dataType>Number</dataType>
                    <fieldText>Issue Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Error&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN(TEXT({!Issue_Number})) &lt; 2</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insurance_Info_Screen</name>
        <label>Insurance Info Screen</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DVA_or_Pv_Insurance</targetReference>
        </connector>
        <fields>
            <name>Health_Fund_Quickchoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Health Fund&quot;,&quot;value&quot;:&quot;Add Health Fund&quot;},{&quot;label&quot;:&quot;Add DVA&quot;,&quot;value&quot;:&quot;Add DVA&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Insurance_Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_DVA_Record_Type</name>
        <label>Get DVA Record Type</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_DVA_Record_Type_ID</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>DVA</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Private_Health_Fund_Record_Type</name>
        <label>Get Private Health Fund Record Type</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Assign_Record_Type_ID</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Private Health Fund</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>Healthfund_var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Health_Fund_and_Insurance__c</objectType>
    </variables>
    <variables>
        <name>healthfundId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HealthFundVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Health_Fund__c</objectType>
    </variables>
    <variables>
        <name>Insurance_Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
