force-app/main/default/flows/Copy_New_Cycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Redirect_to_Cycle</name>
        <label>Redirect to Cycle</label>
        <locationX>176</locationX>
        <locationY>1730</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CycleVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_To_All</name>
        <label>Add To All</label>
        <locationX>264</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>AllMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SignleCycleMedicationVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Name</name>
        <label>Assign Cycle Name</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CycleVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Day_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Weight_on_Day_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Finalising Admission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Pregnancy_Outcome__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Cycle_Outcome__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Pricing_Type__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Medicare_Claimable__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Day_1_Cycle_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Trigger_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Biopsy_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Denuding_Trimming_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Semen_Prep_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.PRP__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Embryo_Transfer_Cycle_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Embryo_Vitrification_Cycle_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Fert_Event_Cycle_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Filgrastim__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.OPU_Cycle_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Egg_Freeze_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Egg_Insemination_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Egg_Thaw_Cycle_Event_Created__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleVar.Claim_Status__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_Values</name>
        <label>Assign Medication Values</label>
        <locationX>264</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Dosage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Dosage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Linked_Master_Medication__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Linked_Master_Medication__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Medication_End_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Medication_End_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Medication_Start_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Medication_Start_Day__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Medication_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Medication_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Regime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Regime__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SignleCycleMedicationVar.Units__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Medications.Units__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Adjust_Medication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cycle_Count</name>
        <label>Cycle Count</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CycleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cycles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Cyle_To_Copy</targetReference>
        </connector>
    </assignments>
    <description>Allows doctors to copy details from previous cycles into a new treatment plan.</description>
    <environments>Default</environments>
    <formulas>
        <name>CycleName</name>
        <dataType>String</dataType>
        <expression>{!Get_Original_Cycle.Patient__r.LastName}&amp;&quot; - &quot;&amp;{!Get_Original_Cycle.RecordType.Name}&amp;&quot; - &quot;&amp;TEXT(MONTH({!$Flow.CurrentDate}))&amp;&quot;/&quot;&amp;TEXT(YEAR({!$Flow.CurrentDate}))&amp;&quot; - &quot;&amp;TEXT({!CycleCount}+1)</expression>
    </formulas>
    <interviewLabel>Copy New Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Copy New Cycle</label>
    <loops>
        <name>Loop_Medications</name>
        <label>Loop Medications</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <collectionReference>SelectedMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Medication_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Medications</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle</name>
        <label>Create Cycle</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Loop_Medications</targetReference>
        </connector>
        <inputReference>CycleVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Medications</name>
        <label>Create Medications</label>
        <locationX>176</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Add_Cycle_Days</targetReference>
        </connector>
        <inputReference>AllMedications</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle_Medications</name>
        <label>Get Cycle Medications</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Cycle_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CycleVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycles</name>
        <label>Get Cycles</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Original_Cycle</name>
        <label>Get Original Cycle</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CycleVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Adjust_Medication</name>
        <label>Adjust Medication</label>
        <locationX>264</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_To_All</targetReference>
        </connector>
        <fields>
            <name>UpdateText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;If needed you can update the medication details below.  Otherwise press next. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SignleCycleMedicationVar.Name</objectFieldReference>
        </fields>
        <fields>
            <name>Adjust_Medication_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Adjust_Medication_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SignleCycleMedicationVar.Medication_Start_Day__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SignleCycleMedicationVar.Dosage__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SignleCycleMedicationVar.Regime__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Adjust_Medication_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SignleCycleMedicationVar.Medication_End_Day__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SignleCycleMedicationVar.Units__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choose_Cyle_To_Copy</name>
        <label>Choose Cycle To Copy</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Original_Cycle</targetReference>
        </connector>
        <fields>
            <name>CopyText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Select the cycle you would like to copy. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cycle_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cycles</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Record_Type_Name_Text__c&quot;,&quot;guid&quot;:&quot;column-bbfe&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Record Type Name (Text)&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Day_1__c&quot;,&quot;guid&quot;:&quot;column-4c65&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Day 1&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Protocol__c&quot;,&quot;guid&quot;:&quot;column-b199&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Cycle Type&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cycle_Timing__c&quot;,&quot;guid&quot;:&quot;column-c199&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Cycle Timing&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Cycle_Outcome__c&quot;,&quot;guid&quot;:&quot;column-68b5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Cycle Outcome&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CycleVar</assignToReference>
                <name>firstSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Cycle_Details</name>
        <label>Edit Cycle Details</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Cycle_Name</targetReference>
        </connector>
        <fields>
            <name>Edit_Cycle_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Cycle_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Cycle_Timing__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Cycle_Type_ANZARD__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Edit_Cycle_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Protocol__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Is_Cycle_for_Fertility_Preservation__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Andro_and_Insem</name>
            <fieldText>Andro and Insem</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Andro_and_Insem_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.How_Will_Semen_be_Collected__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Andro_and_Insem_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Insemination_Method__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Transfer</name>
            <fieldText>Transfer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Number_of_Embryos_to_Transfer__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Transfer_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Freeze_All_Options__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Embryo_Glue__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>PGT</name>
            <fieldText>PGT</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>PGT_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.PGT_Type__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Mutation_Patient__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Karyotype_Patient__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>PGT_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.PGT_A_Reason__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Mutation_Partner__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>CycleVar.Karyotype_Partner__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>CycleVar.Doctors_Treatment_Notes__c</objectFieldReference>
        </fields>
        <fields>
            <name>Medicattext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select the Cycle medications you would like to copy onto the new Cycle, &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MedicationSelection</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cycle_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Dosage__c,Units__c,Medication_Type__c,Regime__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFilters</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:291, Dosage__c:291, Units__c:291, Medication_Type__c:291, Regime__c:291</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedMedications</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycles</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Cycle_Days</name>
        <label>Add Cycle Days</label>
        <locationX>176</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Redirect_to_Cycle</targetReference>
        </connector>
        <flowName>Add_Cycle_Days</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>CycleVar.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>CycleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CycleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>SignleCycleMedicationVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
</Flow>
