force-app/main/default/flows/Create_Cycle_Tasks_at_Cycle_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>440</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TaskVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Task_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Values_0</name>
        <label>Assign Task Values</label>
        <locationX>440</locationX>
        <locationY>1079</locationY>
        <assignmentItems>
            <assignToReference>TaskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Task_Creation.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <description>References the set up templates and creates tasks once the cycle has been created. Will only create tasks for those cycles that template have been setup for.</description>
    <environments>Default</environments>
    <interviewLabel>Create Cycle Tasks at Cycle Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Cycle Tasks at Cycle Creation</label>
    <loops>
        <name>Loop_Task_Creation</name>
        <label>Loop Task Creation</label>
        <locationX>352</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Task_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Template_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Template_Items</name>
        <label>Loop Template Items</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <collectionReference>Get_Task_Template</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Task_Items</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>176</locationX>
        <locationY>1463</locationY>
        <inputReference>AllTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>440</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Task_Values_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_Template_Items.Clinic__r.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Loop_Task_Creation.Task_Allocated_to__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Items</name>
        <label>Get Task Items</label>
        <locationX>352</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Task_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Template_Items.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Template</name>
        <label>Get Task Template</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Template_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordType.Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Creation_Checklist_Template_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle_Creation_Checklist_Template_Record_Type</targetReference>
        </connector>
        <object>Cycle__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Cycle_Checklist_To_Dos_Record_Type</name>
        <label>Get  Cycle Checklist To Dos Record Type</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Get_Task_Template</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue> Cycle Checklist To Dos</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Cycle_Creation_Checklist_Template_Record_Type</name>
        <label>Get Cycle Creation Checklist Template Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Get_Cycle_Checklist_To_Dos_Record_Type</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Cycle Creation Checklist Template</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
