force-app/main/default/flows/Create_Embryo_PGT_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Blast_Slow_Count</name>
        <label>Assign Blast Slow Count</label>
        <locationX>264</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>ClastSlowCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Embryo_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Values</name>
        <label>Assign Embryo Values</label>
        <locationX>924</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Embryo_Values.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Storage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateValueOnly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Device_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Device_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StorageLocationsLookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Device_Colours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Device_Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Goblet_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goblet_Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Slow_Frozen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slow_Freeze</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Freeze_Media__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FreezeMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Frozen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Freeze_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryo_State</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Embryos</name>
        <label>Assign to All Embryos</label>
        <locationX>440</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllEmbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Embryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Embryos_From_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Embryo_Collection</name>
        <label>Assign to Embryo Collection</label>
        <locationX>792</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEmbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Blast_Vit_Count</name>
        <label>Blast Vit Count</label>
        <locationX>792</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>BlastVitCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Embryo_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Cleavage_Vit_Count</name>
        <label>Cleavage Vit Count</label>
        <locationX>1056</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>CleavageVitCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Embryo_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clev_Slow_Count</name>
        <label>Clev Slow Count</label>
        <locationX>528</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>ClevSlowCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Embryo_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Embryo_Values</name>
        <label>Copy 1 of Assign Embryo Values</label>
        <locationX>660</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Set_Embryo_Values.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Storage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateValueOnly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Device_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Device_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StorageLocationsLookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Device_Colours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Device_Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Goblet_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goblet_Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Awaiting PGT Results</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Slow_Frozen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slow_Freeze</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Freeze_Media__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FreezeMedia</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Frozen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Freeze_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryo_State</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Awaiting_PGT</name>
        <label>Awaiting PGT?</label>
        <locationX>792</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Assign_Embryo_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_PGT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Embryo_Values.Fate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Awaiting PGT Results</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Embryo_Values</targetReference>
            </connector>
            <label>Yes PGT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Embryo_State</name>
        <label>Embryo State</label>
        <locationX>792</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blast_Slow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Embryo_Values.Cycle_Day__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Slow_Freeze</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Blast_Slow_Count</targetReference>
            </connector>
            <label>Blast Slow</label>
        </rules>
        <rules>
            <name>Cleavage_Slow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Embryo_Values.Cycle_Day__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Slow_Freeze</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clev_Slow_Count</targetReference>
            </connector>
            <label>Cleavage Slow</label>
        </rules>
        <rules>
            <name>Blast_Vit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Embryo_Values.Cycle_Day__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Embryo_Values.Slow_Frozen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Blast_Vit_Count</targetReference>
            </connector>
            <label>Blast Vit</label>
        </rules>
        <rules>
            <name>Cleavage_Vit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Set_Embryo_Values.Cycle_Day__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Set_Embryo_Values.Slow_Frozen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cleavage_Vit_Count</targetReference>
            </connector>
            <label>Cleavage Vit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Embryos_Found</name>
        <label>Embryos Found?</label>
        <locationX>352</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_to_All_Embryos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_embryos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Embryos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Embryos_From_Batch</targetReference>
            </connector>
            <label>No embryos</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DeviceColour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Device_Colours__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeviceType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Device_Type__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreezeMedia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freeze_Media__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GobletColour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Goblet_Colour__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientists</name>
        <collectionReference>AllUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateValueOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Event_Date_and_Time})</expression>
    </formulas>
    <interviewLabel>Create Embryo PGT Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Embryo PGT Result</label>
    <loops>
        <name>Get_Embryos_From_Batch</name>
        <label>Get Embryos From Batch</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Embryo_Batches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Embryos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Event_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Set_Embryo_Values</name>
        <label>Set Embryo Values</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <collectionReference>SelectedEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Awaiting_PGT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Event</name>
        <label>Create Cycle Event</label>
        <locationX>176</locationX>
        <locationY>2714</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Batch_Number__c</field>
            <value>
                <elementReference>Vit_Kit_Batch</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Kit_Witness__c</field>
            <value>
                <elementReference>Vit_Kit_Witness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Blasts_Slow_Frozen__c</field>
            <value>
                <elementReference>ClastSlowCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Blasts_Vitrified__c</field>
            <value>
                <elementReference>BlastVitCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Cleavage_Slow_Frozen__c</field>
            <value>
                <elementReference>ClevSlowCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Cleavage_State_Embryos_Vit__c</field>
            <value>
                <elementReference>CleavageVitCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Embryos_Vitrified__c</field>
            <value>
                <elementReference>NumberofEmbryosfroFreeze</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125g000000ae9x</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Witness__c</field>
            <value>
                <elementReference>VitWit2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>VitWit1</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scientists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_Batches</name>
        <label>Get Embryo Batches</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryos_From_Batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Household__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>352</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Embryos_Found</targetReference>
        </connector>
        <filterLogic>2 AND (1 OR 3 OR 5) AND 4</filterLogic>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For Freeze</stringValue>
            </value>
        </filters>
        <filters>
            <field>Embryo_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Embryos_From_Batch.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Awaiting PGT Results</stringValue>
            </value>
        </filters>
        <filters>
            <field>Frozen__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>For Transfer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryo_Batches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch</name>
        <label>Update Batch</label>
        <locationX>792</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Set_Embryo_Values</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Set_Embryo_Values.Embryo_Batch__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Billing_Date__c</field>
            <value>
                <elementReference>DateValueOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Date__c</field>
            <value>
                <elementReference>DateValueOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location__c</field>
            <value>
                <elementReference>StorageLocationsLookup.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>176</locationX>
        <locationY>2822</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Embryo_Vitrification_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos</name>
        <label>Update Embryos</label>
        <locationX>176</locationX>
        <locationY>2606</locationY>
        <connector>
            <targetReference>Create_Cycle_Event</targetReference>
        </connector>
        <inputReference>UpdatedEmbryos</inputReference>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1320</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;There has been an error please report this to system admins for resolution.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Screen</name>
        <label>Event Screen</label>
        <locationX>176</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Embryos_for_Freeze</targetReference>
        </connector>
        <fields>
            <name>PatientDetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: rgb(255, 255, 255);&quot;&gt;Female Patient: {!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Birthdate} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Partner/Known Donor: {!Get_Cycle.Patient__r.Partner__r.FirstName} &lt;/strong&gt;&lt;strong style=&quot;font-size: 16px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Cycle.Patient__r.Partner__r.LastName} - {!Get_Cycle.Patient__r.Partner__r.Birthdate} - {!Get_Cycle.Patient__r.Partner__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Event Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Slow_Freeze</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Slow Freeze</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scientist</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>Freeze Scientist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Event_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Freeze_Media</name>
                    <choiceReferences>FreezeMedia</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Vitrolife RapidVitBlast</stringValue>
                    </defaultValue>
                    <fieldText>Freeze Media</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vit_Kit_Batch</name>
                    <dataType>String</dataType>
                    <fieldText>Vit Kit Batch</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Vit_Kit_Witness</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Vit Kit Witness</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Event_Screen_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Screen_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VitWit1Lookup</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vit Witness</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:user</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VitWit1</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VitWit2Lookup</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Vit Witness 2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:user</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>VitWit2</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Device_Type</name>
            <choiceReferences>DeviceType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Device Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Event_Screen_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Screen_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Goblet_Colour</name>
                    <choiceReferences>GobletColour</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Goblet Colour</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Device_Colour</name>
                    <choiceReferences>DeviceColour</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Device Label Colour</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Embryos_for_Freeze</name>
        <label>Select Embryos for Freeze</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Storage_Select</targetReference>
        </connector>
        <fields>
            <name>EmbryoText</name>
            <fieldText>&lt;p&gt;Please select the embryos from the below table that you would like to freeze. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmbFroFreeze</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllEmbryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Embryo_Number__c,Name,Cycle_Created_In__c,Most_Recent_Consolidated_Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Embryo_Number__c:151, Name:178, Cycle_Created_In__c:168, Most_Recent_Consolidated_Grade__c:268, Fate__c:411</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Most_Recent_Consolidated_Grade__c:Grade</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedEmbryos</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>NumberofEmbryosfroFreeze</assignToReference>
                <name>numberOfRowsSelected</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Storage_Select</name>
        <label>Storage Select</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Set_Embryo_Values</targetReference>
        </connector>
        <fields>
            <name>StorageText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please choose a storage location for your selected samples&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StorageLocationsLookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Storage_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Clinic__c=&apos;{!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Storage_Location_Risk__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Lab_Template_Advanced</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Scientists</name>
        <label>Get Scientists</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllUsers</assignToReference>
            <name>FinalUsers</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>AllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>BlastVitCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ClastSlowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CleavageVitCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ClevSlowCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmbryoVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>NumberofEmbryosfroFreeze</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>UpdatedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>VitWit1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VitWit2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
