force-app/main/default/flows/Create_Fert_Check_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Embryo_Values</name>
        <label>Assign Embryo Values</label>
        <locationX>614</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Fertilisation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FertStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Embryo_Fert_Status.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Event_Date_Time</name>
        <label>Assign Event Date Time</label>
        <locationX>525</locationX>
        <locationY>679</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Event_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Fert_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fert_Icons</name>
        <label>Assign Fert Icons</label>
        <locationX>1274</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom12</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom20</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom21</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom22</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom23</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom24</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom25</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom26</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FertIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom27</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Set_Embryo_Fert_Status_and_Fate</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fert_Status</name>
        <label>Assign Fert Status</label>
        <locationX>1028</locationX>
        <locationY>1216</locationY>
        <assignmentItems>
            <assignToReference>FertStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FertStatsu</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discarded_Or_Ongoing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>522</locationX>
        <locationY>952</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:assigned_resource</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:connect_wallet</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryo_Fert_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Date_and_Time</name>
        <label>Assign New Date and Time</label>
        <locationX>416</locationX>
        <locationY>860</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Event_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Fert_Check_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Collection</name>
        <label>Assign to Collection</label>
        <locationX>608</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>EmbryoCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryo_Fert_Status</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Embryo_Values</name>
        <label>Copy 1 of Assign Embryo Values</label>
        <locationX>878</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Viable</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Fertilisation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FertStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Embryo_Fert_Status.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Fert_Status</name>
        <label>Copy 1 of Assign Fert Status</label>
        <locationX>1274</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>FertStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PickFertStatus.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryo_Fate_Normal_2_PN</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Embryo_Number</name>
        <label>Embryo Number</label>
        <locationX>614</locationX>
        <locationY>1526</locationY>
        <assignmentItems>
            <assignToReference>EmbryoNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Embryo_Values</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Clinic_Variation</name>
        <label>Clinic Variation</label>
        <locationX>1010</locationX>
        <locationY>1046</locationY>
        <defaultConnector>
            <targetReference>Assign_Fert_Icons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Create</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fert_Icons</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discarded_Or_Ongoing</name>
        <label>Discarded Or Ongoing</label>
        <locationX>959</locationX>
        <locationY>1383</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Embryo_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ongoing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FateEmbryo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ongoing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Embryo_Number</targetReference>
            </connector>
            <label>Ongoing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Embryo_Fate_Normal_2_PN</name>
        <label>Embryo Fate Normal 2 PN</label>
        <locationX>1274</locationX>
        <locationY>1526</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Embryo_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2PN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PickFertStatus.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>2PN</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Embryo_Number</targetReference>
            </connector>
            <label>2PN</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Fate</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fate__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FertStatsu</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fertilisation_Status__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientists</name>
        <collectionReference>AllUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Developer Template Laboratory Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Fert Check Event</label>
    <loops>
        <name>Embryo_Fert_Status</name>
        <label>Embryo Fert Status</label>
        <locationX>523</locationX>
        <locationY>1103</locationY>
        <collectionReference>Get_Embryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Clinic_Variation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Fert_Check_Cycle_Event</name>
        <label>Create Fert Check Cycle Event</label>
        <locationX>529</locationX>
        <locationY>2323</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>CycleEventVar.Event_Date_and_Time__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Embryos_Fertilised__c</field>
            <value>
                <elementReference>EmbryoNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Fert_Check_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Fert_Check_Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>WitnessID</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>526</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scientists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>526</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Event_Date_Time</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Created_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Embs</name>
        <label>Get Final Embs</label>
        <locationX>526</locationX>
        <locationY>2541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Embryo_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Created_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>526</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>526</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>Get_Final_Embs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fert_Event_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Edited_Embryos</name>
        <label>Update Edited Embryos</label>
        <locationX>530</locationX>
        <locationY>2820</locationY>
        <inputReference>UpdatedEmbryos</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos</name>
        <label>Update Embryos</label>
        <locationX>526</locationX>
        <locationY>2174</locationY>
        <connector>
            <targetReference>Get_Fert_Check_Record_Type</targetReference>
        </connector>
        <inputReference>EmbryoCollection</inputReference>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Set_Embryo_Fert_Status_and_Fate</name>
        <label>Copy 1 of Set Embryo Fert Status and Fate</label>
        <locationX>1274</locationX>
        <locationY>1286</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Assign_Fert_Status</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_EmbryoText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white; font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c} - {!Get_Cycle.Patient__r.Birthdate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Embryo_Fert_Status.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PickFertStatus</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>FertIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;2PN&quot;,&quot;value&quot;:&quot;2PN&quot;},{&quot;label&quot;:&quot;3PN&quot;,&quot;value&quot;:&quot;3PN&quot;},{&quot;label&quot;:&quot;&gt;3PN&quot;,&quot;value&quot;:&quot;&gt;3PN&quot;},{&quot;label&quot;:&quot;1PN&quot;,&quot;value&quot;:&quot;1PN&quot;},{&quot;label&quot;:&quot;0PN 2PB&quot;,&quot;value&quot;:&quot;0PN 2PB&quot;},{&quot;label&quot;:&quot;0PN 1PB (MII)&quot;,&quot;value&quot;:&quot;0PN 1PB (MII)&quot;},{&quot;label&quot;:&quot;0PN 0PB (MI)&quot;,&quot;value&quot;:&quot;0PN 0PB (MI)&quot;},{&quot;label&quot;:&quot;GV&quot;,&quot;value&quot;:&quot;GV&quot;},{&quot;label&quot;:&quot;OTHER&quot;,&quot;value&quot;:&quot;OTHER&quot;},{&quot;label&quot;:&quot;DEG&quot;,&quot;value&quot;:&quot;DEG&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_Fert_Event</name>
        <label>Create Fert Event</label>
        <locationX>525</locationX>
        <locationY>780</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Date_and_Time</targetReference>
        </connector>
        <fields>
            <name>PatIDVerificationText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); font-size: 16px; background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c} - {!Get_Cycle.Patient__r.Birthdate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Create_Fert_Event_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Create_Fert_Event_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fert_Check_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>CycleEventVar.Event_Date_and_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Fert Check Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Create_Fert_Event_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Fert_Check_Scientist</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>Fert Check Scientist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>WitnessLookup</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconName</name>
                        <value>
                            <stringValue>standard:user</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Witness</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>WitnessID</assignToReference>
                        <name>selectedRecordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Embryo_Collection</name>
        <label>Review Embryo Collection</label>
        <locationX>528</locationX>
        <locationY>2688</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Edited_Embryos</targetReference>
        </connector>
        <fields>
            <name>Table_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white; font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c} - {!Get_Cycle.Patient__r.Birthdate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white;&quot;&gt;Please edit embryos as required below. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FERT_CHECK</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Fertilisation_Status__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Fertilisation_Status__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:283, Fertilisation_Status__c:205, Fate__c:355</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Final_Embs</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Set_Embryo_Fert_Status_and_Fate</name>
        <label>Set Embryo Fert Status and Fate</label>
        <locationX>896</locationX>
        <locationY>1155</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Fert_Status</targetReference>
        </connector>
        <fields>
            <name>EmbryoText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white; font-size: 16px; color: rgb(68, 68, 68);&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c} - {!Get_Cycle.Patient__r.Birthdate}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!Embryo_Fert_Status.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Fert_Status</name>
            <choiceReferences>FertStatsu</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fert Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>FateEmbryo</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Embryo is ongoing&quot;},{&quot;label&quot;:&quot;Not Viable&quot;,&quot;value&quot;:&quot;Embryo is not viable and will be discarded&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Template_Laboratory_Process</sourceTemplate>
    <start>
        <locationX>400</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Fert_Check_Record_Type</name>
        <label>Get Fert Check Record Type</label>
        <locationX>451</locationX>
        <locationY>2250</locationY>
        <connector>
            <targetReference>Create_Fert_Check_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Fert Check</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Scientists</name>
        <label>Get Scientists</label>
        <locationX>526</locationX>
        <locationY>326</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>NeedScientist</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllUsers</assignToReference>
            <name>FinalUsers</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EmbryoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>EmbryoNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EmbryoVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>FertIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FertStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>WitnessID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
