force-app/main/default/flows/Create_Trigger_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Trigger_Time</name>
        <label>Assign Trigger Time</label>
        <locationX>264</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TriggerTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Trigger_Time.Trigger_Time__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Triger_Event</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_By_Trigger_Time</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort By Trigger Time</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>SelectedTriggers</collectionReference>
        <connector>
            <targetReference>Find_Trigger_Time</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Trigger_Time__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <description>Creates a cycle event for trigger and alter medications including trigger date and time and ends all FSH meds automatically.</description>
    <dynamicChoiceSets>
        <name>ValidUsers</name>
        <collectionReference>Get_Valid_Users.FinalUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculatedTriggerTime</name>
        <dataType>DateTime</dataType>
        <expression>{!Get_EPU_Event.StartDateTime}-({!TriggerTime}/24)</expression>
    </formulas>
    <formulas>
        <name>FSHEndDate</name>
        <dataType>Date</dataType>
        <expression>{!TriggerDateOnly}-1</expression>
    </formulas>
    <formulas>
        <name>TriggerDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Trigger_Date_and_Time})</expression>
    </formulas>
    <interviewLabel>Developer Basic Flow Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Trigger Event</label>
    <loops>
        <name>Find_Trigger_Time</name>
        <label>Find Trigger Time</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <collectionReference>SelectedTriggers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Trigger_Time</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Triger_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>FSH_End_Date</name>
        <label>FSH End Date</label>
        <locationX>176</locationX>
        <locationY>1988</locationY>
        <collectionReference>Get_FSH_GnRH</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_End_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cycle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Trigger_Dates</name>
        <label>Update Trigger Dates</label>
        <locationX>176</locationX>
        <locationY>1364</locationY>
        <collectionReference>SelectedTriggers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Trigger</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Trigger_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Trigger_Event</name>
        <label>Create Trigger Event</label>
        <locationX>176</locationX>
        <locationY>1772</locationY>
        <connector>
            <targetReference>Get_FSH_GnRH</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Trigger_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nurse__c</field>
            <value>
                <elementReference>StaffMemberIssuingTriggerInstructions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Trigger_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger_Type__c</field>
            <value>
                <elementReference>Trigger_Type</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_EPU_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_EPU_Event</name>
        <label>Get EPU Event</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Trigger_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Procedure_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_FSH_GnRH</name>
        <label>Get FSH/GnRH</label>
        <locationX>176</locationX>
        <locationY>1880</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FSH_End_Date</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FSH</stringValue>
            </value>
        </filters>
        <filters>
            <field>Medication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GnRH/down reg</stringValue>
            </value>
        </filters>
        <filters>
            <field>Medication_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Medication_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Trigger_Medications</name>
        <label>Get Trigger Medications</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Triggers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Medication_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trigger</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>176</locationX>
        <locationY>2288</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Trigger_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_End_Date</name>
        <label>Update End Date</label>
        <locationX>264</locationX>
        <locationY>2096</locationY>
        <connector>
            <targetReference>FSH_End_Date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FSH_End_Date.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medication_End_Date__c</field>
            <value>
                <elementReference>FSHEndDate</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medication__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Trigger</name>
        <label>Update Trigger</label>
        <locationX>264</locationX>
        <locationY>1472</locationY>
        <connector>
            <targetReference>Update_Trigger_Dates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Update_Trigger_Dates.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Medication_End_Date__c</field>
            <value>
                <elementReference>TriggerDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medication_Start_Date__c</field>
            <value>
                <elementReference>TriggerDateOnly</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Medication__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Triggers</name>
        <label>Select Triggers</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Sort_By_Trigger_Time</targetReference>
        </connector>
        <fields>
            <name>SelectTriggerText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select Trigger/Triggers from below table.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Triggers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Trigger_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Dosage__c,Trigger_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Trigger_Time__c:Time to Ov in Hours</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:430, Dosage__c:430, Trigger_Time__c:430</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedTriggers</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Triger_Event</name>
        <label>Triger Event</label>
        <locationX>176</locationX>
        <locationY>1256</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Trigger_Dates</targetReference>
        </connector>
        <fields>
            <name>TriggerInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;The below information is based on EPU and Tigger type information. If it is incorrect please check the Cycle Medications and EPU Time for accuracy before continuing. ﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Triger_Event_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Triger_Event_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Trigger_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>CalculatedTriggerTime</elementReference>
                    </defaultValue>
                    <fieldText>Trigger Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>StaffMemberIssuingTriggerInstructions</name>
                    <choiceReferences>ValidUsers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>Staff Member Issuing Trigger Instructions</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Triger_Event_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Trigger_Type</name>
                    <dataType>String</dataType>
                    <fieldText>Trigger Type</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Notes</name>
                    <dataType>String</dataType>
                    <fieldText>Notes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Valid_Users</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Trigger_Record_Type</name>
        <label>Get Trigger Record Type</label>
        <locationX>176</locationX>
        <locationY>1664</locationY>
        <connector>
            <targetReference>Create_Trigger_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Trigger</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Valid_Users</name>
        <label>Get Valid Users</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>NeedNurse</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CountofTriggers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedTriggers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>TriggerTime</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
