force-app/main/default/flows/Create_Adverse_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Cycle_Event_Valuse</name>
        <label>Assign Cycle Event Valuse</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000000afRHAAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Morbidity_Information__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Morbidity_Information</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OHSS_Recorded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Hos_Admit</name>
        <label>Assign Hos Admit</label>
        <locationX>50</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Hospital_Admission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Adverse_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>HospitalIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom94</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HospitalIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom107</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIHSSIcon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OIHSSIcon</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:scan_card</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Morbity_Data_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OHSS</name>
        <label>Assign OHSS</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.OHSS_Recorded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hospital_admission</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Hospital_admission</name>
        <label>Hospital admission</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Create_Adverse_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Admited_to_hospital</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HospitalAdmission.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Admitted to Hospital</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Hos_Admit</targetReference>
            </connector>
            <label>Yes Admited to hospital</label>
        </rules>
    </decisions>
    <decisions>
        <name>OHSS_Recorded</name>
        <label>OHSS Recorded</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Hospital_admission</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_OHSS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_OHSS.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>OHSS Occurred</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_OHSS</targetReference>
            </connector>
            <label>Yes OHSS</label>
        </rules>
    </decisions>
    <description>Allows the recording of an adverse event against a cycle.</description>
    <environments>Default</environments>
    <interviewLabel>Developer Basic Flow Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Adverse Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Adverse_Event</name>
        <label>Create Adverse Event</label>
        <locationX>182</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Update_Patient</targetReference>
        </connector>
        <inputReference>CycleEventVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Patient</name>
        <label>Update Patient</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Previous_Adverse_Event__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Morbity_Data_Collection</name>
        <label>Copy 1 of Morbity Data Collection</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Cycle_Event_Valuse</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AdverseEvent</name>
            <fieldText>&lt;p&gt;Please complete the adverse events details below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_OHSS</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;OHSS Occurred&quot;,&quot;value&quot;:&quot;Please check local current policy for definitions of OHSS.&quot;},{&quot;label&quot;:&quot;OHSS Did Not Occur&quot;,&quot;value&quot;:&quot;If an adverse event occurred that was not related to OHSS please select this option. &quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>OIHSSIcon</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Morbidity_Information</name>
            <fieldText>Morbidity Information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Morbity_Data_Collection</name>
        <label>Morbity Data Collection</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Morbity_Data_Collection</targetReference>
        </connector>
        <fields>
            <name>AdverseEvent</name>
            <fieldText>&lt;p&gt;Please complete the adverse events details below. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Event</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date of Event</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>HospitalAdmission</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Admitted to Hospital&quot;,&quot;value&quot;:&quot;Indicate whether the female patient was admitted to hospital with any condition related to fertility treatment. Examples include but are not limited to OHSS, infection, bleeding after OPU.&quot;},{&quot;label&quot;:&quot;Adverse Event that did not require Hospital Admission&quot;,&quot;value&quot;:&quot;A case were morbidity needs to be recorded without a hospital admission. &quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>HospitalIcons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>HospitalIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OIHSSIcon</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
