force-app/main/default/flows/Create_Egg_Donor_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Egg_Event</name>
        <label>Assign Egg Event</label>
        <locationX>534</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>EggCycleEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Recpient_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggCycleEventVar.Egg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_eggs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Egg_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Egg_Event</name>
        <label>Assign to All Egg Event</label>
        <locationX>534</locationX>
        <locationY>2594</locationY>
        <assignmentItems>
            <assignToReference>AllEggEvent</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EggCycleEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>CountCycles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Copy_2_of_Get_Recpient_Cycle</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_tha_One_Open</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>More_tha_One_Open</name>
        <label>More tha  One Open</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Get_Recpient_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>more_than_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountCycles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recipeint_Warning</targetReference>
            </connector>
            <label>more than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recipient_Cycle_Check</name>
        <label>Recipient Cycle Check</label>
        <locationX>446</locationX>
        <locationY>1646</locationY>
        <defaultConnector>
            <targetReference>Update_Recipient_Cycle_Buttons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Day_1_Not_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Recpient_Cycle.Day_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Recipient_Cycle</targetReference>
            </connector>
            <label>Day 1 Not Completed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Egg Donor Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Egg Donor Event</label>
    <loops>
        <name>Loop_eggs</name>
        <label>Loop eggs</label>
        <locationX>446</locationX>
        <locationY>2378</locationY>
        <collectionReference>Get_All_Eggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Egg_Event</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Egg_Events_on_Recipient_Cycle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_ANZARD</name>
        <label>Create ANZARD</label>
        <locationX>446</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Update_Recipient_ANZARD</targetReference>
        </connector>
        <inputAssignments>
            <field>CYCLE_ID__c</field>
            <value>
                <elementReference>Get_Recpient_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ANZARD_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Egg_Donation_Event</name>
        <label>Create Egg Donation Event</label>
        <locationX>446</locationX>
        <locationY>2162</locationY>
        <connector>
            <targetReference>Get_All_Eggs</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Egg_Cohort__c</field>
            <value>
                <elementReference>Get_Egg_Cohort.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Egg_Recipient__c</field>
            <value>
                <elementReference>Get_Cycle.Recipient_Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Egg_Donation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Egg_Donation_Event_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Egg_Events_on_Recipient_Cycle</name>
        <label>Create Egg Events on Recipient Cycle</label>
        <locationX>446</locationX>
        <locationY>2786</locationY>
        <inputReference>AllEggEvent</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Get_Recpient_Cycle</name>
        <label>Copy 2 of Get Recpient Cycle</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Recipient_Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fresh_Egg_Donor_Cycle_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Eggs</name>
        <label>Get All Eggs</label>
        <locationX>446</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Egg_Collected_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>248</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Fresh_Egg_Donor_Cycle_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohort</name>
        <label>Get Egg Cohort</label>
        <locationX>446</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Egg_Cohort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Eggs.Egg_Cohort__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>446</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Egg_Collected_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recpient_Cycle</name>
        <label>Get Recpient Cycle</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Egg_Donation_Date_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Recipient_Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active_Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Fresh_Egg_Donor_Cycle_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>446</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Recipient_Cycle_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Eggs Donated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Egg_Cohort</name>
        <label>Update Egg Cohort</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Create_ANZARD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Eggs.Egg_Cohort__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Patient_Donor__c</field>
            <value>
                <elementReference>Get_Recpient_Cycle.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Egg_Cohort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recipient_ANZARD</name>
        <label>Update Recipient ANZARD</label>
        <locationX>446</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CYCLE_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recpient_Cycle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>N_EGGREC_FRESH__c</field>
            <value>
                <elementReference>Get_Egg_Cohort.Total_Collected__c</elementReference>
            </value>
        </inputAssignments>
        <object>ANZARD_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recipient_Cycle</name>
        <label>Update Recipient Cycle</label>
        <locationX>314</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Update_Recipient_Cycle_Buttons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recpient_Cycle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Day_1__c</field>
            <value>
                <elementReference>Get_Cycle.Day_1__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Recipient_Cycle_Buttons</name>
        <label>Update Recipient Cycle Buttons</label>
        <locationX>446</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_Egg_Donation_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recpient_Cycle.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Day_1_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPU_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_Egg_Donation_Date_Screen</name>
        <label>Copy 1 of Egg Donation Date Screen</label>
        <locationX>446</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Eggs</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Date_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Do you confirm that all relevant donor paperwork has been completed including all consents before proceeding?&lt;/strong&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt; Note that this action will transfer all egg rights to the recipient. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); background-color: rgb(255, 255, 255);&quot;&gt;Recipient Details: {!Get_Recpient_Cycle.Patient__r.FirstName} {!Get_Recpient_Cycle.Patient__r.LastName} - {!Get_Recpient_Cycle.Patient__r.Patient_ID_Display_Formula__c} - {!Get_Recpient_Cycle.Patient__r.Birthdate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm Donation</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Egg_Donation_Date_Screen</name>
        <label>Egg Donation Date Screen</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Egg_Donation_Date_Screen</targetReference>
        </connector>
        <fields>
            <name>Date_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Select the date that you wish to donate eggs. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Egg_Donation_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Egg Donation Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recipeint_Warning</name>
        <label>Recipeint Warning</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warningext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This recipient has more than one cycle open and as such this cannot proceed. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Cycledata</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Cycle Open</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Copy_2_of_Get_Recpient_Cycle</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-8186&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Cycle Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Record_Type_Name_Text__c&quot;,&quot;guid&quot;:&quot;column-5cf1&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Record Type Name (Text)&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Egg_Donation_Event_Record_Type</name>
        <label>Get Egg Donation Event Record Type</label>
        <locationX>446</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Create_Egg_Donation_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Egg Donation Event</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Fresh_Egg_Donor_Cycle_Record_Type</name>
        <label>Get Fresh Egg Donor Cycle Record Type</label>
        <locationX>248</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Recpient_Cycle</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Fresh Egg Donor Cycle</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllEggEvent</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CountCycles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EggCycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
