force-app/main/default/flows/Create_Egg_Freeze_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Egg_to_Update</name>
        <label>Add Egg to Update</label>
        <locationX>1590</locationX>
        <locationY>2822</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEggVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Freeze_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Cohort_to_All</name>
        <label>Assign Egg Cohort to All</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>EggCohortsVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Values</name>
        <label>Assign Egg Values</label>
        <locationX>1590</locationX>
        <locationY>2714</locationY>
        <assignmentItems>
            <assignToReference>SingleEggVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Eggs_For_Freeze.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Device_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Device_Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Goblet_Colour__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Goblet_Colour</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Egg_Freeze_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Freeze_Scientist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StorageLocationsLookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Freeze_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FreezeDateOnly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Slow_Frozen__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Slow_Frozen</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Egg_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Eggs</name>
        <label>Assign to All Eggs</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Eggs_From_Cohort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Egg_Cohort_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Egg_Cohorts</name>
        <label>Assign to Egg Cohorts</label>
        <locationX>1458</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>EggCohortsforUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Update_Egg_Cohorts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Egg_Cohorts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Denude_Count</name>
        <label>Copy 1 of Denude Count</label>
        <locationX>1458</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>CountMII</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Denude_Count</name>
        <label>Copy 2 of Denude Count</label>
        <locationX>1722</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>CountMI</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>1458</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>SlowFreezeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eggs_For_Freeze</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Eggs</name>
        <label>Count Eggs</label>
        <locationX>1942</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>CountofEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Denuded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountNormal</name>
        <label>CountNormal</label>
        <locationX>1722</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>EggsforFreezeCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Eggs_For_Freeze</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Denude_Count</name>
        <label>Denude Count</label>
        <locationX>1722</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CountDenude</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Grade</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Updated_Egg_Cohort_Values</name>
        <label>Updated Egg Cohort Values</label>
        <locationX>1458</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>Update_Egg_Cohorts.Storage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FreezeDateOnly</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Egg_Cohorts.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StorageLocationsLookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Update_Egg_Cohorts.Freeze_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Freeze_Scientist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Egg_Cohorts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Denuded</name>
        <label>Denuded?</label>
        <locationX>1942</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Denuded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Eggs.Denuded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denude_Count</targetReference>
            </connector>
            <label>Yes Denuded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Freeze_Type</name>
        <label>Freeze Type</label>
        <locationX>1590</locationX>
        <locationY>2930</locationY>
        <defaultConnector>
            <targetReference>CountNormal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Slow_Freeze</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SingleEggVar.Slow_Frozen__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count</targetReference>
            </connector>
            <label>Slow Freeze</label>
        </rules>
    </decisions>
    <decisions>
        <name>Grade</name>
        <label>Grade</label>
        <locationX>1722</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MII</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Eggs.Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MII</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Denude_Count</targetReference>
            </connector>
            <label>MII</label>
        </rules>
        <rules>
            <name>M</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_All_Eggs.Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI - MII</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_All_Eggs.Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Denude_Count</targetReference>
            </connector>
            <label>M1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_Eggs_Found</name>
        <label>Non Eggs Found</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <defaultConnector>
            <targetReference>Loop_All_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Eggs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllEggs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Eggs_Error</targetReference>
            </connector>
            <label>No Eggs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>None_Found</name>
        <label>None Found</label>
        <locationX>886</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_to_All_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Eggs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Eggs_From_Cohort</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eggs</targetReference>
            </connector>
            <label>No Eggs</label>
        </rules>
    </decisions>
    <description>Allows for the freezing of eggs when their fate is denuded and grade is MI. Can be Run multiple times in a cycle and is used as a subflow from insem as well.</description>
    <dynamicChoiceSets>
        <name>DeviceColour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Device_Colour__c</picklistField>
        <picklistObject>Egg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Goblets</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Goblet_Colour__c</picklistField>
        <picklistObject>Egg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientists</name>
        <collectionReference>AllUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FreezeDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!FreezeDate_and_Time})</expression>
    </formulas>
    <interviewLabel>Developer Template Laboratory Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Egg Freeze Cycle Event</label>
    <loops>
        <name>Eggs_For_Freeze</name>
        <label>Eggs For Freeze</label>
        <locationX>1370</locationX>
        <locationY>2606</locationY>
        <collectionReference>EggsForFreeze</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Egg_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Egg_Cohorts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>710</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Egg_Cohorts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Eggs_From_Cohort</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Non_Eggs_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Eggs</name>
        <label>Loop All Eggs</label>
        <locationX>1370</locationX>
        <locationY>1382</locationY>
        <collectionReference>AllEggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Data_Collection_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Update_Egg_Cohorts</name>
        <label>Update Egg Cohorts</label>
        <locationX>1370</locationX>
        <locationY>3314</locationY>
        <collectionReference>EggCohortsVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Updated_Egg_Cohort_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Eggs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Freeze_Event</name>
        <label>Create Freeze Event</label>
        <locationX>1370</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>FreezeDate_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Eggs_Slow_Frozen__c</field>
            <value>
                <elementReference>SlowFreezeCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_of_Eggs_Vitrified__c</field>
            <value>
                <elementReference>EggsforFreezeCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Egg_Vitrification_Event_Record_ID.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Freeze_Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scientists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohorts</name>
        <label>Get Egg Cohorts</label>
        <locationX>710</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs_From_Cohort</name>
        <label>Get Eggs From Cohort</label>
        <locationX>886</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>None_Found</targetReference>
        </connector>
        <filterLogic>1 AND 3 AND (4 OR 2 OR 5)</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Eggs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MII</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denuded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MI - MII</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>710</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohorts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>1370</locationX>
        <locationY>4154</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Egg_Freeze_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Egg_Cohort</name>
        <label>Update Egg Cohort</label>
        <locationX>1370</locationX>
        <locationY>3830</locationY>
        <connector>
            <targetReference>Get_Egg_Vitrification_Event_Record_ID</targetReference>
        </connector>
        <inputReference>EggCohortsforUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs</name>
        <label>Update Eggs</label>
        <locationX>1370</locationX>
        <locationY>3722</locationY>
        <connector>
            <targetReference>Update_Egg_Cohort</targetReference>
        </connector>
        <inputReference>UpdatedEggs</inputReference>
    </recordUpdates>
    <screens>
        <name>Data_Collection_Screen</name>
        <label>Data Collection Screen</label>
        <locationX>1370</locationX>
        <locationY>2282</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Select_Eggs_for_Freeze</targetReference>
        </connector>
        <fields>
            <name>PatientDetailsText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: white; font-size: 16px;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Birthdate} - {!Get_Cycle.Patient__r.Mailing_Address__c} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Data_Collection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Data_Collection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FreezeDate_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Freeze Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Slow_Frozen</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Slow Frozen?</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Counts</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Total Eggs: &lt;/strong&gt;{!CountofEggs}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total Denuded: &lt;/strong&gt;{!CountDenude}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total MII: &lt;/strong&gt;{!CountMII}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Total MI: &lt;/strong&gt;{!CountMI} (Includes MI-MII)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Data_Collection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Freeze_Scientist</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>Freeze Scientist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Witness</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Witness</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Goblet_Colour</name>
                    <choiceReferences>Goblets</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Goblet Colour</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Device_Colour</name>
                    <choiceReferences>DeviceColour</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Device Colour</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>SingleEggVar.Device_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Eggs_Error</name>
        <label>No Eggs Error</label>
        <locationX>50</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoEggsFoundText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;There are no egg available that meet the freeze criteria. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Eggs_for_Freeze</name>
        <label>Select Eggs for Freeze</label>
        <locationX>1370</locationX>
        <locationY>2390</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Storage_Location_Selection</targetReference>
        </connector>
        <fields>
            <name>selectext</name>
            <fieldText>&lt;p&gt;Select the eggs from the below table that you would like to freeze. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EggsForFreezeTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllEggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Egg_Collected_In__c,Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:362, Cycle_Egg_Collected_In__c:363, Grade__c:362, Fate__c:362</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EggsForFreeze</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Storage_Location_Selection</name>
        <label>Storage Location Selection</label>
        <locationX>1370</locationX>
        <locationY>2498</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Eggs_For_Freeze</targetReference>
        </connector>
        <fields>
            <name>StorageText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Please choose a storage location for your selected samples.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>StorageLocationsLookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Storage_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Clinic__c=&apos;{!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Storage_Location_Risk__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Template_Laboratory_Process</sourceTemplate>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Egg_Vitrification_Event_Record_ID</name>
        <label>Get Egg Vitrification Event Record ID</label>
        <locationX>1370</locationX>
        <locationY>3938</locationY>
        <connector>
            <targetReference>Create_Freeze_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Egg Vitrification Event</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Scientists</name>
        <label>Get Scientists</label>
        <locationX>710</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>NeedScientist</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllUsers</assignToReference>
            <name>FinalUsers</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>AllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CountDenude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountMI</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountMII</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountofEggs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggCohort</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cohort__c</objectType>
    </variables>
    <variables>
        <name>EggCohortsforUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cohort__c</objectType>
    </variables>
    <variables>
        <name>EggCohortsVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cohort__c</objectType>
    </variables>
    <variables>
        <name>EggsForFreeze</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EggsforFreezeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleEggVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>SlowFreezeCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>UpdatedEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
</Flow>
