force-app/main/default/flows/Create_Embryo_Assessment_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Current_Day_Values</name>
        <label>Assign Current Day Values</label>
        <locationX>270</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>D2E.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpD2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_5_Discard</name>
        <label>Assign Day 5 Discard</label>
        <locationX>1986</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>D5E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Viable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_6_Discard</name>
        <label>Assign Day 6 Discard</label>
        <locationX>2602</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>D6E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Viable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_7_Discard</name>
        <label>Assign Day 7 Discard</label>
        <locationX>3218</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>D7E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Viable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_3_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Day_of_Assessment</name>
        <label>Assign Day of Assessment</label>
        <locationX>1722</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>AssessmentDay</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AssessmentDayFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Day</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fate_Day_2</name>
        <label>Assign Fate Day 2</label>
        <locationX>138</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>D2E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Viable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Current_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fate_Day_3</name>
        <label>Assign Fate Day 3</label>
        <locationX>754</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>D3E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Viable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Current_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Fate_Day_4</name>
        <label>Assign Fate Day 4</label>
        <locationX>1370</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>D4E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Viable</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Embryos</name>
        <label>Assign to All Embryos</label>
        <locationX>1986</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllEmbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Embryo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Embryos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Assessed</name>
        <label>Assign to Assessed</label>
        <locationX>1810</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>AssessedEmbryosVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Updated_Embryo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_To_Get_Assessed_Embryos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Current_Day_Values</name>
        <label>Copy 1 of Assign Current Day Values</label>
        <locationX>886</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>D3E.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpD3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Current_Day_Values</name>
        <label>Copy 1 of Copy 1 of Assign Current Day Values</label>
        <locationX>1502</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>D4E.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>UpD4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Assign Current Day Values</label>
        <locationX>2118</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>D5E.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>D5E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day5Choice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpD5</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Assign Current Day Values</label>
        <locationX>2734</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>D6E.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>D6E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day6Outcome.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpD6</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</name>
        <label>Copy 3 of Copy 1 of Copy 1 of Assign Current Day Values</label>
        <locationX>3350</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>D7E.Cycle_Day__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>D7E.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Day7Outcome.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpD7</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Icon_Assignmnet</name>
        <label>Icon Assignmnet</label>
        <locationX>1722</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:forecasts</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:recycle_bin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:apex_plugin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom97</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>D2_Outcome</name>
        <label>D2 Outcome</label>
        <locationX>270</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Assign_Current_Day_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discard_Day_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day2_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Viable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fate_Day_2</targetReference>
            </connector>
            <label>Discard Day 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>D3_Outcome</name>
        <label>D3 Outcome</label>
        <locationX>886</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Current_Day_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discard_Day_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day3Ongoing.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Viable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fate_Day_3</targetReference>
            </connector>
            <label>Discard Day 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>D4_Outcome</name>
        <label>D4 Outcome</label>
        <locationX>1502</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discard_Day_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day4Outcome.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Viable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Fate_Day_4</targetReference>
            </connector>
            <label>Discard Day 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>D5_Outcome</name>
        <label>D5 Outcome</label>
        <locationX>2118</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discard_Day_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day5Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Viable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Day_5_Discard</targetReference>
            </connector>
            <label>Discard Day 5</label>
        </rules>
    </decisions>
    <decisions>
        <name>D6_Outcome</name>
        <label>D6 Outcome</label>
        <locationX>2734</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discard_Day_6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day6Outcome.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Viable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Day_6_Discard</targetReference>
            </connector>
            <label>Discard Day 6</label>
        </rules>
    </decisions>
    <decisions>
        <name>D7_Outcome</name>
        <label>D7 Outcome</label>
        <locationX>3350</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Copy_3_of_Copy_1_of_Copy_1_of_Assign_Current_Day_Values</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Discard_Day_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day7Outcome.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Viable</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Day_7_Discard</targetReference>
            </connector>
            <label>Discard Day 7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day</name>
        <label>Day</label>
        <locationX>1722</locationX>
        <locationY>1490</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 2 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 3 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_3</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 4 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_4</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 5 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_5</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 6 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_6</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day_7_Assessment.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 7 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_7</targetReference>
            </connector>
            <label>7</label>
        </rules>
    </decisions>
    <decisions>
        <name>Day_0</name>
        <label>Day</label>
        <locationX>1722</locationX>
        <locationY>3338</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 2 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Embryos_0</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 3 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Embryos_0_0</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 4 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Embryos</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 5 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Embryos_0_0_0</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X6_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Assessment_Choice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 6 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Embryos_0_0_0_0</targetReference>
            </connector>
            <label>6</label>
        </rules>
        <rules>
            <name>X7_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Day_7_Assessment.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 7 Assessment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Edit_Embryos_0_0_0_0_0</targetReference>
            </connector>
            <label>7</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Embryo_Found</name>
        <label>No Embryo Found</label>
        <locationX>1898</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_to_All_Embryos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Avalible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Embryo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Embryos</targetReference>
            </connector>
            <label>None Avalible</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Scientists</name>
        <collectionReference>AllUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AssessmentDayFormula</name>
        <dataType>Number</dataType>
        <expression>IF(ISBLANK({!Day_7_Assessment.value}), VALUE(MID({!Assessment_Choice.value}, 5, 1)), VALUE(MID({!Day_7_Assessment.value}, 5, 1)))</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Developer Template Laboratory Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Embryo Assessment Event</label>
    <loops>
        <name>Day_2</name>
        <label>Day 2</label>
        <locationX>50</locationX>
        <locationY>1598</locationY>
        <collectionReference>AllEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>D2E</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Day_2_Embryo_Assessment_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Day_3</name>
        <label>Day 3</label>
        <locationX>666</locationX>
        <locationY>1598</locationY>
        <collectionReference>AllEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>D3E</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Day_3_Embryo_Assessment_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Day_4</name>
        <label>Day 4</label>
        <locationX>1282</locationX>
        <locationY>1598</locationY>
        <collectionReference>AllEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>D4E</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Day_4_Embryo_Assessment_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Day_5</name>
        <label>Day 5</label>
        <locationX>1898</locationX>
        <locationY>1598</locationY>
        <collectionReference>AllEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>D5E</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Day_5_Embryo_Assessment_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Day_6</name>
        <label>Day 6</label>
        <locationX>2514</locationX>
        <locationY>1598</locationY>
        <collectionReference>AllEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>D6E</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Day_6_Embryo_Assessment_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Day_7</name>
        <label>Day 7</label>
        <locationX>3130</locationX>
        <locationY>1598</locationY>
        <collectionReference>AllEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>D7E</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Day_7_Embryo_Assessment_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Embryos</name>
        <label>Loop Embryos</label>
        <locationX>1722</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Embryo_Cycle_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Embryo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Icon_Assignmnet</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_To_Get_Assessed_Embryos</name>
        <label>Loop To Get Assessed Embryos</label>
        <locationX>1722</locationX>
        <locationY>2822</locationY>
        <collectionReference>AllEmbryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Updated_Embryo</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Assessed_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Cycle_Event</name>
        <label>Copy 1 of Create Cycle Event</label>
        <locationX>666</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Loop_To_Get_Assessed_Embryos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Day_3_Embryo_Assessment_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_Cycle_Event</name>
        <label>Copy 2 of Create Cycle Event</label>
        <locationX>1282</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Loop_To_Get_Assessed_Embryos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Day_4_Embryo_Assessment_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_3_of_Create_Cycle_Event</name>
        <label>Copy 3 of Create Cycle Event</label>
        <locationX>1898</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Loop_To_Get_Assessed_Embryos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Day_5_Embryo_Assessment_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_4_of_Create_Cycle_Event</name>
        <label>Copy 4 of Create Cycle Event</label>
        <locationX>2514</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Loop_To_Get_Assessed_Embryos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Day_6_Embryo_Assessment_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_5_of_Create_Cycle_Event</name>
        <label>Copy 5 of Create Cycle Event</label>
        <locationX>3130</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Loop_To_Get_Assessed_Embryos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Day_7_Embryo_Assessment_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Cycle_Event</name>
        <label>Create Cycle Event</label>
        <locationX>50</locationX>
        <locationY>2630</locationY>
        <connector>
            <targetReference>Loop_To_Get_Assessed_Embryos</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Event_Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Day_2_Embryo_Assessment_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>D2E</name>
        <label>D2E</label>
        <locationX>270</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_2_Assessments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day_2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>D3E</name>
        <label>D3E</label>
        <locationX>886</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_3_Assessments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day_3.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>D4E</name>
        <label>D4E</label>
        <locationX>1502</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_4_Assessments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day_4.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>D5E</name>
        <label>D5E</label>
        <locationX>2118</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_5_Assessments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day_5.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>D6E</name>
        <label>D6E</label>
        <locationX>2734</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_6_Assessments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day_6.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>D7E</name>
        <label>D7E</label>
        <locationX>3350</locationX>
        <locationY>1706</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_7_Assessments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Day_7.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Assessed_Embryos</name>
        <label>Get Assessed Embryos</label>
        <locationX>1722</locationX>
        <locationY>3230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Created_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Day__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssessmentDayFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1722</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scientists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo</name>
        <label>Get Embryo</label>
        <locationX>1898</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Embryo_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Embryos.Embryo__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_Cycle_Events</name>
        <label>Get Embryo Cycle Events</label>
        <locationX>1722</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Embryo</name>
        <label>Get Updated Embryo</label>
        <locationX>1810</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Assessed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_To_Get_Assessed_Embryos.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1722</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryo_Cycle_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpD2</name>
        <label>UpD2</label>
        <locationX>270</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Day_2</targetReference>
        </connector>
        <inputReference>D2E</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpD3</name>
        <label>UpD3</label>
        <locationX>886</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Day_3</targetReference>
        </connector>
        <inputReference>D3E</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpD4</name>
        <label>UpD4</label>
        <locationX>1502</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Day_4</targetReference>
        </connector>
        <inputReference>D4E</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpD5</name>
        <label>UpD5</label>
        <locationX>2118</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Day_5</targetReference>
        </connector>
        <inputReference>D5E</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpD6</name>
        <label>UpD6</label>
        <locationX>2734</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Day_6</targetReference>
        </connector>
        <inputReference>D6E</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpD7</name>
        <label>UpD7</label>
        <locationX>3350</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Day_7</targetReference>
        </connector>
        <inputReference>D7E</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>1722</locationX>
        <locationY>3746</locationY>
        <connector>
            <targetReference>Finalise_Refresh</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Day_3_Embryo_Assessment_Completed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos</name>
        <label>Update Embryos</label>
        <locationX>1722</locationX>
        <locationY>3638</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputReference>UpdatedEDitsEmbryos</inputReference>
    </recordUpdates>
    <screens>
        <name>Day_2_Assessments</name>
        <label>Day 2 Assessments</label>
        <locationX>270</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D2_Outcome</targetReference>
        </connector>
        <fields>
            <name>EmbryoID</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Embryo # {!Day_2.Embryo_Number__c} - {!Day_2.Name} - {!Day_2.Fate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Day_2_Assessments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Day_2_Assessments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D2E.Day_2_Cell_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D2E.Day_2_Other__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Day_2_Assessments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D2E.Day_2_Fragmentation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D2E.Day_2_Points__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Day2_Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Embryo is Ongoing&quot;},{&quot;label&quot;:&quot;Not Viable&quot;,&quot;value&quot;:&quot;Embryo is No Longer Viable and will be Discarded&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Day_3_Assessments</name>
        <label>Day 3 Assessments</label>
        <locationX>886</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D3_Outcome</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_EmbryoID</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Embryo # {!Day_3.Embryo_Number__c} - {!Day_3.Name} - {!Day_3.Fate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Day_3_Assessments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Day_3_Assessments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D3E.Day_3_Cell_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D3E.Day_3_Other__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Day_3_Assessments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D3E.Day_3_Fragmentation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D3E.Day_3_Points__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Day3Ongoing</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Embryo is Ongoing &quot;},{&quot;label&quot;:&quot;Not Viable&quot;,&quot;value&quot;:&quot;Embryo is No Longer Viable and will be Discarded&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Day_4_Assessments</name>
        <label>Day 4 Assessments</label>
        <locationX>1502</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D4_Outcome</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_EmbryoID</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Embryo # {!Day_4.Embryo_Number__c} - {!Day_4.Name} - {!Day_4.Fate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Day_4_Assessments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Day_4_Assessments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D4E.Day_4_Cell_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D4E.Day_4_Other__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Day_4_Assessments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D4E.Day_4_Fragmentation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D4E.Day_4_Points__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Day4Outcome</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Embryo is Ongoing &quot;},{&quot;label&quot;:&quot;Not Viable&quot;,&quot;value&quot;:&quot;Embryo is No Longer Viable and will be Discarded&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Day_5_Assessments</name>
        <label>Day 5 Assessments</label>
        <locationX>2118</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D5_Outcome</targetReference>
        </connector>
        <fields>
            <name>Copy_3_of_EmbryoID</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Embryo # {!Day_5.Embryo_Number__c} - {!Day_5.Name} - {!Day_5.Fate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Day_5_Assessments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Day_5_Assessments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D5E.Day_5_Expansion__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D5E.Day_5_Other__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Day_5_Assessments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D5E.Day_5_ICM_Trophectoderm__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D5E.Day_5_Trifecdetderm__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D5E.Day_5_Overall_Grade__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Day5Choice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Embryo is ongoing&quot;},{&quot;label&quot;:&quot;Not Viable&quot;,&quot;value&quot;:&quot;Embryo is no longer viable and will be discarded&quot;},{&quot;label&quot;:&quot;For Freeze&quot;,&quot;value&quot;:&quot;Embryo should be frozen&quot;},{&quot;label&quot;:&quot;For Transfer&quot;,&quot;value&quot;:&quot;Embryo Identified for Transfer&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Day_6_Assessments</name>
        <label>Day 6 Assessments</label>
        <locationX>2734</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D6_Outcome</targetReference>
        </connector>
        <fields>
            <name>Copy_4_of_EmbryoID</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Embryo # {!Day_6.Embryo_Number__c} - {!Day_6.Name} - {!Day_6.Fate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Day_6_Assessments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Day_6_Assessments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D6E.Day_6_Expansion__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D6E.Day_6_Other__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Day_6_Assessments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D6E.Day_6_ICM_Trophectoderm__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D6E.Day_6_Trophectoderm__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D6E.Day_6_Overall_Grade__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Day6Outcome</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Embryo is Ongoing &quot;},{&quot;label&quot;:&quot;Not Viable&quot;,&quot;value&quot;:&quot;Embryo is No Longer Viable and will be Discarded&quot;},{&quot;label&quot;:&quot;For Transfer&quot;,&quot;value&quot;:&quot;Embryo has been identified for Transfer&quot;},{&quot;label&quot;:&quot;For Freeze&quot;,&quot;value&quot;:&quot;Embryo has be identified for Freeze&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Day_7_Assessments</name>
        <label>Day 7 Assessments</label>
        <locationX>3350</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>D7_Outcome</targetReference>
        </connector>
        <fields>
            <name>Copy_5_of_EmbryoID</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Embryo # {!Day_7.Embryo_Number__c} - {!Day_7.Name} - {!Day_7.Fate__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Day_7_Assessments_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Day_7_Assessments_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D7E.Day_7_Expansion__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D7E.Day_7_Other__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Day_7_Assessments_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D7E.Day_7_ICM_Trophectoderm__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D7E.Day_7_Trophectoderm__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>D7E.Day_7_Overall_Grade__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Day7Outcome</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ongoing&quot;,&quot;value&quot;:&quot;Embryo is Ongoing&quot;},{&quot;label&quot;:&quot;Not Viable&quot;,&quot;value&quot;:&quot;Embryo is No Longer Viable and will be Discarded&quot;},{&quot;label&quot;:&quot;For Transfer&quot;,&quot;value&quot;:&quot;Embryo  has been identified for Transfer&quot;},{&quot;label&quot;:&quot;For Freeze&quot;,&quot;value&quot;:&quot;Embryos has been identified for Freeze&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Embryos</name>
        <label>Edit Embryos</label>
        <locationX>1458</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <fields>
            <name>editExt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white;&quot;&gt;Edit embryos in the below table as required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_EmbryosD2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Day_2_Cell_Number__c:true, Day_2_Fragmentation__c:true, Day_2_Other__c:true, Day_2_Points__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_4_Cell_Number__c,Day_4_Fragmentation__c,Day_4_Other__c,Day_4_Points__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:175, Day_4_Cell_Number__c:165, Day_4_Fragmentation__c:165, Day_4_Other__c:165, Day_4_Points__c:165, Fate__c:175</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Assessed_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEDitsEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Embryos_0</name>
        <label>Edit Embryos</label>
        <locationX>930</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <fields>
            <name>editExt_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white;&quot;&gt;Edit embryos in the below table as required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_EmbryosD2_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Day_2_Cell_Number__c:true, Day_2_Fragmentation__c:true, Day_2_Other__c:true, Day_2_Points__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_2_Cell_Number__c,Day_2_Fragmentation__c,Day_2_Other__c,Day_2_Points__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:175, Day_2_Cell_Number__c:175, Day_2_Fragmentation__c:175, Day_2_Other__c:175, Day_2_Points__c:175, Fate__c:175</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Assessed_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEDitsEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Embryos_0_0</name>
        <label>Edit Embryos</label>
        <locationX>1194</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <fields>
            <name>editExt_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white;&quot;&gt;Edit embryos in the below table as required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_EmbryosD2_0_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Day_3_Cell_Number__c:true, Day_3_Fragmentation__c:true, Day_3_Other__c:true, Day_3_Points__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_3_Cell_Number__c,Day_3_Fragmentation__c,Day_3_Other__c,Day_3_Points__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:175, Day_3_Cell_Number__c:165, Day_3_Fragmentation__c:165, Day_3_Other__c:165, Day_3_Points__c:165, Fate__c:175</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Assessed_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEDitsEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Embryos_0_0_0</name>
        <label>Edit Embryos</label>
        <locationX>1722</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <fields>
            <name>editExt_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white;&quot;&gt;Edit embryos in the below table as required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_EmbryosD2_0_0_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Day_5_Expansion__c:true, Day_5_ICM_Trophectoderm__c:true, Day_5_Trifecdetderm__c:true, Day_5_Other__c:true, Day_5_Overall_Grade__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_5_Expansion__c,Day_5_ICM_Trophectoderm__c,Day_5_Trifecdetderm__c,Day_5_Other__c,Day_5_Overall_Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:175, Day_5_Expansion__c:130, Day_5_ICM_Trophectoderm__c:130, Day_5_Trifecdetderm__c:130, Day_5_Other__c:130, Day_5_Overall_Grade__c:130, Fate__c:175</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssessedEmbryosVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEDitsEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Embryos_0_0_0_0</name>
        <label>Edit Embryos</label>
        <locationX>1986</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <fields>
            <name>editExt_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white;&quot;&gt;Edit embryos in the below table as required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_EmbryosD2_0_0_0_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Day_6_Expansion__c:true, Day_6_ICM_Trophectoderm__c:true, Day_6_Trophectoderm__c:true, Day_6_Other__c:true, Day_6_Overall_Grade__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_6_Expansion__c,Day_6_ICM_Trophectoderm__c,Day_6_Trophectoderm__c,Day_6_Other__c,Day_6_Overall_Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:175, Day_6_Expansion__c:130, Day_6_ICM_Trophectoderm__c:130, Day_6_Trophectoderm__c:130, Day_6_Other__c:130, Day_6_Overall_Grade__c:130, Fate__c:175</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssessedEmbryosVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEDitsEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Embryos_0_0_0_0_0</name>
        <label>Edit Embryos</label>
        <locationX>2250</locationX>
        <locationY>3446</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <fields>
            <name>editExt_0_0_0_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: white;&quot;&gt;Edit embryos in the below table as required. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Edit_EmbryosD2_0_0_0_0_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Day_7_Expansion__c:true, Day_7_ICM_Trophectoderm__c:true, Day_7_Trophectoderm__c:true, Day_7_Other__c:true, Day_7_Overall_Grade__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Day_7_Expansion__c,Day_7_ICM_Trophectoderm__c,Day_7_Trophectoderm__c,Day_7_Other__c,Day_7_Overall_Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:175, Day_7_Expansion__c:130, Day_7_ICM_Trophectoderm__c:130, Day_7_Trophectoderm__c:130, Day_7_Other__c:130, Day_7_Overall_Grade__c:130, Fate__c:175</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AssessedEmbryosVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedEDitsEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Screen</name>
        <label>Event Screen</label>
        <locationX>1722</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Day_of_Assessment</targetReference>
        </connector>
        <fields>
            <name>Display_Patient</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Event_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Event Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scientist</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>Scientist Performing Check</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Witness</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Witness</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>$Flow.CurrentDate</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <dateValue>2023-05-24</dateValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Assessment_Choice</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Day 2 Assessment&quot;,&quot;value&quot;:&quot;Day 2 Assessment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Day 3 Assessment&quot;,&quot;value&quot;:&quot;Day 3 Assessment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Day 4 Assessment&quot;,&quot;value&quot;:&quot;Day 4 Assessment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Day 5 Assessment&quot;,&quot;value&quot;:&quot;Day 5 Assessment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:3},{&quot;label&quot;:&quot;Day 6 Assessment&quot;,&quot;value&quot;:&quot;Day 6 Assessment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;index&quot;:4}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Day_7_Assessment</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Day 7 Assessment&quot;,&quot;value&quot;:&quot;Day 7 Assessment&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:null,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finalise_Refresh</name>
        <label>Finalise Refresh</label>
        <locationX>1722</locationX>
        <locationY>3854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Refresh_Screen</name>
            <extensionName>c:flowRefreshComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Lab_Template_Advanced</sourceTemplate>
    <start>
        <locationX>1596</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Day_2_Embryo_Assessment_Record_Type</name>
        <label>Get Day 2 Embryo Assessment Record Type</label>
        <locationX>50</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Create_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Day 2 Embryo Assessment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Day_3_Embryo_Assessment_Record_Type</name>
        <label>Get Day 3 Embryo Assessment Record Type</label>
        <locationX>666</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Day 3 Embryo Assessment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Day_4_Embryo_Assessment_Record_Type</name>
        <label>Get Day 4 Embryo Assessment Record Type</label>
        <locationX>1282</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Copy_2_of_Create_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Day 4 Embryo Assessment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Day_5_Embryo_Assessment_Record_Type</name>
        <label>Get Day 5 Embryo Assessment Record Type</label>
        <locationX>1898</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Copy_3_of_Create_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Day 5 Embryo Assessment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Day_6_Embryo_Assessment_Record_Type</name>
        <label>Get Day 6 Embryo Assessment Record Type</label>
        <locationX>2514</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Copy_4_of_Create_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Day 6 Embryo Assessment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Day_7_Embryo_Assessment_Record_Type</name>
        <label>Get Day 7 Embryo Assessment Record Type</label>
        <locationX>3130</locationX>
        <locationY>2522</locationY>
        <connector>
            <targetReference>Copy_5_of_Create_Cycle_Event</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Day 7 Embryo Assessment</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Scientists</name>
        <label>Get Scientists</label>
        <locationX>1722</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>NeedScientist</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllUsers</assignToReference>
            <name>FinalUsers</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>AllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>AssessedEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>AssessedEmbryosVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>AssessmentDay</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedEDitsEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
</Flow>
