force-app/main/default/flows/Create_Live_Birth_Result.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_congenital_Malformations</name>
        <label>Assign congenital Malformations</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>BirthVar.Any_Congenital_Malformations__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Any_Congenital_Malformations_Text</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Foetal_Hearts_to_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_ID_to_BirthVar</name>
        <label>Assign Cycle ID to BirthVar</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>BirthVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Y_N_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Foetal_Hearts</name>
        <label>Assign Foetal Hearts</label>
        <locationX>512</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CountofFoetalHearts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Number_of_Foetal_Hearts__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofFoetalHearts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Number_of_Foetal_Hearts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pregnancy_Circumstances</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Foetal_Hearts_to_Var</name>
        <label>Assign Foetal Hearts to Var</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CountofFoetalHearts</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BirthVar.Number_of_Foetal_Hearts__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Baby_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:data_cloud</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:opportunity</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:story</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconVar</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:swarm_request</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Baby_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Record_Type_Id</name>
        <label>Assign Record Type Id</label>
        <locationX>512</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>BirthVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Live_Birth_Event_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Live_Birth_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Values_Blank</name>
        <label>Assign Baby Values Blank</label>
        <locationX>1106</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>BirthVar</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Baby_Choice_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Y_N_Icons</name>
        <label>Assign Y/N Icons</label>
        <locationX>974</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>YNIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YNIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:first_non_empty</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Another_Baby_Quickchoice</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Another_Decision</name>
        <label>Add Another Decision</label>
        <locationX>974</locationX>
        <locationY>1730</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Commit_Baby</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddBabyChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cycle_Outcome</targetReference>
            </connector>
            <label>Commit Baby</label>
        </rules>
        <rules>
            <name>Add_Another</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddBabyChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Values_Blank</targetReference>
            </connector>
            <label>Add Another</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cycle_Outcome</name>
        <label>Cycle Outcome</label>
        <locationX>578</locationX>
        <locationY>1838</locationY>
        <defaultConnector>
            <targetReference>Update_Cycle_Pregnancy_Outcome_Unknown</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Livebirth</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>BirthVar.What_was_the_outcome_for_this_baby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Livebirth/Survived</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BirthVar.What_was_the_outcome_for_this_baby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Neonatal Death (Livebirth/Died &lt; 28 Days)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_Pregnancy_Outcome</targetReference>
            </connector>
            <label>Livebirth</label>
        </rules>
        <rules>
            <name>Stillbirth</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BirthVar.What_was_the_outcome_for_this_baby__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Stillbirth</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_Pregnancy_Outcome_Stillbirth</targetReference>
            </connector>
            <label>Stillbirth</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pregnancy_Outcome</name>
        <label>Pregnancy Outcome</label>
        <locationX>512</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Assign_Icons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BirthVar.Termination__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Cycle_Outcome</targetReference>
            </connector>
            <label>Yes Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Baby_to_Update</name>
        <label>Which Baby to Update</label>
        <locationX>974</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Baby_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Babychoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baby 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Baby_1</targetReference>
            </connector>
            <label>Baby 1</label>
        </rules>
        <rules>
            <name>Baby_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Babychoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baby 2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Baby_2</targetReference>
            </connector>
            <label>Baby 2</label>
        </rules>
        <rules>
            <name>Baby_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Babychoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baby 3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Baby_3</targetReference>
            </connector>
            <label>Baby 3</label>
        </rules>
        <rules>
            <name>Baby_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Babychoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Baby 4</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Baby_4</targetReference>
            </connector>
            <label>Baby 4</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Multiple_Baby_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Multiple_baby_birth__c</picklistField>
        <picklistObject>Cycle_Event__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AssignBabyNumbers</name>
        <dataType>Number</dataType>
        <expression>{!NumberofFoetalHearts}-{!CountofFoetalHearts}+1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Create Live Birth Result {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Live Birth Result</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Live_Birth_Cycle_Event</name>
        <label>Create Live Birth Cycle Event</label>
        <locationX>512</locationX>
        <locationY>2522</locationY>
        <inputReference>BirthVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>512</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Foetal_Hearts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Baby_1</name>
        <label>Update Baby 1</label>
        <locationX>446</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_Cycle_ID_to_BirthVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Abnormalities_in_First_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Any_Congenital_Malformations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthweight_of_First_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Baby_Weight_in_Grams__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Born_Date_of_Neonatal_Death__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Neonatal_Death__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_of_First_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_outcome_for_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_End_Date__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_of_First_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_sex_of_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Baby_2</name>
        <label>Update Baby 2</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_Cycle_ID_to_BirthVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Abnormalities_in_Second_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Any_Congenital_Malformations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthweight_of_Second_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Baby_Weight_in_Grams__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_of_Second_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_outcome_for_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_End_Date__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Second_Born_Date_of_Neonatal_Death__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Neonatal_Death__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_of_Second_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_sex_of_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Baby_3</name>
        <label>Update Baby 3</label>
        <locationX>974</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_Cycle_ID_to_BirthVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Abnormalities_in_Third_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Any_Congenital_Malformations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthweight_of_Third_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Baby_Weight_in_Grams__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_of_Third_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_outcome_for_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_End_Date__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_of_Third_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_sex_of_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Third_Born_Date_of_Neonatal_Death__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Neonatal_Death__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Baby_4</name>
        <label>Update Baby 4</label>
        <locationX>1238</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Assign_Cycle_ID_to_BirthVar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Abnormalities_in_Fourth_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Any_Congenital_Malformations__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Birthweight_of_Fourth_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.Baby_Weight_in_Grams__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fourth_Born_Date_of_Neonatal_Death__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Neonatal_Death__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Outcome_of_Fourth_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_outcome_for_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_End_Date__c</field>
            <value>
                <elementReference>BirthVar.Date_of_Birth__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex_of_Fourth_Born_Baby__c</field>
            <value>
                <elementReference>BirthVar.What_was_the_sex_of_this_baby__c</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_Outcome</name>
        <label>Update Cycle Outcome</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Get_Live_Birth_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Pregnancy Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_Pregnancy_Outcome</name>
        <label>Update Cycle Pregnancy Outcome</label>
        <locationX>314</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_Live_Birth_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Live Birth</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Live Birth</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_Pregnancy_Outcome_Stillbirth</name>
        <label>Update Cycle Pregnancy Outcome - Stillbirth</label>
        <locationX>578</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_Live_Birth_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
            <value>
                <stringValue>Still Birth</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_Pregnancy_Outcome_Unknown</name>
        <label>Update Cycle Pregnancy Outcome - Unknown</label>
        <locationX>842</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_Live_Birth_Event_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Cycle_Outcome__c</field>
            <value>
                <stringValue>Clinical Pregnancy</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pregnancy_Outcome__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <screens>
        <name>Another_Baby_Quickchoice</name>
        <label>Another Baby Quickchoice</label>
        <locationX>974</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Another_Decision</targetReference>
        </connector>
        <fields>
            <name>AddBabyChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Yes&quot;,&quot;value&quot;:&quot;Enter Another Baby&quot;},{&quot;label&quot;:&quot;No&quot;,&quot;value&quot;:&quot;Finish &amp; Create Live Birth Event&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>YNIcons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Baby_Choice_Screen</name>
        <label>Baby Choice Screen</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Live_Birth_Information</targetReference>
        </connector>
        <fields>
            <name>Babytext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Which baby would you like to enter data against?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Babychoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>IconVar</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Baby 1&quot;,&quot;value&quot;:&quot;Enter data for the first born baby&quot;},{&quot;label&quot;:&quot;Baby 2&quot;,&quot;value&quot;:&quot;Enter data for the second born baby&quot;},{&quot;label&quot;:&quot;Baby 3&quot;,&quot;value&quot;:&quot;Enter data for the third born baby&quot;},{&quot;label&quot;:&quot;Baby 4&quot;,&quot;value&quot;:&quot;Enter data for the fourth born baby&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Live_Birth_Information</name>
        <label>Live Birth Information</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_congenital_Malformations</targetReference>
        </connector>
        <fields>
            <name>No_of_Babies_text</name>
            <fieldText>&lt;p&gt;We have recorded &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!NumberofFoetalHearts}&lt;/span&gt; of foetal hearts for this cycle. Please begin by entering the detail for {!AssignBabyNumbers}. &lt;strong&gt;Please do not complete the below data for miscarried baby under 20 weeks.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Date_of_Birth__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.What_was_the_outcome_for_this_baby__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.What_was_the_sex_of_this_baby__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Baby_Weight_in_Grams__c</objectFieldReference>
        </fields>
        <fields>
            <name>Any_Congenital_Malformations_Text</name>
            <dataType>String</dataType>
            <fieldText>Any Congenital Malformations?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Too many characters, please limit this data entry to only 254 characters in length.&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!Any_Congenital_Malformations_Text}) &lt; 254</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Date_of_Neonatal_Death__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Number_of_Foetal_Hearts__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pregnancy_Circumstances</name>
        <label>Pregnancy Circumstances</label>
        <locationX>512</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Pregnancy_Outcome</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Termination__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Date_of_Termination__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Reduction__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Additional_Information__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Maternal_Pregnancy_complications__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>BirthVar.Delivery_Method__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>386</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Live_Birth_Event_Record_Type</name>
        <label>Get Live Birth Event Record Type</label>
        <locationX>512</locationX>
        <locationY>2306</locationY>
        <connector>
            <targetReference>Assign_Record_Type_Id</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Live Birth Event</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>BirthVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CountofFoetalHearts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>IconVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberOfBabiesDelivered</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberofFoetalHearts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YNIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
