force-app/main/default/flows/Create_Denude_CocTrim_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_updated_Eggs</name>
        <label>Add to updated Eggs</label>
        <locationX>1282</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEggVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Denude_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_of_Treatment_Type</name>
        <label>Assign Count of Treatment Type</label>
        <locationX>1986</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>NumberforDenude</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_to_denude</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberforTrim</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_many_to_trim</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Denude_Value</name>
        <label>Assign Denude Value</label>
        <locationX>1018</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>SingleEggVar.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grade_Icons.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denude_Eggs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Denuded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Denuded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Trimmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_updated_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Denude_Value_Discard</name>
        <label>Assign Denude Value Discard</label>
        <locationX>1282</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>SingleEggVar.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grade_Icons.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Denude_Eggs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Denuded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Trimmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_updated_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Value</name>
        <label>Assign Egg Value</label>
        <locationX>1414</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>SingleEggVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Trimmed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Trimmed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>All_Eggs_Coc_Trim.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Egg_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eggs_for_Denude</name>
        <label>Assign Eggs for Denude</label>
        <locationX>930</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>EggsforDenude</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EggsToDenude.selectedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Denude_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Eggs_for_Trim</name>
        <label>Assign Eggs for Trim</label>
        <locationX>1326</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>EggsforTrim</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AllEggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Eggs_Coc_Trim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grade</name>
        <label>Assign Grade</label>
        <locationX>1282</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>EggGradeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Grade_Icons.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discard_or_Keep</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Grade_Icons</name>
        <label>Assign Grade Icons</label>
        <locationX>930</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom3</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom4</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom6</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom7</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GradeIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom8</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>1590</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:channel_programs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:channel_program_history</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:cms</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Dunude_Or_Coc_Trim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Egg_Collection</name>
        <label>Assign to All Egg Collection</label>
        <locationX>1414</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>UpdatedEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEggVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_Eggs_Coc_Trim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Eggs</name>
        <label>Assign to All Eggs</label>
        <locationX>820</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AllEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Eggs</name>
        <label>Count Eggs</label>
        <locationX>820</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AllEggCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllEggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eggs_For_Denude</name>
        <label>Eggs For Denude</label>
        <locationX>2206</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>DenudeCountVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Done_All_For_Denude</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eggs_for_Denude_Assignmnet</name>
        <label>Eggs for Denude Assignmnet</label>
        <locationX>2074</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>EggsforDenude</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Eggs_for_Trim</name>
        <label>Eggs for Trim</label>
        <locationX>2338</locationX>
        <locationY>1970</locationY>
        <assignmentItems>
            <assignToReference>EggsforTrim</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_All_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_All_Eggs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Action_Type</name>
        <label>Action Type</label>
        <locationX>1590</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Denude</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DenudeQuickChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Just Denude</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Grade_Icons</targetReference>
            </connector>
            <label>Denude</label>
        </rules>
        <rules>
            <name>Coc_Trim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DenudeQuickChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Just Coc Trim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Eggs_for_Trim</targetReference>
            </connector>
            <label>Coc Trim</label>
        </rules>
        <rules>
            <name>Both</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DenudeQuickChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Denude and Coc Trim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_for_Each</targetReference>
            </connector>
            <label>Both</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discard_or_Keep</name>
        <label>Discard or Keep</label>
        <locationX>1282</locationX>
        <locationY>2078</locationY>
        <defaultConnector>
            <targetReference>Add_to_updated_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Keep</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EggGradeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EggGradeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MII</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EggGradeVar</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI - MII</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Denude_Value</targetReference>
            </connector>
            <label>Keep</label>
        </rules>
        <rules>
            <name>Discard</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>EggGradeVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EggGradeVar</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>MII</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Denude_Value_Discard</targetReference>
            </connector>
            <label>Discard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Done_All_For_Denude</name>
        <label>Done All For Denude?</label>
        <locationX>2206</locationX>
        <locationY>1862</locationY>
        <defaultConnector>
            <targetReference>Eggs_for_Trim</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_All_for_Denude_Counted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DenudeCountVar</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NumberforDenude</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eggs_for_Denude_Assignmnet</targetReference>
            </connector>
            <label>Yes All for Denude Counted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_On_TO_Denude</name>
        <label>Move On To Denude?</label>
        <locationX>1326</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Update_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Move_On</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Both</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Denude_Eggs</targetReference>
            </connector>
            <label>Yes Move On</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Eggs</name>
        <label>No Eggs?</label>
        <locationX>820</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>Assign_Icons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Eggs_Avalible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Eggs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Eggs_Screen</targetReference>
            </connector>
            <label>No Eggs</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>EggGrade</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grade__c</picklistField>
        <picklistObject>Egg__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientists</name>
        <collectionReference>AllUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RoundDownEggs</name>
        <dataType>Number</dataType>
        <expression>FLOOR({!AllEggCount}/2)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RoundUpEggs</name>
        <dataType>Number</dataType>
        <expression>CEILING({!AllEggCount}/2)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Developer Template Laboratory Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Denude/CocTrim Cycle Event</label>
    <loops>
        <name>All_Eggs_Coc_Trim</name>
        <label>All Eggs Coc Trim</label>
        <locationX>1326</locationX>
        <locationY>1538</locationY>
        <collectionReference>EggsforTrim</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Egg_Value</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Move_On_TO_Denude</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Denude_Eggs</name>
        <label>Denude Eggs</label>
        <locationX>930</locationX>
        <locationY>1754</locationY>
        <collectionReference>EggsforDenude</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Denude_Screen</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Eggs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_All_Eggs</name>
        <label>Loop All Eggs</label>
        <locationX>1986</locationX>
        <locationY>1646</locationY>
        <collectionReference>AllEggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Eggs_For_Denude</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>All_Eggs_Coc_Trim</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Event_Record</name>
        <label>Create Cycle Event Record</label>
        <locationX>1590</locationX>
        <locationY>2762</locationY>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Egg_Cohort__c</field>
            <value>
                <elementReference>Get_Egg_Cohort.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Date_and_Time__c</field>
            <value>
                <elementReference>Date_and_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0125g000000ae3k</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Scientist__c</field>
            <value>
                <elementReference>Scientist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Witness__c</field>
            <value>
                <elementReference>Witness</elementReference>
            </value>
        </inputAssignments>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scientists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohort</name>
        <label>Get Egg Cohort</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eggs_Available_For_Insemination__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reserved_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Fate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Egg_Cohort.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Eggs_for_Review</name>
        <label>Get Final Eggs for Review</label>
        <locationX>1590</locationX>
        <locationY>2978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Review_Denudes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Egg_Collected_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohort</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Final_Egg_Update</name>
        <label>Final Egg Update</label>
        <locationX>1590</locationX>
        <locationY>3194</locationY>
        <inputReference>FinalUpdateEggs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>1590</locationX>
        <locationY>2870</locationY>
        <connector>
            <targetReference>Get_Final_Eggs_for_Review</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Denuding_Trimming_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs</name>
        <label>Update Eggs</label>
        <locationX>1590</locationX>
        <locationY>2654</locationY>
        <connector>
            <targetReference>Create_Cycle_Event_Record</targetReference>
        </connector>
        <inputReference>UpdatedEggs</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Coc_Trim_Screen</name>
        <label>Coc Trim Screen</label>
        <locationX>1590</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Action_Type</targetReference>
        </connector>
        <fields>
            <name>Patinetetails</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: white;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c} - DOB: {!Get_Cycle.Patient__r.Birthdate}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Coc_Trim_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Coc_Trim_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Coc_Trim_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scientist</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_User.Id</elementReference>
                    </defaultValue>
                    <fieldText>Scientist</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Witness</name>
                    <choiceReferences>Scientists</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Witness</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Denude_Screen</name>
        <label>Denude Screen</label>
        <locationX>1282</locationX>
        <locationY>1862</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Grade</targetReference>
        </connector>
        <fields>
            <name>GradeText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!Get_Cycle.Patient__r.LastName}&lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt; - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c} - {!Get_Cycle.Patient__r.Birthdate}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please select a grade for &lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Denude_Eggs.Name}.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Grade_Icons</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldName</name>
                <value>
                    <stringValue>Grade__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>GradeIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;MII&quot;,&quot;value&quot;:&quot;MII&quot;},{&quot;label&quot;:&quot;MI - MII&quot;,&quot;value&quot;:&quot;MI - MII&quot;},{&quot;label&quot;:&quot;MI&quot;,&quot;value&quot;:&quot;MI&quot;},{&quot;label&quot;:&quot;GV&quot;,&quot;value&quot;:&quot;GV&quot;},{&quot;label&quot;:&quot;RZ&quot;,&quot;value&quot;:&quot;RZ&quot;},{&quot;label&quot;:&quot;EZ&quot;,&quot;value&quot;:&quot;EZ&quot;},{&quot;label&quot;:&quot;Abn&quot;,&quot;value&quot;:&quot;Abn&quot;},{&quot;label&quot;:&quot;No Oocyte&quot;,&quot;value&quot;:&quot;No Oocyte&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Dunude_Or_Coc_Trim</name>
        <label>Dunude Or Coc Trim</label>
        <locationX>1590</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Coc_Trim_Screen</targetReference>
        </connector>
        <fields>
            <name>DenudeQuickChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Just Denude&quot;,&quot;value&quot;:&quot;Just denude all eggs available for the patient&quot;},{&quot;label&quot;:&quot;Just Coc Trim&quot;,&quot;value&quot;:&quot;Just coc trim all eggs available for the patient&quot;},{&quot;label&quot;:&quot;Denude and Coc Trim&quot;,&quot;value&quot;:&quot;Both Denude and Coc Trim Eggs form the available batches&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2250</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Eggs</targetReference>
        </connector>
        <fields>
            <name>ErrorScreenText</name>
            <fieldText>&lt;p&gt;There has been an error. Please report this to admin. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Many_for_Each</name>
        <label>How Many for Each?</label>
        <locationX>1986</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Count_of_Treatment_Type</targetReference>
        </connector>
        <fields>
            <name>HowManyEggsText</name>
            <fieldText>&lt;p&gt;You have {!AllEggCount} eggs available please select how many you wish to perform each procedure on.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_many_to_denude</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RoundUpEggs</elementReference>
            </defaultValue>
            <fieldText>How many to denude?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>How_many_to_trim</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>RoundDownEggs</elementReference>
            </defaultValue>
            <fieldText>How many to trim?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Eggs_Screen</name>
        <label>No Eggs Screen</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoeggsFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;We cant find any eggs to denude!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Denudes</name>
        <label>Review Denude</label>
        <locationX>1590</locationX>
        <locationY>3086</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Final_Egg_Update</targetReference>
        </connector>
        <fields>
            <name>RevieText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Review and alter data below as required. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Review_Eggs</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Grade__c:true, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Egg_Number__c,Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:213, Egg_Number__c:144, Grade__c:277, Fate__c:486</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Final_Eggs_for_Review</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>FinalUpdateEggs</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Eggs</name>
        <label>Select Eggs</label>
        <locationX>930</locationX>
        <locationY>1538</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Eggs_for_Denude</targetReference>
        </connector>
        <fields>
            <name>EggsToDenude</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Eggs to Denude</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Eggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-88b0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Egg Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Egg_Number__c&quot;,&quot;guid&quot;:&quot;column-302c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Egg Number&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;&quot;,&quot;guid&quot;:&quot;column-2b48&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Template_Laboratory_Process</sourceTemplate>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Scientists</name>
        <label>Get Scientists</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>NeedScientist</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllUsers</assignToReference>
            <name>FinalUsers</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllEggCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AllEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>AllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>DenudeCountVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggGradeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EggsforDenude</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EggsforTrim</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>FinalUpdateEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>GradeIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberforDenude</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NumberforTrim</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleEggVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>UpdatedEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
</Flow>
