force-app/main/default/flows/Create_Storage_Extension_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Type</name>
        <label>Get Object Type</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Record_Type_ID</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <outputParameters>
            <assignToReference>ObjectFromRecordID</assignToReference>
            <name>objectApiName</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Semen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectFromRecordID</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Semen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sperm</targetReference>
            </connector>
            <label>Semen</label>
        </rules>
        <rules>
            <name>Egg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectFromRecordID</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Egg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Egg</targetReference>
            </connector>
            <label>Egg</label>
        </rules>
        <rules>
            <name>Embryo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObjectFromRecordID</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Embryo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Embryos</targetReference>
            </connector>
            <label>Embryo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Storage Extension Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Storage Extension Event</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_GME_Event</name>
        <label>Copy 1 of Create GME Event</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Eggs</targetReference>
        </connector>
        <inputAssignments>
            <field>Egg_Cohort__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Extended_To__c</field>
            <value>
                <elementReference>GMEvar.Storage_Extended_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>Genetic_Material_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_2_of_Create_GME_Event</name>
        <label>Copy 2 of Create GME Event</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Embryos</targetReference>
        </connector>
        <inputAssignments>
            <field>Embryo_Batch__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Extended_To__c</field>
            <value>
                <elementReference>GMEvar.Storage_Extended_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>Genetic_Material_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_GME_Event</name>
        <label>Create GME Event</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Update_Sperm</targetReference>
        </connector>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_ID.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Semen_Sample__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Extended_To__c</field>
            <value>
                <elementReference>GMEvar.Storage_Extended_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>Genetic_Material_Events__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Egg</name>
        <label>Get Egg</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_ExtensionDataEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_ExtensionDataEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_ID</name>
        <label>Get Record Type ID</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Storage</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sperm</name>
        <label>Get Sperm</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ExtensionDataEntry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Eggs</name>
        <label>Update Eggs</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Storage_Extended_To__c</field>
            <value>
                <elementReference>GMEvar.Storage_Extended_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>Egg_Cohort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos</name>
        <label>Update Embryos</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Storage_Extended_To__c</field>
            <value>
                <elementReference>GMEvar.Storage_Extended_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sperm</name>
        <label>Update Sperm</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Storage_Extended_To__c</field>
            <value>
                <elementReference>GMEvar.Storage_Extended_To__c</elementReference>
            </value>
        </inputAssignments>
        <object>Semen_Sample__c</object>
    </recordUpdates>
    <screens>
        <name>Copy_1_of_ExtensionDataEntry</name>
        <label>Copy 1 of ExtensionDataEntry</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_GME_Event</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Please enter details of the storage extension below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>GMEvar.Storage_Extended_To__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_ExtensionDataEntry</name>
        <label>Copy 2 of ExtensionDataEntry</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_Create_GME_Event</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Please enter details of the storage extension below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>GMEvar.Storage_Extended_To__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ExtensionDataEntry</name>
        <label>ExtensionDataEntry</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_GME_Event</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;Please enter details of the storage extension below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>GMEvar.Storage_Extended_To__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>GMEvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Genetic_Material_Events__c</objectType>
    </variables>
    <variables>
        <name>ObjectFromRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
