force-app/main/default/flows/Create_Egg_Insemination_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Refresh</name>
        <label>Refresh</label>
        <locationX>1876</locationX>
        <locationY>9878</locationY>
        <actionName>c:UpdateScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:UpdateScreen</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_Fina_l</name>
        <label>Add to Fina;l</label>
        <locationX>1964</locationX>
        <locationY>6782</locationY>
        <assignmentItems>
            <assignToReference>FinalEmbryosforCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Renumber_Embryos_and_Assign_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Embryo_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_final_Semen_Collection</name>
        <label>Add To final Semen Collection</label>
        <locationX>820</locationX>
        <locationY>3722</locationY>
        <assignmentItems>
            <assignToReference>FinalSememSampleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Final_Semen_Sample</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Event_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>All_to_Inseminated_Collection</name>
        <label>All to Inseminated Collection</label>
        <locationX>1942</locationX>
        <locationY>5186</locationY>
        <assignmentItems>
            <assignToReference>InseminatedEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>InseminatedEggvar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Embryo_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Allocate_to_All</name>
        <label>Allocate to All</label>
        <locationX>1216</locationX>
        <locationY>3014</locationY>
        <assignmentItems>
            <assignToReference>AllSemenSamples</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Semen_Smaple</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Semen_Sample_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Batch</name>
        <label>Assign Batch</label>
        <locationX>1876</locationX>
        <locationY>6242</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renumber_Embryos_and_Assign_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Batch_After_Exisiting</name>
        <label>Assign Batch After Exisiting</label>
        <locationX>1964</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Embryo_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Insem_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScientistVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Fina_l</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Batch_Var</name>
        <label>Assign Batch Var</label>
        <locationX>1766</locationX>
        <locationY>5918</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Reserved_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Household__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Embryo_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>1414</locationX>
        <locationY>5918</locationY>
        <assignmentItems>
            <assignToReference>EmbryoNumber</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Existing_Embryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Existing_Embryo_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Values</name>
        <label>Assign Egg Values</label>
        <locationX>1942</locationX>
        <locationY>5078</locationY>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Date_Time_Inseminated__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insemination_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Egg_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Comments_About_Egg</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>All_to_Inseminated_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Batch</name>
        <label>Assign Embryo Batch</label>
        <locationX>1854</locationX>
        <locationY>6350</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Embryo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Event_Values</name>
        <label>Assign Embryo Event Values</label>
        <locationX>1854</locationX>
        <locationY>6566</locationY>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Embryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Embryo_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Event_Values_0</name>
        <label>Assign Embryo Event Values</label>
        <locationX>1964</locationX>
        <locationY>6998</locationY>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoEventVar.Embryo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Embryo_Events_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Values</name>
        <label>Assign Embryo Values</label>
        <locationX>1942</locationX>
        <locationY>5294</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Age_at_Embryo_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Insem_Type.Age_of_Egg_At_OPU__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Ongoing</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Insem_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InseminatedEggvar.Insemination_Method__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Cycle_Created_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Related_Egg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Insem_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Semen_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Semen_Sample.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Embryo_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoNumber</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoVar.Insem_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScientistVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_for_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_for_Creation</name>
        <label>Assign for Creation</label>
        <locationX>1942</locationX>
        <locationY>5402</locationY>
        <assignmentItems>
            <assignToReference>EmbryosforCreation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Insem_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GV_Count</name>
        <label>Assign GV Count</label>
        <locationX>3108</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>GVCOUNT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Eggs_for_Insem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ICons</name>
        <label>Assign ICons</label>
        <locationX>1722</locationX>
        <locationY>7946</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:recyclebin</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:forecasts</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Discard</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ICSI</name>
        <label>Assign ICSI</label>
        <locationX>1942</locationX>
        <locationY>4778</locationY>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Insem_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Insemination_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICSIINsemFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Cycle_Egg_Consumed_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ICSICOUNT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Insem_Type.Grade__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Egg_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_IVF</name>
        <label>Assign IVF</label>
        <locationX>2206</locationX>
        <locationY>4778</locationY>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Find_Insem_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Insemination_Method__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>IVF</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Cycle_Egg_Consumed_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>InseminatedEggvar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Consumed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IVFCOUNT</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Egg_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MI_Count</name>
        <label>Assign MI Count</label>
        <locationX>2844</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>MICount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Eggs_for_Insem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MI_Count_0</name>
        <label>Assign MI Count</label>
        <locationX>2316</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>CountDenuded</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Eggs_for_Denude_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MII_Count</name>
        <label>Assign MII Count</label>
        <locationX>2316</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>MIICount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Eggs_for_Insem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MII_Count_0_0_0_0</name>
        <label>Assign MII Count</label>
        <locationX>3372</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>OtherCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Eggs_for_Insem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_MII_MI_Count</name>
        <label>Assign MII-MI Count</label>
        <locationX>2580</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>MIMIICount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Total_Eggs_for_Insem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Scientist</name>
        <label>Assign Scientist</label>
        <locationX>50</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScientistVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Event_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semen_Count</name>
        <label>Assign Semen Count</label>
        <locationX>820</locationX>
        <locationY>2582</locationY>
        <assignmentItems>
            <assignToReference>SemenEventCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Semen_Prep_Cycle_Events</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Semen_Prep_is_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Eggs</name>
        <label>Assign to All Eggs</label>
        <locationX>2228</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>AllEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Egg_Cohorts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Embryo_Events</name>
        <label>Assign to All Embryo Events</label>
        <locationX>1854</locationX>
        <locationY>6674</locationY>
        <assignmentItems>
            <assignToReference>AllEmbryoEventVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Embryo_Events_0</name>
        <label>Assign to All Embryo Events</label>
        <locationX>1964</locationX>
        <locationY>7106</locationY>
        <assignmentItems>
            <assignToReference>AllEmbryoEventVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Renumber_Embryos_and_Assign_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CE_Variable</name>
        <label>Assign to CE Variable</label>
        <locationX>1876</locationX>
        <locationY>7406</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Event_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insemination_Date_and_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Number_of_Eggs_Inseminated_with_ICSI__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ICSICOUNT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Number_of_Eggs_Inseminated_with_IVF__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IVFCOUNT</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Reason_Insem_Method_Changed__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_New_Method_is_Being_Selected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Egg_Insemination_Event_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScientistVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Witness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WitnessVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Ebm_Var</name>
        <label>Assign to Ebm Var</label>
        <locationX>1964</locationX>
        <locationY>6566</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Renumber_Embryos_and_Assign_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Batch_After_Exisiting</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Final_Prep_Event</name>
        <label>Assign to Final Prep Event</label>
        <locationX>512</locationX>
        <locationY>2906</locationY>
        <assignmentItems>
            <assignToReference>FinalPrepEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Semen_Prep_Cycle_Event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Final_Semen_Sample</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Final_Prep_Event_0</name>
        <label>Assign to Final Prep Event</label>
        <locationX>1128</locationX>
        <locationY>3422</locationY>
        <assignmentItems>
            <assignToReference>FinalPrepEvent</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Final_Prep_Event</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Final_Semen_Sample</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Var</name>
        <label>Assign Var</label>
        <locationX>1854</locationX>
        <locationY>6242</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign_to_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Embryo_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Witness</name>
        <label>Assign Witness</label>
        <locationX>314</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Patient_ID_Witness_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WitnessVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Event_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_All_Eggs</name>
        <label>Copy 1 of Assign to All Eggs</label>
        <locationX>1678</locationX>
        <locationY>8486</locationY>
        <assignmentItems>
            <assignToReference>RemainingEggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Get_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Egg_Cohorts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Selected_Insem_Method</name>
        <label>Copy 1 of Selected Insem Method</label>
        <locationX>1722</locationX>
        <locationY>4154</locationY>
        <assignmentItems>
            <assignToReference>InsemMethodVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Insemination_Method__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Eggs_for_Insem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Embryos</name>
        <label>Count Embryos</label>
        <locationX>1964</locationX>
        <locationY>6458</locationY>
        <assignmentItems>
            <assignToReference>EmbryoNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Ebm_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Selected_Insem_Method</name>
        <label>Selected Insem Method</label>
        <locationX>1458</locationX>
        <locationY>4262</locationY>
        <assignmentItems>
            <assignToReference>InsemMethodVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Insem_Method_Being_Used</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_Eggs_for_Insem</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_Eggs_for_Insem</name>
        <label>Total Eggs for Insem</label>
        <locationX>2844</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>TotalforInsem</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Eggs_For_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_Insem_Method</name>
        <label>Change Insem Method?</label>
        <locationX>1590</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Selected_Insem_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Chnage_Method</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ChnageInsemType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change Doctors Recommended Insemination Type</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_New_Insem_Method</targetReference>
            </connector>
            <label>Change Method</label>
        </rules>
    </decisions>
    <decisions>
        <name>Denuded</name>
        <label>Denuded?</label>
        <locationX>2448</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Loop_Eggs_for_Denude_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_denuded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Eggs_for_Denude_Count.Denuded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MI_Count_0</targetReference>
            </connector>
            <label>Yes denuded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Discard_Selected</name>
        <label>Discard?</label>
        <locationX>1722</locationX>
        <locationY>8162</locationY>
        <defaultConnector>
            <targetReference>Get_ANZARD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Select_Discard</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DisYesNo.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Discard Some or All Remaining Eggs</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Egg_Cohorts</targetReference>
            </connector>
            <label>Yes Select Discard</label>
        </rules>
    </decisions>
    <decisions>
        <name>Egg_Insem_Type</name>
        <label>Egg Insem Type</label>
        <locationX>1942</locationX>
        <locationY>4670</locationY>
        <defaultConnector>
            <targetReference>Assign_IVF</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Warning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Insemination_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVF</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Find_Insem_Type.Denuded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Screen</targetReference>
            </connector>
            <label>Warning</label>
        </rules>
        <rules>
            <name>ICSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_Insem_Type.Denuded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ICSI</targetReference>
            </connector>
            <label>ICSI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Egg_Type_for_Count</name>
        <label>Egg Type for Count</label>
        <locationX>2844</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Assign_MII_Count_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MII</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Eggs_For_Count.Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MII</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MII_Count</targetReference>
            </connector>
            <label>MII</label>
        </rules>
        <rules>
            <name>MI_MII</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Eggs_For_Count.Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI - MII</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MII_MI_Count</targetReference>
            </connector>
            <label>MI-MII</label>
        </rules>
        <rules>
            <name>MI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Eggs_For_Count.Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MI_Count</targetReference>
            </connector>
            <label>MI</label>
        </rules>
        <rules>
            <name>GV</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Eggs_For_Count.Grade__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GV</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GV_Count</targetReference>
            </connector>
            <label>GV</label>
        </rules>
    </decisions>
    <decisions>
        <name>Eggs_Remaining</name>
        <label>Eggs Remaining?</label>
        <locationX>1876</locationX>
        <locationY>7838</locationY>
        <defaultConnector>
            <targetReference>Get_ANZARD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Some_Eggs_Not_Inseminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Egg_Cohorts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ICons</targetReference>
            </connector>
            <label>Some Eggs Not Inseminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Embryos</name>
        <label>Existing Embryos?</label>
        <locationX>1590</locationX>
        <locationY>5810</locationY>
        <defaultConnector>
            <targetReference>Assign_Batch_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Embryos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Count</targetReference>
            </connector>
            <label>Yes Existing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Eggs</name>
        <label>Null Eggs</label>
        <locationX>1568</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Loop_Eggs_For_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Eggs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Eggs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Egg_Cohorts</targetReference>
            </connector>
            <label>Null Eggs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Run_Medicare</name>
        <label>Run Medicare?</label>
        <locationX>1876</locationX>
        <locationY>9578</locationY>
        <defaultConnector>
            <targetReference>Refresh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ISCI_Was_Undertaken</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ICSICOUNT</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Yes_Existing</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Medicare_Item_Number</targetReference>
            </connector>
            <label>ISCI Was Undertaken</label>
        </rules>
    </decisions>
    <decisions>
        <name>Semen_Prep_is_1</name>
        <label>Semen Prep is 1</label>
        <locationX>820</locationX>
        <locationY>2690</locationY>
        <defaultConnector>
            <targetReference>Loop_Semen_Sample_Events</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Only_1_Event</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SemenEventCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Final_Semen_Prep_Cycle_Event</targetReference>
            </connector>
            <label>Only 1 Event</label>
        </rules>
        <rules>
            <name>Zero_Events</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SemenEventCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Warning_and_End</targetReference>
            </connector>
            <label>Zero Events</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_PIN</name>
        <label>Which PIN</label>
        <locationX>820</locationX>
        <locationY>3938</locationY>
        <defaultConnector>
            <targetReference>Change_Insem_Method</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Scientist_PIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsemScientistButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Insem Scientist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pin_Entry</targetReference>
            </connector>
            <label>Scientist PIN</label>
        </rules>
        <rules>
            <name>Witness_PIN</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsemWitButton.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Insem Witness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Pin_Entry</targetReference>
            </connector>
            <label>Witness PIN</label>
        </rules>
    </decisions>
    <description>Allows eggs to be inseminated with any available semen samples</description>
    <dynamicChoiceSets>
        <name>InsemMethodPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Insemination_Method__c</picklistField>
        <picklistObject>Cycle__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Scientists</name>
        <collectionReference>AllUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EmbryoName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Cycle.Patient__r.Patient_ID__c}) &amp; &quot; - &quot; &amp; TEXT(DAY({!Get_Cycle.Day_1__c}))&amp;TEXT(MONTH({!Get_Cycle.Day_1__c}))&amp;TEXT(YEAR({!Get_Cycle.Day_1__c})) &amp; &quot; - E&quot; &amp; TEXT({!EmbryoNumber})</expression>
    </formulas>
    <formulas>
        <name>ICSIINsemFormula</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS({!InsemMethodVar}, &quot;ICSI&quot;) &amp;&amp; {!InsemMethodVar} != &quot;1/2 ICSI 1/2 IVF&quot;,
  {!InsemMethodVar},
  IF(
    {!InsemMethodVar} = &quot;1/2 ICSI 1/2 IVF&quot;,
    &quot;Standard ICSI&quot;,
    NULL
  )
)</expression>
    </formulas>
    <formulas>
        <name>SPQAL</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!SPSite} = &quot;e&quot; &amp;&amp; {!Get_ANZARD.SP_SOURCE__c} = &quot;1&quot;,
  {!Get_Final_Semen_Sample.Prep_Final_Count__c},
  NULL
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SPQUAL</name>
        <dataType>Number</dataType>
        <expression>IF(
  {!SPSite} = &quot;e&quot; &amp;&amp; {!Get_ANZARD.SP_SOURCE__c} = &quot;1&quot;,
{!Get_Final_Semen_Sample.Prep_Final_Count__c},
  NULL
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SPSite</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!Get_Final_Semen_Sample.Sample_Production_Method__c}) = &quot;Ejaculate&quot; || TEXT({!Get_Final_Semen_Sample.Sample_Production_Method__c}) = &quot;Retrograde&quot;,
  &quot;e&quot;,
  IF(
    TEXT({!Get_Final_Semen_Sample.Sample_Production_Method__c}) = &quot;Aspirate&quot;,
    &quot;t&quot;,
    IF(
      TEXT({!Get_Final_Semen_Sample.Sample_Production_Method__c}) = &quot;Open Biopsy&quot;,
      &quot;p&quot;,
      IF(
        TEXT({!Get_Final_Semen_Sample.Sample_Production_Method__c}) = &quot;PESA&quot; || TEXT({!Get_Final_Semen_Sample.Sample_Production_Method__c}) = &quot;TESE&quot; || TEXT({!Get_Final_Semen_Sample.Sample_Production_Method__c}) = &quot;MicroTESE&quot;,
        &quot;o&quot;,
        &quot;u&quot;
      )
    )
  )
)</expression>
    </formulas>
    <interviewLabel>Developer Template Laboratory Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Egg Insemination Cycle Event</label>
    <loops>
        <name>Assign_to_Batch</name>
        <label>Assign to Batch</label>
        <locationX>1766</locationX>
        <locationY>6134</locationY>
        <collectionReference>EmbryosforCreation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Egg_Insemination_Event_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Copy_1_of_Egg_Cohorts</name>
        <label>Copy 1 of Egg Cohorts</label>
        <locationX>1590</locationX>
        <locationY>8270</locationY>
        <collectionReference>Copy_1_of_Get_Egg_Cohorts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_Get_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Select_Eggs_for_Insem</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Egg_Cohorts</name>
        <label>Egg Cohorts</label>
        <locationX>820</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Egg_Cohorts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Semen_Prep_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Find_Existing_Embryo_Batch</name>
        <label>Find Existing Embryo Batch</label>
        <locationX>1414</locationX>
        <locationY>6026</locationY>
        <collectionReference>Get_Existing_Embryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Batch</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Find_Insem_Type</name>
        <label>Find Insem Type</label>
        <locationX>1590</locationX>
        <locationY>4562</locationY>
        <collectionReference>SelectedEggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Egg_Insem_Type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Eggs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Discarded</name>
        <label>Loop Discarded</label>
        <locationX>1590</locationX>
        <locationY>8786</locationY>
        <collectionReference>EggsforDiscard</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Fate_of_Egg</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ANZARD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Eggs_For_Count</name>
        <label>Loop Eggs For Count</label>
        <locationX>2228</locationX>
        <locationY>890</locationY>
        <collectionReference>Get_Eggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Egg_Type_for_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Eggs_for_Denude_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Eggs_for_Denude_Count</name>
        <label>Loop Eggs for Denude Count</label>
        <locationX>2228</locationX>
        <locationY>1490</locationY>
        <collectionReference>Get_Eggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Denuded</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_to_All_Eggs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Semen_Sample_Events</name>
        <label>Loop Semen Sample Events</label>
        <locationX>1128</locationX>
        <locationY>2798</locationY>
        <collectionReference>Get_Semen_Prep_Cycle_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Semen_Smaple</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Warning_and_End</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Renumber_Embryos_and_Assign_Batch</name>
        <label>Renumber Embryos and Assign Batch</label>
        <locationX>1876</locationX>
        <locationY>6350</locationY>
        <collectionReference>EmbryosforCreation</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Embryos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Egg_Insemination_Event_Record_Type</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Event</name>
        <label>Create Cycle Event</label>
        <locationX>1876</locationX>
        <locationY>7514</locationY>
        <connector>
            <targetReference>Upadate_Cycle</targetReference>
        </connector>
        <inputReference>CycleEventVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Embryo</name>
        <label>Create Embryo</label>
        <locationX>1854</locationX>
        <locationY>6458</locationY>
        <connector>
            <targetReference>Assign_Embryo_Event_Values</targetReference>
        </connector>
        <inputReference>EmbryoVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Embryo_0</name>
        <label>Create Embryo</label>
        <locationX>1964</locationX>
        <locationY>6890</locationY>
        <connector>
            <targetReference>Assign_Embryo_Event_Values_0</targetReference>
        </connector>
        <inputReference>EmbryoVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Embryo_Batch</name>
        <label>Create Embryo Batch</label>
        <locationX>1766</locationX>
        <locationY>6026</locationY>
        <connector>
            <targetReference>Assign_to_Batch</targetReference>
        </connector>
        <inputReference>EmbryoBatchVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Events</name>
        <label>Create Events</label>
        <locationX>1876</locationX>
        <locationY>9470</locationY>
        <connector>
            <targetReference>Run_Medicare</targetReference>
        </connector>
        <inputReference>AllEmbryoEventVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Egg_Cohorts</name>
        <label>Copy 1 of Get Egg Cohorts</label>
        <locationX>1876</locationX>
        <locationY>7730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Eggs_Remaining</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eggs_Available_For_Insemination__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Eggs</name>
        <label>Copy 1 of Get Eggs</label>
        <locationX>1678</locationX>
        <locationY>8378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_to_All_Eggs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 6) AND (4 OR 5 OR 6 OR 7)</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Egg_Cohorts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denuded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trimmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MII</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trimmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ANZARD</name>
        <label>Get ANZARD</label>
        <locationX>1876</locationX>
        <locationY>9254</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_ANZARD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CYCLE_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ANZARD_Data__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Batch</name>
        <label>Get Batch</label>
        <locationX>1876</locationX>
        <locationY>6134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Batch</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_Existing_Embryo_Batch.Embryo_Batch__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>820</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Scientists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohorts</name>
        <label>Get Egg Cohorts</label>
        <locationX>820</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Egg_Cohorts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Eggs_Available_For_Insemination__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Reserved_For__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>1568</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Eggs</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 6) AND (4 OR 5 OR 6 OR 7 OR 8 OR 9)</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Egg_Cohorts.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Denuded</stringValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Trimmed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MII</stringValue>
            </value>
        </filters>
        <filters>
            <field>Trimmed__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MI</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MI - MII</stringValue>
            </value>
        </filters>
        <filters>
            <field>Grade__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GV</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Embryos</name>
        <label>Get Existing Embryos</label>
        <locationX>1590</locationX>
        <locationY>5702</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Created_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Prep_Event</name>
        <label>Get Final Prep Event From Sperm</label>
        <locationX>1128</locationX>
        <locationY>3314</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Final_Prep_Event_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semen_Sample__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectSemenSample.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Semen_Prep_Cycle_Event</name>
        <label>Get Final Semen Prep Cycle Event</label>
        <locationX>512</locationX>
        <locationY>2798</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Final_Prep_Event</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Prep_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Thaw_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Final_Semen_Sample</name>
        <label>Get Final Semen Sample</label>
        <locationX>820</locationX>
        <locationY>3614</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_To_final_Semen_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FinalPrepEvent.Semen_Sample__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Prep_Cycle_Events</name>
        <label>Get Semen Prep Cycle Events</label>
        <locationX>820</locationX>
        <locationY>2474</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Semen_Count</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND 3</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Thaw_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Prep_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Smaple</name>
        <label>Get Semen Smaple</label>
        <locationX>1216</locationX>
        <locationY>2906</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Allocate_to_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Semen_Sample_Events.Semen_Sample__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>820</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Egg_Cohorts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Upadate_Cycle</name>
        <label>Update Cycle</label>
        <locationX>1876</locationX>
        <locationY>7622</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Egg_Cohorts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Egg_Insemination_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_ANZARD</name>
        <label>Update ANZARD</label>
        <locationX>1876</locationX>
        <locationY>9362</locationY>
        <connector>
            <targetReference>Create_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CYCLE_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_QUAL__c</field>
            <value>
                <elementReference>SelectSemenSample.firstSelectedRow.Total_Sperm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SP_SITE__c</field>
            <value>
                <elementReference>SPSite</elementReference>
            </value>
        </inputAssignments>
        <object>ANZARD_Data__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Eggs</name>
        <label>Update Eggs</label>
        <locationX>1590</locationX>
        <locationY>5594</locationY>
        <connector>
            <targetReference>Get_Existing_Embryos</targetReference>
        </connector>
        <inputReference>InseminatedEggs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Fate_of_Egg</name>
        <label>Update Fate of Egg</label>
        <locationX>1678</locationX>
        <locationY>8894</locationY>
        <connector>
            <targetReference>Loop_Discarded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Discarded.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Fate__c</field>
            <value>
                <stringValue>Discarded</stringValue>
            </value>
        </inputAssignments>
        <object>Egg__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Select_Eggs_for_Insem</name>
        <label>Copy 1 of Select Eggs for Insem</label>
        <locationX>1590</locationX>
        <locationY>8678</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Discarded</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Availabletext</name>
            <fieldText>&lt;p&gt;The following eggs are available and have not been inseminated. Please select those eggs you would like to &lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 16px;&quot;&gt;DISCARD&lt;/strong&gt;. Please note that you do not have to select any eggs and can freeze them later if needed. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_SelectEggsTabel</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Egg_Collected_In__c,Fate__c,Grade__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:149, Cycle_Egg_Collected_In__c:206, Fate__c:362, Grade__c:362</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>RemainingEggs</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EggsforDiscard</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Warning_and_End</name>
        <label>Copy 1 of Warning and End</label>
        <locationX>776</locationX>
        <locationY>2798</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;It appears that you have not created a semen prep event. This is not allowed within the current system construct. Please prep some semen before proceeding. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Discard</name>
        <label>Discard?</label>
        <locationX>1722</locationX>
        <locationY>8054</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Discard_Selected</targetReference>
        </connector>
        <fields>
            <name>discardtext</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Do you want to discard any of the eggs you haven&apos;t yet inseminated?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisYesNo</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Discard Some or All Remaining Eggs&quot;,&quot;value&quot;:&quot;Discard Some or All Remaining Eggs&quot;},{&quot;label&quot;:&quot;Leave Eggs for Later Insemination or Freeze&quot;,&quot;value&quot;:&quot;Leave Eggs for Later Insemination or Freeze&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Egg_Data</name>
        <label>Egg Data</label>
        <locationX>1942</locationX>
        <locationY>4886</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Egg_Values</targetReference>
        </connector>
        <fields>
            <name>EggValueText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} {!Get_Cycle.Patient__r.LastName} - {!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c}&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0); font-size: 14px;&quot;&gt;Egg Name - {!Find_Insem_Type.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Insemination_Time</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </defaultValue>
            <fieldText>Insemination Time</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>InseminatedEggvar.Insemination_Method__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>InseminatedEggvar.Grade__c</objectFieldReference>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Find_Insem_Type.Grade__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MI</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Find_Insem_Type.Grade__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>MI - MII</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comments_About_Egg</name>
            <fieldText>Comments About Egg</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Event_Details</name>
        <label>Event Details</label>
        <locationX>820</locationX>
        <locationY>3830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Which_PIN</targetReference>
        </connector>
        <fields>
            <name>PatientInfo</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!Get_Cycle.Patient_Details_for_Flows__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Event_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Insemination_Date_and_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDateTime</elementReference>
                    </defaultValue>
                    <fieldText>Insemination Date and Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Event_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InsemScientistButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Add Insem Scientist</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add Insem Scientist&quot;,&quot;value&quot;:&quot;Add Insem Scientist&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ScientistName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Scientist: {!ScientistVar.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>InsemWitButton</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Add Insem Witness</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add Insem Witness&quot;,&quot;value&quot;:&quot;Add Insem Witness&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>WitnessName</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;Witness: {!WitnessVar.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>InsemMethod</name>
            <fieldText>&lt;p&gt;The Doctors recommended insemination method is shown below. Please indicate if you need to change it. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Cycle.Insemination_Method__c</objectFieldReference>
        </fields>
        <fields>
            <name>Event_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>ChnageInsemType</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Change Doctors Recommended Insemination Type&quot;,&quot;value&quot;:&quot;Change Doctors Recommended Insemination Type&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:bug&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Event_Details_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Event_Details_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Semen</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Semen_Sample__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Semen Insem Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>FinalSememSampleCollection</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Prep_Insem_Volume__c&quot;,&quot;guid&quot;:&quot;column-faae&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Prep Insem Volume&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Prep_Final_Count__c&quot;,&quot;guid&quot;:&quot;column-1a91&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Prep Final Count&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Prep_Final_Motility_Text__c&quot;,&quot;guid&quot;:&quot;column-7451&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Prep Final Motility&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>EggDetails</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Egg Grade Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;MII: {!MIICount} - MI to MII: {!MIMIICount} &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;- &lt;/strong&gt;&lt;strong&gt;MI:{!MICount}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; - &lt;/strong&gt;&lt;strong&gt;GV:{!GVCOUNT}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; -&lt;/strong&gt;&lt;strong&gt; Other: {!OtherCount}&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt; - &lt;/strong&gt;&lt;strong&gt; Total Denuded: {!CountDenuded}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Total Available for Insem: {!TotalforInsem}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Eggs_for_Insem</name>
        <label>Select Eggs for Insem</label>
        <locationX>1590</locationX>
        <locationY>4454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Insem_Type</targetReference>
        </connector>
        <fields>
            <name>Availabletext</name>
            <fieldText>&lt;p&gt;The following eggs are available for insemination. Please select those that you would like to inseminate.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectEggsTabel</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllEggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Egg_Collected_In__c,Fate__c,Grade__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:149, Cycle_Egg_Collected_In__c:206, Fate__c:362, Grade__c:362</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedEggs</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_New_Insem_Method</name>
        <label>Select New Insem Method</label>
        <locationX>1458</locationX>
        <locationY>4154</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Selected_Insem_Method</targetReference>
        </connector>
        <fields>
            <name>New_Insem_Method_Being_Used</name>
            <choiceReferences>InsemMethodPick</choiceReferences>
            <dataType>String</dataType>
            <fieldText>New Insem Method Being Used</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_New_Method_is_Being_Selected</name>
            <dataType>String</dataType>
            <fieldText>Reason New Method is Being Selected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_and_End</name>
        <label>Warning and End</label>
        <locationX>1128</locationX>
        <locationY>3206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Final_Prep_Event</targetReference>
        </connector>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;It appears that you have more than one semen prep event. Please select the semen sample you would like to use for insemination. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SelectSemenSample</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Semen_Sample__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Semen Smaples</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllSemenSamples</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Analysis_Date_Time__c&quot;,&quot;guid&quot;:&quot;column-c318&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Analysis Date &amp; Time&quot;,&quot;type&quot;:&quot;customDateTime&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-c9c0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Semen Sample Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Prep_Insem_Volume__c&quot;,&quot;guid&quot;:&quot;column-5281&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Prep Insem Volume&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Prep_Final_Count__c&quot;,&quot;guid&quot;:&quot;column-e572&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Prep Final Count&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Prep_Final_Motility_Text__c&quot;,&quot;guid&quot;:&quot;column-6ddb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Prep Final Motility&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Screen</name>
        <label>Warning Screen</label>
        <locationX>1678</locationX>
        <locationY>4778</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>warnintxtx</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;WARNING&lt;/strong&gt;&lt;strong&gt;: This cycles insem methods are set to IVF and you appear to be preforming ICSI. Please check and amend the treatment plan with the treating clinician. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Template_Laboratory_Process</sourceTemplate>
    <start>
        <locationX>694</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Copy_1_of_Pin_Entry</name>
        <label>Copy 1 of Pin Entry</label>
        <locationX>314</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>Assign_Witness</targetReference>
        </connector>
        <flowName>Developer_PIN_Check_on_Patient_ID</flowName>
        <outputAssignments>
            <assignToReference>WitnessVar</assignToReference>
            <name>PatientID1</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Medicare_Item_Number</name>
        <label>Create Medicare Item Number</label>
        <locationX>1744</locationX>
        <locationY>9686</locationY>
        <connector>
            <targetReference>Refresh</targetReference>
        </connector>
        <flowName>Medicare_ICSI</flowName>
        <inputAssignments>
            <name>CycleEventID</name>
            <value>
                <elementReference>CycleEventVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Get_Egg_Insemination_Event_Record_Type</name>
        <label>Get Egg Insemination Event Record Type</label>
        <locationX>1876</locationX>
        <locationY>7298</locationY>
        <connector>
            <targetReference>Assign_to_CE_Variable</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Egg Insemination Event</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Scientists</name>
        <label>Get Scientists</label>
        <locationX>820</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllUsers</assignToReference>
            <name>FinalUsers</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Semen_Prep_Record_Type</name>
        <label>Get Semen Prep Record Type</label>
        <locationX>820</locationX>
        <locationY>2258</locationY>
        <connector>
            <targetReference>Get_Semen_Thaw_Record_Type</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Semen Prep</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Semen_Thaw_Record_Type</name>
        <label>Get Semen Thaw Record Type</label>
        <locationX>820</locationX>
        <locationY>2366</locationY>
        <connector>
            <targetReference>Get_Semen_Prep_Cycle_Events</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Semen Thaw</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Pin_Entry</name>
        <label>Pin Entry</label>
        <locationX>50</locationX>
        <locationY>4046</locationY>
        <connector>
            <targetReference>Assign_Scientist</targetReference>
        </connector>
        <flowName>Developer_PIN_Check_on_Patient_ID</flowName>
        <outputAssignments>
            <assignToReference>ScientistVar</assignToReference>
            <name>PatientID1</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>AllEmbryoEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>AllreadycreatedEmbryoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>AllSemenSamples</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Semen_Sample__c</objectType>
    </variables>
    <variables>
        <name>AllUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CountDenuded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EggAvailableforICSI</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EggsAvalibleforIVF</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EggsforDiscard</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EmbryoBatchVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Batch__c</objectType>
    </variables>
    <variables>
        <name>EmbryoEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EmbryoNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmbryosforCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>EmbryoVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>FinalEmbryosforCreation</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>FinalPrepEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>FinalSememSampleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Semen_Sample__c</objectType>
    </variables>
    <variables>
        <name>GVCOUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ICSICOUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>InseminatedEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>InseminatedEggvar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>InsemMethodVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IVFCOUNT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>MICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MIICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>MIMIICount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>OtherCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemainingEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>ScientistVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SelectedEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>SemenEventCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>TotalforInsem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>WitnessVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
