force-app/main/default/flows/Create_Donation_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Type</name>
        <label>Get Object Type</label>
        <locationX>534</locationX>
        <locationY>1598</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <outputParameters>
            <assignToReference>RecordType</assignToReference>
            <name>objectApiName</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Add_to_All</name>
        <label>Add to All</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>AllHouseholds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Household</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ACr</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_All_Donation_Events</name>
        <label>Add to All Donation Events</label>
        <locationX>50</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>AllDonationEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonationEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Donated_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ACR</name>
        <label>Assign ACR</label>
        <locationX>666</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ACRVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_ACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donation_Patinet_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ACR_From_Household</name>
        <label>Assign ACR From Household</label>
        <locationX>402</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>ACRVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_3_of_Get_ACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Donation_Patinet_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Donated_Event</name>
        <label>Assign Donated Event</label>
        <locationX>50</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>DonationEventVar.Semen_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemenVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semen_Sample.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donation_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_Semen_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemenVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Sample</name>
        <label>Assign Egg Sample</label>
        <locationX>402</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>EggSampleVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Egg_Cohort</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_ID_egg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_EMbryo</name>
        <label>Assign EMbryo</label>
        <locationX>754</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Embryo_Batch</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_ID_Embryo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Batch</name>
        <label>Assign New Batch</label>
        <locationX>842</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>Loop_Embryos.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loop_Embryo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_chort</name>
        <label>Assign New chort</label>
        <locationX>490</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>Loop_eggs.Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggSampleVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loop_Egg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Egg_Owner</name>
        <label>Assign New Egg Owner</label>
        <locationX>402</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>EggSampleVar.Reserved_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACRVar.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggSampleVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Egg_Cohort</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Embryo_Owner</name>
        <label>Assign New Embryo Owner</label>
        <locationX>754</locationX>
        <locationY>2354</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Reserved_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACRVar.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACRVar.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACRVar.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NEw_Embryo_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Patient_and_Record</name>
        <label>Assign New Patient and Record</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>SemenVar.Reserved_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACRVar.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SemenVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ACRVar.Contact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Sample</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Sample</name>
        <label>Assign New Sample</label>
        <locationX>138</locationX>
        <locationY>2786</locationY>
        <assignmentItems>
            <assignToReference>Loop_Straws.Semen_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemenVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Loop_Straw</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Semen_Sample</name>
        <label>Assign Semen Sample</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <assignmentItems>
            <assignToReference>SemenVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semen_Sample</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Relationship</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_All_Donation_Events</name>
        <label>Copy 1 of Add to All Donation Events</label>
        <locationX>402</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>AllDonationEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonationEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Donated_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Donated_Event</name>
        <label>Copy 1 of Assign Donated Event</label>
        <locationX>50</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>DonationEventVar.Semen_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semen_Sample.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donation_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Add_to_All_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Donated_Event</name>
        <label>Copy 1 of Copy 1 of Assign Donated Event</label>
        <locationX>402</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>DonationEventVar.Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Egg_Cohort.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donation_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Add_to_All_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_2_of_Add_to_All_Donation_Events</name>
        <label>Copy 1 of Copy 2 of Add to All Donation Events</label>
        <locationX>402</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>AllDonationEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonationEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Add_to_All_Donation_Events</name>
        <label>Copy 2 of Add to All Donation Events</label>
        <locationX>50</locationX>
        <locationY>3410</locationY>
        <assignmentItems>
            <assignToReference>AllDonationEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonationEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Donated_Event</name>
        <label>Copy 2 of Assign Donated Event</label>
        <locationX>402</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>DonationEventVar.Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggSampleVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Egg_Cohort.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donation_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemenVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_All_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Add_to_All_Donation_Events</name>
        <label>Copy 2 of Copy 1 of Add to All Donation Events</label>
        <locationX>754</locationX>
        <locationY>3086</locationY>
        <assignmentItems>
            <assignToReference>AllDonationEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonationEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Assign_Donated_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Assign_Donated_Event</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Assign Donated Event</label>
        <locationX>754</locationX>
        <locationY>3194</locationY>
        <assignmentItems>
            <assignToReference>DonationEventVar.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Embryo_Batch.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donation_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Copy_2_of_Add_to_All_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Copy_2_of_Add_to_All_Donation_Events</name>
        <label>Copy 2 of Copy 1 of Copy 2 of Add to All Donation Events</label>
        <locationX>754</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>AllDonationEvents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>DonationEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_2_of_Assign_Donated_Event</name>
        <label>Copy 2 of Copy 2 of Assign Donated Event</label>
        <locationX>754</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>DonationEventVar.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Embryo_Batch.Patient_Donor__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_To__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donation_Event_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DonationEventVar.Donated_Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Copy_1_of_Add_to_All_Donation_Events</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_ACR</name>
        <label>Count ACR</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>CountofACR</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_ACR</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_ACrs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_ID</name>
        <label>Remove ID</label>
        <locationX>50</locationX>
        <locationY>2138</locationY>
        <assignmentItems>
            <assignToReference>SemenVar.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SemenVar.Reserved_For__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Straws</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_ID_egg</name>
        <label>Remove ID</label>
        <locationX>402</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>EggSampleVar.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_ID_Embryo</name>
        <label>Remove ID</label>
        <locationX>754</locationX>
        <locationY>2030</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Donation_Patinet_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Embryos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Multiple_ACrs</name>
        <label>Multiple ACrs</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Get_ACR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Multiple_ACR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofACR</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_ACr</targetReference>
            </connector>
            <label>Multiple ACR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>534</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Semen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Semen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Semen_Sample</targetReference>
            </connector>
            <label>Semen</label>
        </rules>
        <rules>
            <name>Eggs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Egg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Egg_Cohort</targetReference>
            </connector>
            <label>Eggs</label>
        </rules>
        <rules>
            <name>Embryo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordType</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Embryo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Embryo_Batch</targetReference>
            </connector>
            <label>Embryo</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Donation Event {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Donation Event</label>
    <loops>
        <name>Loop_ACr</name>
        <label>Loop ACr</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_ACR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Household</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Multi_ACR_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_eggs</name>
        <label>Loop eggs</label>
        <locationX>402</locationX>
        <locationY>2570</locationY>
        <collectionReference>Copy_1_of_SemenTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_chort</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Assign_Donated_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Embryos</name>
        <label>Loop Embryos</label>
        <locationX>754</locationX>
        <locationY>2570</locationY>
        <collectionReference>EmnbryosTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Batch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_2_of_Copy_2_of_Assign_Donated_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Straws</name>
        <label>Loop Straws</label>
        <locationX>50</locationX>
        <locationY>2678</locationY>
        <collectionReference>SemenTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_Sample</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Donated_Event</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Donation_Events</name>
        <label>Create Donation Events</label>
        <locationX>534</locationX>
        <locationY>3602</locationY>
        <inputReference>AllDonationEvents</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Egg_Cohort</name>
        <label>Create New Egg Cohort</label>
        <locationX>402</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Loop_eggs</targetReference>
        </connector>
        <inputReference>EggSampleVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_NEw_Embryo_Batch</name>
        <label>Create NEw Embryo Batch</label>
        <locationX>754</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Loop_Embryos</targetReference>
        </connector>
        <inputReference>EmbryoBatchVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Sample</name>
        <label>Create New Sample</label>
        <locationX>50</locationX>
        <locationY>2570</locationY>
        <connector>
            <targetReference>Loop_Straws</targetReference>
        </connector>
        <inputReference>SemenVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Copy_2_of_Get_ACR</name>
        <label>Copy 2 of Get ACR</label>
        <locationX>666</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_3_of_Get_ACR</name>
        <label>Copy 3 of Get ACR</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ACR_From_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.selectedRecordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Households.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ACR</name>
        <label>Get ACR</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_ACR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Patinet_Record</name>
        <label>Get Donation Patinet Record</label>
        <locationX>534</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Donation_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ACRVar.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Donation_Record_Type</name>
        <label>Get Donation Record Type</label>
        <locationX>534</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Object_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Donation_Event</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohort</name>
        <label>Get Egg Cohort</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Egg_Sample</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>402</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Egg_Cohort.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_Batch</name>
        <label>Get Embryo Batch</label>
        <locationX>754</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_EMbryo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>754</locationX>
        <locationY>2138</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ACr.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Sample</name>
        <label>Get Semen Sample</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Semen_Sample</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Straws</name>
        <label>Get Straws</label>
        <locationX>50</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Straws</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semen_Sample__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Semen_Sample.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Semen_Straw__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Loop_Egg</name>
        <label>Update Loop Egg</label>
        <locationX>490</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Loop_eggs</targetReference>
        </connector>
        <inputReference>Loop_eggs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loop_Embryo</name>
        <label>Update Loop Embryo</label>
        <locationX>842</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Loop_Embryos</targetReference>
        </connector>
        <inputReference>Loop_Embryos</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Loop_Straw</name>
        <label>Update Loop Straw</label>
        <locationX>138</locationX>
        <locationY>2894</locationY>
        <connector>
            <targetReference>Loop_Straws</targetReference>
        </connector>
        <inputReference>Loop_Straws</inputReference>
    </recordUpdates>
    <screens>
        <name>Multi_ACR_Screen</name>
        <label>Multi ACR Screen</label>
        <locationX>402</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Copy_3_of_Get_ACR</targetReference>
        </connector>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;This patient belongs to multiple households who is this sample intending for?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Households</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>All Associated Household </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllHouseholds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4dd2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Household Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;BillingAddress&quot;,&quot;guid&quot;:&quot;column-5263&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:1,&quot;label&quot;:&quot;Billing Address&quot;,&quot;type&quot;:&quot;customAddress&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Relationship</name>
        <label>Relationship</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Remove_ID</targetReference>
        </connector>
        <fields>
            <name>Relationtxt</name>
            <fieldText>&lt;p&gt;How will this patient be related to the female?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>SemenVar.Relationship_to_Female__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Eggs</name>
        <label>Select Eggs</label>
        <locationX>402</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Egg_Owner</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_donateinfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are about to donate the selected material below to&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.FirstName} {!Get_Donation_Patinet_Record.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Birthdate: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.Birthdate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Patinet ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.Patient_ID_Display_Formula__c}&lt;/span&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Copy_1_of_SemenTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Eggs</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Eggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-7e88&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Egg Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Freeze_Date__c&quot;,&quot;guid&quot;:&quot;column-3d10&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Freeze Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Embryos</name>
        <label>Select Embryos</label>
        <locationX>754</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Embryo_Owner</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_donateinfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are about to donate the selected material below to&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.FirstName} {!Get_Donation_Patinet_Record.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Birthdate: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.Birthdate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Patinet ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.Patient_ID_Display_Formula__c}&lt;/span&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EmnbryosTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Embryos</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-f3d8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Embryo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Storage_Date__c&quot;,&quot;guid&quot;:&quot;column-9581&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Freeze Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Straws</name>
        <label>Select Straws</label>
        <locationX>50</locationX>
        <locationY>2354</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Patient_and_Record</targetReference>
        </connector>
        <fields>
            <name>donateinfo</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;You are about to donate the selected material below to&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.FirstName} {!Get_Donation_Patinet_Record.LastName} &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Birthdate: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.Birthdate}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Patinet ID: &lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!Get_Donation_Patinet_Record.Patient_ID_Display_Formula__c}&lt;/span&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SemenTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Semen_Straw__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Semen Straws</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Straws</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-a246&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Semen Straw Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Storage_Date__c&quot;,&quot;guid&quot;:&quot;column-831e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Freeze Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Who_Will_You_Donate_too</name>
        <label>Who Will You Donate too?</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_ACR</targetReference>
        </connector>
        <fields>
            <name>textdonor</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The patient you are selecting below will be a donor only, in the case of unknow donor please select the donor ID, if the donor belongs to multiple households you will be prompted which household the samples should be reserved for. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>AccountContactRelation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fuzzySearch</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who is the Material being donated too?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>spacer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Who_Will_You_Donate_too</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>ACRVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>AllDonationEvents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Genetic_Material_Events__c</objectType>
    </variables>
    <variables>
        <name>AllHouseholds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>CountofACR</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DonationEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Genetic_Material_Events__c</objectType>
    </variables>
    <variables>
        <name>EggSampleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cohort__c</objectType>
    </variables>
    <variables>
        <name>EmbryoBatchVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Batch__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SemenVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Semen_Sample__c</objectType>
    </variables>
</Flow>
