force-app/main/default/flows/Create_OPU_Cycle_Event.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Egg_Created</name>
        <label>Add Egg Created</label>
        <locationX>1986</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>NumberofEggsCreated</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Egg_Values</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_To_All_evnet_Var</name>
        <label>Add To All evnet Var</label>
        <locationX>1810</locationX>
        <locationY>2486</locationY>
        <assignmentItems>
            <assignToReference>AllEggEventVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EggEventVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Created_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Created_ID</name>
        <label>Assign Created ID &amp; Don Age</label>
        <locationX>1722</locationX>
        <locationY>3110</locationY>
        <assignmentItems>
            <assignToReference>CreatedCycleEventID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_OPU_Cycle_Event</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DON_AGE</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Age__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Date_and_Times</name>
        <label>Assign Date and Times</label>
        <locationX>831</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Event_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OPU_Event.StartDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Needle_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Theatre_Temperature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OPU_Event.Doctor_Undertaking_Procedure__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Disg_ID_Witness</name>
        <label>Assign Dish ID Witness</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>DishID1WitnessVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Dish_ID.PatientID1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Count</name>
        <label>Assign Egg Count</label>
        <locationX>1854</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>EggsCollected</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Eggs_Collected</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Eggs_Create_Eggs_Collected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Event_Var</name>
        <label>Assign Egg Event Var</label>
        <locationX>1810</locationX>
        <locationY>2378</locationY>
        <assignmentItems>
            <assignToReference>EggEventVar.Egg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Created_Eggs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_All_evnet_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Number</name>
        <label>Assign Egg Number</label>
        <locationX>831</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>EggNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Eggs_Collected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatID3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pat_ID_3_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NeedleBatchNumberText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NeedleBatchNumberText</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Note</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Witness_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Values</name>
        <label>Assign Egg Values</label>
        <locationX>1986</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>SingleEggVariable.Cycle_Egg_Collected_In__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVariable.Age_of_Egg_At_OPU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Age__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVariable.Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Egg_Cohort</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVariable.OPU_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wit3Var.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVariable.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVariable.Egg_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NumberofEggsCreated</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleEggVariable.Genetic_Producer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Egg_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_New_Date_Times</name>
        <label>Assign New Date Times</label>
        <locationX>831</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Event_Date_and_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Procedure_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OPUScientist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Theatre_Temperature__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Theatre_Temp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Needle_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Needle_Batch_Number_Text</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoctorPerformingOPU.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Egg_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pat_ID_1</name>
        <label>Assign Pat ID 1</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>PatientID1WitnessVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Pat_ID_1.PatientID1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_ID_2</name>
        <label>Assign Patient ID 2</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>PatientID2WitnessVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Patinet_ID_2.PatientID1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_CE_Variable</name>
        <label>Assign to CE Variable</label>
        <locationX>1722</locationX>
        <locationY>2894</locationY>
        <assignmentItems>
            <assignToReference>CycleEventVar.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Doctor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DoctorPerformingOPU.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Egg_Cohort</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Procedure_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Number_of_Eggs_Collected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Eggs_Collected</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.OPU_Tube_Dish_Witness__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TubeDishWitness</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_OPU_Event_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scheduled_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Scheduled_Date_Time</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Wit3Var.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleEventVar.Semen_Patient_ID_Witnesses__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientWitnesses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_OPU_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Egg_Collection</name>
        <label>Assign to Egg Collection</label>
        <locationX>1986</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>EggCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleEggVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Does_Eggs_Create_Eggs_Collected</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Tube_ID_Witness</name>
        <label>Assign Tube ID Witness</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>TubeID1WitnessVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Check_Tube_ID.PatientID1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Wit3_scientist</name>
        <label>Assign Wit3 (scientist)</label>
        <locationX>1106</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Wit3Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pin_Subflow.PatientID1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>All_Witnesses</name>
        <label>All Witnesses?</label>
        <locationX>1612</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Egg_Number_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_All_Witnesses</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllWitnessesTrue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_All_Witness_Screen</targetReference>
            </connector>
            <label>Not All Witnesses</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Eggs_Create_Eggs_Collected</name>
        <label>Does Eggs Create = Eggs Collected?</label>
        <locationX>1854</locationX>
        <locationY>1946</locationY>
        <defaultConnector>
            <targetReference>Add_Egg_Created</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>All_Eggs_Created</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EggsCollected</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NumberofEggsCreated</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Eggs</targetReference>
            </connector>
            <label>All Eggs Created</label>
        </rules>
    </decisions>
    <decisions>
        <name>Egg_Number_Null</name>
        <label>Egg Number Null</label>
        <locationX>1612</locationX>
        <locationY>1622</locationY>
        <defaultConnector>
            <targetReference>Create_Egg_Cohort</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Number_of_Eggs_Collected</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_egg_Screen</targetReference>
            </connector>
            <label>Yes Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>OPU_Event_Exists</name>
        <label>OPU Event Exists?</label>
        <locationX>1672</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OPU_Event_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OPU_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Date_and_Times</targetReference>
            </connector>
            <label>OPU Event Booked?</label>
        </rules>
        <rules>
            <name>Not_Booked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OPU_Event</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Correct_Booking</targetReference>
            </connector>
            <label>Not Booked</label>
        </rules>
    </decisions>
    <decisions>
        <name>Witness_Type</name>
        <label>Witness Type?</label>
        <locationX>831</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>All_Witnesses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Record_Pat_ID_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatID1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Pat ID 1 Witness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Pat_ID_1</targetReference>
            </connector>
            <label>Record Pat ID 1</label>
        </rules>
        <rules>
            <name>Record_Pat_ID_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatID1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Pat ID 2 Witness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Patinet_ID_2</targetReference>
            </connector>
            <label>Record Pat ID 2</label>
        </rules>
        <rules>
            <name>Record_DIsh_Witness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatID1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Dish ID Witness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Dish_ID</targetReference>
            </connector>
            <label>Record DIsh Witness</label>
        </rules>
        <rules>
            <name>Tube_ID_Witness</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PatID1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Tube ID Witness</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Tube_ID</targetReference>
            </connector>
            <label>Tube ID Witness</label>
        </rules>
        <rules>
            <name>OPU_Scientist_Dec</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OPUScientistSelection.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add OPU Scientist</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pin_Subflow</targetReference>
            </connector>
            <label>OPU Scientist</label>
        </rules>
    </decisions>
    <description>Allows for the recording of OPU event details and creates eggs and egg batches for future insemination.</description>
    <dynamicChoiceSets>
        <name>AllLocations</name>
        <collectionReference>Get_Locations</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Location</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllValidUsers</name>
        <collectionReference>Get_All_Valid_Users.FinalUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AllValidUsersNameOutput</name>
        <collectionReference>Get_All_Valid_Users.FinalUsers</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AllWitnessesTrue</name>
        <dataType>Boolean</dataType>
        <expression>IF({!Record_Pat_ID_1}=True&amp;&amp;{!Record_Pat_ID_2}=TRUE&amp;&amp;{!Record_DIsh_Witness}=TRUE&amp;&amp;{!Tube_ID_Witness}=TRUE&amp;&amp;ISBLANK({!Pat_ID_3_Text})=FALSE, TRUE, FALSE)</expression>
    </formulas>
    <formulas>
        <name>CollectionDateOnly</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!Procedure_Date_Time})</expression>
    </formulas>
    <formulas>
        <name>EggName</name>
        <dataType>String</dataType>
        <expression>TEXT({!Get_Cycle.Patient__r.Patient_ID__c}) &amp; &quot; - &quot; &amp; TEXT(DAY({!Get_Cycle.Day_1__c})) &amp; TEXT(MONTH({!Get_Cycle.Day_1__c})) &amp; RIGHT(TEXT(YEAR({!Get_Cycle.Day_1__c})),2) &amp; &quot; - O&quot; &amp; TEXT({!NumberofEggsCreated})</expression>
    </formulas>
    <formulas>
        <name>PatientWitnesses</name>
        <dataType>String</dataType>
        <expression>&quot;Pat ID 1: &quot;&amp;{!PatientID1WitnessVar.FirstName}&amp;&quot; &quot;&amp;{!PatientID1WitnessVar.LastName}&amp;&quot;, Pat ID 2: &quot;&amp;{!PatientID2WitnessVar.FirstName}&amp;&quot; &quot;&amp;{!PatientID2WitnessVar.LastName}&amp;&quot;, Pat ID 3:&quot;&amp;{!Pat_ID_3_Text}</expression>
    </formulas>
    <formulas>
        <name>TubeDishWitness</name>
        <dataType>String</dataType>
        <expression>&quot;Tube ID:&quot;&amp;{!TubeID1WitnessVar.FirstName}&amp;&quot; &quot;&amp;{!TubeID1WitnessVar.LastName}&amp;&quot;, Dish ID:&quot;&amp;{!DishID1WitnessVar.FirstName}&amp;&quot; &quot;&amp;{!DishID1WitnessVar.LastName}</expression>
    </formulas>
    <interviewLabel>Developer Basic Flow Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create OPU Cycle Event</label>
    <loops>
        <name>Loop_Created_Eggs</name>
        <label>Loop Created Eggs</label>
        <locationX>1722</locationX>
        <locationY>2270</locationY>
        <collectionReference>Get_Created_Eggs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Egg_Event_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Egg_Events</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Egg_Cohort</name>
        <label>Create Egg Cohort</label>
        <locationX>1854</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Assign_Egg_Count</targetReference>
        </connector>
        <inputAssignments>
            <field>Collected_Date__c</field>
            <value>
                <elementReference>CollectionDateOnly</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPU_Scientist__c</field>
            <value>
                <elementReference>Wit3Var.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Donor__c</field>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_For__c</field>
            <value>
                <elementReference>Get_Cycle.Household__c</elementReference>
            </value>
        </inputAssignments>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Egg_Events</name>
        <label>Create Egg Events</label>
        <locationX>1722</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>Get_OPU_Event_Record_Type</targetReference>
        </connector>
        <inputReference>AllEggEventVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Eggs</name>
        <label>Create Eggs</label>
        <locationX>1722</locationX>
        <locationY>2054</locationY>
        <connector>
            <targetReference>Get_Created_Eggs</targetReference>
        </connector>
        <inputReference>EggCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_OPU_Cycle_Event</name>
        <label>Create OPU Cycle Event</label>
        <locationX>1722</locationX>
        <locationY>3002</locationY>
        <connector>
            <targetReference>Assign_Created_ID</targetReference>
        </connector>
        <inputReference>CycleEventVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Created_Eggs</name>
        <label>Get Created Eggs</label>
        <locationX>1722</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Created_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Egg_Collected_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1672</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_All_Valid_Users</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Locations</name>
        <label>Get Locations</label>
        <locationX>1672</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OPU_Event_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Owner_Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Location</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_OPU_Event</name>
        <label>Get OPU Event</label>
        <locationX>1672</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Locations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Procedure_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPU</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>1672</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_OPU_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>1722</locationX>
        <locationY>3218</locationY>
        <connector>
            <targetReference>Run_Medicare_Creation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DON_AGE__c</field>
            <value>
                <elementReference>DON_AGE</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OPU_Cycle_Event_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>2514</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;There has been an error. Please alert admin. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_OPU_Cycle_Event</name>
        <label>New OPU Cycle Event</label>
        <locationX>831</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_New_Date_Times</targetReference>
        </connector>
        <fields>
            <name>PatinetDets</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Name: &lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;{!Get_Cycle.Patient__r.FirstName} &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!Get_Cycle.Patient__r.LastName}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;DOB:&lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt; {!Get_Cycle.Patient__r.Birthdate} &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Patient ID: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!Get_Cycle.Patient__r.Patient_ID_Display_Formula__c} &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;Patinet Address: &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68); font-size: 14px;&quot;&gt;{!Get_Cycle.Patient__r.Mailing_Address__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Number_of_Eggs_Collected</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>EggNumber</elementReference>
            </defaultValue>
            <fieldText>Number of Eggs Collected</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>New_OPU_Cycle_Event_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_OPU_Cycle_Event_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Procedure_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>CycleEventVar.Event_Date_and_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Procedure Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>DoctorPerformingOPU</name>
                    <extensionName>l_lookup:Lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectType</name>
                        <value>
                            <stringValue>Doctor__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedRecordId</name>
                        <value>
                            <elementReference>CycleEventVar.Doctor__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>primarySearchField</name>
                        <value>
                            <stringValue>Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_OPU_Cycle_Event_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Date_Time</name>
                    <dataType>DateTime</dataType>
                    <defaultValue>
                        <elementReference>CycleEventVar.Scheduled_Date_Time__c</elementReference>
                    </defaultValue>
                    <fieldText>Scheduled Date &amp; Time</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OPUScientistSelection</name>
                    <extensionName>c:fsc_flowButtonBar</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>alignment</name>
                        <value>
                            <stringValue>left</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>orientation</name>
                        <value>
                            <stringValue>horizontal</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>showLines</name>
                        <value>
                            <stringValue>neither</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>actionMode</name>
                        <value>
                            <stringValue>navigation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>buttons</name>
                        <value>
                            <stringValue>[{&quot;label&quot;:&quot;Add OPU Scientist&quot;,&quot;value&quot;:&quot;Add OPU Scientist&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SciNameText</name>
                    <fieldText>&lt;p&gt;&lt;strong&gt;OPU Scientist: {!Wit3Var.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>PatID1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Pat ID 1 Witness&quot;,&quot;value&quot;:&quot;Add Pat ID 1 Witness&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add Pat ID 2 Witness&quot;,&quot;value&quot;:&quot;Add Pat ID 2 Witness&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Add Tube ID Witness&quot;,&quot;value&quot;:&quot;Add Tube ID Witness&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:2},{&quot;label&quot;:&quot;Add Dish ID Witness&quot;,&quot;value&quot;:&quot;Add Dish ID Witness&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;index&quot;:3}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Witness_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;Patient ID 1: &lt;strong&gt;{!PatientID1WitnessVar.Name}&lt;/strong&gt; &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Patient ID 2: &lt;/span&gt;&lt;strong&gt;{!PatientID2WitnessVar.Name}  &lt;/strong&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Tube ID: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!TubeID1WitnessVar.Name} &lt;/strong&gt;Dish ID: &lt;strong&gt;{!DishID1WitnessVar.Name}&lt;/strong&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Pat_ID_3_Text</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>PatID3</elementReference>
            </defaultValue>
            <fieldText>Pat ID 3</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Proceedure_Details</name>
            <fieldText>Procedure Details</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Proceedure_Details_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Procedure_Location</name>
                    <choiceReferences>AllLocations</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_OPU_Event.Location_Lookup__r.Id</elementReference>
                    </defaultValue>
                    <fieldText>Procedure Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Needle_Batch_Number_Text</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>CycleEventVar.Needle_Batch__c</elementReference>
                    </defaultValue>
                    <fieldText>Needle Batch Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Theatre_Temp</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>CycleEventVar.Theatre_Temperature__c</elementReference>
                    </defaultValue>
                    <fieldText>Theatre Temp</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>1</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Notes</name>
            <defaultValue>
                <stringValue>{!Note}</stringValue>
            </defaultValue>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Correct_Booking</name>
        <label>No Correct Booking</label>
        <locationX>2250</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NobookingText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;No valid OPU booking exists and as such an OPU cycle event cannot be created. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_egg_Screen</name>
        <label>No egg Screen</label>
        <locationX>1370</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>New_OPU_Cycle_Event</targetReference>
        </connector>
        <fields>
            <name>Noeggs</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;You must enter an egg number before proceeding. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Not_All_Witness_Screen</name>
        <label>Not All Witness Screen</label>
        <locationX>1480</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Add Additional Witnesses</backButtonLabel>
        <connector>
            <targetReference>Egg_Number_Null</targetReference>
        </connector>
        <fields>
            <name>nmotallwit</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You have not recorded all witnesses, please confirm that you want to proceed without this data.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Proceed Without all Witness Data</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>1546</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Check_Dish_ID</name>
        <label>Check Dish ID</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Disg_ID_Witness</targetReference>
        </connector>
        <flowName>Developer_PIN_Check_on_Patient_ID</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Check_Pat_ID_1</name>
        <label>Check Pat ID 1</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Pat_ID_1</targetReference>
        </connector>
        <flowName>Developer_PIN_Check_on_Patient_ID</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Check_Patinet_ID_2</name>
        <label>Check Patinet ID 2</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Patient_ID_2</targetReference>
        </connector>
        <flowName>Developer_PIN_Check_on_Patient_ID</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Check_Tube_ID</name>
        <label>Check Tube ID</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Tube_ID_Witness</targetReference>
        </connector>
        <flowName>Developer_PIN_Check_on_Patient_ID</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_All_Valid_Users</name>
        <label>Get All Valid Users</label>
        <locationX>1672</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <flowName>Developer_Select_Users_From_Group</flowName>
        <inputAssignments>
            <name>NeedScientist</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_OPU_Event_Record_Type</name>
        <label>Get OPU Event Record Type</label>
        <locationX>1722</locationX>
        <locationY>2786</locationY>
        <connector>
            <targetReference>Assign_to_CE_Variable</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>OPU Event</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Pin_Subflow</name>
        <label>Pin Subflow</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>Assign_Wit3_scientist</targetReference>
        </connector>
        <flowName>Developer_PIN_Check_on_Patient_ID</flowName>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Medicare_Creation</name>
        <label>Run Medicare Creation</label>
        <locationX>1722</locationX>
        <locationY>3326</locationY>
        <flowName>Medicare_OPU</flowName>
        <inputAssignments>
            <name>CycleEventID</name>
            <value>
                <elementReference>Create_OPU_Cycle_Event</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllEggEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>CreatedCycleEventID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CycleEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>DishID1WitnessVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>DON_AGE</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>EggEventVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cycle_Event__c</objectType>
    </variables>
    <variables>
        <name>EggNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggsCollected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NeedleBatchNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NeedleBatchNumberText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Note</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofEggsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>OPUScientist</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatID3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientID1WitnessVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>PatientID2WitnessVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleEggVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>TubeID1WitnessVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Wit3Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
