force-app/main/default/flows/Delete_All_Uncompleted_To_Dos_if_Cycle_is_Deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Any_To_Do_s</name>
        <label>Any To Do&apos;s?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Some_To_Do_s</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_To_Dos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Records</targetReference>
            </connector>
            <label>Some To Do&apos;s</label>
        </rules>
    </decisions>
    <description>Automatically delete all outstanding to dos that were automatically created when the cycle was created.</description>
    <environments>Default</environments>
    <interviewLabel>Delete All Uncompleted To Dos if Cycle is Deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete All Uncompleted To Dos if Cycle is Deleted</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <inputReference>Get_All_To_Dos</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_To_Dos</name>
        <label>Get All To Dos</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_To_Do_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_All_To_Dos</targetReference>
        </connector>
        <object>Cycle__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Draft</status>
</Flow>
