force-app/main/default/flows/Developer_Update_Cycle_for_Overview.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>De_Dup</name>
        <label>De Dup</label>
        <locationX>176</locationX>
        <locationY>650</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Cycles</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>Contact</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>AllPats</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRecordCollection</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Cycle_Infor</name>
        <label>Assign Cycle Infor</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PatVar.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Events.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatVar.Overview_Undertaken__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All</name>
        <label>Assign to All</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AllPats</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PatVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Developer Update Cycle for Overview {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Update Cycle for Overview</label>
    <loops>
        <name>Loop_Events</name>
        <label>Loop Events</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Events</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Cycle_Infor</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>De_Dup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Events</name>
        <label>Get Events</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Events</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Interview_Type__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Overview</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FET Interview</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Event</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Cycles</name>
        <label>Update Cycles</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <inputReference>De_Dup.outputRecordCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Events</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllCycles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle__c</objectType>
    </variables>
    <variables>
        <name>AllPats</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CycleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle__c</objectType>
    </variables>
    <variables>
        <name>PatVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
