force-app/main/default/flows/Developer_Titan_Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Send_Patient_SMS</name>
        <label>Copy 1 of Send Patient SMS</label>
        <locationX>1458</locationX>
        <locationY>3146</locationY>
        <actionName>ClickSendSMS__ClickSendSMSGeneric</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SMS_Partner</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>TextMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Consent.Patient_Donor__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClickSendSMS__ClickSendSMSGeneric</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Doc_Gen</name>
        <label>Doc Gen</label>
        <locationX>1326</locationX>
        <locationY>2714</locationY>
        <actionName>Form_Builder__FTDocGen</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Consent</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>ftAPIKey</name>
            <value>
                <stringValue>323f3e8be8b1331c5bf853d1b6df7444</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ftFormHash</name>
            <value>
                <elementReference>Get_Consent_Template.ftFormHash__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Form_Builder__FTDocGen</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SMS</name>
        <label>Send Patient SMS</label>
        <locationX>1194</locationX>
        <locationY>3146</locationY>
        <actionName>ClickSendSMS__ClickSendSMSGeneric</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>TextMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Consent.Patient_Donor__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClickSendSMS__ClickSendSMSGeneric</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SMS_Partner</name>
        <label>SMS Partner</label>
        <locationX>1458</locationX>
        <locationY>3254</locationY>
        <actionName>ClickSendSMS__ClickSendSMSGeneric</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>PartnerSMS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>toNumber</name>
            <value>
                <elementReference>Get_Consent.Patient_Donor__r.Partner__r.MobilePhone</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ClickSendSMS__ClickSendSMSGeneric</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Clinic</name>
        <label>Assign Clinic</label>
        <locationX>1062</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ClinicID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Consent_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consents</name>
        <label>Assign Consents</label>
        <locationX>1062</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SelectedConsents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Consent_Templates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>402</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Get_Consent.Count_of_Embryos__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoCount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Additional_Data_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Emb_Count</name>
        <label>Assign Emb Count</label>
        <locationX>490</locationX>
        <locationY>1514</locationY>
        <assignmentItems>
            <assignToReference>EmbryoCount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Emb.Count_Frozen__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Emb</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Household_Clinic</name>
        <label>Assign Household Clinic</label>
        <locationX>1326</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ClinicID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account.Household_Clinic__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Get_Consent_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Clinic</name>
        <label>Assign Patient Clinic</label>
        <locationX>1590</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ClinicID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Account.Household_Clinic__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Get_Consent_Templates</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Consents</name>
        <label>Copy 1 of Assign Consents</label>
        <locationX>1590</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SelectedConsents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Get_Consent_Templates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Consents</name>
        <label>Copy 2 of Assign Consents</label>
        <locationX>1326</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>SelectedConsents</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_2_of_Get_Consent_Templates</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choice</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Name_Pick</name>
        <choiceText>{!Name}</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Already_Sent</name>
        <label>Already Sent</label>
        <locationX>688</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Consent_Sent_Through_Titan__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Already_Sent_Screen</targetReference>
            </connector>
            <label>Yes Already</label>
        </rules>
    </decisions>
    <decisions>
        <name>Councellor_Required</name>
        <label>Councillor Required?</label>
        <locationX>1326</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Get_Consent_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_Councillor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Requires_Councillor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Councellor_Set</targetReference>
            </connector>
            <label>Yes Need Councillor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Councellor_Set</name>
        <label>Councellor Set</label>
        <locationX>1172</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Get_Consent_Template</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Counsellor_Lookup__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Councillor</targetReference>
            </connector>
            <label>No Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Consent_Require_User_Input</name>
        <label>Does Consent Require User Input?</label>
        <locationX>1326</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Councellor_Required</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_consent_requires_input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Consent_Requires_Additional_Infomration__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Embryo_Batches</targetReference>
            </connector>
            <label>Yes, consent requires input</label>
        </rules>
        <rules>
            <name>Consellor_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Requires_Councillor__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Counsellor_Lookup__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Councellor</targetReference>
            </connector>
            <label>Counsellor not found</label>
        </rules>
        <rules>
            <name>Requires_Interpreter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Requires_Interpreter__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Interpreter__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Interpreter_s_details</targetReference>
            </connector>
            <label>Requires Interpreter</label>
        </rules>
        <rules>
            <name>Requires_Follicle_Info</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Requires_Follicle_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follicle_Screen</targetReference>
            </connector>
            <label>Requires Follicle Info</label>
        </rules>
        <rules>
            <name>Requires_Partner_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Couple_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Partner_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Couple_Email_Screen</targetReference>
            </connector>
            <label>Requires Partner Email (is blank)</label>
        </rules>
        <rules>
            <name>Requires_Dr_staff_Sig_Field_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Treating_Dr_Staff_Signature_Required__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Doctor_Staff_Member_to_Sign_Document__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dr_Blank_Screen</targetReference>
            </connector>
            <label>Requires Dr/staff Sig (Field is blank)</label>
        </rules>
        <rules>
            <name>Requires_Emb_Egg_Sperm_Vial_Count</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Linkage.Requires_Embryo_Oocyte_Sperm_Vial_Count__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Count_of_Embryos__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Count_of_Sperm_Vials__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Count_of_Oocytes__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FLAB_Info_Screen</targetReference>
            </connector>
            <label>Requires Emb, Egg, Sperm Vial Count</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1326</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Get_Patient</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Cycle__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
        <rules>
            <name>Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent.Household__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Consent.Household__r.RecordType.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0125g000000affiAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Household</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Partner_SMS</name>
        <label>Send Partner SMS?</label>
        <locationX>1326</locationX>
        <locationY>3038</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Send_Patient_SMS</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Consent_Template.Couple_Consent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SMS</targetReference>
            </connector>
            <label>No Partner</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Consents</name>
        <collectionReference>SelectedConsents</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Consent_Document_Linkage__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},5)</expression>
    </formulas>
    <interviewLabel>Developer Titan Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Titan Document Generation Flow</label>
    <loops>
        <name>Loop_Emb</name>
        <label>Loop Emb</label>
        <locationX>402</locationX>
        <locationY>1406</locationY>
        <collectionReference>Get_Embryo_Batches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Emb_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Consent_Templates</name>
        <label>Copy 1 of Get Consent Templates</label>
        <locationX>1590</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Consents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Patient_Related__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent_Document_Linkage__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Consent_Templates</name>
        <label>Copy 2 of Get Consent Templates</label>
        <locationX>1326</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_Consents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Household_Related__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent_Document_Linkage__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>1326</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Household_Clinic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consent.Household__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consent</name>
        <label>Get Consent</label>
        <locationX>688</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Already_Sent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consent_Linkage</name>
        <label>Get Consent Linkage</label>
        <locationX>1326</locationX>
        <locationY>1082</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Consent_Require_User_Input</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent_Document_Linkage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consent_Template</name>
        <label>Get Consent Template</label>
        <locationX>1326</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Doc_Gen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Consent_Document_Linkage__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Consent_Templates</name>
        <label>Get Consent Templates</label>
        <locationX>1062</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Consents</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClinicID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Related__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Consent_Document_Linkage__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1062</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Clinic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consent.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_Batches</name>
        <label>Get Embryo Batches</label>
        <locationX>402</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Emb</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>1590</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Clinic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Consent.Patient_Donor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Consent</name>
        <label>Update Consent</label>
        <locationX>1326</locationX>
        <locationY>2822</locationY>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Consent_Sent_Through_Titan__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_of_Embryos__c</field>
            <value>
                <elementReference>FurtherInfoVar.Count_of_Embryos__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_of_Follicles__c</field>
            <value>
                <elementReference>FurtherInfoVar.Count_of_Follicles__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_of_Oocytes__c</field>
            <value>
                <elementReference>FurtherInfoVar.Count_of_Oocytes__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_of_Sperm_Vials__c</field>
            <value>
                <elementReference>FurtherInfoVar.Count_of_Sperm_Vials__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Embryo_Freeze__c</field>
            <value>
                <elementReference>FurtherInfoVar.Date_of_Embryo_Freeze__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Sperm_Collection__c</field>
            <value>
                <elementReference>FurtherInfoVar.Date_of_Sperm_Collection__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Interpreter__c</field>
            <value>
                <elementReference>FurtherInfoVar.Interpreter__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Consent_Template.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Consent__c</object>
    </recordUpdates>
    <screens>
        <name>Additional_Data_Screen</name>
        <label>Additional_Data_Screen</label>
        <locationX>402</locationX>
        <locationY>1814</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Councellor_Required</targetReference>
        </connector>
        <fields>
            <name>Displaytextforwithdrawlconsent</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;You have selected a consent which requires your input. Please enter the requested data below to display this on the consent.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Additional_Data_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Additional_Data_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FurtherInfoVar.Date_of_Sperm_Collection__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FurtherInfoVar.Count_of_Embryos__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>FurtherInfoVar.Date_of_Embryo_Freeze__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Already_Sent_Screen</name>
        <label>Already Sent</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>sentText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;A consent has already been sent for this consent record.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Choice</name>
        <label>Choice</label>
        <locationX>1326</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Consent_Linkage</targetReference>
        </connector>
        <fields>
            <name>Name_Picklist</name>
            <choiceReferences>Consents</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Chose Consent to Generate</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Councellor</name>
        <label>Counsellor</label>
        <locationX>666</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>councol</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;This consent requires a councillor and you have not entered one. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Couple_Email_Screen</name>
        <label>Couple Email Screen</label>
        <locationX>1458</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Couple_Email_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;You are generating a couple consent however the patient email field is blank, so this consent will fail. To avoid this, please visit the partner&apos;s file and enter a valid email address before generating this consent.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Dr_Blank_Screen</name>
        <label>Dr  Blank Screen</label>
        <locationX>1722</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Enter_Dr_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 20px;&quot;&gt;The consent you are generating requires Doctor/Staff sign-off, however this field is blank. Please enter a value in this field before generating the consent. Please also consider this user&apos;s availability before making a selection.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FLAB_Info_Screen</name>
        <label>FLAB Info Screen</label>
        <locationX>1986</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Councellor_Required</targetReference>
        </connector>
        <fields>
            <name>FLAB_Display_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;The consent you are generating requires additional information - please enter necessary data below to display this on the consent. Leaving this blank will yield a blank value on the consent.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FurtherInfoVar.Count_of_Embryos__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FurtherInfoVar.Count_of_Oocytes__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FurtherInfoVar.Count_of_Sperm_Vials__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Follicle_Screen</name>
        <label>Follicle Screen</label>
        <locationX>1194</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Councellor_Required</targetReference>
        </connector>
        <fields>
            <name>foll_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This consent requires you to enter a follicle count. Please enter this value to continue.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FurtherInfoVar.Count_of_Follicles__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interpreter_s_details</name>
        <label>Interpreter&apos;s details</label>
        <locationX>930</locationX>
        <locationY>1298</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Councellor_Required</targetReference>
        </connector>
        <fields>
            <name>Interp_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;This consent requires an interpreter&apos;s signature. Please enter their details below to continue&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>FurtherInfoVar.Interpreter__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Councillor</name>
        <label>No Councillor</label>
        <locationX>1040</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This consent requires a councillor. Please set one before proceeding. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1326</locationX>
        <locationY>2930</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Send_Partner_SMS</targetReference>
        </connector>
        <fields>
            <name>Success_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;This consent has been sent to the first required signer, you can check back here  periodically to see how the consent is progressing. Please allow a minute or two for this to attach to the file.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Confetti</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Consent</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>SMS template for Partner if applicable</description>
        <name>PartnerSMS</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Hi {!Get_Patient.Partner__r.FirstName}, we just wanted to let you know that {!Get_Cycle.Patient__r.FirstName} has been sent an important document from {!Get_Cycle.Clinic_Cycle_Being_Undertaken_at_Name__c}, and once {!Get_Cycle.Patient__r.FirstName} has signed this document, you can expect to receive it too. Please check your emails including Junk Mail.</text>
    </textTemplates>
    <textTemplates>
        <name>TextMessage</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Get_Cycle.Patient__r.FirstName}, we just wanted to let you know that you have been sent an important document from {!Get_Cycle.Clinic_Cycle_Being_Undertaken_at_Name__c}, please check your emails including Junk Mail.</text>
    </textTemplates>
    <variables>
        <name>ClinicID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmbryoCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FurtherInfoVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedConsents</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent_Document_Linkage__c</objectType>
    </variables>
</Flow>
