force-app/main/default/flows/Developer_Select_Users_From_Group.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_API_Name</name>
        <label>Get Object API Name</label>
        <locationX>852</locationX>
        <locationY>623</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cycle_or_Patient</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>All_Group_Members</name>
        <label>All Group Members</label>
        <locationX>710</locationX>
        <locationY>1551</locationY>
        <assignmentItems>
            <assignToReference>AllGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Users_In_Group</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FoundUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_RI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Nurse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clinic_Name</name>
        <label>Assign Clinic Name</label>
        <locationX>446</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>ClinicName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Lab</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doctors</name>
        <label>Assign Doctors</label>
        <locationX>710</locationX>
        <locationY>2703</locationY>
        <assignmentItems>
            <assignToReference>AllGroupMembers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Get_Users_In_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Users_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Role_Permissions</name>
        <label>Assign Role Permissions</label>
        <locationX>844</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>IsNurse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Allowed_to_Undertake_Nursing_Duties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsScientist</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Allowed_to_Undertake_Scientific_Duties__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IsAdmin</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User.Allowed_to_Undertake_Administrative__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Object_API_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Final</name>
        <label>Assign To Final</label>
        <locationX>50</locationX>
        <locationY>3831</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sci_Filter</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_To_Final_0</name>
        <label>Assign To Final</label>
        <locationX>733</locationX>
        <locationY>3359</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FoundUsers</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assing_Nurses</name>
        <label>Assing Nurses</label>
        <locationX>607</locationX>
        <locationY>2123</locationY>
        <assignmentItems>
            <assignToReference>AllGroupMembers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Copy_1_of_Get_Users_In_Group</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Dcotor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Clinic_Name</name>
        <label>Assign Clinic Name</label>
        <locationX>710</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>ClinicName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Account.Household_Clinic__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Lab</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_To_Final</name>
        <label>Copy 1 of Assign To Final</label>
        <locationX>314</locationX>
        <locationY>3831</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Nurse_Filter</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_5_of_Assign_To_Final</name>
        <label>Copy 1 of Copy 5 of Assign To Final</label>
        <locationX>1634</locationX>
        <locationY>3711</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FoundUsers</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Clinic_Name</name>
        <label>Assign Clinic Name</label>
        <locationX>974</locationX>
        <locationY>975</locationY>
        <assignmentItems>
            <assignToReference>ClinicName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Semen_Sample.Patient_Donor__r.Account.Household_Clinic__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Need_Lab</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_To_Final</name>
        <label>Copy 2 of Assign To Final</label>
        <locationX>578</locationX>
        <locationY>3831</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Admin_Filter</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_To_Final</name>
        <label>Copy 3 of Assign To Final</label>
        <locationX>842</locationX>
        <locationY>3831</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Is_Admin</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_To_Final</name>
        <label>Copy 4 of Assign To Final</label>
        <locationX>1106</locationX>
        <locationY>3831</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Is_Nurse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_To_Final</name>
        <label>Copy 5 of Assign To Final</label>
        <locationX>1370</locationX>
        <locationY>3831</locationY>
        <assignmentItems>
            <assignToReference>FinalUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Is_Scientist</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>User_Collection</name>
        <label>User Collection</label>
        <locationX>1229</locationX>
        <locationY>2957</locationY>
        <assignmentItems>
            <assignToReference>FoundUsers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_User_For_Collection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Users_to_Collection</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Admin_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Admin Filter</label>
        <locationX>578</locationX>
        <locationY>3711</locationY>
        <assignNextValueToReference>currentItem_Nurse_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FoundUsers</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Scientific_Duties__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Nursing_Duties__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_2_of_Assign_To_Final</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Is_Admin</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Is Admin</label>
        <locationX>842</locationX>
        <locationY>3711</locationY>
        <assignNextValueToReference>currentItem_Nurse_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FoundUsers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Administrative__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_3_of_Assign_To_Final</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Is_Nurse</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Is Nurse</label>
        <locationX>1106</locationX>
        <locationY>3711</locationY>
        <assignNextValueToReference>currentItem_Nurse_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FoundUsers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Nursing_Duties__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_4_of_Assign_To_Final</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Is_Scientist</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Is Scientist</label>
        <locationX>1370</locationX>
        <locationY>3711</locationY>
        <assignNextValueToReference>currentItem_Nurse_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FoundUsers</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Scientific_Duties__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_5_of_Assign_To_Final</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Nurse_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Nurse Filter</label>
        <locationX>314</locationX>
        <locationY>3711</locationY>
        <assignNextValueToReference>currentItem_Nurse_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FoundUsers</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Administrative__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Scientific_Duties__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Assign_To_Final</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sci_Filter</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Sci Filter</label>
        <locationX>50</locationX>
        <locationY>3711</locationY>
        <assignNextValueToReference>currentItem_Nurse_Filter</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>FoundUsers</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Administrative__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Nurse_Filter.Allowed_to_Undertake_Nursing_Duties__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_To_Final</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Cycle_or_Patient</name>
        <label>Cycle or Patient?</label>
        <locationX>842</locationX>
        <locationY>735</locationY>
        <defaultConnector>
            <targetReference>Need_Lab</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_API_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cycle__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
        <rules>
            <name>Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_API_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
        <rules>
            <name>Semen_Sample</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_API_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen_Sample__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Semen_Sample</targetReference>
            </connector>
            <label>Semen Sample</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_User_Var_False</name>
        <label>Does User Var= False?</label>
        <locationX>842</locationX>
        <locationY>3591</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_5_of_Assign_To_Final</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Sci_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sci_Filter</targetReference>
            </connector>
            <label>Yes Sci False</label>
        </rules>
        <rules>
            <name>Yes_Nurse_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nurse_Filter</targetReference>
            </connector>
            <label>Yes Nurse False</label>
        </rules>
        <rules>
            <name>Yes_Admin_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Filter</targetReference>
            </connector>
            <label>Yes Admin False</label>
        </rules>
        <rules>
            <name>Yes_Sci_and_Nurse_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Admin</targetReference>
            </connector>
            <label>Yes Sci and Nurse False</label>
        </rules>
        <rules>
            <name>yes_Sci_and_Admin_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Nurse</targetReference>
            </connector>
            <label>yes Sci and Admin False</label>
        </rules>
        <rules>
            <name>Yes_Nurse_and_Admin_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsAdmin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Scientist</targetReference>
            </connector>
            <label>Yes Nurse and Admin False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Dcotor</name>
        <label>Need Doctor</label>
        <locationX>842</locationX>
        <locationY>2343</locationY>
        <defaultConnector>
            <targetReference>Add_Users_to_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_Dcotor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedDoctor</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Get_Public_Group</targetReference>
            </connector>
            <label>Yes Need Dcotor</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Lab</name>
        <label>Need Lab</label>
        <locationX>842</locationX>
        <locationY>1191</locationY>
        <defaultConnector>
            <targetReference>Need_Nurse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_Lab</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedScientist</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Public_Group</targetReference>
            </connector>
            <label>Yes Need Lab</label>
        </rules>
    </decisions>
    <decisions>
        <name>Need_Nurse</name>
        <label>Need Nurse</label>
        <locationX>842</locationX>
        <locationY>1767</locationY>
        <defaultConnector>
            <targetReference>Need_Dcotor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Need_Nurse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NeedNurse</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Get_Public_Group</targetReference>
            </connector>
            <label>Yes Need Nurse</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_User_Found</name>
        <label>No User Found?</label>
        <locationX>1151</locationX>
        <locationY>3220</locationY>
        <defaultConnector>
            <targetReference>User_Collection</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_User_For_Collection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Users_to_Collection</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <description>Seeking to get users from public group. Unfinished flow.</description>
    <dynamicChoiceSets>
        <name>ClinicNurseCollection</name>
        <collectionReference>ClinicNurses</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Nurses</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Is_Nurse__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DoctorName</name>
        <dataType>String</dataType>
        <expression>{!ClinicName}&amp;&quot; Doctors&quot;</expression>
    </formulas>
    <formulas>
        <name>LabName</name>
        <dataType>String</dataType>
        <expression>{!ClinicName}&amp;&quot; Lab&quot;</expression>
    </formulas>
    <formulas>
        <name>NursingName</name>
        <dataType>String</dataType>
        <expression>{!ClinicName}&amp;&quot; Nursing&quot;</expression>
    </formulas>
    <formulas>
        <name>RecordIdTypeForm</name>
        <dataType>String</dataType>
        <expression>Left({!recordId},5)</expression>
    </formulas>
    <interviewLabel>Developer Select Users From Group {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Select Users From Group</label>
    <loops>
        <name>Add_Users_to_Collection</name>
        <label>Add Users to Collection</label>
        <locationX>842</locationX>
        <locationY>2919</locationY>
        <collectionReference>AllGroupMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_User_For_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_To_Final_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Public_Group</name>
        <label>Copy 1 of Get Public Group</label>
        <locationX>523</locationX>
        <locationY>1865</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Users_In_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NursingName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_Get_Users_In_Group</name>
        <label>Copy 1 of Get Users In Group</label>
        <locationX>511</locationX>
        <locationY>2001</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assing_Nurses</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Public_Group</name>
        <label>Copy 2 of Get Public Group</label>
        <locationX>710</locationX>
        <locationY>2463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Get_Users_In_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DoctorName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_2_of_Get_Users_In_Group</name>
        <label>Copy 2 of Get Users In Group</label>
        <locationX>710</locationX>
        <locationY>2583</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Doctors</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_2_of_Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>446</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Clinic_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>710</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Clinic_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Public_Group</name>
        <label>Get Public Group</label>
        <locationX>330</locationX>
        <locationY>1189</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Users_In_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LabName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RI</name>
        <label>Get RI</label>
        <locationX>608</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Group_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RI</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen_Sample</name>
        <label>Get Semen Sample</label>
        <locationX>974</locationX>
        <locationY>855</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Assign_Clinic_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>843</locationX>
        <locationY>313</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Role_Permissions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_For_Collection</name>
        <label>Get User For Collection</label>
        <locationX>1018</locationX>
        <locationY>3039</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Add_Users_to_Collection.UserOrGroupId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Users_In_Group</name>
        <label>Get Users In Group</label>
        <locationX>330</locationX>
        <locationY>1553</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Public_Group.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>717</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllGroupMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>ClinicName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClinicNurses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>currentItem_Nurse_Filter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FinalUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>FoundUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>IsAdmin</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsNurse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsScientist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedDoctor</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedNurse</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NeedScientist</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
