force-app/main/default/flows/Developer_Storage_Location_for_Imported_embryos.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>440</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Update</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EmbryoVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Embs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Storage</name>
        <label>Assign Storage</label>
        <locationX>440</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Storage_Embryos.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Var</name>
        <label>Assign Var</label>
        <locationX>440</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>EmbryoVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Embs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Storage</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Developer Storage Location for Imported embryos {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Developer Storage Location for Imported embryos</label>
    <loops>
        <name>Get_Storage_Embryos</name>
        <label>Get Storage Embryos</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_Storage_Locations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Imported_Embryos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Embs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Embs</name>
        <label>Loop Embs</label>
        <locationX>352</locationX>
        <locationY>518</locationY>
        <collectionReference>Get_Imported_Embryos</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Storage_Embryos</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Imported_Embryos</name>
        <label>Get Imported Embryos</label>
        <locationX>352</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Embs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Storage_site_1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Storage_Embryos.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Storage_Import__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Storage_Locations</name>
        <label>Get Storage Locations</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Storage_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>a055g000003mMDqAAM</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Storage_Location__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Embs</name>
        <label>Update Embs</label>
        <locationX>176</locationX>
        <locationY>1190</locationY>
        <inputReference>Update</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Storage_Locations</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>EmbryoVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Storage_Import__c</objectType>
    </variables>
    <variables>
        <name>Update</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Storage_Import__c</objectType>
    </variables>
</Flow>
