force-app/main/default/flows/Display_All_Frozen_Material_On_Patients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_All_Eggs</name>
        <label>Assign All Eggs</label>
        <locationX>138</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Alleggs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Eggs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Eggs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Counts</name>
        <label>Assign Counts</label>
        <locationX>50</locationX>
        <locationY>2366</locationY>
        <assignmentItems>
            <assignToReference>CountEggs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Alleggs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountMEbryos</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllEMbryos</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CountOnHold</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllOnHoldEmbryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Egg_and_Embryo_Display</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Straws</name>
        <label>Assign Straws</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllStraws</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Frozen_Straws</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Semen_Straws</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_all</name>
        <label>Assign to all Embryos</label>
        <locationX>314</locationX>
        <locationY>2090</locationY>
        <assignmentItems>
            <assignToReference>AllEMbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_On_Hold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Embryo_Batches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_to_all_Embryos</name>
        <label>Copy 1 of Assign to all Embryos</label>
        <locationX>314</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>AllEMbryos</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Embryos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_On_Hold</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Copy_1_of_Semen_Null</name>
        <label>Copy 1 of Semen Null</label>
        <locationX>776</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Yes_Semen_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Semen</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Semen_Straws</targetReference>
            </connector>
            <label>Copy 1 of Yes Semen Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_5</name>
        <label>Decision 5</label>
        <locationX>578</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Frozen_Semen_Straws</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Straws</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllStraws</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Material</targetReference>
            </connector>
            <label>Null Straws</label>
        </rules>
    </decisions>
    <decisions>
        <name>Female</name>
        <label>Female</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Female</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient.Sex_at_Birth__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Female</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Egg_Cohort</targetReference>
            </connector>
            <label>Yes Female</label>
        </rules>
        <rules>
            <name>Yes_Male</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Patient.Sex_at_Birth__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Male</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Semen</targetReference>
            </connector>
            <label>Yes Male</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Eggs</name>
        <label>No Eggs?</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Eggs_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Egg_Cohort</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Eggs</targetReference>
            </connector>
            <label>No Eggs Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Embryos</name>
        <label>No Embryos</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Loop_Embryo_Batches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Embryos_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Embryo_Batches</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Embryo_Batches</targetReference>
            </connector>
            <label>No Embryos Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_EMbryos</name>
        <label>Null EMbryos</label>
        <locationX>226</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_to_all_Embryos</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Embryos</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_On_Hold</targetReference>
            </connector>
            <label>Yes Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>On_Hold_is_Null</name>
        <label>On Hold is Null</label>
        <locationX>226</locationX>
        <locationY>1982</locationY>
        <defaultConnector>
            <targetReference>Assign_to_all</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_on_Hold_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_On_Hold</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Embryo_Batches</targetReference>
            </connector>
            <label>Yes on Hold Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Semen_Null</name>
        <label>Semen Null</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Assign_Straws</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Semen_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_All_Frozen_Straws</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Semen_Straws</targetReference>
            </connector>
            <label>Yes Semen Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalEmbryos</name>
        <dataType>Number</dataType>
        <expression>{!CountMEbryos} + {!CountOnHold}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Display All Frozen Material On Patinets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display All Frozen Material On Patients</label>
    <loops>
        <name>Loop_Eggs</name>
        <label>Loop Eggs</label>
        <locationX>50</locationX>
        <locationY>650</locationY>
        <collectionReference>Get_Egg_Cohort</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Embryo_Batches</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Embryo_Batches</name>
        <label>Loop Embryo Batches</label>
        <locationX>50</locationX>
        <locationY>1358</locationY>
        <collectionReference>Get_Embryo_Batches</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Embryos</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Counts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Semen_Straws</name>
        <label>Semen Straws</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Semen</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_All_Frozen_Straws</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_5</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Eggs</name>
        <label>Get All Eggs</label>
        <locationX>138</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_All_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Eggs.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Frozen_Straws</name>
        <label>Get All Frozen Straws</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Semen_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semen_Sample__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Semen_Straws.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Semen_Straw__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Egg_Cohort</name>
        <label>Get Egg Cohort</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Total_Currently_Frozen__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg_Cohort__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryo_Batches</name>
        <label>Get Embryo Batches</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryo_Batch__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>226</locationX>
        <locationY>1466</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_EMbryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Embryo_Batches.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_On_Hold</name>
        <label>Get On Hold</label>
        <locationX>226</locationX>
        <locationY>1874</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>On_Hold_is_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Embryo_Batches.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Female</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Semen</name>
        <label>Get Semen</label>
        <locationX>776</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Semen_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Semen_Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Egg_and_Embryo_Display</name>
        <label>Frozen Egg and Embryo Display</label>
        <locationX>50</locationX>
        <locationY>2474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>displayext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;This Patient has &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!CountEggs}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; Eggs currently available in storage, &lt;/span&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!TotalEmbryos} &lt;/strong&gt;&lt;span style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Embryos in storage and of those, &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!CountMEbryos}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; are available and &lt;/span&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!CountOnHold}&lt;/strong&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; are on hold.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>EggsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Alleggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Egg_Collected_In__c,Age_of_Egg_At_OPU__c,Freeze_Date__c,Storage_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:210, Cycle_Egg_Collected_In__c:210, Age_of_Egg_At_OPU__c:210, Freeze_Date__c:210, Storage_Location__c:210</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_Eggs_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmbryoTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllEMbryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Cycle_Day__c,Age_at_Embryo_Creation__c,Cycle_Created_In__c,PGT_Results__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:210, Cycle_Day__c:111, Age_at_Embryo_Creation__c:210, Cycle_Created_In__c:210, PGT_Results__c:312, Fate__c:243</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>No_Embryos_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Frozen_Semen_Straws</name>
        <label>Frozen Semen Straws</label>
        <locationX>710</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SemenTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Semen_Straw__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Semen_Straw__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllStraws</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Semen_Sample__c,Storage_Date__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:323, Semen_Sample__c:323, Storage_Date__c:323, Fate__c:323</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Material</name>
        <label>No Material</label>
        <locationX>446</locationX>
        <locationY>1274</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Nonetext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;We cant find any frozen material for this patient. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Alleggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>AllEMbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>AllOnHoldEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>AllOnHoldEmbs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>AllStraws</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Semen_Straw__c</objectType>
    </variables>
    <variables>
        <name>CountEggs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountMEbryos</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountOnHold</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
