force-app/main/default/flows/Display_Checklist_To_Do_on_Cycle.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_All</name>
        <label>Add to All</label>
        <locationX>490</locationX>
        <locationY>1862</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Template_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_all_to_dos</name>
        <label>assign all to dos</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_All_Cycle_To_Dos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Completed_Status</name>
        <label>Assign Completed Status</label>
        <locationX>1194</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complete_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Info</name>
        <label>Assign Task Info</label>
        <locationX>490</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>Task.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Template_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_Notes</name>
        <label>Assign To Notes</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>CallNote</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CompletedTaskInfomration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Create_Clinical_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Completed_Status</name>
        <label>Copy 1 of Assign Completed Status</label>
        <locationX>1194</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>Task</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_To_Notes</name>
        <label>Copy 1 of Assign To Notes</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>CallNote</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>•</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Create_Clinical_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Task_Collection</name>
        <label>Copy 1 of Task Collection</label>
        <locationX>1194</locationX>
        <locationY>2054</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_All_Tasks</name>
        <label>Null All Tasks</label>
        <locationX>1106</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Updated_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Collection</name>
        <label>Task Collection</label>
        <locationX>1194</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>AllGroupTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Tasks</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Filter_By_Cycle_Type</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Filter By Cycle Type</label>
        <locationX>402</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_By_Cycle_Type</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_System_Templates</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_By_Cycle_Type.Cycle_Type_Multi_Select__c</leftValueReference>
            <operator>Contains</operator>
            <rightValue>
                <elementReference>Get_Cycle.Record_Type_Name_Text__c</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Select_Template_Screen</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Add_Task_Type</name>
        <label>Add Task Type</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Complete_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle_Checklist_Task</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Tasks.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add a Checklist Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Task_Information_Doctor</targetReference>
            </connector>
            <label>Cycle Checklist Task</label>
        </rules>
        <rules>
            <name>Add_Checklist_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Tasks.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Checklist Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Templates</targetReference>
            </connector>
            <label>Add Checklist Template</label>
        </rules>
        <rules>
            <name>Create_Clinical_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Tasks.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Clinical Note From Completed Tasks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Completed_Tasks</targetReference>
            </connector>
            <label>Create Clinical Note</label>
        </rules>
    </decisions>
    <description>Filters the checklist tasks that are related to a cycle and allows for the addition of checklist tasks follow-up tasks and tasks for doctors related to the cycle.</description>
    <dynamicChoiceSets>
        <name>AllSystemTemplatesByCycle</name>
        <collectionReference>Filter_By_Cycle_Type</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Task_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Queues</name>
        <collectionReference>Get_Queues</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Break</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>SMSMessage</name>
        <dataType>String</dataType>
        <expression>&quot;You have been allocated an urgent task related to &quot;&amp;{!Get_Cycle.Patient__r.Name}&amp;&quot; this can be accessed via salesforce&quot;</expression>
    </formulas>
    <formulas>
        <name>TaskName</name>
        <dataType>String</dataType>
        <expression>&quot;Doctor Review Request - &quot;&amp;{!Get_Cycle.Name}</expression>
    </formulas>
    <interviewLabel>Display Checklist To Do on Cycle {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Checklist To Do on Cycle</label>
    <loops>
        <name>Complete_Tasks</name>
        <label>Complete Tasks</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <collectionReference>CompletedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Completed_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Template_Items</name>
        <label>Loop Template Items</label>
        <locationX>402</locationX>
        <locationY>1646</locationY>
        <collectionReference>Get_Template_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Create_Clinical_Note</name>
        <label>Loop to Create Clinical Note</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <collectionReference>Get_Completed_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_To_Notes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Notes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Updated_Tasks</name>
        <label>Updated Tasks</label>
        <locationX>1106</locationX>
        <locationY>1730</locationY>
        <collectionReference>UpdatedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Task</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Doctor_Task</name>
        <label>Copy 1 of Create Doctor Task</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assign_to_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Cycle_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staff_Member_Allocated_to_Complete_Task__c</field>
            <value>
                <elementReference>AssigntoStaffMember.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Copy_1_of_Task_Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Call</name>
        <label>Create Call</label>
        <locationX>754</locationX>
        <locationY>1838</locationY>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CallNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Standard_To_Do_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Checklist Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>402</locationX>
        <locationY>2054</locationY>
        <inputReference>AllTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Cycle_To_Dos</name>
        <label>Get All Cycle To Dos</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_all_to_dos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <sortField>OwnerId</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Completed_Tasks</name>
        <label>Get Completed Tasks</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_To_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Display</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Templates</name>
        <label>Get System Templates</label>
        <locationX>402</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_By_Cycle_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Templates.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>1194</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Completed_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Updated_Tasks.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Items</name>
        <label>Get Template Items</label>
        <locationX>402</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Template_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Template</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Checklist_To_Dos_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Tasks</name>
        <label>Copy 1 of Update Tasks</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Null_All_Tasks</targetReference>
        </connector>
        <inputReference>AllGroupTasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks</name>
        <label>Update Tasks</label>
        <locationX>1106</locationX>
        <locationY>2246</locationY>
        <inputReference>AllTasks</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Tasks_Edited_Tasks</name>
        <label>Update Tasks Edited Tasks</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Add_Task_Type</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Copy_1_of_Task_Information_Doctor</name>
        <label>Copy 1 of Task Information Doctor</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Create_Doctor_Task</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Task_Subject</name>
            <dataType>String</dataType>
            <fieldText>Cycle Checklist To Do</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Assign_to_Queue</name>
            <choiceReferences>Queues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assign to Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>AssigntoStaffMember</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign to Staff Member</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Notes</name>
        <label>Edit Notes</label>
        <locationX>754</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Standard_To_Do_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Edit_notes_Additional</name>
            <defaultValue>
                <stringValue>{!CallNote}</stringValue>
            </defaultValue>
            <fieldText>Edit Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Template_Screen</name>
        <label>Select Template</label>
        <locationX>402</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Template_Items</targetReference>
        </connector>
        <fields>
            <name>Select_Template</name>
            <choiceReferences>AllSystemTemplatesByCycle</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Task_Display</name>
        <label>Task Display</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Tasks_Edited_Tasks</targetReference>
        </connector>
        <fields>
            <name>New_Tasks</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Checklist Template&quot;,&quot;value&quot;:&quot;Add Checklist Template&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:agent_home&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add Additional Checklist Task&quot;,&quot;value&quot;:&quot;Add a Checklist Task&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Create Clinical Note From Completed Tasks&quot;,&quot;value&quot;:&quot;Create Clinical Note From Completed Tasks&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:bookmark&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Display_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Display_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Task_Display_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Display_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Cycle_To_Dos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Notes__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Subject,Notes__c,Status,ActivityDate,OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Description:Notes</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Subject:260, Notes__c:254, Status:260, ActivityDate:260, OwnerId:260</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedTasks</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompletedTasks</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Complete/Update Selected Tasks</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Cycle_Checklist_To_Dos_Record_Type</name>
        <label>Get Cycle Checklist To Dos Record Type</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_All_Cycle_To_Dos</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Cycle Checklist To Dos</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Standard_To_Do_Record_Type</name>
        <label>Get Standard To Do Record Type</label>
        <locationX>754</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>Create_Call</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Standard To Do</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Task_Templates</name>
        <label>Get Task Templates</label>
        <locationX>402</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_System_Templates</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Task Template</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CompletedTaskInfomration</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_to_Create_Clinical_Note.Subject}: {!Loop_to_Create_Clinical_Note.Notes__c} - {!Loop_to_Create_Clinical_Note.Status}

•</text>
    </textTemplates>
    <variables>
        <name>AllGroupTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>AllTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CallNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompletedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_By_Cycle_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Tasks_for_Cycle</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdatedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
