force-app/main/default/flows/Display_Checklist_To_Do_on_Patients_and_Donors.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_to_All</name>
        <label>Add to All</label>
        <locationX>138</locationX>
        <locationY>1754</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Template_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Completed_Status</name>
        <label>Assign Completed Status</label>
        <locationX>1106</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Complete_Tasks.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Task_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Info</name>
        <label>Assign Task Info</label>
        <locationX>138</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Task.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Task.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Template_Items.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_All</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Tasks</name>
        <label>Assign to All Tasks</label>
        <locationX>534</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>AllTasks</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_all_Patient_to_dos</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Notes</name>
        <label>Assign to Notes</label>
        <locationX>666</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CallNote</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>-</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Create_Clinical_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Notes_Creation</name>
        <label>Assign to Notes</label>
        <locationX>754</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>CallNote</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CompletedTaskInformation</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_to_Create_Clinical_Note</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Task_Collection</name>
        <label>Task Collection</label>
        <locationX>1106</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>AllGroupTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Task</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Complete_Tasks</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Task_type</name>
        <label>Task type</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Complete_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Template</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Checklist Template</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient_Checklist_Template_Record_Type</targetReference>
            </connector>
            <label>Add Template</label>
        </rules>
        <rules>
            <name>Add_Checklist_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Additional Checklist Tasks</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Info_Dr</targetReference>
            </connector>
            <label>Add Checklist Item</label>
        </rules>
        <rules>
            <name>Create_Note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TaskChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Clinical Note From Completed Task</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle_Checklist_To_Dos_Record_Type</targetReference>
            </connector>
            <label>Create Note</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Queues</name>
        <collectionReference>Get_Queues</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Group</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TemplatesChoice</name>
        <collectionReference>Get_System_Templates</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Task_Template__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Display Checklist To Do on Patients and Donors {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Checklist To Do on Patients and Donors</label>
    <loops>
        <name>Complete_Tasks</name>
        <label>Complete Tasks</label>
        <locationX>1018</locationX>
        <locationY>1106</locationY>
        <collectionReference>CompletedTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Completed_Status</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Template_Items</name>
        <label>Loop Template Items</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <collectionReference>Get_Template_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Task_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_to_Create_Clinical_Note</name>
        <label>Loop to Create Clinical Note</label>
        <locationX>666</locationX>
        <locationY>1430</locationY>
        <collectionReference>Get_Completed_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_to_Notes_Creation</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Edit_Notes_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Call</name>
        <label>Create Call</label>
        <locationX>666</locationX>
        <locationY>1838</locationY>
        <inputAssignments>
            <field>CallDurationInSeconds</field>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CallType</field>
            <value>
                <stringValue>Outbound</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>CallNote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Dr_Task</name>
        <label>Create Dr Task</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assign_to_Queue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Patient_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Staff_Member_Allocated_to_Complete_Task__c</field>
            <value>
                <elementReference>AssignToStaffMember.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Cycle_Checklist_To_Do</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>Get_Patient.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Tasks</name>
        <label>Create Tasks</label>
        <locationX>50</locationX>
        <locationY>1946</locationY>
        <inputReference>AllTasks</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_all_Patient_to_dos</name>
        <label>Get all Patient to dos</label>
        <locationX>534</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Completed_Tasks</name>
        <label>Get Completed Tasks</label>
        <locationX>666</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_Notes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queues</name>
        <label>Get Queues</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Task_Display_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Get_Patient.Account.Household_Clinic__r.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Templates</name>
        <label>Get System Templates</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Template_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient.Account.Household_Clinic__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patient_Checklist_To_Dos_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Template_Items</name>
        <label>Get Template Items</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Template_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Task_Template__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Template_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task_Template_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Patient_Checklist_To_Dos_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Edited_Taks</name>
        <label>Update Edited Taks</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>Task_type</targetReference>
        </connector>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Task</name>
        <label>Update Task</label>
        <locationX>1018</locationX>
        <locationY>1514</locationY>
        <inputReference>Task</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Notes_Screen</name>
        <label>Edit Notes</label>
        <locationX>666</locationX>
        <locationY>1730</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Call</targetReference>
        </connector>
        <fields>
            <name>Edit_Notes</name>
            <defaultValue>
                <stringValue>{!CallNote}</stringValue>
            </defaultValue>
            <fieldText>Edit Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Template_Screen</name>
        <label>Select Template Screen</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Template_Items</targetReference>
        </connector>
        <fields>
            <name>Select_Template_Picklist</name>
            <choiceReferences>TemplatesChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Template</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Display_Screen</name>
        <label>Task Display Screen</label>
        <locationX>534</locationX>
        <locationY>782</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Edited_Taks</targetReference>
        </connector>
        <fields>
            <name>TaskChoice</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Checklist Template&quot;,&quot;value&quot;:&quot;Add Checklist Template&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:advertising&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add Additional Checklist Tasks&quot;,&quot;value&quot;:&quot;Add Additional Checklist Tasks&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1},{&quot;label&quot;:&quot;Create Clinical Note From Completed Task&quot;,&quot;value&quot;:&quot;Create Clinical Note From Completed Task&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:approval&quot;,&quot;index&quot;:2}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Task_Display_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Display_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Task_Display_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Task_Display_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>TasksTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Task</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayAll</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Task</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_all_Patient_to_dos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Subject,Description,Status,ActivityDate,OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Subject:263, Description:441, Status:129, ActivityDate:169, OwnerId:251</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedTasks</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CompletedTasks</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <nextOrFinishButtonLabel>Complete/Update Selected Tasks</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Task_Info_Dr</name>
        <label>Task Info Dr</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Dr_Task</targetReference>
        </connector>
        <fields>
            <name>Cycle_Checklist_To_Do</name>
            <dataType>String</dataType>
            <fieldText>Cycle Checklist To Do</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Assign_to_Queue</name>
            <choiceReferences>Queues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Assign to Queue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AssignToStaffMember</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:user</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Assign To Staff Member</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Patient</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Cycle_Checklist_To_Dos_Record_Type</name>
        <label>Get Cycle Checklist To Dos Record Type</label>
        <locationX>666</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_Completed_Tasks</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Cycle Checklist To Dos</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Patient_Checklist_Template_Record_Type</name>
        <label>Get Patient Checklist Template Record Type</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>Get_System_Templates</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Patient Checklist Template</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_Patient_Checklist_To_Dos_Record_Type</name>
        <label>Get Patient Checklist To Dos Record Type</label>
        <locationX>534</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_all_Patient_to_dos</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Patient Checklist To Dos</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <textTemplates>
        <name>CompletedTaskInformation</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Loop_to_Create_Clinical_Note.Subject}: {!Loop_to_Create_Clinical_Note.Description} - {!Loop_to_Create_Clinical_Note.Status}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>AllGroupTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>AllTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>CallNote</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CompletedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_by_Cycle_Type</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task_Template__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Task</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>UpdatedTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
</Flow>
