force-app/main/default/flows/Display_Nurse_Navigation_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Group</name>
        <label>Assign Group</label>
        <locationX>1634</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>GroupID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Admin_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scan Booking Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Body</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ScanBookingTExt</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Scan_to_Do</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Button_Flow</name>
        <label>Button Flow</label>
        <locationX>1766</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Add_Results</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Result</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Result_Subflow</targetReference>
            </connector>
            <label>Add Results</label>
        </rules>
        <rules>
            <name>New_To_Do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New To Do</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Do</targetReference>
            </connector>
            <label>New To Do</label>
        </rules>
        <rules>
            <name>Day_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Day 1</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Day_1_Flow</targetReference>
            </connector>
            <label>Day 1</label>
        </rules>
        <rules>
            <name>View_Treatment_Plan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>View Plan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Treatment_Plan</targetReference>
            </connector>
            <label>View Treatment Plan</label>
        </rules>
        <rules>
            <name>Book_Scan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Book Scan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Book_Procedures</targetReference>
            </connector>
            <label>Book Scan</label>
        </rules>
        <rules>
            <name>Medications</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_1.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meds</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Medications_Flow</targetReference>
            </connector>
            <label>Medications</label>
        </rules>
        <rules>
            <name>Scan_to_Do</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scan to Do</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Clinic</targetReference>
            </connector>
            <label>Scan to Do</label>
        </rules>
        <rules>
            <name>Add_Comment_to_Table</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Comment to Table</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Comment_warning</targetReference>
            </connector>
            <label>Add Comment to Table</label>
        </rules>
        <rules>
            <name>Create_a_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create a Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Gen_Doc_Flow</targetReference>
            </connector>
            <label>Create a Document</label>
        </rules>
        <rules>
            <name>Add_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Buttons_2.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add a Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Consent</targetReference>
            </connector>
            <label>Add Consent</label>
        </rules>
        <rules>
            <name>Medication_Columns</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Button3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link Medications to Display Columns</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Day_Columns</targetReference>
            </connector>
            <label>Medication Columns</label>
        </rules>
        <rules>
            <name>Med_Document</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nurse_Button3.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Create Med Schedule Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Run_Med_Schedule_Doc</targetReference>
            </connector>
            <label>Med Document</label>
        </rules>
    </decisions>
    <decisions>
        <name>Clinic</name>
        <label>Clinic</label>
        <locationX>1766</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ballarat_IVF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ballarat IVF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admin_Queue</targetReference>
            </connector>
            <label>Ballarat IVF</label>
        </rules>
    </decisions>
    <description>Creates a button set to trigger various flows.</description>
    <environments>Default</environments>
    <formulas>
        <name>ScanBookingTExt</name>
        <dataType>String</dataType>
        <expression>&quot;Please book scan for &quot;&amp;{!Get_Cycle.Name}</expression>
    </formulas>
    <interviewLabel>Display Nurse Navigation Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Nurse Navigation Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Admin_Queue</name>
        <label>Get Admin Queue</label>
        <locationX>1634</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Group</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Ballarat</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Admin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1766</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Medications</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Medications</name>
        <label>Get Cycle Medications</label>
        <locationX>1766</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Button_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Button_Screen</name>
        <label>Button Screen</label>
        <locationX>1766</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Button_Flow</targetReference>
        </connector>
        <fields>
            <name>Nurse_Buttons_1</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add a Result (Scans and Bloods)&quot;,&quot;value&quot;:&quot;Result&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:add&quot;},{&quot;label&quot;:&quot;Log Day 1&quot;,&quot;value&quot;:&quot;Day 1&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:alert&quot;},{&quot;label&quot;:&quot;Book Bloods and Procedures &quot;,&quot;value&quot;:&quot;Book Scan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2,&quot;iconName&quot;:&quot;utility:adduser&quot;},{&quot;label&quot;:&quot;New To Do&quot;,&quot;value&quot;:&quot;New To Do&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3,&quot;iconName&quot;:&quot;utility:activity&quot;},{&quot;label&quot;:&quot;Change/Add Medications&quot;,&quot;value&quot;:&quot;Meds&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:4,&quot;iconName&quot;:&quot;utility:announcement&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Nurse_Buttons_2</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;View Treatment Plan&quot;,&quot;value&quot;:&quot;View Plan&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:answered_twice&quot;},{&quot;label&quot;:&quot;Create Scan To Do&quot;,&quot;value&quot;:&quot;Scan To Do&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:1,&quot;iconName&quot;:&quot;utility:all&quot;},{&quot;label&quot;:&quot;Add Comment to Table&quot;,&quot;value&quot;:&quot;Add Comment to Table&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:2,&quot;iconName&quot;:&quot;utility:capslock&quot;},{&quot;label&quot;:&quot;Create a Document&quot;,&quot;value&quot;:&quot;Create a Document&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:3,&quot;iconName&quot;:&quot;utility:adduser&quot;},{&quot;label&quot;:&quot;Add a Consent&quot;,&quot;value&quot;:&quot;Add a Consent&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:4,&quot;iconName&quot;:&quot;utility:button_choice&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Nurse_Button3</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Link Medications to Display Columns&quot;,&quot;value&quot;:&quot;Link Medications to Display Columns&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;index&quot;:0,&quot;iconName&quot;:&quot;utility:attach&quot;},{&quot;label&quot;:&quot;Create Med Schedule Document&quot;,&quot;value&quot;:&quot;Create Med Schedule Document&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Comment_warning</name>
        <label>Comment warning</label>
        <locationX>2162</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Comments</targetReference>
        </connector>
        <fields>
            <name>Noteoncomments</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please note that this is only intended as an admin function for adding comments against specific days in the cycle. Please use the communicate with patient tab to add clinical notes and phone discussions. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>3482</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errtext</name>
            <fieldText>&lt;p&gt;Error&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Treatment_Plan</name>
        <label>Treatment Plan</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Treatment_Plan_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Treatment_Plan_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Patient__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Protocol__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Treatment_Plan_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Doctor_Initiating_Cycle__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Cycle_Timing__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Insemination</name>
            <fieldText>Insemination</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Insemination_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Insemination_Method__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Insemination_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Transfer</name>
            <fieldText>Transfer</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Transfer_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Freeze_All_Options__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Transfer_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Number_of_Embryos_to_Transfer__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Cycle.Freeze_All_Options__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Get_Cycle.Embryo_Glue__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Cycle.Freeze_All_Options__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>No</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Medications_Section</name>
            <fieldText>Medications</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Medications_Section_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Med_Table</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>Cycle_Medication__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Medications Table</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>Get_Cycle_Medications</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-fe1d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Cycle Medication Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Medication_Start_Day__c&quot;,&quot;guid&quot;:&quot;column-0d5e&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;RX Start Day&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Medication Start Day&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Medication_End_Day__c&quot;,&quot;guid&quot;:&quot;column-f72d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;RX End Day&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Medication End Day&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Medication_Start_Date__c&quot;,&quot;guid&quot;:&quot;column-9c04&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Medication Start Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Medication_End_Date__c&quot;,&quot;guid&quot;:&quot;column-030d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:4,&quot;label&quot;:&quot;Medication End Date&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Dosage__c&quot;,&quot;guid&quot;:&quot;column-9d02&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:5,&quot;label&quot;:&quot;Dosage&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Units__c&quot;,&quot;guid&quot;:&quot;column-4aba&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:6,&quot;label&quot;:&quot;Units&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Regime__c&quot;,&quot;guid&quot;:&quot;column-9ded&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:7,&quot;label&quot;:&quot;Regime&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1640</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Comments</name>
        <label>Add Comments</label>
        <locationX>2162</locationX>
        <locationY>674</locationY>
        <flowName>Display_Cycle_Day_Events</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Book_Procedures</name>
        <label>Book Procedures</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <flowName>Book_Procedures</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Day_1_Flow</name>
        <label>Day 1 Flow</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <flowName>Create_Day_1</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Gen_Doc_Flow</name>
        <label>Gen Doc Flow</label>
        <locationX>2426</locationX>
        <locationY>566</locationY>
        <flowName>Generate_Document_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Medications_Flow</name>
        <label>Medications Flow</label>
        <locationX>1370</locationX>
        <locationY>566</locationY>
        <flowName>Meds_Buttons_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>New_Consent</name>
        <label>New Consent</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <flowName>New_Cycle_Consent</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>New_Scan_to_Do</name>
        <label>New Scan to Do</label>
        <locationX>1634</locationX>
        <locationY>890</locationY>
        <flowName>New_To_Do</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SelectedGroupRecordID</name>
            <value>
                <elementReference>Get_Admin_Queue.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>Subject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>TodoText</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Result_Subflow</name>
        <label>Result Subflow</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <flowName>Add_New_Result</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Run_Med_Schedule_Doc</name>
        <label>Run Med Schedule Doc</label>
        <locationX>3218</locationX>
        <locationY>566</locationY>
        <flowName>Generate_Medication_Schedule</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Set_Day_Columns</name>
        <label>Set Day Columns</label>
        <locationX>2954</locationX>
        <locationY>566</locationY>
        <flowName>Set_Cycle_Day_Columns</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>To_Do</name>
        <label>To Do</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <flowName>New_To_Do</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>Body</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GroupID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
