force-app/main/default/flows/Display_Embryos_on_a_Cycle_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Which_Clinic</name>
        <label>Which Clinic?</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ballarat_IVF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a055g000003mMDqAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D3_5_6_Data_Table_Screen</targetReference>
            </connector>
            <label>Ballarat IVF</label>
        </rules>
        <rules>
            <name>Create_Fertility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a055g000003mMDvAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>D2_4_5_7_Embryo_Screen</targetReference>
            </connector>
            <label>Create Fertility</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Display Embryos on a Cycle Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Display Embryos on a Cycle Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Clinic_Undertaken_at</name>
        <label>Get Clinic Undertaken at</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Clinic_Undertaken_at</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Which_Clinic</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle_Created_In__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <sortField>Embryo_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>D2_4_5_7_Embryo_Screen</name>
        <label>D2,4,5,7 Embryo Screen</label>
        <locationX>314</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>D2_4_5_7_Data_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Embryo_Number__c,Insem_Method__c,Fertilisation_Status__c,Day_2_Cell_Number__c,Day_2_Fragmentation__c,Day_2_Other__c,Day_2_Points__c,Day_5_Expansion__c,Day_5_Consolidated_Grade__c,Day_5_Other__c,Day_5_Overall_Grade__c,Day_7_Expansion__c,Day_7_Consolidated_Grade__c,Day_7_Other__c,Day_7_Overall_Grade__c,Fate__c,PGT_Results__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Embryo_Number__c:#, Fertilisation_Status__c:Fert, Day_2_Cell_Number__c:Day 2 Cells, Day_5_Consolidated_Grade__c:Day 5 Grade, Day_7_Consolidated_Grade__c:Day 7 Grade</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:165, Embryo_Number__c:50, Insem_Method__c:165, Fertilisation_Status__c:106, Day_2_Cell_Number__c:129, Day_2_Fragmentation__c:173, Day_2_Other__c:124, Day_2_Points__c:138, Day_5_Expansion__c:158, Day_5_Consolidated_Grade__c:200, Day_5_Other__c:169, Day_5_Overall_Grade__c:166, Day_7_Expansion__c:168, Day_7_Consolidated_Grade__c:210, Day_7_Other__c:182, Day_7_Overall_Grade__c:169, Fate__c:150, PGT_Results__c:140</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isDisplayHeader</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:false, Embryo_Number__c:false, Insem_Method__c:true, Fertilisation_Status__c:true, Day_2_Cell_Number__c:true, Day_2_Fragmentation__c:true, Day_2_Other__c:true, Day_2_Points__c:true, Day_5_Expansion__c:true, Day_5_ICM_Trophectoderm__c:true, Day_5_Other__c:true, Day_5_Overall_Grade__c:true, Day_7_Expansion__c:true, Day_7_ICM_Trophectoderm__c:true, Day_7_Other__c:true, Day_7_Overall_Grade__c:false, Fate__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>openLinkinSameTab</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_openLinkinSameTab</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnCellAttribs</name>
                <value>
                    <stringValue>19:{Fate__c:class:&apos;slds-theme_success}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>D3_5_6_Data_Table_Screen</name>
        <label>D3,5,6 Data Table Screen</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Embryo_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Embryo_Number__c,Insem_Method__c,Fertilisation_Status__c,Day_3_Cell_Number__c,Day_3_Fragmentation__c,Day_3_Points__c,Day_5_Consolidated_Grade__c,Day_6_Expansion__c,Day_6_Consolidated_Grade__c,Fate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:180, Embryo_Number__c:85, Insem_Method__c:100, Fertilisation_Status__c:100, Day_3_Cell_Number__c:95, Day_3_Fragmentation__c:95, Day_3_Points__c:95, Day_5_Consolidated_Grade__c:102, Day_6_Expansion__c:183, Day_6_Consolidated_Grade__c:86, Fate__c:135</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Embryo_Number__c:#, Insem_Method__c:Ins, Fertilisation_Status__c:Fert, Day_3_Cell_Number__c:D3C, Day_3_Fragmentation__c:D3F, Day_3_Points__c:D3P, Day_5_Expansion__c:D5E, Day_5_Consolidated_Grade__c:D5, Day_6_Expansion__c:D6E, Day_6_Consolidated_Grade__c:D6</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
