force-app/main/default/flows/Distribute_Cycle_Reports_to_Treating_Doctor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_BIVF_Rep</name>
        <label>Generate BIVF Rep</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_2_of_Update_Date_Generated_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a0j5g000003C0rAAAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_BIVF_Report</name>
        <label>Generate BIVF Report</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Date_Generated_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a0j5g000003C0rAAAS</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_CF_Report</name>
        <label>Generate CF Report</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>docb__TSDocuments</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Update_Date_Generated_Field</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <stringValue>a0j5g000003C0pnAAC</stringValue>
            </value>
        </inputParameters>
        <nameSegment>docb__TSDocuments</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Get_Clinic_Undertaken_at</name>
        <label>Get Clinic Undertaken at</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ballarat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinic_Cycle_Being_Undertaken_At__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a055g000003mMDqAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_BIVF_Report</targetReference>
            </connector>
            <label>Ballarat</label>
        </rules>
        <rules>
            <name>Create_Fertility</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinic_Cycle_Being_Undertaken_At__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a055g000003mMDvAAM</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_CF_Report</targetReference>
            </connector>
            <label>Create Fertility</label>
        </rules>
        <rules>
            <name>SurfCoast_Send_BIVF_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Clinic_Cycle_Being_Undertaken_At__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>a055g000003mqzpAAA</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_BIVF_Rep</targetReference>
            </connector>
            <label>SurfCoast (Send BIVF Report)</label>
        </rules>
    </decisions>
    <description>This Record Triggered Flow determines Cycle outcome and generates a Cycle Report.</description>
    <environments>Default</environments>
    <formulas>
        <name>TodaysDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE(TEXT(NOW()))</expression>
    </formulas>
    <interviewLabel>Distribute Cycle Reports to Treating Doctor {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate a Cycle Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Copy_1_of_Update_Date_Generated_Field</name>
        <label>Copy 1 of Update &quot;Date Generated&quot; Field</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_Report_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Update_Date_Generated_Field</name>
        <label>Copy 2 of Update &quot;Date Generated&quot; Field</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_Report_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Date_Generated_Field</name>
        <label>Update &quot;Date Generated&quot; Field</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Date_Report_Generated__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Clinic_Undertaken_at</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Cycle_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Freeze All</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>No Transfer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Pregnant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Cycle_Outcome__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Positive BHCG</stringValue>
            </value>
        </filters>
        <object>Cycle__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <textTemplates>
        <description>Notifies Dr of cycle report</description>
        <name>EmailTemplate</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!$Record.Doctor_Initiating_Cycle__r.Name},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please aware that cycle &quot;{!$Record.Cycle_ID__c}&quot; has closed and as such a cycle report has been generated. Please click this link to view the cycle:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Kind Regards,&lt;/p&gt;&lt;p&gt;Zygote.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
