force-app/main/default/flows/Document_Management_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>All_Documnets</name>
        <label>All Documnets</label>
        <locationX>642</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>AllDocuments</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Content_Doc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Docs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Delete_or_Edit</name>
        <label>Delete or Edit</label>
        <locationX>642</locationX>
        <locationY>974</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditDelete.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit Documents Name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Names</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
        <rules>
            <name>Delete_Button</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditDelete.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>Delete</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generate_or_Delete</name>
        <label>Generate or Delete</label>
        <locationX>554</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Generate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_edit_Delet.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Generate A New Document</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Flow</targetReference>
            </connector>
            <label>Generate</label>
        </rules>
        <rules>
            <name>Edit_Delete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Generate_edit_Delet.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit/Delete Existing Documents</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Document_Edits_and_Delete</targetReference>
            </connector>
            <label>Edit/Delete</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Document Management Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Document Management Flow</label>
    <loops>
        <name>Change_Names</name>
        <label>Change Names</label>
        <locationX>402</locationX>
        <locationY>1082</locationY>
        <collectionReference>DocumentsforDelete</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Edit_Title</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Get_Docs</name>
        <label>Get Docs</label>
        <locationX>554</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Content_Linkages</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Content_Doc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_or_Edit</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Records</name>
        <label>Delete Records</label>
        <locationX>618</locationX>
        <locationY>1190</locationY>
        <inputReference>DocumentsforDelete</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Content_Doc</name>
        <label>Get Content Doc</label>
        <locationX>642</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>All_Documnets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Docs.ContentDocument.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Content_Linkages</name>
        <label>Get Content Linkages</label>
        <locationX>554</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Docs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records</name>
        <label>Update Records</label>
        <locationX>490</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Change_Names</targetReference>
        </connector>
        <inputReference>Change_Names</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Document_Edits_and_Delete</name>
        <label>Document Edits and Delete</label>
        <locationX>642</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_or_Edit</targetReference>
        </connector>
        <fields>
            <name>text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Select documents below to either alter their names or delete them &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DocEditTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>ContentDocument</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllDocuments</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Title,FileExtension,OwnerId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Title:434, FileExtension:434, OwnerId:381</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Title_lookup:true</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedDocuments</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>DocumentsforDelete</assignToReference>
                <name>outputSelectedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>EditDelete</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Edit Documents Name&quot;,&quot;value&quot;:&quot;Edit Documents Name&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:adjust_value&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete Documents&quot;,&quot;value&quot;:&quot;Delete Documents&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:archive&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Title</name>
        <label>Edit Title</label>
        <locationX>490</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Records</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Change_Names.Title</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_or_Edit</name>
        <label>Generate or Edit?</label>
        <locationX>554</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Generate_or_Delete</targetReference>
        </connector>
        <fields>
            <name>Generate_edit_Delet</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Generate A New Document&quot;,&quot;value&quot;:&quot;Generate A New Document&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Edit/Delete Existing Documents&quot;,&quot;value&quot;:&quot;Edit/Delete Existing Documents&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adjust_value&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>618</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Delete_Records</targetReference>
        </connector>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;WARNING: You are about to delete the below documents.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Delete</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ContentDocument</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>DocumentsforDelete</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Title&quot;,&quot;guid&quot;:&quot;column-30bd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Title&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Delete Documents</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>428</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Linkages</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Generate_Flow</name>
        <label>Generate Flow</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <flowName>Generate_Document_Flow</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>CountforDelete</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>DocumentsforDelete</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedDocuments</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
</Flow>
