force-app/main/default/flows/Export_Egggs_Embryos_and_Semen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Api_Name</name>
        <label>Get Object Api Name</label>
        <locationX>534</locationX>
        <locationY>134</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type?</label>
        <locationX>534</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Embryo</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Api_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryos__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Object_Api_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryo_Batch__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Object_Api_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryo_Storage_Import__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Embryos</targetReference>
            </connector>
            <label>Embryo</label>
        </rules>
        <rules>
            <name>Egg</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Api_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egg__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Object_Api_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egg_Cohort__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Eggs</targetReference>
            </connector>
            <label>Egg</label>
        </rules>
        <rules>
            <name>Semen</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Api_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen_Sample__c</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Object_Api_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen_Straw__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sperm</targetReference>
            </connector>
            <label>Semen</label>
        </rules>
    </decisions>
    <description>Allows for samples to be exported.</description>
    <environments>Default</environments>
    <interviewLabel>Export Egggs, Embryos and Semen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Export Eggs, Embryos and Semen</label>
    <loops>
        <name>Loop_Selected_Eggs</name>
        <label>Loop Selected Eggs</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <collectionReference>EggsTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Export_Date_Eggs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cohort</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Selected_Embryos</name>
        <label>Loop Selected Embryos</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>ExpoortEmb.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Export_Date</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Batch</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Sperm</name>
        <label>Loop Sperm</label>
        <locationX>754</locationX>
        <locationY>566</locationY>
        <collectionReference>SpermTable.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Export_Date_Sperm</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Sample</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Eggs</name>
        <label>Get Eggs</label>
        <locationX>402</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Eggs_for_Export</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Embryos</name>
        <label>Get Embryos</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Embryos_for_Export</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Exported_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sperm</name>
        <label>Get Sperm</label>
        <locationX>754</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Sperm_for_Export</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Semen_Sample__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Fate__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Semen_Straw__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Batch</name>
        <label>Update Batch</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Export_Notes__c</field>
            <value>
                <elementReference>Export_Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exported_Date__c</field>
            <value>
                <elementReference>Exported_Date</elementReference>
            </value>
        </inputAssignments>
        <object>Embryo_Batch__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cohort</name>
        <label>Update Cohort</label>
        <locationX>402</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Export_Notes__c</field>
            <value>
                <elementReference>Export_Notes_egg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exported_Date__c</field>
            <value>
                <elementReference>Exported_Date_Eggs</elementReference>
            </value>
        </inputAssignments>
        <object>Egg_Cohort__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Export_Date</name>
        <label>Update Export Date</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Selected_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Embryos.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clinic_Exported_To__c</field>
            <value>
                <elementReference>Clinic_Exported_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exported_Date__c</field>
            <value>
                <elementReference>Exported_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fate__c</field>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </inputAssignments>
        <object>Embryos__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Export_Date_Eggs</name>
        <label>Update Export Date Eggs</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Selected_Eggs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Selected_Eggs.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clinic_Exported_To__c</field>
            <value>
                <elementReference>Clinic_Exported_To2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exported_Date__c</field>
            <value>
                <elementReference>Exported_Date_Eggs</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fate__c</field>
            <value>
                <stringValue>Exported</stringValue>
            </value>
        </inputAssignments>
        <object>Egg__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Export_Date_Sperm</name>
        <label>Update Export Date Sperm</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Loop_Sperm</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Sperm.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Clinic_Exported_To__c</field>
            <value>
                <elementReference>Clinic_Exported_To3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exported_Date__c</field>
            <value>
                <elementReference>Exported_Date_Sperm</elementReference>
            </value>
        </inputAssignments>
        <object>Semen_Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sample</name>
        <label>Update Sample</label>
        <locationX>754</locationX>
        <locationY>866</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Export_Notes__c</field>
            <value>
                <elementReference>Export_Notes_sperm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Exported_Date__c</field>
            <value>
                <elementReference>Exported_Date_Sperm</elementReference>
            </value>
        </inputAssignments>
        <object>Semen_Sample__c</object>
    </recordUpdates>
    <screens>
        <name>Select_Eggs_for_Export</name>
        <label>Select Eggss for Export</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Selected_Eggs</targetReference>
        </connector>
        <fields>
            <name>Exported_Date_Eggs</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Exported Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Clinic_Exported_To2</name>
            <dataType>String</dataType>
            <fieldText>Clinic Exported To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EggsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Eggs for Export</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Eggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0bc8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Egg Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Egg_Number__c&quot;,&quot;guid&quot;:&quot;column-21b7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Egg Number&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Freeze_Date__c&quot;,&quot;guid&quot;:&quot;column-7f8a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Freeze Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Export_Notes_egg</name>
            <fieldText>Export Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Embryos_for_Export</name>
        <label>Select Embryos for Export</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Loop_Selected_Embryos</targetReference>
        </connector>
        <fields>
            <name>Exported_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Exported Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Clinic_Exported_To</name>
            <dataType>String</dataType>
            <fieldText>Clinic Exported To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ExpoortEmb</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Embryos for Export</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-9198&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Embryo&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Embryo_Number__c&quot;,&quot;guid&quot;:&quot;column-f7c9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Embryo Number&quot;,&quot;type&quot;:&quot;number&quot;},{&quot;apiName&quot;:&quot;Storage_Date__c&quot;,&quot;guid&quot;:&quot;column-fa9b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Freeze Date&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Export_Notes</name>
            <fieldText>Export Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Sperm_for_Export</name>
        <label>Select Sperm for Export</label>
        <locationX>754</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loop_Sperm</targetReference>
        </connector>
        <fields>
            <name>Exported_Date_Sperm</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Exported Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Clinic_Exported_To3</name>
            <dataType>String</dataType>
            <fieldText>Clinic Exported To</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>SpermTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Semen_Straw__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Sperm for Export</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Sperm</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-4f34&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Semen Straw Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Straw_Size__c&quot;,&quot;guid&quot;:&quot;column-6b98&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Straw Size&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Storage_Date__c&quot;,&quot;guid&quot;:&quot;column-af60&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Freeze Date&quot;,&quot;type&quot;:&quot;date-local&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Export_Notes_sperm</name>
            <fieldText>Export Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object_Api_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
