force-app/main/default/flows/Generate_Medication_Schedule.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_M1</name>
        <label>Generate M1</label>
        <locationX>1898</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
            <value>
                <elementReference>Generate_M1.isShowPreview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_M2</name>
        <label>Generate M2</label>
        <locationX>1634</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
            <value>
                <elementReference>Generate_M2.isShowPreview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_M3</name>
        <label>Generate M3</label>
        <locationX>1370</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
            <value>
                <elementReference>Generate_M3.isShowPreview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_M4</name>
        <label>Generate M4</label>
        <locationX>1106</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
            <value>
                <elementReference>Generate_M4.isShowPreview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_M5</name>
        <label>Generate M5</label>
        <locationX>842</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM5</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
            <value>
                <elementReference>Generate_M5.isShowPreview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_M6</name>
        <label>Generate M6</label>
        <locationX>578</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM6</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
            <value>
                <elementReference>Generate_M6.isShowPreview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_M7</name>
        <label>Generate M7</label>
        <locationX>314</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM7</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Generate_M8</name>
        <label>Generate M8</label>
        <locationX>50</locationX>
        <locationY>950</locationY>
        <actionName>docb:DocumentBuilder</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>templateId</name>
            <value>
                <elementReference>TSTemplateIdM8</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>isShowPreview</name>
            <value>
                <elementReference>Generate_M8.isShowPreview</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Generate Medication Schedule</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>loadingMessageDescription</name>
            <value>
                <elementReference>LoadingMessage</elementReference>
            </value>
        </inputParameters>
        <nameSegment>docb:DocumentBuilder</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_M1</name>
        <label>Assign M1</label>
        <locationX>3042</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M1Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>M1Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_M2</name>
        <label>Assign M2</label>
        <locationX>2778</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M2Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_M3</name>
        <label>Assign M3</label>
        <locationX>2514</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M3Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_M4</name>
        <label>Assign M4</label>
        <locationX>2250</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M4Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_M5</name>
        <label>Assign M5</label>
        <locationX>1986</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M5Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>M6_Equals_True</name>
        <label>M6 Equals True</label>
        <locationX>1722</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M6Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>M7_Equals_True</name>
        <label>M7 Equals True</label>
        <locationX>1458</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M7Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>M8_Equals_True</name>
        <label>M8 Equals True</label>
        <locationX>1194</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>M8Var</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cycle_Med_is_Null</name>
        <label>Cycle Med is Null?</label>
        <locationX>2250</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>M8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_8__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M8_Equals_True</targetReference>
            </connector>
            <label>M8</label>
        </rules>
        <rules>
            <name>M7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_7__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M7_Equals_True</targetReference>
            </connector>
            <label>M7</label>
        </rules>
        <rules>
            <name>M6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_6__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>M6_Equals_True</targetReference>
            </connector>
            <label>M6</label>
        </rules>
        <rules>
            <name>M5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_5__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_M5</targetReference>
            </connector>
            <label>M5</label>
        </rules>
        <rules>
            <name>M4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_4__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_M4</targetReference>
            </connector>
            <label>M4</label>
        </rules>
        <rules>
            <name>M3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_3__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_M3</targetReference>
            </connector>
            <label>M3</label>
        </rules>
        <rules>
            <name>M2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_M2</targetReference>
            </connector>
            <label>M2</label>
        </rules>
        <rules>
            <name>M1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Cycle_Day_Meds.Medication_1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_M1</targetReference>
            </connector>
            <label>M1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Generate_which_consent</name>
        <label>Generate Which Schedule</label>
        <locationX>1106</locationX>
        <locationY>842</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>M8_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M8Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M8</targetReference>
            </connector>
            <label>M8 Schedule</label>
        </rules>
        <rules>
            <name>M7_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M7Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M7</targetReference>
            </connector>
            <label>M7 Schedule</label>
        </rules>
        <rules>
            <name>M6_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M6Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M6</targetReference>
            </connector>
            <label>M6 Schedule</label>
        </rules>
        <rules>
            <name>M5_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M5Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M5</targetReference>
            </connector>
            <label>M5 Schedule</label>
        </rules>
        <rules>
            <name>M4_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M4Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M4</targetReference>
            </connector>
            <label>M4 Schedule</label>
        </rules>
        <rules>
            <name>M3_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M3Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M3</targetReference>
            </connector>
            <label>M3 Schedule</label>
        </rules>
        <rules>
            <name>M2_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M2Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M2</targetReference>
            </connector>
            <label>M2 Schedule</label>
        </rules>
        <rules>
            <name>M1_Schedule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>M1Var</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_M1</targetReference>
            </connector>
            <label>M1 Schedule</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Convert_M1_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M1Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>Convert_M2_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M2Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>Convert_M3_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M3Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>Convert_M4_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M4Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>Convert_M5_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M5Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>Convert_M6_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M6Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>Convert_M7_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M7Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>Convert_M8_to_Boolean</name>
        <dataType>Boolean</dataType>
        <expression>{!M8Var} = &quot;true&quot;</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM1</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000002ftA7AAI&apos;, &apos;a0j5g000002ft9sAAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM2</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000002ftA8AAI&apos;, &apos;a0j5g000002ft9xAAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM3</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000002ftA9AAI&apos;, &apos;a0j5g000002ft9tAAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM4</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000002ftAAAAY&apos;, &apos;a0j5g000002ft9uAAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM5</name>
        <dataType>String</dataType>
        <expression>
IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000002ftABAAY&apos;, &apos;a0j5g000002ft9yAAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM6</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000002ft9zAAA&apos;, &apos;a0j5g000002ft9vAAA&apos;)</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM7</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000002ftACAAY&apos;, &apos;a0j5g000002ftA2AAI&apos;)</expression>
    </formulas>
    <formulas>
        <name>TSTemplateIdM8</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id} = &apos;a055g000003mMDvAAM&apos;, &apos;a0j5g000003C4ikAAC&apos;, &apos;a0j5g000003BwHKAA0&apos;)</expression>
    </formulas>
    <interviewLabel>Generate Medication Schedule {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Medication Schedule</label>
    <loops>
        <name>Loop_Cycle_Day_Meds</name>
        <label>Loop Cycle Day Meds</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <collectionReference>Get_Cycle_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cycle_Med_is_Null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Generate_which_consent</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Days</name>
        <label>Get Cycle Days</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Cycle_Day_Meds</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>1106</locationX>
        <locationY>1208</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 22px;&quot;&gt;You have successfully generated a patient medication schedule. Please allow 30 - 60 seconds for this to attach to the files tab and refresh the page as necessary. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>LoadingMessage</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Medication Schedule Loading, Please do not leave this screen until this has generated.&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>CycleDayCVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>M1Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>M2Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>M3Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>M4Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>M5Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>M6Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>M7Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>M8Var</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
