force-app/main/default/flows/Generate_Patient_Cycle_Medication_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_to_Update</name>
        <label>Add to Update</label>
        <locationX>1056</locationX>
        <locationY>3590</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clear</name>
        <label>Assign Clear</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_1__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_2__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_3__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_4__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_for_Clear_CD.Medication_4Plus__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_All_Cycle_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count</name>
        <label>Assign Count</label>
        <locationX>396</locationX>
        <locationY>4286</locationY>
        <assignmentItems>
            <assignToReference>Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Days_to_Null</name>
        <label>Assign Cycle Days to Null</label>
        <locationX>176</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cycle_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Discriptioons_Variable</name>
        <label>Assign Discriptioons Variable</label>
        <locationX>284</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>DiscriptionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MedicationNameFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Medication_DIscription</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_1</name>
        <label>Assign Medication 1</label>
        <locationX>264</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscriptionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_ID_to_Collection</name>
        <label>Assign Medication ID to Collection</label>
        <locationX>264</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>MedicationIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_medication_Id_s.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_medication_Id_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Medication_Var</name>
        <label>Assign Medication Var</label>
        <locationX>156</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>DiscriptionVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MultipleMedsTextTemplate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Medications</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All</name>
        <label>Assign to All</label>
        <locationX>264</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>AllCycleMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ID_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_All_Cycle_Days</name>
        <label>Assign to All Cycle Days</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Clear_CD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Clear_CD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_Remove_All</name>
        <label>Assign to Remove All</label>
        <locationX>176</locationX>
        <locationY>3806</locationY>
        <assignmentItems>
            <assignToReference>RemovedMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Medication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Remove_Medication</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Medication_1</name>
        <label>Copy 1 of Assign Medication 1</label>
        <locationX>528</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscriptionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_4_of_Assign_Medication_1</name>
        <label>Copy 1 of Copy 4 of Assign Medication 1</label>
        <locationX>1584</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_5__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscriptionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Medication_1</name>
        <label>Copy 2 of Assign Medication 1</label>
        <locationX>792</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscriptionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Medication_1</name>
        <label>Copy 3 of Assign Medication 1</label>
        <locationX>1056</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscriptionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Medication_1</name>
        <label>Copy 4 of Assign Medication 1</label>
        <locationX>1320</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Loop_Days.Medication_4Plus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DiscriptionVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Update</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Description_Variable</name>
        <label>Description Variable</label>
        <locationX>176</locationX>
        <locationY>2678</locationY>
        <assignmentItems>
            <assignToReference>DiscriptionVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Medication_Discription_Field</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pre_Day_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_All_Days</name>
        <label>Null All Days</label>
        <locationX>396</locationX>
        <locationY>4526</locationY>
        <assignmentItems>
            <assignToReference>AllCycleDays</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>AllCycleDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_ID_s</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_Meds</name>
        <label>Null Meds</label>
        <locationX>396</locationX>
        <locationY>4166</locationY>
        <assignmentItems>
            <assignToReference>AllCycleMedications</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DiscriptionVariable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Count</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Remove_Medication</name>
        <label>Remove Medication</label>
        <locationX>176</locationX>
        <locationY>3926</locationY>
        <assignmentItems>
            <assignToReference>MedicationIDs</assignToReference>
            <operator>RemoveFirst</operator>
            <value>
                <elementReference>Medication.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Are_Medications_All_Assigned</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Are_Medications_All_Assigned</name>
        <label>Are Medications All Assigned?</label>
        <locationX>176</locationX>
        <locationY>4046</locationY>
        <defaultConnector>
            <targetReference>Null_Meds</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_Value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MedicationIDs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Document</targetReference>
            </connector>
            <label>Null Value</label>
        </rules>
        <rules>
            <name>Count_Greater_Than_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Greater_Than_4</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Days</targetReference>
            </connector>
            <label>Count Greater Than 3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Count_Greater_than_4</name>
        <label>Count Greater than 4</label>
        <locationX>176</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Selected_Medications</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_Than_4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Medications</targetReference>
            </connector>
            <label>Greater Than 4</label>
        </rules>
    </decisions>
    <decisions>
        <name>Medication_Count</name>
        <label>Medication Count</label>
        <locationX>1056</locationX>
        <locationY>3254</locationY>
        <defaultConnector>
            <targetReference>Add_to_Update</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Medication_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Medication_1</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Medication_1</targetReference>
            </connector>
            <label>3</label>
        </rules>
        <rules>
            <name>X4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Medication_1</targetReference>
            </connector>
            <label>4</label>
        </rules>
        <rules>
            <name>X5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Medication_1</targetReference>
            </connector>
            <label>5</label>
        </rules>
        <rules>
            <name>X5Plus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_4_of_Assign_Medication_1</targetReference>
            </connector>
            <label>5+</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pre_Day_1</name>
        <label>Pre Day 1</label>
        <locationX>176</locationX>
        <locationY>2798</locationY>
        <defaultConnector>
            <targetReference>Get_Cycle_Days</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PreDay1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_to_Update</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle_Days</targetReference>
            </connector>
            <label>PreDay1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>MedicationNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Medication.Linked_Master_Medication__r.Medication_Name__c}&amp;&quot; &quot;&amp; TEXT({!Medication.Dosage__c})&amp;&quot; &quot;&amp;TEXT({!Medication.Units__c})&amp;&quot; &quot;&amp;TEXT({!Medication.Regime__c})</expression>
    </formulas>
    <interviewLabel>Generate Patient Cycle Medication Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Patient Cycle Medication Form</label>
    <loops>
        <name>Loop_Days</name>
        <label>Loop Days</label>
        <locationX>176</locationX>
        <locationY>3134</locationY>
        <collectionReference>Get_Cycle_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Medication_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_to_Remove_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_for_Clear_CD</name>
        <label>Loop for Clear CD</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_All_Cycle_Days</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Clear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cycle_Days</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_ID_s</name>
        <label>Loop ID&apos;s</label>
        <locationX>176</locationX>
        <locationY>1550</locationY>
        <collectionReference>MedicationIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Medication</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Count_Greater_than_4</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_medication_Id_s</name>
        <label>Loop medication Id&apos;s</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <collectionReference>Get_Cycle_Medications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Medication_ID_to_Collection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_ID_s</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Medications</name>
        <label>Loop Medications</label>
        <locationX>68</locationX>
        <locationY>2126</locationY>
        <collectionReference>AllCycleMedications</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Medication_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Medication_DIscription</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_All_Cycle_Days</name>
        <label>Get All Cycle Days</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Clear_CD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Days</name>
        <label>Get Cycle Days</label>
        <locationX>176</locationX>
        <locationY>3014</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Days</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Number__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>Medication.Medication_Start_Day__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Number__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Medication.Medication_End_Day__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_Number__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>Specify_the_Cycle_Day_that_you_would_like_medications_filled_to</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Day__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Medications</name>
        <label>Get Cycle Medications</label>
        <locationX>176</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_medication_Id_s</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medication</name>
        <label>Get Medication</label>
        <locationX>264</locationX>
        <locationY>1670</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_to_All</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ID_s</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Days</name>
        <label>Copy 1 of Update Days</label>
        <locationX>132</locationX>
        <locationY>4166</locationY>
        <connector>
            <targetReference>Generate_Document</targetReference>
        </connector>
        <inputReference>AllCycleDays</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle_Days</name>
        <label>Update Cycle Days</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <connector>
            <targetReference>Assign_Cycle_Days_to_Null</targetReference>
        </connector>
        <inputReference>AllCycleDays</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Days</name>
        <label>Update Days</label>
        <locationX>396</locationX>
        <locationY>4406</locationY>
        <connector>
            <targetReference>Null_All_Days</targetReference>
        </connector>
        <inputReference>AllCycleDays</inputReference>
    </recordUpdates>
    <screens>
        <name>Day_Limit</name>
        <label>Day Limit</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_All_Cycle_Days</targetReference>
        </connector>
        <fields>
            <name>Specify_the_Cycle_Day_that_you_would_like_medications_filled_to</name>
            <dataType>Number</dataType>
            <fieldText>Specify the Cycle Day that you would like medications filled to</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Generate_Document</name>
        <label>Generate Document</label>
        <locationX>176</locationX>
        <locationY>4802</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GenerateDoc</name>
            <extensionName>docb:DocumentBuilder</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>templateId</name>
                <value>
                    <stringValue>a0j5g000003BwHKAA0</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Medication_DIscription</name>
        <label>Medication DIscription</label>
        <locationX>176</locationX>
        <locationY>2558</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Description_Variable</targetReference>
        </connector>
        <fields>
            <name>editScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Edit the medication description as required that you want to appear in Column {!Count}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medication_Discription_Field</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>DiscriptionVariable</elementReference>
            </defaultValue>
            <fieldText>Medication Discription</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Selected_Medications</name>
        <label>Selected Medications</label>
        <locationX>284</locationX>
        <locationY>2126</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Discriptioons_Variable</targetReference>
        </connector>
        <fields>
            <name>Medication_Selection</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Please selected the medication you would like to have appear as Medication {!Count}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Medications</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cb_displayAll</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Medication_Start_Day__c,Medication_End_Day__c,Dosage__c,Regime__c,Units__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:369, Medication_Start_Day__c:369, Medication_End_Day__c:369, Dosage__c:369, Regime__c:369, Units__c:369</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllCycleMedications</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Medication</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Day_Limit</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>MultipleMedsTextTemplate</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Medications.Linked_Master_Medication__r.Medication_Name__c} {!Loop_Medications.Dosage__c} {!Loop_Medications.Units__c} {!Loop_Medications.Regime__c} &amp;</text>
    </textTemplates>
    <variables>
        <name>AllCycleDays</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Day__c</objectType>
    </variables>
    <variables>
        <name>AllCycleMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>DiscriptionVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Medication</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>MedicationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MedicationIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RemovedMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
</Flow>
