force-app/main/default/flows/Import_Patients_From_Genie_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Household</name>
        <label>Assign Household</label>
        <locationX>637</locationX>
        <locationY>1535</locationY>
        <assignmentItems>
            <assignToReference>HouseholdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Houshold</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Patient_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Household_Var</name>
        <label>Assign Household Var</label>
        <locationX>901</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>HouseholdVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.BillingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.AddressLine1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.BillingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Suburb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.BillingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.BillingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HouseholdVar.Household_Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>a055g000003mMDqAAM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Hosehold_INfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>766</locationX>
        <locationY>450</locationY>
        <assignmentItems>
            <assignToReference>icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:account</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:activation_target</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>mALE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Data</name>
        <label>Assign Patient Data</label>
        <locationX>769</locationX>
        <locationY>1751</locationY>
        <assignmentItems>
            <assignToReference>PatientVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CorrectDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.AddressLine1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Suburb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Sex_at_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.EmailAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Medicare_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.MedicareNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Issue_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.MedicareRefNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Expiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HouseholdVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Patient_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.AH_Id_Fk__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Patient_Information</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_Data_0</name>
        <label>Assign Patient Data</label>
        <locationX>481</locationX>
        <locationY>1002</locationY>
        <assignmentItems>
            <assignToReference>PatientVar.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.FirstName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Surname__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Birthdate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CorrectDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MobilePhone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.MobilePhone__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingStreet</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.AddressLine1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingCity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Suburb__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingState</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.State__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.MailingPostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Postcode__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Sex_at_Birth__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Gender__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.Sex__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.EmailAddress__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Medicare_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.MedicareNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Issue_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.MedicareRefNum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Expiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Female.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Patient_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Imported_Patient.AH_Id_Fk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientVar.Partner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Female.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Review_Patient_Information</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>mALE</name>
        <label>mALE?</label>
        <locationX>752</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Create_a_New_Household</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Male_Pat</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Imported_Patient.Sex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Male</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Male_Screen</targetReference>
            </connector>
            <label>Male Pat</label>
        </rules>
    </decisions>
    <decisions>
        <name>Male_For_Female_Update</name>
        <label>Male For Female Update</label>
        <locationX>753</locationX>
        <locationY>2558</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_MAle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Male_Pat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Female</targetReference>
            </connector>
            <label>Yes MAle</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Household_Decision</name>
        <label>New Household Decision</label>
        <locationX>769</locationX>
        <locationY>1175</locationY>
        <defaultConnector>
            <targetReference>Assign_Household_Var</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Link_to_Exisiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>New_Household.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Link to an Existing Household</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_and_Link_Household</targetReference>
            </connector>
            <label>Link to Exisiting</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CorrectDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    AND(
        DAY({!Get_Imported_Patient.DOB__c}) &gt;= 1,
        DAY({!Get_Imported_Patient.DOB__c}) &lt;= 12,
        MONTH({!Get_Imported_Patient.DOB__c}) &gt;= 1,
        MONTH({!Get_Imported_Patient.DOB__c}) &lt;= 31
    ),
    DATE(
        YEAR({!Get_Imported_Patient.DOB__c}),
        DAY({!Get_Imported_Patient.DOB__c}),
        MONTH({!Get_Imported_Patient.DOB__c})
    ),
    {!Get_Imported_Patient.DOB__c}
)</expression>
    </formulas>
    <formulas>
        <name>ExpiryFormula</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Get_Imported_Patient.MedicareExpiry__c},5)</expression>
    </formulas>
    <formulas>
        <name>ReferalTestDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+365</expression>
    </formulas>
    <formulas>
        <name>SexatBirthandGenderFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Imported_Patient.Sex__c}=&quot;F&quot;, &quot;Female&quot;, &quot;Male&quot;)</expression>
    </formulas>
    <interviewLabel>Import Patients From Genie Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Patients From Genie Data</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Household</name>
        <label>Create Household</label>
        <locationX>901</locationX>
        <locationY>1535</locationY>
        <connector>
            <targetReference>Assign_Patient_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate</targetReference>
        </faultConnector>
        <inputReference>HouseholdVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Patient</name>
        <label>Create Patient</label>
        <locationX>596</locationX>
        <locationY>2206</locationY>
        <connector>
            <targetReference>Update_Imported_Pat</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate_0</targetReference>
        </faultConnector>
        <inputReference>PatientVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Female</name>
        <label>Get Female</label>
        <locationX>477</locationX>
        <locationY>857</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_Data_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Female.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Houshold</name>
        <label>Get Houshold</label>
        <locationX>637</locationX>
        <locationY>1415</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.selectedRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Imported_Patient</name>
        <label>Get Imported Patient</label>
        <locationX>798</locationX>
        <locationY>248</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Imported_Patients__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Female</name>
        <label>Update Female</label>
        <locationX>635</locationX>
        <locationY>2680</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Female.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>PatientVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Imported_Pat</name>
        <label>Update Imported Pat</label>
        <locationX>760</locationX>
        <locationY>2412</locationY>
        <connector>
            <targetReference>Male_For_Female_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Already_Imported__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Imported_Patients__c</object>
    </recordUpdates>
    <screens>
        <name>Create_a_New_Household</name>
        <label>Create a New Household</label>
        <locationX>763</locationX>
        <locationY>843</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Household_Decision</targetReference>
        </connector>
        <fields>
            <name>New_Household</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create A New Household&quot;,&quot;value&quot;:&quot;Create A New Household&quot;},{&quot;label&quot;:&quot;Link to an Existing Household&quot;,&quot;value&quot;:&quot;Link to an Existing Household&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate</name>
        <label>Duplicate</label>
        <locationX>365</locationX>
        <locationY>1505</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Search_and_Link_Household</targetReference>
        </connector>
        <fields>
            <name>duptext</name>
            <fieldText>&lt;p&gt;This household cant be created as we have detected a duplicate, you should link this patient to the already existing household. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_0</name>
        <label>Duplicate</label>
        <locationX>976</locationX>
        <locationY>2335</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>duptext_0</name>
            <fieldText>&lt;p&gt;This patient cant be created as we have detected a duplicate. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Hosehold_INfo</name>
        <label>Hosehold Info</label>
        <locationX>901</locationX>
        <locationY>1415</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Household</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>HouseholdVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>HouseholdVar.Household_Clinic__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>HouseholdVar.BillingAddress</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>HouseholdVar.Household_Doctor__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Male_Screen</name>
        <label>Male</label>
        <locationX>465</locationX>
        <locationY>700</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Female</targetReference>
        </connector>
        <fields>
            <name>MalPatText</name>
            <fieldText>&lt;p&gt;You have selected a male for import. As such you should have already imported the female and formed a household. If you haven&apos;t go and import the female first then search for her below for automatic partner linking. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Female</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>additionalField</name>
                <value>
                    <stringValue>Patient_ID_Display_Formula__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Search Female Partner</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Patient_Information</name>
        <label>Review Patient Information</label>
        <locationX>769</locationX>
        <locationY>1871</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>System_Bug</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.AccountId</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.MailingAddress</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Birthdate</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Email</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.MobilePhone</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Sex_at_Birth__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Gender__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Partner__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Medicare_Number__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Issue_Number__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Expiry__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_and_Link_Household</name>
        <label>Search and Link Household</label>
        <locationX>637</locationX>
        <locationY>1295</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Houshold</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Link to existing Household</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>System_Bug</name>
        <label>System Bug</label>
        <locationX>764</locationX>
        <locationY>2018</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Patient</targetReference>
        </connector>
        <fields>
            <name>bugText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Due to an issue with Imported data, we require that you check with an external source that the Birthdate data is correct. Please double check that this is correct before proceeding.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>PatientVar.Birthdate</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>663</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Imported_Patient</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>HouseholdVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PatientVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferralVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
</Flow>
