force-app/main/default/flows/Importe_Create_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Import_Patinet_Balnk</name>
        <label>Import Patinet Balnk</label>
        <locationX>446</locationX>
        <locationY>288</locationY>
        <defaultConnector>
            <targetReference>Get_Partner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Balnk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner_ID_for_Import__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Balnk</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Importe Create Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Importe Create Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Household</name>
        <label>Create Household</label>
        <locationX>50</locationX>
        <locationY>288</locationY>
        <connector>
            <targetReference>Link_Household</targetReference>
        </connector>
        <inputAssignments>
            <field>Household_Clinic__c</field>
            <value>
                <elementReference>$Record.Import_Clinic__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Household_Doctor__c</field>
            <value>
                <elementReference>$Record.Treating_Doctor__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.LastName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Partner</name>
        <label>Get Partner</label>
        <locationX>578</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Partner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Partner_ID_for_Import__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_ID_for_Import__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_Household</name>
        <label>Link Household</label>
        <locationX>50</locationX>
        <locationY>408</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner</name>
        <label>Update Partner</label>
        <locationX>578</locationX>
        <locationY>528</locationY>
        <connector>
            <targetReference>Update_Partner_Link</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Partner.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Create_Household</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_Link</name>
        <label>Update Partner Link</label>
        <locationX>578</locationX>
        <locationY>648</locationY>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_Partner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Household</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sex_at_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>Get_Guy</name>
            <connector>
                <targetReference>Import_Patinet_Balnk</targetReference>
            </connector>
            <label>Get Guy</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
