force-app/main/default/flows/Import_Genetic_Material.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Go_to_Semen_Sample</name>
        <label>Go to Semen Sample</label>
        <locationX>2274</locationX>
        <locationY>1763</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>SemenSampleIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Egg_Cohort</name>
        <label>Redirect to Egg Cohort</label>
        <locationX>1656</locationX>
        <locationY>1522</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>EggCohortVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_Embryo_Batch</name>
        <label>Redirect to Embryo Batch</label>
        <locationX>1368</locationX>
        <locationY>1915</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Patien</name>
        <label>Add Patient to Collection</label>
        <locationX>1565</locationX>
        <locationY>1089</locationY>
        <assignmentItems>
            <assignToReference>MultiplePatients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Male</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Multiple_Males</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_single_Male_to_Collection</name>
        <label>Add single Male to Collection</label>
        <locationX>1613</locationX>
        <locationY>1224</locationY>
        <assignmentItems>
            <assignToReference>SelectedMale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Male_Record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Semen_Data_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Straws</name>
        <label>Add to Straws</label>
        <locationX>1765</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>AllStraws</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>StrawVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>No_More_Straws_to_Create</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_to_Straws_0</name>
        <label>Add to Straws</label>
        <locationX>1874</locationX>
        <locationY>1389</locationY>
        <assignmentItems>
            <assignToReference>StrawstoCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Staws</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BillingDate</name>
        <label>Assign BillingDate</label>
        <locationX>490</locationX>
        <locationY>1489</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Next_Billing_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Storage_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Imported_From__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Embryo_Var.Imported_From__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Embryo_Batch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Cohort_Details</name>
        <label>Assign Egg Cohort Details</label>
        <locationX>1007</locationX>
        <locationY>1066</locationY>
        <assignmentItems>
            <assignToReference>EggCohortVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedFemale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggCohortVar.Reserved_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Egg_Cohort</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Details</name>
        <label>Assign Egg Details</label>
        <locationX>1765</locationX>
        <locationY>1270</locationY>
        <assignmentItems>
            <assignToReference>EggVar.Age_of_Egg_At_OPU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age_of_Eggs_When_Collected_Donor_and_Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggCohortVar.Storage_Location__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Denuded__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Grade__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>MII</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Egg_Cohort__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggCohortVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Age_of_Egg_At_OPU__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age_of_Eggs_When_Collected_Donor_and_Patient</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Egg_Freeze_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggCohortVar.Freeze_Scientist__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.Freeze_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggCohortVar.Collected_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EggVar.OPU_Scientist__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggCohortVar.OPU_Scientist__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Egg_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Number</name>
        <label>Assign Egg Number</label>
        <locationX>1102</locationX>
        <locationY>1297</locationY>
        <assignmentItems>
            <assignToReference>EggNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_Many_Eggs_Do_You_Want_to_Import</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Egg_Number_Higher_than_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Egg_Var_Number</name>
        <label>Assign Egg Var Number</label>
        <locationX>1206</locationX>
        <locationY>1696</locationY>
        <assignmentItems>
            <assignToReference>EggVar.Egg_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EggNumberVariable</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Egg_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Batch_Infomration</name>
        <label>Assign Embryo Batch Infomration</label>
        <locationX>711</locationX>
        <locationY>1342</locationY>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedFemale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Reserved_For__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryoBatchVar.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EmbryostoImport</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Embryo_Number</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Embryo_Var.Age_at_Embryo_Creation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Age_Of_Egg_Provider_at_OPU_Embryo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Storage_Location</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Number</name>
        <label>Assign Embryo Number</label>
        <locationX>710</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>Embryo_Var.Embryo_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryostoCreateVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryo_Data_Page</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Embryo_Values</name>
        <label>Assign Embryo Values</label>
        <locationX>711</locationX>
        <locationY>1654</locationY>
        <assignmentItems>
            <assignToReference>Embryo_Var.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Embryo_Var.Embryo_Batch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Embryo_Var.Storage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Storage_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Embryo_Var.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmbryoBatchVar.Storage_Location__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Embryo_Var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Embryo Name</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryos_for_creation_greater_than_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Female</name>
        <label>Assign Female</label>
        <locationX>934</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>SelectedFemale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Selected_Female_0</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sample_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Female_0</name>
        <label>Assign Female</label>
        <locationX>567</locationX>
        <locationY>1011</locationY>
        <assignmentItems>
            <assignToReference>SelectedFemale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Female</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Sample_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons_to_Sample</name>
        <label>Assign Icons to Sample</label>
        <locationX>693</locationX>
        <locationY>514</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:channel_programs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:channel_program_history</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:investment_account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Import_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Name_to_Emb</name>
        <label>Assign Name to Emb</label>
        <locationX>638</locationX>
        <locationY>2182</locationY>
        <assignmentItems>
            <assignToReference>Embryo_Var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Embryo_Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Var_is_1_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Staws</name>
        <label>Assign Staws</label>
        <locationX>1747</locationX>
        <locationY>1388</locationY>
        <assignmentItems>
            <assignToReference>StrawVar.Freeze_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Freeze_Media</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StrawVar.Storage_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_Smaple_Frozen</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StrawVar.Semen_Sample__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SemenSampleIdVar</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StrawVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StrawName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StrawVar.Storage_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StorageLoc.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StrawVar.Storage_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Storage_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StrawVar.Straw_Size__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StrawSizze</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>StrawVar.Fate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Frozen</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Var_Semen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Males</name>
        <label>Count Males</label>
        <locationX>1305</locationX>
        <locationY>867</locationY>
        <assignmentItems>
            <assignToReference>CountMales</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Male_Patients</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_one_male</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Number_of_Samples</name>
        <label>Count Number of Samples</label>
        <locationX>1159</locationX>
        <locationY>716</locationY>
        <assignmentItems>
            <assignToReference>NumberofSamplesSelected</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Sample_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Male_Patients</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Female_Count</name>
        <label>Female Count</label>
        <locationX>227</locationX>
        <locationY>704</locationY>
        <assignmentItems>
            <assignToReference>FemaleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllFemales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>More_than_one_female</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Household_ID</name>
        <label>Get Household ID</label>
        <locationX>680</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>HouseholdId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Household.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Icons_to_Sample</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Minus_Egg_Number</name>
        <label>Minus Egg Number</label>
        <locationX>1091</locationX>
        <locationY>1642</locationY>
        <assignmentItems>
            <assignToReference>EggNumberVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Egg_Var_Number</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reduce_Embryo_by_1</name>
        <label>Reduce Embryo by 1</label>
        <locationX>355</locationX>
        <locationY>1843</locationY>
        <assignmentItems>
            <assignToReference>EmbryostoCreateVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Embryos_for_creation_greater_than_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Embryos_for_creation_greater_than_1</name>
        <label>Embryos for creation greater than 1</label>
        <locationX>695</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Assign_Embryo_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_1_Embryos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EmbryostoImport</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>EmbryostoCreateVar</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Created_Embryos</targetReference>
            </connector>
            <label>Greater than 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Female_Patients</name>
        <label>Female Patients</label>
        <locationX>407</locationX>
        <locationY>702</locationY>
        <defaultConnector>
            <targetReference>Female_Count</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AllFemales</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Females_Screen</targetReference>
            </connector>
            <label>None Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Egg_Number_Higher_than_0</name>
        <label>Is Egg Number Higher than 0?</label>
        <locationX>1092</locationX>
        <locationY>1508</locationY>
        <defaultConnector>
            <targetReference>Get_All_Eggs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EggNumber</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>EggNumberVariable</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Minus_Egg_Number</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_one_female</name>
        <label>More than one female</label>
        <locationX>289</locationX>
        <locationY>872</locationY>
        <defaultConnector>
            <targetReference>Get_Single_Female</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_one_female_decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FemaleCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Female_Selection_Screen</targetReference>
            </connector>
            <label>More than one female decision</label>
        </rules>
    </decisions>
    <decisions>
        <name>More_than_one_male</name>
        <label>More than one male?</label>
        <locationX>1463</locationX>
        <locationY>871</locationY>
        <defaultConnector>
            <targetReference>Loop_Single_Male</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_one_Male_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountMales</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Multiple_Males</targetReference>
            </connector>
            <label>More than one Mal</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_More_Straws_to_Create</name>
        <label>No More Straws to Create</label>
        <locationX>2065</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Add_to_Straws_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StrawstoCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Number_of_Straws</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Straws</targetReference>
            </connector>
            <label>No More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sample_Type</name>
        <label>Sample Type</label>
        <locationX>710</locationX>
        <locationY>1009</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Egg_Sample</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oocytes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Eggs_to_Import</targetReference>
            </connector>
            <label>Egg Sample</label>
        </rules>
        <rules>
            <name>Embryo_Sample</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Many_Embryos</targetReference>
            </connector>
            <label>Embryo Sample</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Import</name>
        <label>Type of Import</label>
        <locationX>819</locationX>
        <locationY>715</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Eggs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Oocytes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Female_Patients</targetReference>
            </connector>
            <label>Eggs</label>
        </rules>
        <rules>
            <name>Emrbyos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Embryos</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Female_Patients</targetReference>
            </connector>
            <label>Emrbyos</label>
        </rules>
        <rules>
            <name>Semen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ImportType.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Semen</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Count_Number_of_Samples</targetReference>
            </connector>
            <label>Semen</label>
        </rules>
    </decisions>
    <decisions>
        <name>Var_is_1_2</name>
        <label>Var is 1/2/</label>
        <locationX>519</locationX>
        <locationY>2166</locationY>
        <defaultConnector>
            <targetReference>Create_Embryo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X1_21_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Embryo_Var.Insem_Method__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>1/2 ICSI 1/2 IVF</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>X1_2_1_2_Error</targetReference>
            </connector>
            <label>1/21/2</label>
        </rules>
    </decisions>
    <description>Import genetic material that was collected outside of the clinic.</description>
    <dynamicChoiceSets>
        <name>Classification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Classification__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>DeviceColour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Device_Colours__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Frag</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Fragmentation__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreezeMedia</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freeze_Medium__c</picklistField>
        <picklistObject>Semen_Straw__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GobletColour</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Goblet_Colour__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Grading</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Grading__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InsemPick</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Insem_Method__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Media_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Freeze_Media__c</picklistField>
        <picklistObject>Egg_Cohort__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Other</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Other__c</picklistField>
        <picklistObject>Embryos__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductionMenthod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sample_Production_Method__c</picklistField>
        <picklistObject>Semen_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelationtoFemale</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Relationship_to_Female__c</picklistField>
        <picklistObject>Semen_Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StorageType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Storage_Type__c</picklistField>
        <picklistObject>Semen_Straw__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StrawSizze</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Straw_Size__c</picklistField>
        <picklistObject>Semen_Straw__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>EggName</name>
        <dataType>String</dataType>
        <expression>&quot;Egg - &quot;&amp;TEXT({!EggNumber})</expression>
    </formulas>
    <formulas>
        <name>StrawName</name>
        <dataType>String</dataType>
        <expression>&quot;Straw - &quot;&amp;TEXT({!StrawstoCreate})</expression>
    </formulas>
    <interviewLabel>Developer Basic Flow Template {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Import Genetic Material</label>
    <loops>
        <name>Loop_Single_Male</name>
        <label>Loop Single Male</label>
        <locationX>1470</locationX>
        <locationY>1049</locationY>
        <collectionReference>Get_Male_Patients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Single_Male_Record</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Multiple_Males</name>
        <label>Multiple Males</label>
        <locationX>1662</locationX>
        <locationY>875</locationY>
        <collectionReference>Get_Male_Patients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Male</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Male_Selection</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Egg</name>
        <label>Create Egg</label>
        <locationX>898</locationX>
        <locationY>1601</locationY>
        <connector>
            <targetReference>Is_Egg_Number_Higher_than_0</targetReference>
        </connector>
        <inputReference>EggVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Egg_Cohort</name>
        <label>Create Egg Cohort</label>
        <locationX>1130</locationX>
        <locationY>985</locationY>
        <connector>
            <targetReference>Assign_Egg_Details</targetReference>
        </connector>
        <inputReference>EggCohortVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Embryo</name>
        <label>Create Embryo</label>
        <locationX>331</locationX>
        <locationY>2211</locationY>
        <connector>
            <targetReference>Reduce_Embryo_by_1</targetReference>
        </connector>
        <inputReference>Embryo_Var</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Embryo_Batch</name>
        <label>Create Embryo Batch</label>
        <locationX>468</locationX>
        <locationY>1667</locationY>
        <connector>
            <targetReference>Assign_Embryo_Values</targetReference>
        </connector>
        <inputReference>EmbryoBatchVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Semen_Sample</name>
        <label>Create Semen Sample</label>
        <locationX>2070</locationX>
        <locationY>1278</locationY>
        <assignRecordIdToReference>SemenSampleIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>No_More_Straws_to_Create</targetReference>
        </connector>
        <inputAssignments>
            <field>Origin_of_Sample__c</field>
            <value>
                <elementReference>Origin_of_Sample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Donor__c</field>
            <value>
                <elementReference>SelectedMale.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Semen_Prep_Record_Type.RecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relationship_to_Female__c</field>
            <value>
                <elementReference>Relation_to_Female_Patient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reserved_For__c</field>
            <value>
                <elementReference>Get_Household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample_Production_Method__c</field>
            <value>
                <elementReference>Sample_Production_Method</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Date_Actual__c</field>
            <value>
                <elementReference>Date_Sample_Imported</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Storage_Location__c</field>
            <value>
                <elementReference>StorageLoc.selectedRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Semen_Sample__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Straws</name>
        <label>Create Straws</label>
        <locationX>2066</locationX>
        <locationY>1765</locationY>
        <connector>
            <targetReference>Go_to_Semen_Sample</targetReference>
        </connector>
        <inputReference>AllStraws</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Eggs</name>
        <label>Get All Eggs</label>
        <locationX>1227</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Embryos_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Egg_Cohort__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EggCohortVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Egg__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Created_Embryos</name>
        <label>Get Created Embryos</label>
        <locationX>869</locationX>
        <locationY>1875</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Edit_Embryos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Embryo_Batch__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmbryoBatchVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Embryos__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>819</locationX>
        <locationY>355</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Household_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Male</name>
        <label>Get Male</label>
        <locationX>1695</locationX>
        <locationY>1087</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Patien</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Multiple_Males.Contact.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Male_Patients</name>
        <label>Get Male Patients</label>
        <locationX>1305</locationX>
        <locationY>715</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Males</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Household.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Male__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Selected_Female_0</name>
        <label>Get Selected Female</label>
        <locationX>800</locationX>
        <locationY>853</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Female</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>femaleselectiontable.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Female</name>
        <label>Get Single Female</label>
        <locationX>441</locationX>
        <locationY>1010</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Female_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sex_at_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Male_Record</name>
        <label>Get Single Male Record</label>
        <locationX>1346</locationX>
        <locationY>1249</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_single_Male_to_Collection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Single_Male.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Eggs_Final</name>
        <label>Update Eggs Final</label>
        <locationX>1510</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Redirect_to_Egg_Cohort</targetReference>
        </connector>
        <inputReference>UpdatedFinalEggs</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Embryos_Final</name>
        <label>Update Embryos Final</label>
        <locationX>1196</locationX>
        <locationY>1920</locationY>
        <connector>
            <targetReference>Redirect_to_Embryo_Batch</targetReference>
        </connector>
        <inputReference>UpdatedFinalEmbryos</inputReference>
    </recordUpdates>
    <screens>
        <name>Edit_Embryos</name>
        <label>Edit Embryos</label>
        <locationX>984</locationX>
        <locationY>1895</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Embryos_Final</targetReference>
        </connector>
        <fields>
            <name>editembtext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Edit any values below to finalise embryo import. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalembEditTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Embryos__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Embryos__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Created_Embryos</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Age_at_Embryo_Creation__c,Cycle_Day__c,Embryo_Number__c,Insem_Method__c,Fate__c,Device_Colours__c,Device_Type__c,Storage_Location__c,PGT_Results__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:169, Age_at_Embryo_Creation__c:192, Cycle_Day__c:124, Embryo_Number__c:167, Insem_Method__c:162, Fate__c:124, Device_Colours__c:137, Device_Type__c:124, Storage_Location__c:152, PGT_Results__c:165</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedFinalEmbryos</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Edit_Embryos_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Embryos_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Edit_Embryos_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Embryos_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Edit_Embryos_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Embryos_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Edit_Embryos_0</name>
        <label>Edit Embryos</label>
        <locationX>1382</locationX>
        <locationY>1522</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Eggs_Final</targetReference>
        </connector>
        <fields>
            <name>editembtext_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Edit any values below to finalise egg import. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FinalembEditTable_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Egg__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Egg__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>All</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Egg_Number__c,Age_of_Egg_At_OPU__c,Fate__c,Storage_Location__c,Device_Type__c,Device_Colour__c,Goblet_Colour__c,Slow_Frozen__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:169, Egg_Number__c:136, Age_of_Egg_At_OPU__c:179, Fate__c:124, Storage_Location__c:152, Device_Type__c:124, Device_Colour__c:136, Goblet_Colour__c:136, Slow_Frozen__c:136</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_All_Eggs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>Age_of_Egg_At_OPU__c:Age of Patient At OPU</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdatedFinalEggs</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Edit_Embryos_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Embryos_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Edit_Embryos_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Embryos_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Edit_Embryos_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Edit_Embryos_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Egg_Details</name>
        <label>Egg Details</label>
        <locationX>882</locationX>
        <locationY>1713</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Egg</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggVar.Egg_Number__c</objectFieldReference>
        </fields>
        <fields>
            <name>Egg_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Egg_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Age_of_Egg_At_OPU__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Egg_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Slow_Frozen__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggVar.Grade__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggVar.Freeze_Date__c</objectFieldReference>
        </fields>
        <fields>
            <name>Egg_Details_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Egg_Details_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Storage_Location__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Device_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Egg_Details_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Goblet_Colour__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Device_Colour__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Eggs_to_Import</name>
        <label>Eggs to Import</label>
        <locationX>841</locationX>
        <locationY>1059</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Egg_Cohort_Details</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggCohortVar.Imported_From__c</objectFieldReference>
        </fields>
        <fields>
            <name>How_Many_Eggs_Do_You_Want_to_Import</name>
            <dataType>Number</dataType>
            <fieldText>How Many Eggs Do You Want to Import?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggVar.Slow_Frozen__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggCohortVar.Collected_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggCohortVar.Storage_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggCohortVar.Storage_Location__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggCohortVar.Freeze_Scientist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggCohortVar.OPU_Scientist__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EggCohortVar.Freeze_Media__c</objectFieldReference>
        </fields>
        <fields>
            <name>Age_of_Eggs_When_Collected_Donor_and_Patient</name>
            <dataType>Number</dataType>
            <fieldText>Age of Egg Provider When Collected (Donor and Patient)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Eggs_to_Import_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Eggs_to_Import_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Goblet_Colour__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Device_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Eggs_to_Import_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>EggVar.Device_Colour__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Embryo_Data_Page</name>
        <label>Embryo Data Page</label>
        <locationX>715</locationX>
        <locationY>2300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Name_to_Emb</targetReference>
        </connector>
        <fields>
            <name>Embryo_Name</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Embryo_Var.Name</elementReference>
            </defaultValue>
            <fieldText>Embryo Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Cycle_Day__c</objectFieldReference>
        </fields>
        <fields>
            <name>Embryo_Data_Page_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Embryo_Data_Page_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Age_at_Embryo_Creation__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Insem_Method__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Embryo_Data_Page_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Embryo_Number__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.PGT_Results__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Storage_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Slow_Frozen__c</objectFieldReference>
        </fields>
        <fields>
            <name>Embryo_Data_Page_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Embryo_Data_Page_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Freeze_Media__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Goblet_Colour__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Embryo_Data_Page_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Device_Colours__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Device_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Storage_Location__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Female_Selection_Screen</name>
        <label>Female Selection Screen</label>
        <locationX>694</locationX>
        <locationY>864</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Selected_Female_0</targetReference>
        </connector>
        <fields>
            <name>Multiple_female_display_text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;There are multiple patients associated with this household. Please select one from the list below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>femaleselectiontable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllFemales</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-dad3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Full Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Birthdate&quot;,&quot;guid&quot;:&quot;column-d395&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Birthdate&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;Patient_ID_Display_Formula__c&quot;,&quot;guid&quot;:&quot;column-89d0&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Patient ID&quot;,&quot;type&quot;:&quot;customRichText&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Many_Embryos</name>
        <label>How Many Embryos</label>
        <locationX>713</locationX>
        <locationY>1206</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Embryo_Batch_Infomration</targetReference>
        </connector>
        <fields>
            <name>Howmanyembryostext</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;First Cycle Embryo Import&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Embryo_Number</name>
            <dataType>Number</dataType>
            <fieldText>How many Embryos would you like to import into the system?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Age_Of_Egg_Provider_at_OPU_Embryo</name>
            <dataType>Number</dataType>
            <fieldText>Age Of Egg Provider at OPU</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>How_Many_Samples</name>
        <label>How Many Samples</label>
        <locationX>1003</locationX>
        <locationY>613</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Sample_Number</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>1.0</numberValue>
            </defaultValue>
            <fieldText>How many different samples do you want to create?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Import_Type</name>
        <label>Import Type</label>
        <locationX>825</locationX>
        <locationY>593</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_Import</targetReference>
        </connector>
        <fields>
            <name>ImportType</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Oocytes&quot;,&quot;value&quot;:&quot;Oocytes that were collected outside of the clinic and are being imported &quot;},{&quot;label&quot;:&quot;Embryos&quot;,&quot;value&quot;:&quot;Embryos that were created outside of the clinic and are being imported &quot;},{&quot;label&quot;:&quot;Semen&quot;,&quot;value&quot;:&quot;Semen that were collected outside of the clinic and are being imported &quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Male_Selection</name>
        <label>Male Selection</label>
        <locationX>1881</locationX>
        <locationY>793</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Semen_Data_Screen</targetReference>
        </connector>
        <fields>
            <name>MultipleMaleDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;This household has more than one male associated with it, please select one below to proceed.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Males_on_acc_datatable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>MultiplePatients</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Birthdate,Patient_ID_Display_Formula__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:447, Birthdate:447, Patient_ID_Display_Formula__c:564</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedMale</assignToReference>
                <name>outputSelectedRow</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Females_Screen</name>
        <label>No Females Screen</label>
        <locationX>415</locationX>
        <locationY>528</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>noneFoundTxt</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;There are no female patient&apos;s in this household and as such you cannot import embryos of eggs.&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt; &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Semen_Data_Screen</name>
        <label>Semen Data Collection</label>
        <locationX>2032</locationX>
        <locationY>1057</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Semen_Prep_Record_Type</targetReference>
        </connector>
        <fields>
            <name>Origin_of_Sample</name>
            <dataType>String</dataType>
            <fieldText>Origin of Sample</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>StorageLoc</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Storage_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Clinic__c=&apos;{!Get_Household.Household_Clinic__r.Id}&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Date_Smaple_Frozen</name>
            <dataType>Date</dataType>
            <fieldText>Date Sample Frozen</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Date_Sample_Imported</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Date Sample Imported</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sample_Production_Method</name>
            <choiceReferences>ProductionMenthod</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sample Production Method</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relation_to_Female_Patient</name>
            <choiceReferences>RelationtoFemale</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relation to Female Patient</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Freeze_Media</name>
            <choiceReferences>FreezeMedia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Freeze Media</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Number_of_Straws</name>
            <dataType>Number</dataType>
            <fieldText>Number of Straws</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Straw_Size</name>
            <choiceReferences>StrawSizze</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Straw Size</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Storage_Type</name>
            <choiceReferences>StorageType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Storage Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Storage_Location</name>
        <label>Storage Location</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_BillingDate</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Imported_From__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EmbryoBatchVar.Storage_Location__c</objectFieldReference>
        </fields>
        <fields>
            <name>DateTExt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Storage date is the date at which the embryo&apos;s were stored at your clinic (Freeze date of Embryos set later).&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>EmbryoBatchVar.Storage_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Freeze_Media__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Slow_Frozen__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Embryo_Var.Freeze_Scientist__c</objectFieldReference>
        </fields>
        <fields>
            <name>Storage_Location_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Storage_Location_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Goblet_Colour__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Storage_Location_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Device_Colours__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Embryo_Var.Device_Type__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Var_Semen</name>
        <label>Var Semen</label>
        <locationX>1753</locationX>
        <locationY>1497</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_to_Straws</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>StrawVar.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>StrawVar.Storage_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>StrawVar.Storage_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>StrawVar.Straw_Size__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>StrawVar.Storage_Location__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>X1_2_1_2_Error</name>
        <label>1/2 1/2 Error</label>
        <locationX>544</locationX>
        <locationY>2300</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Embryo_Data_Page</targetReference>
        </connector>
        <fields>
            <name>error1_2</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;You have select 1/2 1/2 for insem type. In this context that is not allowed. Please amend the insem type. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <sourceTemplate>Developer_Basic_Flow_Template</sourceTemplate>
    <start>
        <locationX>693</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Household</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Female_Patients</name>
        <label>Get Female Patients</label>
        <locationX>552</locationX>
        <locationY>713</locationY>
        <connector>
            <targetReference>Female_Patients</targetReference>
        </connector>
        <flowName>Developer_Find_All_Contacts_by_Sex_at_Birth</flowName>
        <inputAssignments>
            <name>HouseholdID</name>
            <value>
                <elementReference>Get_Household.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SexatBirth</name>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllFemales</assignToReference>
            <name>AllContacts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Get_Semen_Prep_Record_Type</name>
        <label>Get Semen Prep Record Type</label>
        <locationX>2292</locationX>
        <locationY>1177</locationY>
        <connector>
            <targetReference>Create_Semen_Sample</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Semen Preps</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AllFemales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AllStraws</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Semen_Straw__c</objectType>
    </variables>
    <variables>
        <name>CountMales</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggCohortVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg_Cohort__c</objectType>
    </variables>
    <variables>
        <name>EggNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EggNumberVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EggVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>Embryo_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>EmbryoBatchID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EmbryoBatchVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryo_Batch__c</objectType>
    </variables>
    <variables>
        <name>EmbryoCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>EmbryostoCreateVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>EmbryostoImport</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>FemaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>HouseholdId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MultiplePatients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>NumberofSamplesSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedFemale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedMale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>SelectedMaterialType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedStorageLocationEggs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SemenSampleIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SemenSampleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Semen_Sample__c</objectType>
    </variables>
    <variables>
        <name>StorageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StorageLocationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>StrawstoCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>StrawVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Semen_Straw__c</objectType>
    </variables>
    <variables>
        <name>UpdatedFinalEggs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Egg__c</objectType>
    </variables>
    <variables>
        <name>UpdatedFinalEmbryos</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Embryos__c</objectType>
    </variables>
    <variables>
        <name>VarEggCohortId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
