force-app/main/default/flows/Medicare_Day_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Cycle_Type</name>
        <label>Assign Cycle Type</label>
        <locationX>644</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>CycleType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.RecordType.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Day_1_Event</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Number</name>
        <label>Assign Item Number 13201</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ItemNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13201</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Master_Medicare_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Number_13200</name>
        <label>Assign Item Number 13200</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ItemNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13200</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Master_Medicare_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Number_13203</name>
        <label>Assign Item Number 13203</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ItemNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13203</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Master_Medicare_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Number_13218</name>
        <label>Assign Item Number 13218</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>ItemNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>13218</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Master_Medicare_Item</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cycle_Type</name>
        <label>Cycle Type</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IVF_Fresh_Egg_Donor_Egg_Freeze</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IVF Cycle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Fresh Egg Donor Cycle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Egg Freeze Cycle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duo Stim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_13200_Cycles</targetReference>
            </connector>
            <label>IVF/Fresh Egg Donor/Egg Freeze</label>
        </rules>
        <rules>
            <name>FET_VOT</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>CycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FET Cycle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VOT Cycle</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Cycle.Donor_Cycle__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Item_Number_13218</targetReference>
            </connector>
            <label>FET/VOT</label>
        </rules>
        <rules>
            <name>IUI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CycleType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IUI Cycle</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Item_Number_13203</targetReference>
            </connector>
            <label>IUI</label>
        </rules>
    </decisions>
    <decisions>
        <name>X13200_Exists_with_Calendar_Year</name>
        <label>13200 Exists with Calendar Year</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Assign_Item_Number_13200</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X13200_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Other_13200_Cycles</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Item_Number</targetReference>
            </connector>
            <label>13200 Exists</label>
        </rules>
    </decisions>
    <description>Medicare flow to create cycle Medicare claim items from the master Medicare list.</description>
    <environments>Default</environments>
    <formulas>
        <name>YearDOS</name>
        <dataType>Number</dataType>
        <expression>YEAR({!Get_Day_1_Event.Event_Date_Only__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Medicare Day 1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Medicare Day 1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Global_Fee_Item</name>
        <label>Create Global Fee Item</label>
        <locationX>644</locationX>
        <locationY>1382</locationY>
        <connector>
            <targetReference>Get_Special_Planning_and_Management_Item</targetReference>
        </connector>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Get_Day_1_Event.Event_Date_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor_Providing_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Doctor_Initiating_Cycle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_Discription__c</field>
            <value>
                <elementReference>Get_Master_Medicare_Item.Medicare_Item_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ItemNumber</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>PriceItem.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Expiry__c</field>
            <value>
                <elementReference>Get_Day_1_Event.Referral_Expiry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Doctor__c</field>
            <value>
                <elementReference>Get_Day_1_Event.Referring_Doctor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Special_Planning_and_Management_Item</name>
        <label>Create Special Planning and Management Item</label>
        <locationX>644</locationX>
        <locationY>1706</locationY>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_of_Service__c</field>
            <value>
                <elementReference>Get_Day_1_Event.Event_Date_Only__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Doctor_Providing_Service__c</field>
            <value>
                <elementReference>Get_Cycle.Doctor_Initiating_Cycle__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Item_Discription__c</field>
            <value>
                <elementReference>Get_Special_Planning_and_Management_Item.Medicare_Item_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Special_Planning_and_Management_Item.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient__c</field>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>Get_SPM_Price_Line.Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_Expiry__c</field>
            <value>
                <elementReference>Get_Day_1_Event.Referral_Expiry__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referring_Doctor__c</field>
            <value>
                <elementReference>Get_Day_1_Event.Referring_Doctor__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>644</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cycle_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Day_1_Event</name>
        <label>Get Day 1 Event</label>
        <locationX>644</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cycle_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Setup.Cycle_Event_c__c.Cycle_Event_Day_1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Master_Medicare_Item</name>
        <label>Get Master Medicare Item</label>
        <locationX>644</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medicare_Item_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ItemNumber</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_13200_Cycles</name>
        <label>Get Other 13200 Cycles</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>X13200_Exists_with_Calendar_Year</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 4) AND 3</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13200</stringValue>
            </value>
        </filters>
        <filters>
            <field>Year_DOS__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>YearDOS</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13202</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Special_Planning_and_Management_Item</name>
        <label>Get Special Planning and Management Item</label>
        <locationX>644</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SPM_Price_Line</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>13209</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SPM_Price_Line</name>
        <label>Get SPM Price Line</label>
        <locationX>644</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Special_Planning_and_Management_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linked_Medicare_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Special_Planning_and_Management_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Pricing_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Medicare_Item_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PriceItem</name>
        <label>Get Price Item</label>
        <locationX>644</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Global_Fee_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linked_Medicare_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Master_Medicare_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Pricing_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Medicare_Item_Record_Type.RecordTypeID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Medicare_Item_Record_Type</name>
        <label>Get Medicare Item Record Type</label>
        <locationX>644</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>PriceItem</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Medicare Item</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CycleType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DateofService</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ItemNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
