force-app/main/default/flows/New_Cycle_Consent.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object</name>
        <label>Get Object</label>
        <locationX>996</locationX>
        <locationY>134</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Cycle_or_Household</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Consent</name>
        <label>Go to Consent</label>
        <locationX>996</locationX>
        <locationY>2030</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Consent_Var.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Allocate_to_Female</name>
        <label>Allocate to Female</label>
        <locationX>1018</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SelectedFemale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pat</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Consent</name>
        <label>Assign Consent</label>
        <locationX>996</locationX>
        <locationY>1814</locationY>
        <assignmentItems>
            <assignToReference>Consent_Var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ConsentName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Cycle_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_to_COnsent_Var</name>
        <label>Assign Cycle to COnsent Var</label>
        <locationX>1546</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>Consent_Var.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Female</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Financial_Consent</name>
        <label>Assign Financial Consent</label>
        <locationX>1546</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Consent_Var.Cycle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000000aeV6AAI</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FinConsentName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedFemale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Financial_Consent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>1546</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:channel_programs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom41</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Consent_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Selected_Female</name>
        <label>Assign Selected Female</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SelectedFemale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AllFemales_Table.firstSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Single_Female</name>
        <label>Assign Single Female</label>
        <locationX>710</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>SelectedFemale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Single_Female</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Consent</name>
        <label>Copy 1 of Assign Consent</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Consent_Var.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedFemale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000000aeVBAAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_Consent_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Icons</name>
        <label>Copy 1 of Assign Icons</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:channel_programs</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom41</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom42</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Choose_Consent_Type_from_Household</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Single_Female</name>
        <label>Copy 1 of Assign Single Female</label>
        <locationX>1546</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>SelectedFemale</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Female</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Consent</name>
        <label>Copy 1 of Copy 1 of Assign Consent</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Consent_Var.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedFemale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000000aeVGAAY</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_Consent_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Consent</name>
        <label>Copy 2 of Assign Consent</label>
        <locationX>1282</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>Consent_Var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000000aeVBAAY</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedFemale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ExpiryDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_Consent_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Copy_1_of_Assign_Consent</name>
        <label>Copy 2 of Copy 1 of Assign Consent</label>
        <locationX>578</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>Consent_Var.Patient_Donor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedFemale.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.Household__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Consent_Var.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0125g000000ahMiAAI</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cycle_Consent_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count</name>
        <label>Count</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>FemaleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllFemales</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MaleCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>AllMales</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Patient_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Consent_Type_Choice</name>
        <label>Consent Type Choice</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Cycle_Consent_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Principal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consent_Type_Quick.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Principal Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Assign_Consent</targetReference>
            </connector>
            <label>Principal</label>
        </rules>
        <rules>
            <name>Other_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consent_Type_Quick.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Consent</targetReference>
            </connector>
            <label>Other Consent</label>
        </rules>
        <rules>
            <name>Councillor_Report</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Consent_Type_Quick.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Councillor Report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Assign_Consent</targetReference>
            </connector>
            <label>Councillor Report</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cycle_or_Household</name>
        <label>Cycle or Household</label>
        <locationX>996</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Household</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Household</targetReference>
            </connector>
            <label>Household</label>
        </rules>
        <rules>
            <name>Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Pat</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
    </decisions>
    <decisions>
        <name>Patient_Count</name>
        <label>Patient Count</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Get_Single_Female</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>More_than_1_Female</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FemaleCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MultiFemales</targetReference>
            </connector>
            <label>More than 1 Female</label>
        </rules>
        <rules>
            <name>No_Females</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FemaleCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Females_Warning</targetReference>
            </connector>
            <label>No Females</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Consent</name>
        <label>Type of Consent</label>
        <locationX>1546</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycel_Consent</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ConsentChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cycle Consent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Object.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Consent</targetReference>
            </connector>
            <label>Cycle Consent</label>
        </rules>
        <rules>
            <name>Financial_Consent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConsentChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial Consent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Financial_Consent</targetReference>
            </connector>
            <label>Financial Consent</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConsentName</name>
        <dataType>String</dataType>
        <expression>IF(
    ISPICKVAL({!Consent_Var.Cycle_Type__c}, &quot;Disposal Consent&quot;),
    &quot;Counsellors Report - &quot; &amp; {!Get_Single_Female.LastName} &amp; &quot; - &quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; TEXT(YEAR({!$Flow.CurrentDate})),
    TEXT({!Consent_Var.Cycle_Type__c}) &amp; &quot; - &quot; &amp; {!Get_Single_Female.LastName} &amp; &quot; - &quot; &amp; TEXT(MONTH({!$Flow.CurrentDate})) &amp; TEXT(YEAR({!$Flow.CurrentDate}))
)</expression>
    </formulas>
    <formulas>
        <name>ExpiryDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+90</expression>
    </formulas>
    <formulas>
        <name>FinConsentName</name>
        <dataType>String</dataType>
        <expression>&quot;Financial Consent - &quot;&amp;{!Get_Cycle.Name}</expression>
    </formulas>
    <formulas>
        <name>PrincipalCOnsentName</name>
        <dataType>String</dataType>
        <expression>&quot;Principal Consent -&quot;&amp;{!Get_Household.Name}&amp;&quot; - &quot;&amp;TEXT(MONTH({!$Flow.CurrentDate}))&amp;TEXT(YEAR({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>PrincipleConsentName</name>
        <dataType>String</dataType>
        <expression>&quot;Principal Consent -&quot;</expression>
    </formulas>
    <formulas>
        <name>PrinipalExpiryDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate}) + 5, MONTH({!$Flow.CurrentDate}), DAY({!$Flow.CurrentDate}))</expression>
    </formulas>
    <formulas>
        <name>RecordIDForm</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId}, 5)</expression>
    </formulas>
    <interviewLabel>New Cycle Consent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Cycle Consent</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Cycle_Consent</name>
        <label>Create Cycle Consent</label>
        <locationX>996</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Go_to_Consent</targetReference>
        </connector>
        <inputReference>Consent_Var</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Financial_Consent</name>
        <label>Create Financial Consent</label>
        <locationX>1546</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Service_Items_Subflow</targetReference>
        </connector>
        <inputReference>Consent_Var</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1546</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cycle_to_COnsent_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Female</name>
        <label>Get Female</label>
        <locationX>1546</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Single_Female</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Household</name>
        <label>Get Household</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Females</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pat</name>
        <label>Get Pat</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Warning</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Single_Female</name>
        <label>Get Single Female</label>
        <locationX>710</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Single_Female</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sex_at_Birth__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Choose_Consent_Type_from_Household</name>
        <label>Choose Consent Type from Household</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Consent_Type_Choice</targetReference>
        </connector>
        <fields>
            <name>Consent_Type_Quick</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Principal Consent&quot;,&quot;value&quot;:&quot;Principal Consent&quot;},{&quot;label&quot;:&quot;Other Consent&quot;,&quot;value&quot;:&quot;Other Consent&quot;},{&quot;label&quot;:&quot;Counsellor Report&quot;,&quot;value&quot;:&quot;Councillor Report&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Consent_Type</name>
        <label>Consent Type</label>
        <locationX>1546</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_Consent</targetReference>
        </connector>
        <fields>
            <name>ConsentChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cycle Consent&quot;,&quot;value&quot;:&quot;A consent used in the conduct of a cycle&quot;},{&quot;label&quot;:&quot;Financial Consent&quot;,&quot;value&quot;:&quot;A consent that cna be used to generate a quote for the patient to approve&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cycle_Consent_Type</name>
        <label>Cycle Consent Type</label>
        <locationX>996</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Consent</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Consent_Var.Cycle_Type__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Consent_Var.Expiry_Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Consent_Var.Counsellor_Lookup__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>MultiFemales</name>
        <label>MultiFemales</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Selected_Female</targetReference>
        </connector>
        <fields>
            <name>DisplayText</name>
            <fieldText>&lt;p&gt;As there are multiple Females in this house hold you will need to identify a primary patient before proceeding.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllFemales_Table</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Contact</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Female Patients</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>SINGLE_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>AllFemales</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;FirstName&quot;,&quot;guid&quot;:&quot;column-5807&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;First Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LastName&quot;,&quot;guid&quot;:&quot;column-796f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Last Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Patient_ID_Display_Formula__c&quot;,&quot;guid&quot;:&quot;column-40ac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Patient ID&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Birthdate&quot;,&quot;guid&quot;:&quot;column-2aa5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Birthdate&quot;,&quot;type&quot;:&quot;date&quot;},{&quot;apiName&quot;:&quot;MailingAddress&quot;,&quot;guid&quot;:&quot;column-e2c2&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:4,&quot;label&quot;:&quot;Mailing Address&quot;,&quot;type&quot;:&quot;customAddress&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Females_Warning</name>
        <label>No Females</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoFemTExt</name>
            <fieldText>&lt;p&gt;There are no females on this household. You need to log consents against males or cycles. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Allocate_to_Female</targetReference>
        </connector>
        <fields>
            <name>warningtxt</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please note that it is not recommended that you raise consents form the patient screen as it will not properly link to the cycle or partner if this is required for the consent and some functions may not work as intended. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>870</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Females</name>
        <label>Get Females</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Count</targetReference>
        </connector>
        <flowName>Developer_Find_All_Contacts_by_Sex_at_Birth</flowName>
        <inputAssignments>
            <name>HouseholdID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>SexatBirth</name>
            <value>
                <stringValue>Female</stringValue>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllFemales</assignToReference>
            <name>AllContacts</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Service_Items_Subflow</name>
        <label>Service Items Subflow</label>
        <locationX>1546</locationX>
        <locationY>1322</locationY>
        <flowName>Add_Service_Items</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>Consent_Var.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>AllFemales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>AllMales</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Consent_Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Consent__c</objectType>
    </variables>
    <variables>
        <name>FemaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MaleCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedFemale</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
</Flow>
