force-app/main/default/flows/New_To_Do.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Allocate_Task_Var</name>
        <label>Allocate Task Var</label>
        <locationX>1106</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>TaskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Do_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_GroupAlloaction.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Standard_To_Do_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Do_Urgency.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Date_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Allocated_Due_Date</name>
        <label>Allocated Due Date</label>
        <locationX>1238</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>TaskVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AdjustedDueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Allocation_Person_Task_Var</name>
        <label>Allocation Person Task Var</label>
        <locationX>578</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>TaskVar.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Do_Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_StaffLookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_To_Do_Record_Type.RecordTypeID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PatientId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CycleId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>To_Do_Urgency.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>End_Date_Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Cycle_Ids</name>
        <label>Assign Cycle Ids</label>
        <locationX>1298</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoctorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Doctor_Initiating_Cycle__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Doctor</name>
        <label>Assign Doctor</label>
        <locationX>2646</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SelectedGroupRecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_Individual_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>1694</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:individual</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:groups</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Icons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom58</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Type_of_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pat_and_Cycle_ID</name>
        <label>Assign Pat and Cycle ID</label>
        <locationX>479</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>CycleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cycle_Lookup.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Patient_Review.selectedRecordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Blank</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_ID</name>
        <label>Assign Patient ID</label>
        <locationX>1562</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patients.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoctorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patients.Account.Household_Doctor__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_to_Create_Number</name>
        <label>Assign Task to Create Number</label>
        <locationX>1106</locationX>
        <locationY>2006</locationY>
        <assignmentItems>
            <assignToReference>NumberofTasksToCreate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Days</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Date_Number_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Cycle_Ids</name>
        <label>Copy 1 of Assign Cycle Ids</label>
        <locationX>1826</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>PatientId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Result.Patient__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CycleId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Result.Cycle__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TaskVar.Result__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Result.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DoctorName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Result.Cycle__r.Doctor_Initiating_Cycle__r.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reduce_Date</name>
        <label>Reduce Date</label>
        <locationX>1238</locationX>
        <locationY>2654</locationY>
        <assignmentItems>
            <assignToReference>NumberofTasksToCreate</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Date_Number_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Blank</name>
        <label>Blank</label>
        <locationX>479</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Type_of_Task_Decision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StaffLookup.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GroupAlloaction.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Allocate_task_not_set</targetReference>
            </connector>
            <label>Is Blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_No_User_Selected</name>
        <label>Copy 1 of No User Selected</label>
        <locationX>974</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Get_Standard_To_Do_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_None_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GroupAlloaction.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Error</targetReference>
            </connector>
            <label>Copy 1 of None Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Type_of_Task_Decision</name>
        <label>Copy 1 of Type of Task Decision</label>
        <locationX>908</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Allocation_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_User_Selected</targetReference>
            </connector>
            <label>Copy 1 of Individual</label>
        </rules>
        <rules>
            <name>Copy_1_of_Group</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Allocation_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Allocation_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doctor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_No_User_Selected</targetReference>
            </connector>
            <label>Copy 1 of Group</label>
        </rules>
    </decisions>
    <decisions>
        <name>Date_Number_0</name>
        <label>Date Number = 0</label>
        <locationX>1106</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Allocated_Due_Date</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofTasksToCreate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>-1.0</numberValue>
                </rightValue>
            </conditions>
            <label>0</label>
        </rules>
    </decisions>
    <decisions>
        <name>End_Date_Blank</name>
        <label>End Date Blank?</label>
        <locationX>908</locationX>
        <locationY>1898</locationY>
        <defaultConnector>
            <targetReference>Assign_Task_to_Create_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Blank_End_Date</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>End_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>End_Date</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Due_Date</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Task</targetReference>
            </connector>
            <label>Blank End Date</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_Doctor</name>
        <label>No Doctor?</label>
        <locationX>2558</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Assign_Doctor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Individual_Task</targetReference>
            </connector>
            <label>None</label>
        </rules>
    </decisions>
    <decisions>
        <name>No_User_Selected</name>
        <label>No User Selected</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Get_To_Do_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>None_Selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>StaffLookup.selectedRecordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error</targetReference>
            </connector>
            <label>None Selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>1694</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Icons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a01</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
        <rules>
            <name>Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patients</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
        <rules>
            <name>Result</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a02</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Result</targetReference>
            </connector>
            <label>Result</label>
        </rules>
    </decisions>
    <decisions>
        <name>Type_of_Task_Decision</name>
        <label>Type of Task Decision</label>
        <locationX>1694</locationX>
        <locationY>758</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Individual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Allocation_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Individual_Task</targetReference>
            </connector>
            <label>Individual</label>
        </rules>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Allocation_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Group</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Individual_Task</targetReference>
            </connector>
            <label>Group</label>
        </rules>
        <rules>
            <name>Doctor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Allocation_Type.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Doctor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Doctor</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AdjustedDueDate</name>
        <dataType>Date</dataType>
        <expression>{!Due_Date}+{!NumberofTasksToCreate}</expression>
    </formulas>
    <formulas>
        <name>Days</name>
        <dataType>Number</dataType>
        <expression>{!End_Date}-{!Due_Date}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},5)</expression>
    </formulas>
    <interviewLabel>New To Do {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New To Do</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Note</name>
        <label>Copy 1 of Create Note</label>
        <locationX>1238</locationX>
        <locationY>2438</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Note_Linkage</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Create</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>To_Do_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>To_Do_Title</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Note_Linkage</name>
        <label>Copy 1 of Create Note Linkage</label>
        <locationX>1238</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>Reduce_Date</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Create</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Copy_1_of_Create_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>TaskVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Copy_1_of_Create_Task</name>
        <label>Copy 1 of Create Task</label>
        <locationX>1238</locationX>
        <locationY>2330</locationY>
        <connector>
            <targetReference>Copy_1_of_Create_Note</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_Create</targetReference>
        </faultConnector>
        <inputReference>TaskVar</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Note</name>
        <label>Create Note</label>
        <locationX>710</locationX>
        <locationY>2114</locationY>
        <connector>
            <targetReference>Create_Note_Linkage</targetReference>
        </connector>
        <inputAssignments>
            <field>Content</field>
            <value>
                <elementReference>To_Do_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>To_Do_Title</elementReference>
            </value>
        </inputAssignments>
        <object>ContentNote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Note_Linkage</name>
        <label>Create Note Linkage</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <inputAssignments>
            <field>ContentDocumentId</field>
            <value>
                <elementReference>Create_Note</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LinkedEntityId</field>
            <value>
                <elementReference>TaskVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>710</locationX>
        <locationY>2006</locationY>
        <connector>
            <targetReference>Create_Note</targetReference>
        </connector>
        <inputReference>TaskVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>1298</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Cycle_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patients</name>
        <label>Get Patients</label>
        <locationX>1562</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>2558</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>No_Doctor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>DoctorName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Result</name>
        <label>Get Result</label>
        <locationX>1826</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Cycle_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Allocate_task_not_set</name>
        <label>Allocate task not set</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Individual_Task</targetReference>
        </connector>
        <fields>
            <name>Allocate</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;You MUST allocate the task to a group or Induvial before proceeding. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Individual_Task</name>
        <label>Copy 1 of Individual Task</label>
        <locationX>479</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Individual_Task</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_StaffLookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Staff Member to Allocate To Do To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fuzzySearch</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>IsActive=TRUE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Individual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>spacer1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Individual_Task</name>
        <label>Copy 2 of Individual Task</label>
        <locationX>1694</locationX>
        <locationY>3230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Individual_Task</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_GroupAlloaction</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Group/Doctor to Allocate Task too</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>SelectedGroupRecordID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:team_member</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryCondition</name>
                <value>
                    <stringValue>Type=&apos;Queue&apos;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Group</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Doctor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Spacer</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Type_of_Task</targetReference>
        </connector>
        <fields>
            <name>errordisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 0, 0);&quot;&gt;Error&lt;/strong&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;: You must select a user or group to assign this task to. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Create</name>
        <label>Error</label>
        <locationX>1502</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Individual_Task</targetReference>
        </connector>
        <fields>
            <name>ErrorText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Its appears we have tried to create too many tasks at once. Can you please reduce the date range and tray again?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Individual_Task</name>
        <label>Individual Task</label>
        <locationX>479</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Pat_and_Cycle_ID</targetReference>
        </connector>
        <fields>
            <name>StaffLookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Staff Member to Allocate To Do To</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Copy_1_of_StaffLookup.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:user</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Individual</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>GroupAlloaction</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Group</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Group/Doctor to Allocate Task too</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>Copy_2_of_GroupAlloaction.selectedRecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:team_member</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Group</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Doctor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Patient_Review</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>PatientId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Patient Details</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:channel_program_members</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Cycle_Lookup</name>
            <extensionName>l_lookup:Lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectType</name>
                <value>
                    <stringValue>Cycle__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRecordId</name>
                <value>
                    <elementReference>CycleId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>primarySearchField</name>
                <value>
                    <stringValue>Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Linked Cycle</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconName</name>
                <value>
                    <stringValue>standard:channel_program_history</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RecurringButton</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>left</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Make Recurring Task&quot;,&quot;value&quot;:&quot;Make Recurring Task&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:recurring_exception&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>End_Date</name>
            <dataType>Date</dataType>
            <fieldText>End Date (Setting an End Date will create 1 Task per Day between the due date and the end date)</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecurringButton.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Make Recurring Task</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>To_Do_Title</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Subject</elementReference>
            </defaultValue>
            <fieldText>To Do Title</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_Do_Description</name>
            <defaultValue>
                <stringValue>{!TodoText}</stringValue>
            </defaultValue>
            <fieldText>To Do Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>To_Do_Urgency</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Normal&quot;,&quot;value&quot;:&quot;Normal Urgency&quot;},{&quot;label&quot;:&quot;High&quot;,&quot;value&quot;:&quot;Urgent Task Allocation&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Type_of_Task</name>
        <label>Type of Task</label>
        <locationX>1694</locationX>
        <locationY>650</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Type_of_Task_Decision</targetReference>
        </connector>
        <fields>
            <name>Assign_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Task Creation&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Would you like to create a task for an Individual or a Group?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Allocation_Type</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Individual&quot;,&quot;value&quot;:&quot;Creates a task for a specific individual to complete&quot;},{&quot;label&quot;:&quot;Group&quot;,&quot;value&quot;:&quot;Creates a task that is allocated to a group for completion&quot;},{&quot;label&quot;:&quot;Doctor&quot;,&quot;value&quot;:&quot;Creates a task for a Doctor that can be managed by staff as well as Doctors&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>Icons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>200.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1568</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Get_Standard_To_Do_Record_Type</name>
        <label>Get Standard To Do Record Type</label>
        <locationX>1106</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Allocate_Task_Var</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Standard To Do</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <subflows>
        <name>Get_To_Do_Record_Type</name>
        <label>Get To Do Record Type</label>
        <locationX>578</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Allocation_Person_Task_Var</targetReference>
        </connector>
        <flowName>Developer_Get_Record_Type_ID</flowName>
        <inputAssignments>
            <name>RecordTypeIDName</name>
            <value>
                <stringValue>Standard To Do</stringValue>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>CycleId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DoctorName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Icons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumberofTasksToCreate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PatientId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedGroupRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TaskVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>TodoText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
