force-app/main/default/flows/Process_Medicare_Claim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_Object_Name</name>
        <label>Get Object Name</label>
        <locationX>2404</locationX>
        <locationY>134</locationY>
        <actionName>GetRecordTypeFromRecordID</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_Type</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>GetRecordTypeFromRecordID</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Go_to_Claim</name>
        <label>Go to Claim</label>
        <locationX>6122</locationX>
        <locationY>7976</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ClaimVar.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <outputParameters>
            <assignToReference>Create_Claim</assignToReference>
            <name>recordId</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_to_All_Claim_Finance_Items</name>
        <label>Add to All Claim Finance Items</label>
        <locationX>6122</locationX>
        <locationY>6404</locationY>
        <assignmentItems>
            <assignToReference>AllClaimFinanceItems</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_All_Claim_Finance_Items</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Claim_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claim</name>
        <label>Assign Claim</label>
        <locationX>6122</locationX>
        <locationY>6836</locationY>
        <assignmentItems>
            <assignToReference>ClaimVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Claim</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Finance_Claim_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claim_Type</name>
        <label>Assign Claim Type</label>
        <locationX>6122</locationX>
        <locationY>6512</locationY>
        <assignmentItems>
            <assignToReference>ClaimType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claimtypechoice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Claim</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Claim_type_to_Claim</name>
        <label>Assign Claim type to Claim</label>
        <locationX>6606</locationX>
        <locationY>3866</locationY>
        <assignmentItems>
            <assignToReference>Finance_Claim_Items.Claim_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claimtypechoice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Invoices_for_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Clinic_to_Claim_Var</name>
        <label>Assign Clinic to Claim Var</label>
        <locationX>2272</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>ClaimVar.Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Confirm_Clinic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Icons</name>
        <label>Assign Icons</label>
        <locationX>5814</locationX>
        <locationY>3542</locationY>
        <assignmentItems>
            <assignToReference>ClaimIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:address</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:announcement</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:answer_public</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClaimIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:budget</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClinicVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Clinic</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Claim_Items</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Item_Price</name>
        <label>Assign Item Price</label>
        <locationX>6606</locationX>
        <locationY>5456</locationY>
        <assignmentItems>
            <assignToReference>Loop_Claim_Items.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Medicare_Item_Price.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Claim_Items.Claim_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claimtypechoice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient</name>
        <label>Assign Patient</label>
        <locationX>2272</locationX>
        <locationY>1946</locationY>
        <assignmentItems>
            <assignToReference>PatientVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patinet_for_Cycle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClinicVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Clinic_for_Cycle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PricingTypeVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Pricing_Type__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Referral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_0</name>
        <label>Assign Patient</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PatientVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Clinic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Patient_0_0</name>
        <label>Assign Patient</label>
        <locationX>4758</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>PatientVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient_from_Invoice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Clinic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Referal</name>
        <label>Assign Referal</label>
        <locationX>2272</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>ReferalVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Referral</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valid_Referral</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Short_Cycle_Text</name>
        <label>Assign Short Cycle Text</label>
        <locationX>2140</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>ShortCycle</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a Short Cycle. </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Patinet_for_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Record_ID_to_Cycle</name>
        <label>Change Record ID to Cycle</label>
        <locationX>2272</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>recordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Invoice.Cycle__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Cycle</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Clinic_to_Claim_Var</name>
        <label>Copy 1 of Assign Clinic to Claim Var</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ClaimVar.Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Patient.Account.Household_Clinic__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Confirm_Clinic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Item_Price</name>
        <label>Copy 1 of Assign Item Price</label>
        <locationX>7398</locationX>
        <locationY>4622</locationY>
        <assignmentItems>
            <assignToReference>Loop_Claim_Items.Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Line_Items.Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Claim_Items.Claim_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Claimtypechoice.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Price_and_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_Clinic_to_Claim_Var</name>
        <label>Copy 1 of Copy 1 of Assign Clinic to Claim Var</label>
        <locationX>3449</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>ClaimVar.Clinic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Confirm_Clinic</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Line_Number</name>
        <label>Line Number</label>
        <locationX>6342</locationX>
        <locationY>7460</locationY>
        <assignmentItems>
            <assignToReference>LineNumberVar</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Claim_Finance_Lines</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Add_Additional_Items</name>
        <label>Add Additional Items?</label>
        <locationX>5814</locationX>
        <locationY>6188</locationY>
        <defaultConnector>
            <targetReference>Get_All_Claim_Finance_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Additional_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AddNewMedicareItems.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add Additional Medicare Items</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Add_Additional_Items_Flow</targetReference>
            </connector>
            <label>Additional Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Amount_Outstanding_Greater_Than_0</name>
        <label>Amount Outstanding Greater Than 0</label>
        <locationX>6100</locationX>
        <locationY>2594</locationY>
        <defaultConnector>
            <targetReference>Invoice_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Money_Outstanding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Check.Amount_Outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outstanding_Amounts</targetReference>
            </connector>
            <label>Money Outstanding</label>
        </rules>
    </decisions>
    <decisions>
        <name>Claims_Exisit</name>
        <label>Claims Exisit?</label>
        <locationX>5814</locationX>
        <locationY>2918</locationY>
        <defaultConnector>
            <targetReference>Get_Claim_Finance_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Claims_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Claims</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Existing_Warning</targetReference>
            </connector>
            <label>Yes Claims Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existing_Claim_Lines</name>
        <label>Existing Claim Lines?</label>
        <locationX>6342</locationX>
        <locationY>7160</locationY>
        <defaultConnector>
            <targetReference>Line_Number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Existing_Claim_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Claim_Lines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Claim_Lines</targetReference>
            </connector>
            <label>Yes Existing Claim Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Linked_to_Cycle</name>
        <label>Invoice Linked to Cycle</label>
        <locationX>3449</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Outstanding_Greater_than_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle_Link</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Cycle__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Record_ID_to_Cycle</targetReference>
            </connector>
            <label>Cycle Link</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_Bulk_Billed</name>
        <label>Is it Bulk Billed?</label>
        <locationX>7002</locationX>
        <locationY>4190</locationY>
        <defaultConnector>
            <targetReference>Get_All_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Bulk_Billed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Finance_Claim_Items.Claim_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bulkbill</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Medicare_Item</targetReference>
            </connector>
            <label>Yes Bulk Billed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_it_For_A_Medicare_Item</name>
        <label>Is it For A Medicare Item?</label>
        <locationX>7530</locationX>
        <locationY>4514</locationY>
        <defaultConnector>
            <targetReference>Loop_Line_Items</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Link_Medicare_Items</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Claim_Items.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Line_Items.Medicare_Item_Number__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Item_Price</targetReference>
            </connector>
            <label>Yes Link Medicare Items</label>
        </rules>
    </decisions>
    <decisions>
        <name>Outstanding_Greater_than_0</name>
        <label>Outstanding Greater than 0</label>
        <locationX>4626</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Get_Patient_from_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Greater_than_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice.Amount_Outstanding__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Invoices</targetReference>
            </connector>
            <label>Greater than 0</label>
        </rules>
    </decisions>
    <decisions>
        <name>Previous_Day_1_Check</name>
        <label>Previous Day 1 Check</label>
        <locationX>2272</locationX>
        <locationY>1322</locationY>
        <defaultConnector>
            <targetReference>Get_Patinet_for_Cycle</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_Short_Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Previous_Claims</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Short_Cycle_Warning</targetReference>
            </connector>
            <label>Found Short Cycle</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_Type</name>
        <label>Record Type</label>
        <locationX>2404</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cycle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cycle__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Cycle</targetReference>
            </connector>
            <label>Cycle</label>
        </rules>
        <rules>
            <name>Patient</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Patient</targetReference>
            </connector>
            <label>Patient</label>
        </rules>
        <rules>
            <name>Invoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Object_Name.objectApiName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Invoice__c</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice</targetReference>
            </connector>
            <label>Invoice</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valid_Referral</name>
        <label>Valid Referral</label>
        <locationX>2272</locationX>
        <locationY>2270</locationY>
        <defaultConnector>
            <targetReference>Get_Invoices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Valid_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Referral</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Valid_Referral_Screen</targetReference>
            </connector>
            <label>No Valid Referral</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ClaimTypeAdjustedforEclipse</name>
        <dataType>String</dataType>
        <expression>IF({!ClaimType}=&quot;eclipse&quot;, &quot;Patient Claim&quot;,{!ClaimType})</expression>
    </formulas>
    <formulas>
        <name>ClaimTypeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!Claimtypechoice.value} = &quot;Patient Claim&quot;, &quot;Full Price&quot;, &quot;BulkBill&quot;)</expression>
    </formulas>
    <formulas>
        <name>ClaimTypePricingCheck</name>
        <dataType>String</dataType>
        <expression>IF({!ClaimType}=&quot;Bulkbilled&quot;, &quot;BulkBilled&quot;,&quot;Full Price&quot;)</expression>
    </formulas>
    <formulas>
        <name>DateofBirth</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!PatientVar.Birthdate})) &amp; &quot;/&quot; &amp; TEXT(MONTH({!PatientVar.Birthdate})) &amp; &quot;/&quot; &amp; TEXT(DAY({!PatientVar.Birthdate}))</expression>
    </formulas>
    <formulas>
        <name>DateofService</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!Finance_Claim_Items.Date_of_Service__c})) &amp; &quot;/&quot; &amp; TEXT(MONTH({!Finance_Claim_Items.Date_of_Service__c})) &amp; &quot;/&quot; &amp; TEXT(DAY({!Finance_Claim_Items.Date_of_Service__c}))</expression>
    </formulas>
    <formulas>
        <name>DifferencebetweenInvoiceandClaim</name>
        <dataType>Currency</dataType>
        <expression>{!CycleCost}-{!TotalClaimValueVar}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>InsuranceFormula</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!Get_Health_Insurance.Membership_Number__c}), &quot;Uninsured&quot;, &quot;Insured&quot;)</expression>
    </formulas>
    <formulas>
        <name>PreviousDay1</name>
        <dataType>Date</dataType>
        <expression>{!Get_Cycle.Day_1__c}-28</expression>
    </formulas>
    <formulas>
        <name>RecordType</name>
        <dataType>String</dataType>
        <expression>LEFT({!recordId},5)</expression>
    </formulas>
    <formulas>
        <name>Sex</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!PatientVar.Sex_at_Birth__c}), 1)</expression>
    </formulas>
    <interviewLabel>Process Medicare Claim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Medicare Claim</label>
    <loops>
        <name>Finance_Claim_Items</name>
        <label>Finance Claim Items</label>
        <locationX>6122</locationX>
        <locationY>6944</locationY>
        <collectionReference>AllClaimFinanceItems</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Existing_Claim_Lines</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Cycle</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Invoice_Check</name>
        <label>Invoice Check</label>
        <locationX>4230</locationX>
        <locationY>2486</locationY>
        <collectionReference>Get_Invoices</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Amount_Outstanding_Greater_Than_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Existing_Claims</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Claim_Items</name>
        <label>Loop Claim Items</label>
        <locationX>5814</locationX>
        <locationY>3650</locationY>
        <collectionReference>Get_Claim_Finance_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Claim_Item_Selection</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Claim_Finance_Items_for_Price_Adjustment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Invoices_to_Get_Line_Items</name>
        <label>Loop Invoices to Get Line Items</label>
        <locationX>6606</locationX>
        <locationY>4082</locationY>
        <collectionReference>Get_Invoices_for_Loop</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_Bulk_Billed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Medicare_Item</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Line_Items</name>
        <label>Loop Line Items</label>
        <locationX>7310</locationX>
        <locationY>4406</locationY>
        <collectionReference>Get_All_Line_Items</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_it_For_A_Medicare_Item</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Invoices_to_Get_Line_Items</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Claim</name>
        <label>Create Claim</label>
        <locationX>6122</locationX>
        <locationY>6620</locationY>
        <connector>
            <targetReference>Get_Claim</targetReference>
        </connector>
        <inputAssignments>
            <field>Claim_Service_Notes__c</field>
            <value>
                <elementReference>ShortCycle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Claim_Type__c</field>
            <value>
                <elementReference>ClaimType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Clinic__c</field>
            <value>
                <elementReference>ClaimVar.Clinic__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cycle__c</field>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Patient_Donor__c</field>
            <value>
                <elementReference>PatientVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Claim_Value__c</field>
            <value>
                <elementReference>TotalClaimValueVar</elementReference>
            </value>
        </inputAssignments>
        <object>Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Claim_Lines</name>
        <label>Create Claim Lines</label>
        <locationX>6342</locationX>
        <locationY>7676</locationY>
        <connector>
            <targetReference>Finance_Claim_Items</targetReference>
        </connector>
        <inputAssignments>
            <field>Linked_Finance_Item__c</field>
            <value>
                <elementReference>Finance_Claim_Items.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Claim_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Claim_Lines</name>
        <label>Delete Existing Claim Lines</label>
        <locationX>6210</locationX>
        <locationY>7268</locationY>
        <connector>
            <targetReference>Line_Number</targetReference>
        </connector>
        <inputReference>Get_Existing_Claim_Lines</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_All_Claim_Finance_Items</name>
        <label>Get All Claim Finance Items</label>
        <locationX>6122</locationX>
        <locationY>6296</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_to_All_Claim_Finance_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Line_Items</name>
        <label>Get All Line Items</label>
        <locationX>7310</locationX>
        <locationY>4298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Invoices_to_Get_Line_Items.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice_Line_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim</name>
        <label>Get Claim</label>
        <locationX>6122</locationX>
        <locationY>6728</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Claim</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Finance_Items</name>
        <label>Get Claim Finance Items</label>
        <locationX>5814</locationX>
        <locationY>3218</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Cycle_Events</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <sortField>Price__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Finance_Items_0</name>
        <label>Get Adjusted Claim Finance Items</label>
        <locationX>5814</locationX>
        <locationY>5864</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Medicare_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Claim_Finance_Items_for_Price_Adjustment</name>
        <label>Get Claim Finance Items for Price Adjustment</label>
        <locationX>5814</locationX>
        <locationY>5756</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Claim_Finance_Items_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinic</name>
        <label>Get Clinic</label>
        <locationX>4758</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Additional_Items_Flow_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PatientVar.Account.Household_Clinic__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Clinics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Clinic_for_Cycle</name>
        <label>Get Clinic for Cycle</label>
        <locationX>2272</locationX>
        <locationY>1838</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Clinics__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle</name>
        <label>Get Cycle</label>
        <locationX>2272</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Clinic_to_Claim_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Cycle_Events</name>
        <label>Get Cycle Events</label>
        <locationX>5814</locationX>
        <locationY>3326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Health_Insurance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Event__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Claim_Lines</name>
        <label>Get Existing Claim Lines</label>
        <locationX>6342</locationX>
        <locationY>7052</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existing_Claim_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Linked_Finance_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Finance_Claim_Items.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Claim_Line__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Existing_Claims</name>
        <label>Get Existing Claims</label>
        <locationX>5814</locationX>
        <locationY>2810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Claims_Exisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Claim__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Health_Insurance</name>
        <label>Get Health Insurance</label>
        <locationX>5814</locationX>
        <locationY>3434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Icons</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient_Donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Health_Fund_and_Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoice</name>
        <label>Get Invoice</label>
        <locationX>3449</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_Clinic_to_Claim_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices</name>
        <label>Get Invoices</label>
        <locationX>4230</locationX>
        <locationY>2378</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Invoices_for_Loop</name>
        <label>Get Invoices for Loop</label>
        <locationX>6606</locationX>
        <locationY>3974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Invoices_to_Get_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Invoice__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicare_Item</name>
        <label>Get Medicare Item</label>
        <locationX>6606</locationX>
        <locationY>5240</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Medicare_Item_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Claim_Items.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Medicare_Items__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Medicare_Item_Price</name>
        <label>Get Medicare Item Price</label>
        <locationX>6606</locationX>
        <locationY>5348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Item_Price</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Clinic_Cycle_Being_Undertaken_At__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Linked_Medicare_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Medicare_Item.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Linked_Service_Item__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Pricing_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClaimTypeFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricing_Item__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient</name>
        <label>Get Patient</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Clinic_to_Claim_Var</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patient_from_Invoice</name>
        <label>Get Patient from Invoice</label>
        <locationX>4758</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Patient_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Invoice.Patient_Donor__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Patinet_for_Cycle</name>
        <label>Get Patient for Cycle</label>
        <locationX>2272</locationX>
        <locationY>1730</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Clinic_for_Cycle</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Previous_Claims</name>
        <label>Get Previous Claims</label>
        <locationX>2272</locationX>
        <locationY>1214</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Previous_Day_1_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Patient__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Cycle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Day_1__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>PreviousDay1</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Cycle__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referral</name>
        <label>Get Referral</label>
        <locationX>2272</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Referal</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Patient__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Patinet_for_Cycle.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Referral_Expiry__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Referral__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Price_and_Type</name>
        <label>Copy 1 of Update Price and Type</label>
        <locationX>7398</locationX>
        <locationY>4730</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loop_Claim_Items</targetReference>
        </connector>
        <inputReference>Loop_Claim_Items</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Claim_Finance_Lines</name>
        <label>Update Claim Finance Lines</label>
        <locationX>6342</locationX>
        <locationY>7568</locationY>
        <connector>
            <targetReference>Create_Claim_Lines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Finance_Claim_Items.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Claim__c</field>
            <value>
                <elementReference>ClaimVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_Number__c</field>
            <value>
                <elementReference>LineNumberVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Linked_Referral__c</field>
            <value>
                <elementReference>ReferalVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Claim_Medicare_Items__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cycle</name>
        <label>Update Cycle</label>
        <locationX>6122</locationX>
        <locationY>7868</locationY>
        <connector>
            <targetReference>Go_to_Claim</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Claim_Status__c</field>
            <value>
                <stringValue>Claim Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Edited_Claim_Items</name>
        <label>Update Edited Claim Items</label>
        <locationX>5814</locationX>
        <locationY>6080</locationY>
        <connector>
            <targetReference>Add_Additional_Items</targetReference>
        </connector>
        <inputReference>EditedFinanceClaimItems</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Price</name>
        <label>Update Price and Type</label>
        <locationX>6606</locationX>
        <locationY>5564</locationY>
        <connector>
            <targetReference>Loop_Claim_Items</targetReference>
        </connector>
        <inputReference>Loop_Claim_Items</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Check_Medicare_Items</name>
        <label>Check Medicare Items</label>
        <locationX>5814</locationX>
        <locationY>5972</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Edited_Claim_Items</targetReference>
        </connector>
        <fields>
            <name>Check_Medicare_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please review the Medicare Items below along with the cycle history. If you need to add additional Medicare items to this claim please select the additional Medicare items button. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Claimtypechoice.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Medicare Exempt</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ClaimOnly</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;Please review the Billing Items below along with the cycle history.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Claimtypechoice.value</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Medicare Exempt</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>MedicareItemReviewTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Claim_Medicare_Items__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Claim_Medicare_Items__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Date_of_Service__c,Doctor_Providing_Service__c,Price__c,Claim_Type__c,Referral_Expiry__c,Referring_Doctor__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:260, Date_of_Service__c:260, Doctor_Providing_Service__c:260, Price__c:185, Claim_Type__c:180, Referral_Expiry__c:260, Referring_Doctor__c:260</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Date_of_Service__c:true, Price__c:true, Referral_Expiry__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Claim_Finance_Items_0</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>EditedFinanceClaimItems</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AddNewMedicareItems</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add Additional Medicare Items&quot;,&quot;value&quot;:&quot;Add Additional Medicare Items&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:add&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Claimtypechoice.value</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Medicare Exempt</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>HistoryText</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;The below table outlines the history of the cycle. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>a015g</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DisplayCycleEventsTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Event__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cycle_Events</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,RecordTypeId,Event_Date_and_Time__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:220, RecordTypeId:285, Event_Date_and_Time__c:650</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideCheckboxColumn</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecordType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>a015g</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Claim_Item_Selection</name>
        <label>Claim Item Selection</label>
        <locationX>6606</locationX>
        <locationY>3758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Claim_type_to_Claim</targetReference>
        </connector>
        <fields>
            <name>ClaimItemDisplayText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Please select from each claim item below to allocate a claim type.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InsuranceStatusText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The patient&apos;s health insurance status is: &lt;/span&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;{!InsuranceFormula}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Claim_Items.Name</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Claim_Items.Item_Discription__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Claim_Items.Date_of_Service__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Loop_Claim_Items.Doctor_Providing_Service__c</objectFieldReference>
        </fields>
        <fields>
            <name>Claimtypechoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>2</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isResponsive</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>ClaimIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>large</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Static Choices</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>staticChoicesString</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Bulkbill&quot;,&quot;value&quot;:&quot;Bulk Bill&quot;},{&quot;label&quot;:&quot;Eclipse&quot;,&quot;value&quot;:&quot;Eclipse&quot;},{&quot;label&quot;:&quot;Patient Claim&quot;,&quot;value&quot;:&quot;Patient Interactive Claim&quot;},{&quot;label&quot;:&quot; Medicare Exempt&quot;,&quot;value&quot;:&quot; Medicare Exempt (Doctor Billing Only No Claim)&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirm_Clinic</name>
        <label>Confirm Clinic</label>
        <locationX>2272</locationX>
        <locationY>1106</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Previous_Claims</targetReference>
        </connector>
        <fields>
            <name>confirminis</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please confirm you are processing a claim for the below clinic. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ClaimVar.Clinic__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Confirm_Clinic</name>
        <label>Copy 1 of Confirm Clinic</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Patient_0</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_confirminis</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please confirm you are processing a claim for the below clinic. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ClaimVar.Clinic__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Copy_1_of_Confirm_Clinic</name>
        <label>Copy 1 of Copy 1 of Confirm Clinic</label>
        <locationX>3449</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Invoice_Linked_to_Cycle</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_confirminis</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;Please confirm you are processing a claim for the below clinic. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>ClaimVar.Clinic__c</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Existing_Warning</name>
        <label>Existing Warning</label>
        <locationX>5682</locationX>
        <locationY>3026</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Claim_Finance_Items</targetReference>
        </connector>
        <fields>
            <name>ExisitingClaim</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(255, 0, 0);&quot;&gt;WARNING: &lt;/strong&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;A claim already exists for this cycle. Please think carefully before proceeding. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Valid_Referral_Screen</name>
        <label>No Valid Referral</label>
        <locationX>314</locationX>
        <locationY>2378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>No_Ref</name>
            <fieldText>&lt;p&gt;&lt;b&gt;No valid referral was found on this patient file and as such a claim cannot be processed. Please check referral validity and try again. &lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outstanding_Amounts</name>
        <label>Outstanding Amounts</label>
        <locationX>5814</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Existing_Claims</targetReference>
        </connector>
        <fields>
            <name>CannotProcess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;This cycle still has an outstanding amount owed on it. Please check all invoices on this cycle displayed below to confirm that you are &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;happy&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt; for them to be &lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;outstanding&lt;/strong&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt; before processing the claim.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Invoices</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Invoice__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Data Table</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Invoices</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ce38&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Invoice Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;Amount_Outstanding__c&quot;,&quot;guid&quot;:&quot;column-e12c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Amount Outstanding&quot;,&quot;type&quot;:&quot;currency&quot;},{&quot;apiName&quot;:&quot;Invoice_Due_Date__c&quot;,&quot;guid&quot;:&quot;column-1d79&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Invoice Due Date&quot;,&quot;type&quot;:&quot;date&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Proceed to Create Claim</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Short_Cycle_Warning</name>
        <label>Short Cycle Warning</label>
        <locationX>2140</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Short_Cycle_Text</targetReference>
        </connector>
        <fields>
            <name>distext</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please be aware that this appears to be a short cycle and will be listed as such, please check previous records to confirm. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>2278</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Object_Name</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>Add_Additional_Items_Flow</name>
        <label>Add Additional Items Flow</label>
        <locationX>5506</locationX>
        <locationY>6296</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Claim_Finance_Items_0</targetReference>
        </connector>
        <flowName>Medicare_Add_Additional_Items</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Add_Additional_Items_Flow_0</name>
        <label>Add Additional Items Flow</label>
        <locationX>4758</locationX>
        <locationY>1214</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Create_Claim</targetReference>
        </connector>
        <flowName>Medicare_Add_Additional_Items</flowName>
        <inputAssignments>
            <name>ClaimTypeVar</name>
            <value>
                <elementReference>ClaimType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>AllClaimFinanceItems</assignToReference>
            <name>ALLFinalFinanceItemsVar</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ReferalVar</assignToReference>
            <name>Referal</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AllClaimFinanceItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>AllClaimLineVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Line__c</objectType>
    </variables>
    <variables>
        <name>ClaimIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaimLinevar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Line__c</objectType>
    </variables>
    <variables>
        <name>ClaimType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClaimVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim__c</objectType>
    </variables>
    <variables>
        <name>ClinicVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Clinics__c</objectType>
    </variables>
    <variables>
        <name>CycleCost</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>EditedFinanceClaimItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>ItemPriceVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>LineCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>LineNumberVar</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PatientVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>PricingTypeVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferalVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Referral__c</objectType>
    </variables>
    <variables>
        <name>SelectedClaimItem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>SelectedClaimItems</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Claim_Medicare_Items__c</objectType>
    </variables>
    <variables>
        <name>ShortCycle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalClaimValueVar</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
