force-app/main/default/flows/Set_Cycle_Day_Columns.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_to_Alll</name>
        <label>Assign to Alll</label>
        <locationX>264</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>AllMedications</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_for_Siplay_Names</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Siplay_Names</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Loop_Item</name>
        <label>Update Loop Item</label>
        <locationX>264</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>Loop_for_Siplay_Names.Medication_Cycle_Day_Discription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Edit_Cycle_Day_Medication_Text_as_Required</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_Alll</targetReference>
        </connector>
    </assignments>
    <description>Allows for medications to be linked to cycle day columns.</description>
    <environments>Default</environments>
    <formulas>
        <name>MedicationDisplayName</name>
        <dataType>String</dataType>
        <expression>{!Loop_for_Siplay_Names.Linked_Master_Medication__r.Medication_Name__c}&amp;&quot; &quot;&amp;TEXT({!Loop_for_Siplay_Names.Dosage__c})&amp;TEXT({!Loop_for_Siplay_Names.Units__c})&amp;&quot; &quot;&amp;Text({!Loop_for_Siplay_Names.Regime__c})</expression>
    </formulas>
    <interviewLabel>Set Cycle Day Columns {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Cycle Day Columns</label>
    <loops>
        <name>Loop_for_Siplay_Names</name>
        <label>Loop for Siplay Names</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Updated_Cycle_Mediactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Cycle_Day_Display_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_All</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Cycle_Medications</name>
        <label>Get Cycle Medications</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Numbers</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_Cycle_Mediactions</name>
        <label>Get Updated Cycle Mediactions</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Siplay_Names</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Cycle__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Cycle_Day_Column_Number__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Cycle_Medication__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_All</name>
        <label>Update All</label>
        <locationX>176</locationX>
        <locationY>1082</locationY>
        <inputReference>AllMedications</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Cyc_Medications</name>
        <label>Update Cyc Medications</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Get_Updated_Cycle_Mediactions</targetReference>
        </connector>
        <inputReference>UpdateCycleMedications</inputReference>
    </recordUpdates>
    <screens>
        <name>Assign_Numbers</name>
        <label>Assign Numbers</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Cyc_Medications</targetReference>
        </connector>
        <fields>
            <name>Assign</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Assign each medication to a cycle day column by assigning it a number. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assign_Columns</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Cycle_Medication__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Cycle_Medication__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Cycle_Medications</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnEdits</name>
                <value>
                    <stringValue>Cycle_Day_Column_Number__c:true</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,Dosage__c,Units__c,Medication_Start_Day__c,Medication_End_Day__c,Cycle_Day_Column_Number__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:358, Dosage__c:122, Units__c:87, Medication_Start_Day__c:160, Medication_End_Day__c:150, Cycle_Day_Column_Number__c:220</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UpdateCycleMedications</assignToReference>
                <name>outputEditedRows</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cycle_Day_Display_Name</name>
        <label>Cycle Day Display Name</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Loop_Item</targetReference>
        </connector>
        <fields>
            <name>Edit_Cycle_Day_Medication_Text_as_Required</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>MedicationDisplayName</elementReference>
            </defaultValue>
            <fieldText>Edit Cycle Day Medication Text as Required</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cycle_Medications</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AllMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateCycleMedications</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Cycle_Medication__c</objectType>
    </variables>
</Flow>
