force-app/main/default/flows/Test_flow_Ruby.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_Action_1</name>
        <label>Send Email Action 1</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>emailSimple</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>X6_months_prior</name>
        <label>Date Check</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>xMonths_prior</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DateMinus6Months</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_Action_1</targetReference>
            </connector>
            <label>6 months prior</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>DateMinus6Months</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Earliest_Embryo_Freeze_Date__c}, -6)</expression>
    </formulas>
    <interviewLabel>Test flow - Ruby {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test flow - Ruby</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>X6_months_prior</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Clinic_Storage_Location__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Create Fertility</stringValue>
            </value>
        </filters>
        <filters>
            <field>Count_Frozen__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>Embryo_Batch__c</object>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2024-07-08</startDate>
            <startTime>00:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
