force-app/main/default/flows/Update_SP_QUAL_on_Anzard_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Null</name>
        <label>Null</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Update_ANZARD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Semen_Prep</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Get_Record_Type.Id</elementReference>
                </rightValue>
            </conditions>
            <label>Not Semen Prep</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SPQUALASNumber</name>
        <dataType>Number</dataType>
        <expression>VALUE({!$Record.Semen_Sample__r.Prep_Count_x10_6__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Update SP_QUAL on Anzard Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update SP_QUAL on Anzard Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Semen Prep</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_ANZARD</name>
        <label>Update ANZARD</label>
        <locationX>264</locationX>
        <locationY>539</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CYCLE_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SP_QUAL__c</field>
            <value>
                <elementReference>SPQUALASNumber</elementReference>
            </value>
        </inputAssignments>
        <object>ANZARD_Data__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>Cycle_Event__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
