force-app/main/default/flows/Update_Follicle_Numbers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Left</name>
        <label>Assign Left</label>
        <locationX>264</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>LEFTVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FollicalSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Follicals</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Left</name>
        <label>Copy 1 of Assign Left</label>
        <locationX>528</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>RighVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FollicalSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Follicals</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_By_Size</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort By Size</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Folicals</collectionReference>
        <connector>
            <targetReference>Loop_Follicals</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Side__c</sortField>
            <sortOrder>Asc</sortOrder>
        </sortOptions>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>D1__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>LEFT_or_RIGHT</name>
        <label>LEFT or RIGHT</label>
        <locationX>528</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Loop_Follicals</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>LEFT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Follicals.Side__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Left</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Left</targetReference>
            </connector>
            <label>LEFT</label>
        </rules>
        <rules>
            <name>RIGHT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Follicals.Side__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Right</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Left</targetReference>
            </connector>
            <label>RIGHT</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Follicle Numbers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Follicle Numbers</label>
    <loops>
        <name>Loop_Follicals</name>
        <label>Loop Follicals</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <collectionReference>Get_Folicals</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>LEFT_or_RIGHT</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Left_and_Righ</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Folicals</name>
        <label>Get Folicals</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_By_Size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Result__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Follicle_Measurement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Left_and_Righ</name>
        <label>Update Left and Righ</label>
        <locationX>176</locationX>
        <locationY>950</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>resultId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Count_Left_Follicle__c</field>
            <value>
                <elementReference>LEFTVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Count_Right_Follicle__c</field>
            <value>
                <elementReference>RighVar</elementReference>
            </value>
        </inputAssignments>
        <object>Result__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Folicals</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>FollicalSize</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!Loop_Follicals.Average__c},</text>
    </textTemplates>
    <variables>
        <name>LEFTVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>L -</stringValue>
        </value>
    </variables>
    <variables>
        <name>resultId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RighVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>R -</stringValue>
        </value>
    </variables>
</Flow>
