force-app/main/default/flows/Update_Cycle_Alert_for_PRP_and_Filgrastim.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Includes_a_notifiable_medication_Name</name>
        <label>Includes a notifiable medication Name</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PRP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>PRP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PRP</targetReference>
            </connector>
            <label>PRP</label>
        </rules>
        <rules>
            <name>Filgrastim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Filgrastim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cycle_Filgrastim</targetReference>
            </connector>
            <label>Filgrastim</label>
        </rules>
    </decisions>
    <description>Updates a cycle when a PRP or Filgrastim medication is added to allow for alerts.</description>
    <environments>Default</environments>
    <interviewLabel>Update Cycle Alert for PRP and Filgrastim {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Cycle Alert for PRP and Filgrastim</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Cycle_Filgrastim</name>
        <label>Cycle Filgrastim</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Filgrastim__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_PRP</name>
        <label>Update PRP</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Cycle__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PRP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Cycle__c</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Includes_a_notifiable_medication_Name</targetReference>
        </connector>
        <object>Cycle_Medication__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
