force-app/main/default/flows/Update_Health_Fund_Boolean.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Boolean_True</name>
        <label>Assign Boolean True</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Loop_Healthfunds.Update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>HealthfundVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Healthfunds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Healthfunds</targetReference>
        </connector>
    </assignments>
    <description>Autolaunch flow to Update a Boolean on Health_Fund_and_Insurance__c Object  - V3 Boolean FALSE to update fund code</description>
    <environments>Default</environments>
    <formulas>
        <name>BooleanUpdateFormula</name>
        <dataType>Boolean</dataType>
        <expression>{!Loop_Healthfunds.Update__c} = TRUE</expression>
    </formulas>
    <interviewLabel>Update Health Fund Boolean {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Health Fund Boolean</label>
    <loops>
        <name>Loop_Healthfunds</name>
        <label>Loop Healthfunds</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Get_Healthfund</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Boolean_True</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateHF</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Healthfund</name>
        <label>Get Healthfund</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Healthfunds</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Health_Fund_and_Insurance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateHF</name>
        <label>UpdateHF</label>
        <locationX>176</locationX>
        <locationY>542</locationY>
        <inputReference>HealthfundVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Healthfund</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>HealthfundVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Health_Fund_and_Insurance__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
